<!DOCTYPE html>
html(lang="en")
	head
			meta(charset="utf-8")

			title Title
			meta(name="description" content="")

			meta(http-equiv="X-UA-Compatible" content="IE=edge")
			meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

			meta(property="og:image" content="path/to/image.jpg")
			link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
			link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
			link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
			link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

			link(href="https://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet")
			link(rel="stylesheet", href="css/jquery.fancybox.css")
			link(rel="stylesheet" href="css/main.min.css")

			<!-- Chrome, Firefox OS and Opera -->
			meta(name="theme-color" content="#000")
			<!-- Windows Phone -->
			meta(name="msapplication-navbutton-color" content="#000")
			<!-- iOS Safari -->
			meta(name="apple-mobile-web-app-status-bar-style" content="#000")
	body
		header.white
			.overlay-menu
			.top-line
				.content
					.logo
						a(href="#")
							.logo-img
								.svg-icon.svg-icon--logo_blue.svg-icon--logo_blue-dims
							.logo-txt
								p Nambawan
								p Маркетинговое агенство
					nav
						a(href="#").small-nav
							div
						ul
							li
								a(href="#") О нас
							li
								a(href="services.html") Услуги
							li
								a(href="portfolio.html") Портфолио
							li
								a(href="#") Блог
							li
								a(href="contacts.html") Контакты
							li.nav-phone.link-pop-up-c
								a(href="#")
									p +375 29 517 65 08
									p Заказать звонок
							li.btn-nav
								a(href="#").btn.link-pop-up-q Оставить заявку
		section#case-top
			.layout-bg
				.layout-bg-color
					p #030d26
			.case-bg
				img(src="img/mgl-case.jpg", alt="")
			.content
				.back-to
					a(href="portfolio.html") Назад ко всем кейсам
				.adaptive
					img(src="img/adaptive-icons.png", alt="")
				h1 Сайт для ЗАО «Могилевский комбинат силикатных изделий»
				.case-link-top
					a(href="#") Mglksi.ru
		section#case-descr
			.content
				ul.case-descr-sec
					li
						.caption
							p Клиент
						p ЗАО «Могилевский комбинат силикатных изделий» — один из крупнейших производителей изделий из автоклавного ячеистого бетона и силикатного кирпича в регионе стран СНГ и Балтии.
					li
						.caption
							p Задача
						p Разработать имиджевый и продающий сайт для официального представительства ЗАО «Мкси» в России. Создать поток клиентов.
					li
						.caption
							p Выполненные работы
						ul
							li
								p Разработка концепции.
							li
								p Проектирование.
							li
								p Дизайн.
							li
								p Адаптивная верстка.
							li
								p Программирование.
							li
								p Тестирование на всех этапах работ.
							li
								p Оптимизация сайта для поисковых систем.
							li
								p Настройка и запуск рекламной компании
						.pass-off
							p Сдача проекта: Сентябрь 2016
		section#prototype
			.content
				h2 Прототипирование
				.clarify
					p На этапе информационной архитектуры были выделены основные разделы, продумана понятная навигация, спроектированы сложные продуктовые страницы каталога.
			.prototype-clip-mini
				img(src="img/prototype-clip.jpg", alt="")
		section#design
			.content
				h2 Дизайн
				.clarify
					p Наиболее сложной задачей являлось создание карточки товара. Для каждого продукта были выделены основные параметры, вся информация разбита на смысловые блоки, что позволило организовать простую и понятную структуру страницы.
				.design-long-main
					img(src="img/mgl-long-case.png", alt="")
		section#inside-pages
			.content
				h2 Внутренние страницы
				.clarify
					p Корпоративная часть сайта очень информативна: можно прочитать историю компании с 1960 года, узнать интересные факты, подробно изучить продукцию, найти точки продаж на карте и многое другое. Для реализации такого разнообразного функционала было создано более двадцати шаблонов внутренних страниц.
			.inside-pages-clip
				img(src="img/inside-pages-clip.jpg", alt="")
		section#adaptive
			.content
				h2 Адаптивная верстка
				.clarify
					p Проведенные исследования показали, что немалая часть покупателей попадает на сайт через мобильную рекламу, поэтому мы сделали адаптивную версию сайта — весь функционал десктопной версии доступен на телефонах и планшетах. Теперь даже потенциальный партнер может найти необходимую информацию не отходя от прилавка.
			.adaptive-img
				img(src="img/adaptive.jpg", alt="")
		section#ad-comp
			.content
				h2 Рекламная компания
				.clarify
					p Наиболее сложной задачей являлось создание карточки товара. Для каждого продукта были выделены основные параметры, вся информация разбита на смысловые блоки, что позволило организовать простую и понятную структуру страницы.
				.ad-features
					ul
						li
							p в 5 раз
							p снизилась стоимость клика
						li
							p на 75%
							p выросло число заявок
						li
							p с 20 до 530
							p увеличилось количество страниц в выдаче
				.ad-rev
					.ad-rev-img
						a.fancybox(href="img/rev1.jpg")
							img(src="img/rev1.jpg", alt="")
					.ad-box
						.ad-rev-logo
							//img(src="img/logo-rev-1.png", alt="")
						.ad-box-txt
							p Долго выбирали веб-студию для обновления сайта нашего комбината и в результате обратились в Nambawan. Доверили свой проект этой команде, остались очень довольны — поставленные задачи выполнялись профессионально, быстро и качественно, что в современных условиях большая редкость.
							.ad-rev-name
								p Денис Меренцов
							.ad-rev-vac
								p Руководитель подразделения «МКСИ-Смоленск»
		section#lets-discuss
			.circles
				.c1.circle
				.c2.circle
				.c3.circle
				.c4.circle
			.content
				h2 У вас есть проект?
				.clarify
					p Давайте обсудим его. Продумаем. И сделаем!
				a.btn.link-pop-up-q(href="#") Оставить заявку
		section#another-projects
			.content
				h2 Другие проекты
			ul
				li
					a(href="#")
						.layout-bg
							.layout-bg-color
								p #f0474b
						.case-mini-img
							img(src="img/action-studio-mini.jpg", alt="")
						.case-card-txt
							.site-name
								p Action-studio.by
							.site-descr
								p Имиджевый сайт для студии видеопортала
				li
					a(href="#")
						.layout-bg
							.layout-bg-color
								p #12741c
						.case-mini-img
							img(src="img/gerona-case.jpg", alt="")
						.case-card-txt
							.site-name
								p Gerona.by
							.site-descr
								p Продающий сайт-каталог для компании, занимающейся автополивом газонов
		section#contacts
			.layout-wrap
				.layout-txt
					p Контакты
			.content
				ul.items
					li
						p Звоните
						p +375 29 517 65 08
					li
						p Пишите
						p hello@nambawan.by
					li
						p Обратная связь
						a(href="#").link-pop-up-q Оставить заявку
				.notion
					p Свяжитесь с нами удобным способом и мы предложим вам варианты решения вашей задачи, составим смету, а затем поможем в реализации вашего проекта
				.social
					.items
						.items-bg
						ul
							li
								a(href="#")
									div.svg-icon.svg-icon--smm_1.svg-icon--smm_1-dims
							li
								a(href="#")
									div.svg-icon.svg-icon--smm_3.svg-icon--smm_3-dims
							li
								a(href="#")
									div.svg-icon.svg-icon--smm_2.svg-icon--smm_2-dims
							li
								a(href="#")
									div.svg-icon.svg-icon--linkedin.svg-icon--linkedin-dims
		footer
			.content
				ul.footer-cont
					li.logo
						a(href="#")
							.logo-img
								img(src="img/logo.png", alt="")
							.logo-txt
								p Nambawan
								p Маркетинговое агенство
					li.footer-nav
						ul
							li
								a(href="#") О нас
							li
								a(href="#") Портфолио
							li
								a(href="#") Блог
							li
								a(href="#") Услуги
							li
								a(href="#") Контакты
						a.btn(href="#") Презентация агенства
					li.delivery
						p E-mail рассылка
						p Опыт, идеи, новости, обратная связь
						.delivery-form.form
							input(type="text" placeholder="Введите E-mail")
							a.btn(href="#") Подписаться
						a.policy(href="#") Политика конфиденциальности
		.pop-up#pop-up-call
			.close
				a(href="#")
					img(src="img/close.png", alt="")
			.content
				form.form
					h2 Заказать обратный звонок
					.name
						label(for="") Ваше имя
						input(type="text" name="name")
					.phone
						label(for="") Телефон
						input(type="tel" name="phone")
					.email
						label(for="") Почта
						input(type="email" name="email")
					button(type="submit").btn Отправить
		.pop-up#pop-up-question
			.close
				a(href="#")
					img(src="img/close.png", alt="")
			.content
				form.form
					h2 Расскажите о своем проекте или задайте вопрос
					.name
						label(for="") Ваше имя
						input(type="text" name="name")
					.phone
						label(for="") Телефон
						input(type="tel" name="phone")
					.email
						label(for="") Почта
						input(type="email" name="email")
					.comment
						label(for="") Комментарий
						input(type="text" name="comment")
					button(type="submit").btn Отправить
		

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="js/jquery.fancybox.js")
		script(src="js/scripts.min.js")