<!DOCTYPE html>
html
	head
		meta(charset="utf-8")

		title Title
		meta(name="description" content="")

		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		meta(property="og:image" content="path/to/image.jpg")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

		link(href="https://fonts.googleapis.com/css?family=Raleway:300,700" rel="stylesheet")

		link(rel="stylesheet" href="css/main.min.css")

		<!-- Chrome, Firefox OS and Opera -->
		meta(name="theme-color" content="#000")
		<!-- Windows Phone -->
		meta(name="msapplication-navbutton-color" content="#000")
		<!-- iOS Safari -->
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
	body
		header.white
			.top-line
				.content
					.logo
						a(href="#")
							.logo-img
								.svg-icon.svg-icon--logo_blue.svg-icon--logo_blue-dims
							.logo-txt
								p Nambawan
								p Маркетинговое агенство
					nav
						ul
							li
								a(href="#") О нас
							li
								a(href="services.html") Услуги
							li
								a(href="portfolio.html") Портфолио
							li
								a(href="#") Блог
							li
								a(href="contacts.html") Контакты
							li
								a(href="#").link-pop-up-c
									p +375 29 517 65 08
									p Заказать звонок
		section#port-cases
			.content
				h2 Кейсы
				.clarify
					p Разрабатываем продукты на основе бизнес-требований. Наши работы отвечает пользовательским критериям удобства и функциональности, решая поставленные задачи.
				.kinds.items
					.items-bg
					ul
						li
							a(href="#") Все
						li
							a(href="#") Лендинги
						li
							a(href="#") Сайты
						li
							a(href="#") Магазины
						li
							a(href="#") Брендинг
						li
							a(href="#") Сервисы
						li
							a(href="#") Моб. Приложения
		section#port-items
			ul
				li
					.item-info
						.layout-bg
						img(src="img/mgl-case.jpg", alt="")
						a(href="#")
							.site-name
								p Mglksi.ru
					.active-content
						p сайт
						.site-name
							p Mglksi.ru
						.item-descr
							p Имиджевый сайт для студии видеопродакшена
						a.btn(href="#") Смотреть кейс
				li
					.item-info
						.layout-bg
						img(src="img/mgl-case.jpg", alt="")
						.site-name
							p Action-studio.by
					.active-content
						p сайт
						.site-name
							p Action-studio.by
						.item-descr
							p Имиджевый сайт для студии видеопродакшена
						a.btn(href="#") Смотреть кейс
				li
					.item-info
						.layout-bg
						img(src="img/mgl-case.jpg", alt="")
						.site-name
							p Action-studio.by
					.active-content
						p сайт
						.site-name
							p Action-studio.by
						.item-descr
							p Имиджевый сайт для студии видеопродакшена
						a.btn(href="#") Смотреть кейс
				li
					.item-info
						.layout-bg
						img(src="img/mgl-case.jpg", alt="")
						.site-name
							p Gdwill.ru
					.active-content
						p сайт
						.site-name
							p Gdwill.ru
						.item-descr
							p Имиджевый сайт для студии видеопродакшена
						a.btn(href="#") Смотреть кейс
				li
					.item-info
						.layout-bg
						img(src="img/mgl-case.jpg", alt="")
						.site-name
							p Blockpastavka.ru
					.active-content
						p сайт
						.site-name
							p Blockpastavka.ru
						.item-descr
							p Имиджевый сайт для студии видеопродакшена
						a.btn(href="#") Смотреть кейс
				li
					.item-info
						.layout-bg
						img(src="img/mgl-case.jpg", alt="")
						.site-name
							p Denakom.by
					.active-content
						p сайт
						.site-name
							p Denakom.by
						.item-descr
							p Имиджевый сайт для студии видеопродакшена
						a.btn(href="#") Смотреть кейс
		section#lets-discuss
			.circles
				.c1.circle
				.c2.circle
				.c3.circle
				.c4.circle
			.content
				h2 У вас есть проект?
				.clarify
					p Давайте обсудим его. Продумаем. И сделаем!
				a.btn.link-pop-up-q(href="#") Оставить заявку
		section#contacts
			.layout-wrap
				.layout-txt
					p Контакты
			.content
				ul.items
					li
						p Звоните
						p +375 29 517 65 08
					li
						p Пишите
						p hello@nambawan.by
					li
						p Обратная связь
						a(href="#").link-pop-up-q Оставить заявку
				.notion
					p Свяжитесь с нами удобным способом и мы предложим вам варианты решения вашей задачи, составим смету, а затем поможем в реализации вашего проекта
				.social
					.items
						.items-bg
						ul
							li
								a(href="#")
									div.svg-icon.svg-icon--smm_1.svg-icon--smm_1-dims
							li
								a(href="#")
									div.svg-icon.svg-icon--smm_3.svg-icon--smm_3-dims
							li
								a(href="#")
									div.svg-icon.svg-icon--smm_2.svg-icon--smm_2-dims
							li
								a(href="#")
									div.svg-icon.svg-icon--linkedin.svg-icon--linkedin-dims
		footer
			.content
				ul.footer-cont
					li.logo
						a(href="#")
							.logo-img
								img(src="img/logo.png", alt="")
							.logo-txt
								p Nambawan
								p Маркетинговое агенство
					li.footer-nav
						ul
							li
								a(href="#") О нас
							li
								a(href="#") Портфолио
							li
								a(href="#") Блог
							li
								a(href="#") Услуги
							li
								a(href="#") Контакты
						a.btn(href="#") Презентация агенства
					li.delivery
						p E-mail рассылка
						p Опыт, идеи, новости, обратная связь
						.delivery-form.form
							div
								label(for="") Введите E-mail
								input(type="text")
							a.btn(href="#") Подписаться
						a.policy(href="#") Политика конфиденциальности
		.pop-up#pop-up-call
			.close
				a(href="#")
					img(src="img/close.png", alt="")
			.content
				h2 Заказать обратный звонок
				form.form
					.name
						label(for="") Ваше имя
						input(type="text")
					.phone
						label(for="") Телефон или почта
						input(type="text")
					button(type="submit").btn Отправить
		.pop-up#pop-up-question
			.close
				a(href="#")
					img(src="img/close.png", alt="")
			.content
				h2 Расскажите о своем проекте или задайте вопрос
				form.form
					.name
						label(for="") Ваше имя
						input(type="text")
					.phone
						label(for="") Телефон или почта
						input(type="text")
					.comment
						label(for="") Комментарий
						input(type="text")
					button(type="submit").btn Отправить



		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
		script(src="js/jquery.sticky.js")
		script(src="js/modules.js")
		script(src="js/common.js")