<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/test.min.css")
body
	.content
		.icon
			.eye1
			.eye2
			.smile
			.icon-cont
				p some content
