*
	box-sizing: border-box
	margin: 0
	padding: 0

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

input:focus,
input:active
	outline: none

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	color: #333
	cursor: default
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	font-family: "Raleway", sans-serif
	font-variant-numeric: normal
	font-weight: 300
	font-size: 16px
	line-height: 1.4em
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

button
	cursor: pointer

a
	color: #fff
	font-variant-numeric: lining-nums
	text-decoration: none

.bold
	font-weight: 700

.content
	max-width: 1170px
	margin: 0 auto

.btn
	font-size: 16px
	font-weight: 700
	text-transform: uppercase
	display: inline-block
	color: #fff
	background-color: #05d8a5
	line-height: 65px
	box-shadow: 0 6px 15px rgba(0, 255, 183, 0.35)
	padding: 0 50px
	border-radius: 32px
	transition: .35s
.btn:hover
	box-shadow: none

h2
	color: #333
	font-size: 48px
	font-weight: 700
	line-height: 1.2em

h3
	font-size: 36px
	font-weight: 700
	color: #fff
	line-height: 1.3em