@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	body.disabled
		overflow: hidden
	#why-profit .why-profit_cards ul
		flex-direction: column
		align-items: center
	
	#results
		padding: 75px 0
	.result-cards .caption
		font-size: 18px
		margin: 20px 0 5px
	.result-cards .clarify
		font-size: 15px
	
	#steps
		padding: 75px 0
	.steps-list
		margin: 25px auto 0
	
	#letter
		padding: 75px 0
	
	.letter-why h2
		line-height: 1em
		font-size: 48px
	.letter-why .clarify
		line-height: 1.7em
	
	#experience
		padding: 75px 0
	
	#cases
		padding: 50px 0 75px
	
	#banner_get-started
		padding: 75px 0
	
	#project-group
		padding: 75px 0 100px
	
	#prices
		padding: 75px 0 100px
	#prices h2 + .clarify
		font-size: 19px
	
	#faq
		padding: 75px 0
	#faq .table table
		line-height: 1.2em
	
	#contacts
		padding: 75px 0
	
	footer
		background-repeat: repeat
	.footer-cont
		flex-direction: column
		align-items: center
		text-align: center
	.footer-cont > li:first-child, .footer-cont > li:nth-child(3)
		width: 50%
	.footer-nav
		margin-top: 25px
		ul
			max-width: 225px
			margin: 0 auto
			text-align: left
			li
				width: 49%
		.btn
			margin-top: 25px
	footer
		.delivery
			margin-top: 25px
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.second-nav .btn-wrap
		padding-right: 20px
	#cases .item-content,
	#cases .carousel-nav
		display: none

	#cases .item-content
		padding-bottom: 50px
	
	#cases .item:first-child
		padding-top: 0
	
	#cases .item-caption
		.to-open
			display: block
			right: 0
		h2
			font-size: 26px
			text-align: left
			padding-right: 50px

	#cases .item
		margin-top: 35px
		display: block
	#cases .case-goals, #cases .item-center, #cases .results
		width: 100%
		text-align: center
		li
			max-width: 450px
			margin: 0 auto
			text-align: left

	#cases .item-center
		margin: 100px 0
		li
			text-align: center
	#cases
		.result
			text-align: center
	
	.result-cards
		margin-top: 0
		> ul
			flex-wrap: wrap
			align-items: baseline
			li
				margin-top: 85px
				width: 50%
	
	#cases
		.orders
			>ul>li:first-child
				height: 112px
			>ul>li:nth-child(2)
				height: 280px
			.label-feature
				animation: label-feature .5s forwards .75s
		.advert
			>ul>li:first-child
				height: 225px
			>ul>li:nth-child(2)
				height: 180px
			.label-feature
				animation: label-feature .5s forwards 1.45s
		.item-2 .item-center ul
			li:first-child
				height: 55px
			li:nth-child(2)
				height: 80px
			li:nth-child(3)
				height: 69px
			li:nth-child(4)
				height: 143px
			li:nth-child(5)
				height: 186px
			li:nth-child(6)
				height: 248px
			.label-feature
				animation: label-feature .5s forwards 1.25s
	
	.steps-list .first-column, .steps-list .second-column
		width: 330px
	
	.letter-why h2
		font-size: 41px
	.box-letter
		padding: 90px 35px
	.letter-why .clarify
		font-size: 17px
	.letter-form form
		padding: 40px 20px
	.letter-form .btn
		padding: 0
		width: 100%
		text-align: center
		font-size: 13px
		line-height: 50px
	
	#experience
		text-align: center
		.content
			flex-direction: column
		.exp-list
			width: 100%
			margin-top: 50px
			text-align: left
			ul
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				max-width: 510px
				margin: 0 auto
			li
				width: 45%
	#experience .exp-list li:not(:first-child)
		margin-top: 30px
	#experience .exp-list li
		margin-top: 30px
	
	#project-group .group-list
		font-size: 14px
		margin-top: 75px
		p
			display: inline
	#project-group .caption
		font-size: 18px
		margin: 25px 0 5px
	
	#prices h2 + .clarify
		font-size: 17px
	#prices h2 + .clarify p:not(:first-child)
		margin-top: 25px
	#prices .tarif
		flex-direction: column
	#prices .price-title
		min-width: 100%
		width: 100%
		padding: 50px 20px
	#prices .price-title .btn-wrap
		margin-top: 35px
	
	#faq tr td:first-child
		width: 40%
		position: absolute
		text-align: center
		margin-top: -20px
		opacity: .7
		font-size: 12px
		left: 30%
		padding: 20px 0
	#faq tr td:nth-child(2)
		border-right: none
	#faq tr td:nth-child(2), #faq tr td:nth-child(3)
		width: 50%
		vertical-align: top
	#faq .table tr:first-child
		line-height: 1.2em
		td
			vertical-align: middle
	#faq .table .caption
		font-size: 16px
	#faq .faq-active
		padding: 0
		>p,
		>.caption,
		.advantages,
		.disadvantages,
		.slide-up
			padding-left: 20px
	#faq .table p
		display: inline

	#faq .table table
		overflow: hidden
		font-size: 14px
	
	#contacts .contact-list li
		font-size: 24px
	#contacts .caption
		margin-bottom: 20px
	#contacts .social
		margin: 50px auto 0
	
	#banner-learn
		background-size: cover
	
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	#cases .item-caption h2
		font-size: 21px
	.pop-up-wrap
		padding: 40px
		h3
			line-height: 1em
		.close
			top: 33px
			right: 25px
			width: 30px
			height: 30px
			img
				width: 100%
	#pop-up
		h3
			font-size: 28px
		.form-group
			flex-direction: column
		.name,
		.phone
			width: 100%
		.phone
			margin-top: 40px
	.delivery .btn
		margin-left: 0
	
	/*Disable Animation on Mobile Devices*/
	
	#banner-learn .content
		flex-direction: column
		text-align: center
	#banner-learn h3
		font-size: 33px
		line-height: 1em
	#banner-learn .btn-wrap
		margin-top: 50px
	
	.steps-list .first-column
		padding-top: 0
	.center-line
		display: none
	.steps-list
		.step-number
			display: none
	.steps-list .first-column,
	.steps-list .second-column
		text-align: center
		margin: 0
	
	.box-letter
		flex-direction: column
		align-items: center
	.letter-why
		width: 100%
		margin-right: 0
	.letter-form
		margin-top: 35px
		width: 100%
		text-align: center
		form
			max-width: 100%
			width: 100%
	
	#project-group ul
		flex-direction: column
		align-items: center
	#project-group li
		width: 100%
		margin-top: 35px
	#project-group .group-list
		margin-top: 35px
	
	#faq .question
		font-size: 19px
		padding: 20px 100px 20px 30px
	
	#contacts .contact-list
		margin-top: 35px
		flex-direction: column
		align-items: center
		li
			width: 100%
			margin-top: 35px
	
	.footer-cont > li:nth-child(2),
	.footer-cont > li:first-child,
	.footer-cont > li:nth-child(3)
		width: 280px
	.delivery .btn
		max-width: 200px
		margin-top: 15px
	
	#contacts .caption
		font-size: 23px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 540px)
	#experience .exp-list ul
		flex-direction: column
		align-items: center
@media only screen and (max-width : 480px)
	.pop-up-wrap .pop-up
		.clarify
			text-align: center
			p:first-child
				margin-bottom: 15px
		.txt
			text-align: center
			width: 100%
	#why-profit .why-profit_cards li
		height: 290px
	.btn
		padding: 0
		width: 100%
		text-align: center
	.price-info
		padding: 50px

@media only screen and (max-width : 425px)
	
	#why-profit .why-profit_cards li
		flex-direction: column
		align-items: center
		text-align: center
		padding: 20px
		height: initial
	#why-profit .card-img
		margin-right: 0
	
	.result-cards > ul
		flex-direction: column
		align-items: center
		li
			width: 100%
	#results
		.btn
			font-size: 14px
	
	.letter-why h2
		font-size: 35px
	
	#faq .question
		font-size: 17px
	/**/
@media only screen and (max-width : 375px)
	
	#banner-learn h3
		font-size: 27px
	#banner-learn
		padding: 75px 0
	
	#results .btn
		line-height: 1.2em
		padding: 15px
	
	.steps-list .first-column, .steps-list .second-column
		width: 100%
	.steps-list .first-column > div, .steps-list .second-column > div
		padding: 0
	
	.letter-why h2
		font-size: 29px
	.letter-why .clarify
		margin-top: 35px
	.box-letter
		padding: 90px 15px 50px
	
	#prices .price-title
		.btn-wrap
			width: 100%
			text-align: center
		.btn
			padding: 0
	
	#faq .question
		padding: 20px 40px 20px 20px
	#faq .to-open
		right: 0


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.arrow-anim-up
		animation: to-up 70s infinite linear
	.arrow-anim-down
		animation: to-down 70s infinite linear
	#cases .owl-item.active
		.orders
			>ul>li:first-child
				height: 112px
			>ul>li:nth-child(2)
				height: 280px
			.label-feature
				animation: label-feature .5s forwards .75s
		.advert
			>ul>li:first-child
				height: 225px
			>ul>li:nth-child(2)
				height: 180px
			.label-feature
				animation: label-feature .5s forwards 1.45s
		.item-2 .item-center ul
			li:first-child
				height: 55px
			li:nth-child(2)
				height: 80px
			li:nth-child(3)
				height: 69px
			li:nth-child(4)
				height: 143px
			li:nth-child(5)
				height: 186px
			li:nth-child(6)
				height: 248px
			.label-feature
				animation: label-feature .5s forwards 1.25s
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

