footer
	background-color: #29282b
	color: #fff
	a
		color: #fff
	.footer-top
		border-bottom: 1px solid #3f3f3f
		padding: 80px 0
		position: relative
		>ul
			display: flex
			justify-content: space-between
			align-items: flex-start
		.to-up:hover:before,
		.to-up:hover:after
			background-color: $green
		.to-up:hover
			opacity: .7
			box-shadow: 0 0 0 1px $green
		.to-up
			position: absolute
			width: 38px
			height: 38px
			box-shadow: 0 0 0 1px #fff
			opacity: .25
			top: 87px
			right: 0
			cursor: pointer
			transition: .1s
		.to-up:before,
		.to-up:after
			content: ''
			position: absolute
			height: 15px
			width: 1px
			background-color: #fff
			top: 13px
			left: 50%
			transition: .1s
			transform-origin: center top
		.to-up:before
			transform: rotateZ(35deg)
		.to-up:after
			transform: rotateZ(-35deg)
	.footer-logo
		max-width: 210px
		img
			max-width: 100%
	.about-company
		line-height: 1.5em
		font-size: 13px
		margin-top: 20px
		opacity: .5
	.footer-nav
		font-size: 16px
		font-weight: 700
		ul
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			max-width: 240px
		li
			width: 95px
		a
			transition: .05s
		a:hover
			color: $green
	.footer-addr
		max-width: 225px
		font-size: 14px
		p, a
			opacity: .8
		ul
			margin-top: 10px
			li
				margin-top: 5px
			p, a
				padding-left: 30px
		li:first-child
			p
				background: url(../img/svg/email.svg) left center no-repeat
		li:nth-child(2)
			a
				background: url(../img/svg/skype.svg) 2px center no-repeat
	.footer-phones
		margin-right: 70px
		font-size: 14px
		>a
			opacity: .8
			display: block
	.btn-wrap
		margin-top: 20px
	.btn
		transition: .1s
		font-size: 12px
		color: #fff
		background-color: #3bd99e
		padding: 0 20px
		line-height: 40px
		height: 40px
	.footer-bottom
		padding: 40px 0
		ul
			display: flex
			justify-content: flex-start
			align-items: center
		li
			width: 33.33%
		.copyright
			font-size: 15px
			opacity: .9
			line-height: 1.5em
		.social
			ul
				display: flex
				justify-content: center
				align-items: center
			li
				overflow: hidden
				width: auto
			a:hover
				opacity: 1
			a
				transition: .1s
				opacity: .3
				overflow: hidden
				border-radius: 50%
				display: block
			li:not(:last-child)
				margin-right: 23px
		.developed-by
			display: flex
			justify-content: flex-end
			align-items: center
			text-align: right
			>p
				font-size: 13px
				opacity: .5
				margin-right: 15px
			a:hover
				color: $green
			a
				transition: .05s
				display: flex
				justify-content: flex-start
				align-items: center
			img
				margin-right: 5px

@media only screen and (max-width: 1200px)
	footer .footer-nav
		position: absolute
		width: 100%
		left: 0
		top: 25px
	footer .footer-top
		position: relative
	footer .footer-nav ul
		max-width: 100%
		justify-content: center
		li
			width: initial
		li:not(:last-child)
			margin-right: 20px
	footer .footer-top .to-up
		top: 20px
		z-index: 1
	footer .footer-phones
		margin-right: 0

@media only screen and (max-width: 991px)
	footer .footer-bottom
		padding-top: 75px
		position: relative
		ul
			justify-content: space-between
		li
			width: 50%
		.social
			position: absolute
			top: 15px
			left: 0
			text-align: center
			width: 100%

@media only screen and (max-width: 767px)
	footer .footer-bottom .developed-by
		width: 70%
	footer .footer-top > ul
		flex-wrap: wrap
		.footer-logo,
		.footer-addr
			width: 100%
			max-width: 100%
		.footer-addr
			margin-top: 35px
			display: flex
			justify-content: space-between
			ul
				margin-top: 0
			li:first-child
				margin-top: 0
	footer .footer-phones
		margin-top: 25px
	footer .about-company
		margin-top: 5px
	footer .footer-bottom .social li
		min-width: 40px

@media only screen and (max-width: 500px)
	footer .about-company
		font-size: 16px