header.index_header
	position: absolute
	left: 0
	top: 0
	width: 100%
	z-index: 4
header
	position: relative
	z-index: 2
	border-bottom: 1px solid #e7e9e9
	.top-line
		background-color: #f6f6f6
		.content
			height: 35px
			display: flex
			justify-content: space-between
			align-items: center
		ul
			display: flex
			justify-content: flex-start
			align-items: center
		li
			position: relative
		li:not(:first-child)
			margin-left: 65px
		li:last-child
			margin-left: 55px
		li:before
			content: ''
			position: absolute
			top: 50%
		li:first-child
			font-size: 13px
		li:first-child:before
			width: 17px
			height: 17px
			top: 50%
			margin-top: -9px
			background: url(../img/svg/work_timea.svg) center no-repeat
			left: -25px
		li:nth-child(2):before
			width: 21px
			height: 14px
			left: -27px
			margin-top: -7px
			background: url(../img/svg/email.svg) center no-repeat
		li:nth-child(3):before
			width: 17px
			height: 17px
			background: url(../img/svg/skype.svg) center no-repeat
			left: -25px
			margin-top: -8px
		.company-clarify
			opacity: .5
			font-size: 12px
		.company-info
			font-size: 14px
			li:first-child
				p
					opacity: .7

.header-menu
	padding: 20px 0
	font-weight: 700
	background-color: #fff
	.content
		display: flex
		justify-content: space-between
		align-items: center
	nav
		margin-left: 140px
		ul
			display: flex
			justify-content: flex-start
			align-items: center
		li:not(:first-child)
			margin-left: 25px
		a
			transition: .05s
		a:hover
			color: $green
	a
		color: #233143
	.phones:hover
		border-top: 1px solid #e7e9e9
		border-left: 1px solid #e7e9e9
		border-right: 1px solid #e7e9e9
		.hidden-phones
			border-bottom: 1px solid #e7e9e9
			border-left: 1px solid #e7e9e9
			border-right: 1px solid #e7e9e9
			opacity: 1
			li:first-child
				transition-delay: .1s
			li:nth-child(2)
				transition-delay: .2s
			li
				opacity: 1
	.phones:before
		content: ''
		position: absolute
		height: 0
		width: 0
		top: 30px
		transform: rotateZ(45deg)
		right: 12px
		border-right: 7px solid #000
		border-top: 7px solid transparent
		border-bottom: 7px solid tarnsparent
	.phones
		border-top: 1px solid #fff
		border-left: 1px solid #fff
		border-right: 1px solid #fff
		line-height: 1.5em
		font-size: 14px
		margin-left: 70px
		position: relative
		padding: 15px 30px 0
		.hidden-phones
			border-bottom: 1px solid #fff
			border-left: 1px solid #fff
			border-right: 1px solid #fff
			background-color: #fff
			position: absolute
			top: 100%
			left: -1px
			padding-left: 30px
			padding-bottom: 15px
			width: calc(100% + 2px)
			opacity: 0
			li
				transition: .1s
				opacity: 0
				transition-delay: 0
	.btn
		transition: .1s
		margin-left: 20px
		font-size: 12px
		color: #3dd89d
		border: 1px solid #3dd89d
		padding: 0 20px
		cursor: pointer

@media only screen and (max-width: 1365px)
	.header-menu nav
		margin-left: 30px
	.header-menu .phones
		margin-left: 30px

@media only screen and (max-width: 1200px)
	header
		position: relative
		z-index: 1
	.header-menu
		padding: 10px 0
		.content
			position: relative
			padding-left: 25%
		nav
			margin-left: 0
			left: 0
			position: absolute
			ul
				position: absolute
				display: block
				width: 30vw
				top: 102px
				left: -30vw
				opacity: 0
				transition: .5s
				text-transform: uppercase
				text-shadow: 1px 1px 1px rgba(#000, .5)
				padding: 60px 0 60px 60px
				background-color: rgba($green, .95)
				&.active
					opacity: 1
					transform: translateX(30vw)
					li
						transform: translateX(0)
				li
					transition: .35s
					transform: translateX(-30vw)
				li:first-child
					transition-delay: .3s
				li:nth-child(2)
					transition-delay: .35s
				li:nth-child(3)
					transition-delay: .4s
				li:nth-child(4)
					transition-delay: .45s
				a
					color: #fff
				li:not(:first-child)
					margin-top: 15px
					margin-left: 0
			.mobile-nav
				position: relative
				width: 30px
				height: 25px
				div
					position: absolute
					background-color: #000
					height: 1px
					width: 100%
					top: 50%
					left: 60px
				&:before,
				&:after
					content: ''
					position: absolute
					height: 1px
					width: 100%
					left: 60px
					background-color: #000
				&:before
					top: 0
				&:after
					bottom: 0

@media only screen and (max-width: 991px)
	.header-menu .content
		padding-left: 20%
	.header-menu .phones
		margin-left: 0
		padding-top: 0
		&:before
			top: 15px
	.header-menu .btn
		margin-left: 0
	.header-menu .logo
		max-width: 180px
		img
			max-width: 100%
	.header-menu nav ul
		top: 96px
@media only screen and (max-width: 900px)
	header .top-line
		display: none

@media only screen and (max-width: 767px)
	.header-menu nav .mobile-nav
		margin-top: 3px
		&:before,
		&:after,
		div
			left: 30px

	.header-menu
		padding-top: 20px
		.content
			padding-left: 0
			padding-right: 0
			flex-wrap: wrap
			justify-content: space-around
		.logo
			max-width: 100%
			width: 100%
			margin-bottom: 20px
			img
				margin: 0 auto
				display: block
	.header-menu nav
		top: 0
	.header-menu nav ul
		top: 203px
		width: 50vw
		left: -50vw
		&.active
			transform: translateX(50vw)
	header
		padding-bottom: 25px
	.header-menu .logo
		margin-bottom: 35px