<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(rel="stylesheet", href="styles/css/main.css")
  body
    .container
      .main-content
        header
          .logo
            a(href="#", title="Binary Xperts") 
              img(src="pics/logo.png", alt="logo title")
          .tagline
            p Questions 
              span will be answered
        section#news
          h1 Новости
          ul.news-list
            li
              .news-wrap
                .news-info
                  .news-img
                    img(src="pics/news-img.jpg", alt="Интересная новость")
                  .news-brief
                    .caption
                      a(href="#", title="Продолжение новости") Case study: HUGE
                    .txt
                      p So to kick off 2014, we continued to apply this principle to the evolution of our own brand, introducing a refined design system along with a new logo and a reengineered site.
                a(href="#", title="Продолжение новости").btn Читать дальше
            li
              .news-wrap
                .news-info
                  .news-img
                    img(src="pics/news-img.jpg", alt="Интересная новость")
                  .news-brief
                    .caption
                      a(href="#", title="Продолжение новости") Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit natus, quis sapiente iusto ipsam. Et tempore est voluptatum, veniam beatae tenetur sit itaque vero, placeat molestias dicta earum mollitia?
                    .txt
                      p So to kick off 2014, we continued to apply this principle to the evolution of our own brand, introducing a refined design system along with a new logo and a reengineered site.
                      p Over the course of the last 15 years, we have grown so much and worked hard to apply the same approach we take to our client work, to our own brand as well. We wanted to celebrate that growth with a nod to where we are heading. This latest iteration introduces a refined mark and a replatformed site. We elevated the branding to be more sophisticated and built a website that shows off our culture and all of the work that we have been doing across offices.
                a(href="#" title="Продолжение новости").btn Читать дальше
            li
              .news-wrap
                .news-info
                  .news-img
                    img(src="pics/news-img.jpg", alt="Интересная новость")
                  .news-brief
                    .caption
                      a(href="#", title="Продолжение новости") Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit natus, quis sapiente iusto ipsam. Et tempore est voluptatum, veniam beatae tenetur sit itaque vero, placeat molestias dicta earum mollitia?
                    .txt
                      p So to kick off 2014, we continued to apply this principle to the evolution of our own brand, introducing a refined design system along with a new logo and a reengineered site.
                      p Over the course of the last 15 years, we have grown so much and worked hard to apply the same approach we take to our client work, to our own brand as well. We wanted to celebrate that growth with a nod to where we are heading. This latest iteration introduces a refined mark and a replatformed site. We elevated the branding to be more sophisticated and built a website that shows off our culture and all of the work that we have been doing across offices.
                a(href="#" title="Продолжение новости").btn Читать дальше
            li
              .news-wrap
                .news-info
                  .news-img
                    img(src="pics/news-img.jpg", alt="Интересная новость")
                  .news-brief
                    .caption
                      a(href="#", title="Продолжение новости") Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit natus, quis sapiente iusto ipsam. Et tempore est voluptatum, veniam beatae tenetur sit itaque vero, placeat molestias dicta earum mollitia?
                    .txt
                      p So to kick off 2014, we continued to apply this principle to the evolution of our own brand, introducing a refined design system along with a new logo and a reengineered site.
                      p Over the course of the last 15 years, we have grown so much and worked hard to apply the same approach we take to our client work, to our own brand as well. We wanted to celebrate that growth with a nod to where we are heading. This latest iteration introduces a refined mark and a replatformed site. We elevated the branding to be more sophisticated and built a website that shows off our culture and all of the work that we have been doing across offices.
                a(href="#" title="Продолжение новости").btn Читать дальше
        section#rebates
          h2 Акции
          ul.rebates-list
            li
              a(href="#", title="Акция 1")
                img(src="pics/rebate-1.jpg", alt="Акция 1")
            li
              a(href="#", title="Акция 2")
                img(src="pics/rebate-1.jpg", alt="Акция 2")
            li
              a(href="#", title="Акция 3")
                img(src="pics/rebate-1.jpg", alt="Акция 3")
            li
              a(href="#", title="Акция 4")
                img(src="pics/rebate-1.jpg", alt="Акция 4")
            li
              a(href="#", title="Акция 4")
                img(src="pics/rebate-1.jpg", alt="Акция 4")
            li
              a(href="#", title="Акция 5")
                img(src="pics/rebate-1.jpg", alt="Акция 5")
      footer
        .footer-contacts
          .caption
            p Контакты:
          p.phone
            strong Телефон: 
            a.phone-link(href="tel:+78121234567") +7 (812) 123-45-67
          p.email
            strong E-mail: 
            a.email-link(href="mailto:mail@site.ru", title="some email") mail@site.ru
          p.skype
            strong Skype: 
            a.skype-link(href="skype:skype_for_example") skype_for_example
          .addr
            p
              strong Адрес: 
              | 123456, г. Москва,
            p ул. Строителей, д. 3, кв. 12
        .footer-form
          .caption
            p Напишите нам:
          form(action="" name="write-us")
            input(type="email" name="email" placeholder="E-mail" required)
            textarea(name="message" placeholder="Введите свое сообщение..." required)
            button.btn-form Отправить
    script(src="js/common.js")