*::-webkit-input-placeholder
    color: #000
*:-moz-placeholder
    color: #000
*::-moz-placeholder
    color: #000
*:-ms-input-placeholder
    color: #000

*
    box-sizing: border-box

strong
    font-weight: 700

body
    font: $font-stack
    background-color: #091d2d
    cursor: default

.container
    max-width: 1200px
    margin: 0 auto
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between

h1, h2
    @include heading-sec

img
    display: block
    max-width: 100%

a[class^='btn'],
button[class^='btn']
    &:hover
        background-color: #ba8727
        background-image: linear-gradient(180deg, #b30800 0%, #ff0e00 100%)