header
    display: flex
    justify-content: flex-start
    align-items: flex-end
    color: #fff
    padding: 45px 40px
    .logo
        height: 100%
        margin-right: 70px
        min-width: 210px
    .tagline
        text-shadow: $t-shadow
        font-size: 25px
        line-height: 50px
        p
            vertical-align: top
            line-height: 1em
            display: inline-block
        span
            display: inline-block