@media only screen and (max-width: 1199px)
    .news-list li
        width: 50%
        &:nth-child(3n+3),
        &:nth-child(odd)
            padding-right: 40px
        &:nth-child(even)
            padding-right: 0
    .news-wrap
        max-width: 100%
    
    .rebates-list li
        width: 30%
        &:not(:nth-child(4n+4))
            margin-right: 0
        &:nth-child(3n+2)
            margin: 30px 5% 0
    .news-brief a
        width: 250px

    .footer-contacts
        margin-right: 30px

@media only screen and (max-width: 899px)
    body
        overflow: auto
        min-width: 600px
    .news-list li
        width: 100%
    .news-brief a
        width: 370px
    .rebates-list li
        width: 47%
        &:nth-child(3n+2)
            margin: 30px 0 0
        &:nth-child(even)
            margin-left: 6%