$font-stack: 14px/1.3em Arial, Helvetica, sans-serif
$t-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)

@mixin heading
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)
    font-size: 24px
    font-weight: 700

@mixin heading-sec
    @include heading
    color: #ff0e00
    text-transform: uppercase

@mixin heading-footer
    @include heading
    color: #ffb400    

@mixin btn
    background-color: #d24a43
    background: linear-gradient(to top, #b30800 0%, #ff0e00 100%)
    color: #fff
    font-weight: 700
    line-height: 20px
    padding: 0 13px
    height: 20px
    text-transform: uppercase
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3)

@mixin btn-form
    @include btn
    border: none
    cursor: pointer
    padding: 0 55px
    font-size: 18px
    line-height: 40px
    height: 40px