#about
	font-weight: 300
	background-color: #fff
	>.content
		padding: 110px 0
		>.clarify
			font-size: 14px
			font-weight: 900
			color: $red-color
			text-transform: uppercase
			text-align: center
		h2
			margin-top: 25px
			text-align: center
			font-size: 90px
			color: #231f20
	.middle-wrap
		margin-top: 70px
		display: flex
		justify-content: space-between
		align-items: center
	.about-txt
		max-width: 600px
		line-height: 1.6em
		p:first-child
			font-size: 21px
		p:nth-child(2)
			margin-top: 25px
	.about-logo
		text-align: center
		max-width: 250px
		.clarify
			margin-top: 15px
			opacity: .7
			font-size: 14px
	.icon-logo-2
		display: inline-block
	.about-features
		margin-top: 100px
		text-align: center
		ul
			display: flex
			justify-content: space-between
			align-items: flex-start
		li
			width: 33.33%
		.caption
			color: #000
			font-size: 71px
			font-weight: 400
			font-family: 'Bebas Neue'

@media only screen and (max-width : 1365px)
	#about
		>.content
			padding: 80px 40px

@media only screen and (max-width : 1200px)
	#about
		>.content h2
			font-size: 77px
			
@media only screen and (max-width : 991px)
	#about
		padding: 80px 0 130px
		.middle-wrap
			padding: 0 20px
			flex-direction: column-reverse
	#about .about-txt
		margin-top: 25px

@media only screen and (max-width : 767px)
	#about
		padding-top: 0
		>.content
			padding-left: 0
			padding-right: 0
	#about .middle-wrap
		margin-top: 50px
	#about .about-features ul
		flex-wrap: wrap
		justify-content: center
	#about .about-features
		font-size: 14px
		margin-top: 70px
	#about .about-features li
		width: 40%
	#about .about-features li:first-child
		margin-right: 20%

@media only screen and (max-width : 424px)
	#about
		padding: 0 0 130px
		>.content
			padding: 50px 0
