@import '_vars.sass'

*::-webkit-input-placeholder
	color: $color
	opacity: .5

*:-moz-placeholder
	color: $color
	opacity: .5

*::-moz-placeholder
	color: $color
	opacity: .5

*:-ms-input-placeholder
	color: $color
	opacity: .5

input:focus,
input:active
	outline: none

a
	color: $color
	text-decoration: none

.bold
	font-weight: 700

.content
	width: 100%
	max-width: 1170px
	margin: 0 auto

body
	cursor: default
	font-family: 'Open Sans', sans-serif
	font-weight: 300
	line-height: 1.35em
	font-size: 18px
	color: #494f5d

.flex-wrap
	display: flex
	justify-content: flex-start
	align-items: center

.drop
	a
		position: relative
		padding-right: 10px
.drop a:before,
.drop a:after
	content: ''
	position: absolute
	height: 5px
	width: 1px
	top: 50%
	right: 0
	margin-left: 8px
	background-color: #1c2335
	transform-origin: center bottom
.drop a:before
	transform: rotateZ(45deg)
.drop a:after
	transform: rotateZ(-45deg)

h1
	font-size: 101px
	line-height: 1em
	color: #191e2d
h2
	font-size: 60px
	line-height: 1em
	color: #1c2335
h3
	font-size: 48px
	line-height: 1em
	color: #191e2d

h1,
h2,
h3
	font-family: 'Playfair Display'
	&+.clarify:before
		content: ''
		position: absolute
		height: 1px
		width: 65px
		left: 0
		top: 0
		background-color: #f47aac
	&+.clarify
		margin-top: 30px
		padding-top: 40px
		position: relative

h1 span,
h2 span,
h3 span
	display: block

.btn.back:hover
	img
		transform: translateX(-5px) rotateZ(180deg)
.btn.back
	flex-direction: row-reverse
	img
		margin-right: 10px
		margin-left: 0
		transform: rotateZ(180deg)
.btn.white:hover
	box-shadow: inset -1px -1px 0 2px #fff
	img
		transform: translateX(5px)
.btn:hover
	box-shadow: inset -1px -1px 0 2px #000
	img
		transform: translateX(5px)
.btn.white
	color: #fff
	box-shadow: inset 0 0 0 1px #fff
.btn
	transition: .25s
	position: relative
	box-shadow: inset 0 0 0 1px #000
	color: #000
	font-size: 14px
	font-weight: 700
	text-transform: uppercase
	line-height: 50px
	height: 50px
	padding: 0 35px 0 35px
	display: inline-flex
	justify-content: flex-start
	align-items: center
	img
		transition: .25s
		margin-left: 10px

@media only screen and (max-width : 1200px)
	.content
		padding: 0 20px
		max-width: 768px
	h2
		font-size: 40px