#about
	padding-top: 70px
	h1 + .clarify:before
		left: 50%
		margin-left: -38px
	h1,
	h1 + .clarify
		text-align: center
	h2
		font-size: 48px
	h2 + .clarify
		font-size: 16px
		line-height: 1.5em
	.right-side
		max-width: 400px
	.left-side
		margin-left: 100px
		position: relative
		img
			display: block
		.img-left
			position: absolute
			left: -100px
			top: 140px
		.img-bottom
			position: relative
			z-index: 1
			width: 100%
			margin-top: -50px
			img
				margin: 0 auto
	.template-1+.template-1
		margin-top: 30px
		.left-side
			margin-left: 100px
			max-width: 470px
		.right-side
			max-width: 600px
			img
				max-width: 100%