#dont-stop
	padding-bottom: 150px
	.content
		display: flex
		justify-content: flex-start
	.left-side
		margin: 0 100px 0 75px
		min-width: 530px
		display: flex
		justify-content: flex-start
		align-items: flex-end
		img
			display: block
			max-width: 100%
		.wrap-bottom
			max-width: 160px
			margin: 20px 0 0 auto
			img
		.wrap-left
			margin: 0 20px -40px
	.right-side
		.clarify:before
			display: none
		h3:before
			content: ''
			position: absolute
			width: 60px
			height: 1px
			background-color: #f47aac
			top: 35px
			left: 0
		h3
			max-width: 600px
			margin: 80px 0 0 -220px
			padding-left: 100px
			position: relative
		.clarify
			line-height: 1.5em