#famous-devita
	padding: 200px 0 70px
	position: relative
	overflow: hidden
	.slick-dots
		display: none
	h3
		margin-top: 30px
	.content:before
		content: ''
		position: absolute
		height: 100%
		width: 100%
		top: 0
		left: 100%
		background-color: #e7eff6
	.content
		position: relative
		background-color: #e7eff6
	.slider-wrap
		margin-top: -50px
		z-index: 1
		position: absolute
		max-width: 50%
		.item:focus
			outline: none
		.nav
			position: absolute
			bottom: 0
			right: 0
			z-index: 1
			background-color: #fff
			padding: 20px 60px
			.pages
				span
					vertical-align: bottom
					display: inline-block
					line-height: 1em
			.current
				font-size: 21px
				font-weight: 400
			.total
				font-size: 14px
			.slash
				margin: 0 2px
				font-size: 25px
			.total,
			.slash
				opacity: .5
			.next,
			.prev
				position: absolute
				top: 50%
				cursor: pointer
				margin-top: -10px
				&.slick-disabled
					cursor: default
					opacity: .5
			.prev
				left: 20px
			.next
				margin-top: -12px
				transform: rotateZ(180deg)
				right: 20px
		img
			max-width: 100%
	.right-side
		padding: 70px 0 130px
		margin-left: auto
		max-width: 400px
		margin-right: 100px
	.clarify:before
		display: none
	.clarify
		margin-top: 20px
		padding-top: 0
		font-size: 16px
	.btn-wrap
		margin-top: 40px
	.notion:before
		content: ''
		position: absolute
		top: 50%
		margin-top: -1px
		background-color: #f47aac
		left: 0
		height: 1px
		width: 30px
	.notion
		font-weight: 700
		text-transform: uppercase
		font-size: 12px
		padding-left: 45px
		position: relative

@media only screen and (max-width : 1200px)
	#famous-devita
		padding-top: 350px
	#famous-devita .right-side
		margin-left: 0
		padding-top: 150px
	#famous-devita .slider-wrap
		max-width: 620px
		margin-top: -250px
		margin-left: auto
		margin-right: auto
		left: 0
		right: 0
	#famous-devita .slider-wrap
		.nav
			background-color: transparent
			bottom: 50%
			margin-bottom: -20px
			left: -10%
			width: 120%
			.pages
				display: none

@media only screen and (max-width : 767px)
	#famous-devita .slider-wrap .nav
		display: none
	#famous-devita
		h3
			font-size: 31px
		.slick-dots
			margin-bottom: 50px
			display: block
			li
				width: auto
				height: auto
			li.slick-active
				button
					box-shadow: inset 0 0 0 10px #fff
			li:not(:first-child)
				margin-left: 10px
			button:before
				display: none
			button
				background: transparent
				width: 10px
				height: 10px
				border-radius: 50%
				transition: .3s
				box-shadow: inset 0 0 0 1px #fff
	#famous-devita .right-side
		padding-top: 70px
		max-width: 100%
		width: 100%

@media only screen and (max-width : 450px)
	#famous-devita .slider-wrap
		margin-top: -215px

@media only screen and (max-width : 450px)
	#famous-devita .slider-wrap
		margin-top: -180px