footer
	padding-top: 50px
	.social
		text-align: center
		a
			display: block
		ul
			display: flex
			justify-content: flex-start
			align-items: center
		li
			height: 65px
			line-height: 65px
			width: 20%
		img
			vertical-align: middle
		.vk
			background-color: #4c76a4
		.fb
			background-color: #3a5a9b
		.insta
			background: linear-gradient(25deg, #f35f30, #db0072, #7213cc)
		.ok
			background-color: #ec722a
		.youtube
			background-color: #ce1a19
	.footer-top
		padding: 85px 0 65px
		border-bottom: 1px solid #eff0f1
		display: flex
		justify-content: space-between
		align-items: flex-start
		.contacts
			max-width: 200px
			a
				color: #494f5d
				font-size: 14px
				font-weight: 300
			li:not(:first-child)
				margin-top: 10px
			li
				position: relative
				padding-left: 40px
			.viber
				font-size: 16px
				background: url(../img/viber.png) left center no-repeat
				a
					font-weight: 700
					color: #1c2335
			.whatsapp
				font-size: 16px
				background: url(../img/whatsapp.png) left center no-repeat
				a
					font-weight: 700
					color: #1c2335
			.skype
				background: url(../img/skype.png) left center no-repeat
			.email
				background: url(../img/email.png) left center no-repeat
			.shedule
				margin-top: 40px
				font-size: 14px
				color: #494f5d
				.caption
					font-size: 12px
					opacity: .5
		nav
			display: flex
			justify-content: space-between
			align-items: flex-start
			>div:not(:first-child)
				margin-left: 100px
			a
				font-size: 13px
				font-weight: 300
				opacity: .7
				color: $color
			.caption
				margin-bottom: 10px
				font-size: 14px
				font-weight: 600
				color: #1c2335
		.subscription
			max-width: 270px
			font-size: 14px
			.email
				position: relative
				margin-top: 20px
			.email:before,
			.email:after
				content: ''
				position: absolute
				height: 1px
				width: 10px
				background-color: #989ca5
				opacity: 1
				top: 50%
				right: 20px
				transform-origin: right center
			.email:before
				transform: rotateZ(45deg)
			.email:after
				transform: rotateZ(-45deg)
			input
				border: 1px solid #eff0f1
				line-height: 45px
				height: 45px
				width: 100%
				padding-left: 20px
	.footer-bottom
		padding: 40px 0 70px
		display: flex
		justify-content: space-between
		align-items: center
		.copyright
			.caption
				font-size: 16px
			.clarify
				opacity: .5
				font-size: 12px
				line-height: 1.4em
		.made-by
			>p
				opacity: .6
				font-size: 13px
			.namba
				margin-top: 3px
				img
					margin-right: 8px
				.logo
					display: flex
					justify-content: flex-start
					align-items: flex-end
			.logo
				font-size: 15px
				font-weight: 700
				color: #1c2335