header
	border-bottom: 1px solid #f5f5f6
	position: relative
	z-index: 9
	background-color: #fff
	.search-bar
		display: none
		position: absolute
		top: 100%
		left: 0
		width: 100%
		height: 100px
		line-height: 100px
		background-color: #f7f7f8
		text-align: 
		.content
			position: relative
			text-align: center
		.close
			z-index: 1
			cursor: pointer
			position: absolute
			width: 30px
			height: 30px
			top: 30px
			right: 20px
			&:before,
			&:after
				content: ''
				position: absolute
				height: 1px
				width: 100%
				background-color: #000
			&:after
				transform: rotateZ(45deg)
			&:before
				transform: rotateZ(-45deg)
		input
			width: 650px
			text-align: left
			max-width: 70%
			margin: 0 auto
			line-height: 1.4em
			font-size: 21px
			font-family: "Open Sans"
			background-color: transparent
			border: none
			border-bottom: 1px solid #ccc
	.top-line
		line-height: 30px
		height: 30px
		background-color: #f7f7f7
		font-size: 13px
		position: relative
		z-index: 2
		.content
			display: flex
			justify-content: space-between
			align-items: center
		.left-side
			li:not(:first-child)
				margin-left: 25px
		a
			color: #1c2335
		ul
			li
				opacity: .6
			li:not(:first-child)
		.login
			margin-left: 20px
		li.drop
			padding: 0 20px 0 10px
			border: 1px solid #f7f7f8
			a
				&:before
					transform: scale(.7)
					top: -3px
					transform-origin: center center
					right: 0
					content: url(../img/arrow-down.png)
		li:hover
			opacity: 1
		li.drop:hover
			border: 1px solid #dfe0e3
			background-color: #fff
			cursor: pointer
			ul
				display: flex
			a
				color: #000
		li
			position: relative
			display: inline-block
			ul
				background-color: #fff
				color: #000
				opacity: 1
				width: calc(100% + 2px)
				left: -1px
				top: 100%
				border-right: 1px solid #dfe0e3
				border-bottom: 1px solid #dfe0e3
				border-left: 1px solid #dfe0e3
				position: absolute
				display: none
				justify-content: flex-start
				align-items: flex-start
				flex-direction: column
				li
					padding: 0 20px 0 10px
					cursor: pointer
					&:hover
						color: #f47aac
				li:not(:first-child)
					margin-left: 0
			a
				display: inline-block
				position: relative
				&:before,
				&:after
					background: none
	.major-menu
		padding: 10px 0
		.content
			display: flex
			justify-content: space-between
			align-items: center
		.drop > a:before,
		.drop > a:after
			right: 40px
		.logo
			img
				display: block
			.clarify
				font-size: 12px
				opacity: .6
	nav
		>ul
			position: relative
			top: -10px
			display: flex
			justify-content: center
			align-items: center
			// >li:not(:first-child)
			// 	margin-left: 40px
			a:hover
				color: #f57bad
			>li
				position: relative
				a
					transition: .1s
					font-weight: 600
					color: #1c2335
	.sub-menu
		position: absolute
		top: 100%
		margin-top: -50px
		left: 0
		padding-top: 75px
		width: 100%
		pointer-events: none
		overflow: hidden
		opacity: 0
		transition: .35s
		background-color: #f57bad
		transform: translateY(20px)
	.main-nav
		li
			>a
				display: inline-block
				padding: 20px 30px 0 20px
				position: relative
				z-index: 1
		>li.drop
			font-size: 14px
			font-weight: 600
			z-index: 1
			&:before
				content: ''
				position: absolute
				width: 100%
				height: 102%
				top: 0
				left: 0
				opacity: 0
				transition: .35s
				background-color: #f57bad
				transform: translateY(20px)
			li
				position: relative
				&:before
					content: ''
					position: absolute
					height: 1px
					background-color: #fff
					width: 0
					bottom: 0
					left: 20px
					transition: .25s
			ul
				li:not(:first-child)
					margin-top: 10px
				li:last-child
					margin-bottom: 20px
				li
					a
						padding-top: 0
						padding-bottom: 5px
					&:hover:before
						width: 30px
			&:hover
				// &:before,
				ul
					pointer-events: initial
					opacity: 1
					transform: none
				ul
					transition-delay: 0s
			>a
				font-size: 18px
				display: inline-block
				padding: 20px 60px 0px 20px
	.states
		ul
			display: flex
			justify-content: flex-end
			align-items: center
		li:not(:first-child)
			margin-left: 48px
		a
			color: #fff
			position: relative
			display: block
		.total
			position: absolute
			line-height: 14px
			width: 14px
			border-radius: 50%
			line-height: 14px
			text-align: center
			font-size: 10px
			font-weight: 600
			bottom: 3px
		.like
			.total
				background-color: #f387b8
				right: -3px
		.cart.full
			&:hover
				.cart-preview
					opacity: 1
					transform: scale(1)
					transform: translateY(0) scale(1)
					transition: opacity .2s ease .2s, transform .5s ease 0s
		.cart
			position: relative
			.total
				right: -7px
				background-color: #a1d8f9
			.cart-preview
				opacity: 0
				transform: translateY(-250px) scale(0)
				transition: opacity .2s ease .2s, transform .5s ease .3s
				width: 250px
				position: absolute
				top: 100%
				margin-top: 20px
				right: -20px
				border-right: 1px solid #ccc
				border-bottom: 1px solid #ccc
				border-left: 1px solid #ccc
				background-color: #fff
				padding: 20px
				font-size: 14px
				line-height: 1.2em
				&:before,
				&:after
					content: ''
					width: 1px
					height: 20px
					background-color: #ccc
					position: absolute
					bottom: 100%
					margin-bottom: -6px
					right: 30px
					transform-origin: center top
				&:before
					transform: rotateZ(45deg)
				&:after
					transform: rotateZ(-45deg)
				.caption
					font-weight: 600
				.b-t
					position: absolute
					height: 1px
					width: 100%
					left: 0
					top: 0
					background: linear-gradient(to right, #ccc 203px, transparent 203px, transparent 232px, #ccc 232px)
				.flex-wrap
					align-items: stretch
					margin-bottom: 15px
				.info
					display: flex
					justify-content: space-between
					align-items: flex-start
					flex-direction: column
					span
						opacity: .5
				.img
					margin-right: 20px
					max-width: 60px
					width: 100%
					img
						max-width: 100%
				.btn
					background-color: #151e32
					&:hover
						background-color: rgba(#151e32, .8)
						box-shadow: none
			.cart-preview.active
				opacity: 1
				transform: scale(1)
				transform: translateY(0) scale(1)
				transition: opacity .2s ease .2s, transform .5s ease 0s
	.mobile-nav
		display: none
.mobile-menu
	display: none

@media only screen and (max-width : 1200px)
	.mobile-menu.active
		z-index: 9
		transition: z-index 0s ease 0s
		.overlay
			transition-delay: 0s
			height: 100vh
		>ul
			>li
				opacity: 1
				transform: none
			>li:first-child
				transition-delay: .45s
			>li:nth-child(2)
				transition-delay: .55s
			>li:nth-child(3)
				transition-delay: .65s
			>li:nth-child(4)
				transition-delay: .75s
			>li:nth-child(5)
				transition-delay: .85s
			>li:nth-child(6)
				transition-delay: .95s
			>li:nth-child(7)
				transition-delay: 1.05s
			>li:nth-child(8)
				transition-delay: 1.15s
	.mobile-menu
		display: block
		position: fixed
		overflow: auto
		top: 0
		left: 0
		margin-top: 100px
		padding: 20px 20px 150px
		width: 100vw
		height: 100vh
		z-index: -1
		transition: z-index 1s ease 1s
		>ul
			max-width: 680px
			margin: 0 auto
			display: flex
			flex-direction: column
			align-items: flex-start
			justify-content: flex-start
			ul>.dropdown:before
				transform: scale(.7)
			>li:first-child
				transition-delay: .25s
			>li:nth-child(2)
				transition-delay: .35s
			>li:nth-child(3)
				transition-delay: .45s
			>li:nth-child(4)
				transition-delay: .55s
			>li:nth-child(5)
				transition-delay: .65s
			>li:nth-child(6)
				transition-delay: .75s
			>li:nth-child(7)
				transition-delay: .85s
			>li:nth-child(8)
				transition-delay: .95s
			>li
				opacity: 0
				transform: translateY(-20px)
				transition: .25s
			li
				padding-right: 30px
			>li:not(.settings)
				margin-top: 15px
				font-weight: 700
		.overlay
			bottom: 0
			left: 0
			background-color: #fff
			position: fixed
			opacity: .9
			width: 100%
			transition: .5s ease 1s
			height: 0
		ul
			position: relative
			z-index: 1
		.settings
			font-size: 14px
			ul
				display: flex
				flex-direction: column
				align-items: flex-start
				justify-content: flex-start
			li:not(:first-child)
				margin-top: 5px
			.login
				margin-bottom: 10px
				font-weight: 600
		.dropdown.active > a:before
			transform: rotateZ(180deg)
		.dropdown > a:before
			transition: .35s
			content: url(../img/arrow-down.png)
			right: 0
			top: 50%
			margin-top: -10px
			position: absolute
		.dropdown
			>a
				display: inline-block
				padding-right: 30px
				position: relative
			ul
				margin-left: 20px
				margin-top: 20px
				font-size: 16px
				padding-bottom: 20px
				font-weight: 600
				display: none
			li:not(:first-child)
				margin-top: 15px
	.header-wrap
		height: 105px
		// transform: translateZ(0)
		background-color: #fff
	header.active
		.mobile-menu
			display: block
	header
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 105px
		z-index: 9
		background-color: #fff
		.content
			max-width: 720px
		.top-line
			display: none
		.major-menu.active
			.logo
				transform: translateY(-20px)
				opacity: 0
				transition-delay: 0s
			.cart
				transform: translateY(-20px)
				opacity: 0
				transition-delay: 0s
			.search
				cursor: pointer
				transform: translateY(-20px)
				opacity: 1
				transition-delay: .2s
					
			.like
				transform: translateX(-50%)
				transition-delay: .2s
		.major-menu
			position: relative
			.content
				position: relative
			.like
				transition: .25s ease 0s
			.cart
				transition: .25s ease .2s
			.search
				transition: .25s ease 0s
				right: 15px
				top: 50%
				margin-top: 10px
				opacity: 0
				position: absolute
			.logo
				transition: .25s ease .2s
				text-align: center
				img
					margin: 0 auto
			.logo,.states
				min-width: 33.33%
				width: 33.33%
				position: relative
				z-index: 9
			.mobile-nav
				display: block
				width: 30px
				height: 24px
				z-index: 9
				position: relative
			.mobile-nav:before,
			.mobile-nav:after,
			.mobile-nav div
				content: ''
				position: absolute
				height: 2px
				width: 100%
				background-color: #000
				left: 0
			.mobile-nav:before
				top: 0
			.mobile-nav:after
				bottom: 0
			.mobile-nav div
				margin-top: -1px
				top: 50%
			nav
				z-index: 5
				top: 50%
				margin-top: -13px
				left: 30px
				position: absolute
				width: 33.33%
				>ul
					position: absolute
					left: -30px
					padding: 30px
					top: 60px
					display: none
					background-color: #fff
					flex-direction: column
					align-items: flex-start
					>li
						width: 100%
					>li:not(:first-child)
						margin-left: 0
						margin-top: 20px

			.logo
				margin-left: 33%

@media only screen and (max-width : 767px)
	header .major-menu .logo
		min-width: 195px
		margin-left: 30%
	header .major-menu .states
		min-width: auto
		width: auto
	header .states li:not(:first-child)
		margin-left: 30px
	header .states .cart .cart-preview
		right: -5px
	header .states .cart .cart-preview:before, header .states .cart .cart-preview:after
		right: 14px
	header .states .cart .cart-preview .b-t
		background: linear-gradient(to right, #ccc 220px, transparent 220px, transparent 250px, #ccc 250px)

@media only screen and (max-width : 500px)
	header .major-menu .logo img
		max-width: 100px
	header .major-menu nav
		left: 10px
	header .major-menu .logo
		margin-left: calc(50% - 90px)
	header
		.content
			padding-left: 0
	header .major-menu .like
		position: fixed
		left: 50%
		opacity: 0
		margin-top: 20px
	header .states li:not(:first-child).like
		margin-left: 0px
	header .major-menu.active .like
		margin-top: 0
		opacity: 1