header
	.top-line
		line-height: 40px
		height: 40px
		background-color: #f7f7f7
		font-size: 13px
		.content
			display: flex
			justify-content: space-between
			align-items: center
		a
			color: #1c2335
		ul
			opacity: .6
			li:not(:first-child)
				margin-left: 25px
		li
			display: inline-block
			a
				display: inline-block
				position: relative
	.major-menu
		padding: 20px 0
		.content
			display: flex
			justify-content: space-between
			align-items: center
		.logo
			img
				display: block
			.clarify
				font-size: 12px
				opacity: .6
	nav
		ul
			display: flex
			justify-content: center
			align-items: center
		li:not(:first-child)
			margin-left: 40px
		a
			font-weight: 600
			color: #1c2335
	.states
		ul
			display: flex
			justify-content: flex-end
			align-items: center
		li:not(:first-child)
			margin-left: 48px
		a
			color: #fff
			position: relative
			display: block
		.total
			position: absolute
			height: 14px
			width: 14px
			border-radius: 50%
			line-height: 14px
			text-align: center
			font-size: 10px
			font-weight: 600
			bottom: 3px
		.like
			.total
				background-color: #f387b8
				right: -3px
		.cart
			.total
				right: -7px
				background-color: #a1d8f9