%svg-common {
	background: url("../img/sprite/view/svg/sprite.view.svg") no-repeat;
}

.svg-icon--ad {
	@extend %svg-common;
	background-position: 31% 0;
}

.svg-icon--ad-dims {
	width: 101px;
	height: 93px;
}

.svg-icon--ad_1 {
	@extend %svg-common;
	background-position: 80% 50%;
}

.svg-icon--ad_1-dims {
	width: 73px;
	height: 63px;
}

.svg-icon--ad_2 {
	@extend %svg-common;
	background-position: 35% 80%;
}

.svg-icon--ad_2-dims {
	width: 63px;
	height: 63px;
}

.svg-icon--ad_3 {
	@extend %svg-common;
	background-position: 99% 0;
}

.svg-icon--ad_3-dims {
	width: 70px;
	height: 70px;
}

.svg-icon--ad_4 {
	@extend %svg-common;
	background-position: 58% 27%;
}

.svg-icon--ad_4-dims {
	width: 90px;
	height: 63px;
}

.svg-icon--ad_5 {
	@extend %svg-common;
	background-position: 66% 79%;
}

.svg-icon--ad_5-dims {
	width: 60px;
	height: 60px;
}

.svg-icon--ad_6 {
	@extend %svg-common;
	background-position: 98% 20%;
}

.svg-icon--ad_6-dims {
	width: 63px;
	height: 70px;
}

.svg-icon--brand {
	@extend %svg-common;
	background-position: 59% 0;
}

.svg-icon--brand-dims {
	width: 95px;
	height: 95px;
}

.svg-icon--brand_1 {
	@extend %svg-common;
	background-position: 98% 79%;
}

.svg-icon--brand_1-dims {
	width: 64px;
	height: 66px;
}

.svg-icon--brand_2 {
	@extend %svg-common;
	background-position: 61% 53%;
}

.svg-icon--brand_2-dims {
	width: 57px;
	height: 66px;
}

.svg-icon--brand_3 {
	@extend %svg-common;
	background-position: 81% 15%;
}

.svg-icon--brand_3-dims {
	width: 75px;
	height: 58px;
}

.svg-icon--brand_4 {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-icon--brand_4-dims {
	width: 57px;
	height: 66px;
}

.svg-icon--consult {
	@extend %svg-common;
	background-position: 24% 58%;
}

.svg-icon--consult-dims {
	width: 69px;
	height: 94px;
}

.svg-icon--consult_1 {
	@extend %svg-common;
	background-position: 30% 25%;
}

.svg-icon--consult_1-dims {
	width: 88px;
	height: 43px;
}

.svg-icon--consult_2 {
	@extend %svg-common;
	background-position: 99% 61%;
}

.svg-icon--consult_2-dims {
	width: 67px;
	height: 66px;
}

.svg-icon--consult_3 {
	@extend %svg-common;
	background-position: 97% 41%;
}

.svg-icon--consult_3-dims {
	width: 58px;
	height: 68px;
}

.svg-icon--consult_4 {
	@extend %svg-common;
	background-position: 14% 99%;
}

.svg-icon--consult_4-dims {
	width: 57px;
	height: 65px;
}

.svg-icon--linkedin {
	@extend %svg-common;
	background-position: 85% 95%;
}

.svg-icon--linkedin-dims {
	width: 51px;
	height: 50px;
}

.svg-icon--logo_blue {
	@extend %svg-common;
	background-position: 43% 56%;
}

.svg-icon--logo_blue-dims {
	width: 81px;
	height: 81px;
}

.svg-icon--logo_white {
	@extend %svg-common;
	background-position: 51% 80%;
}

.svg-icon--logo_white-dims {
	width: 61px;
	height: 61px;
}

.svg-icon--mobile {
	@extend %svg-common;
	background-position: 0 59%;
}

.svg-icon--mobile-dims {
	width: 92px;
	height: 94px;
}

.svg-icon--mobile_1 {
	@extend %svg-common;
	background-position: 73% 97%;
}

.svg-icon--mobile_1-dims {
	width: 53px;
	height: 58px;
}

.svg-icon--mobile_2 {
	@extend %svg-common;
	background-position: 60% 98%;
}

.svg-icon--mobile_2-dims {
	width: 52px;
	height: 59px;
}

.svg-icon--site {
	@extend %svg-common;
	background-position: 0 29%;
}

.svg-icon--site-dims {
	width: 108px;
	height: 93px;
}

.svg-icon--site_1 {
	@extend %svg-common;
	background-position: 29% 99%;
}

.svg-icon--site_1-dims {
	width: 65px;
	height: 65px;
}

.svg-icon--site_2 {
	@extend %svg-common;
	background-position: 0 81%;
}

.svg-icon--site_2-dims {
	width: 71px;
	height: 63px;
}

.svg-icon--site_3 {
	@extend %svg-common;
	background-position: 18% 81%;
}

.svg-icon--site_3-dims {
	width: 66px;
	height: 63px;
}

.svg-icon--site_4 {
	@extend %svg-common;
	background-position: 81% 32%;
}

.svg-icon--site_4-dims {
	width: 73px;
	height: 63px;
}

.svg-icon--smm {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon--smm-dims {
	width: 111px;
	height: 92px;
}

.svg-icon--smm_1 {
	@extend %svg-common;
	background-position: 78% 80%;
}

.svg-icon--smm_1-dims {
	width: 38px;
	height: 60px;
}

.svg-icon--smm_2 {
	@extend %svg-common;
	background-position: 46% 98%;
}

.svg-icon--smm_2-dims {
	width: 60px;
	height: 60px;
}

.svg-icon--smm_3 {
	@extend %svg-common;
	background-position: 81% 0;
}

.svg-icon--smm_3-dims {
	width: 76px;
	height: 53px;
}

