%svg-common {
	background: url("../img/sprite/view/svg/sprite.view.svg") no-repeat;
}

.svg-icon--ad {
	@extend %svg-common;
	background-position: 31.53409090909091% 0;
}

.svg-icon--ad-dims {
	width: 101px;
	height: 93px;
}

.svg-icon--ad_1 {
	@extend %svg-common;
	background-position: 80.73947368421052% 50.22832369942196%;
}

.svg-icon--ad_1-dims {
	width: 73px;
	height: 63px;
}

.svg-icon--ad_2 {
	@extend %svg-common;
	background-position: 35.16576498038512% 80.53511126504458%;
}

.svg-icon--ad_2-dims {
	width: 62.99px;
	height: 62.53px;
}

.svg-icon--ad_3 {
	@extend %svg-common;
	background-position: 99.9869403959672% 0;
}

.svg-icon--ad_3-dims {
	width: 70.14px;
	height: 69.82px;
}

.svg-icon--ad_4 {
	@extend %svg-common;
	background-position: 58.4134681619045% 27.40173410404624%;
}

.svg-icon--ad_4-dims {
	width: 90.07px;
	height: 63px;
}

.svg-icon--ad_5 {
	@extend %svg-common;
	background-position: 66.52062052627556% 79.97420464316423%;
}

.svg-icon--ad_5-dims {
	width: 60.43px;
	height: 60.1px;
}

.svg-icon--ad_6 {
	@extend %svg-common;
	background-position: 98.15641025641025% 20.59587020648967%;
}

.svg-icon--ad_6-dims {
	width: 63px;
	height: 70px;
}

.svg-icon--brand {
	@extend %svg-common;
	background-position: 59.18646528378793% 0;
}

.svg-icon--brand-dims {
	width: 94.81px;
	height: 94.81px;
}

.svg-icon--brand_1 {
	@extend %svg-common;
	background-position: 98.52271264959464% 79.90716954694068%;
}

.svg-icon--brand_1-dims {
	width: 64.45px;
	height: 66.44px;
}

.svg-icon--brand_2 {
	@extend %svg-common;
	background-position: 61.19195944412217% 53.84256559766764%;
}

.svg-icon--brand_2-dims {
	width: 56.51px;
	height: 66px;
}

.svg-icon--brand_3 {
	@extend %svg-common;
	background-position: 81.14949217096911% 15.059245755953059%;
}

.svg-icon--brand_3-dims {
	width: 74.92px;
	height: 57.92px;
}

.svg-icon--brand_4 {
	@extend %svg-common;
	background-position: 0 99.71720116618076%;
}

.svg-icon--brand_4-dims {
	width: 57.01px;
	height: 66px;
}

.svg-icon--consult {
	@extend %svg-common;
	background-position: 24.09013937736095% 58.57650342552652%;
}

.svg-icon--consult-dims {
	width: 69.15px;
	height: 93.72px;
}

.svg-icon--consult_1 {
	@extend %svg-common;
	background-position: 30.37351210835956% 25.412613400371626%;
}

.svg-icon--consult_1-dims {
	width: 87.55px;
	height: 43.04px;
}

.svg-icon--consult_2 {
	@extend %svg-common;
	background-position: 99.19670389469049% 60.57302748549942%;
}

.svg-icon--consult_2-dims {
	width: 67.09px;
	height: 65.91px;
}

.svg-icon--consult_3 {
	@extend %svg-common;
	background-position: 96.91392405063291% 41.002932551319645%;
}

.svg-icon--consult_3-dims {
	width: 58px;
	height: 68px;
}

.svg-icon--consult_4 {
	@extend %svg-common;
	background-position: 14.396828202732392% 99.55466294097101%;
}

.svg-icon--consult_4-dims {
	width: 57.01px;
	height: 65.44px;
}

.svg-icon--linkedin {
	@extend %svg-common;
	background-position: 85.56549838429032% 95.27298050139275%;
}

.svg-icon--linkedin-dims {
	width: 50.7px;
	height: 50px;
}

.svg-icon--logo_blue {
	@extend %svg-common;
	background-position: 43.446236559139784% 56.30487804878049%;
}

.svg-icon--logo_blue-dims {
	width: 81px;
	height: 81px;
}

.svg-icon--logo_white {
	@extend %svg-common;
	background-position: 51.05612244897959% 80.1810344827586%;
}

.svg-icon--logo_white-dims {
	width: 61px;
	height: 61px;
}

.svg-icon--mobile {
	@extend %svg-common;
	background-position: 0 58.69378674717941%;
}

.svg-icon--mobile-dims {
	width: 92.47px;
	height: 94.35px;
}

.svg-icon--mobile_1 {
	@extend %svg-common;
	background-position: 72.8075% 97.34737441297851%;
}

.svg-icon--mobile_1-dims {
	width: 53px;
	height: 57.65px;
}

.svg-icon--mobile_2 {
	@extend %svg-common;
	background-position: 59.65835411471322% 97.84866256615648%;
}

.svg-icon--mobile_2-dims {
	width: 52px;
	height: 59.45px;
}

.svg-icon--site {
	@extend %svg-common;
	background-position: 0 29.0126582278481%;
}

.svg-icon--site-dims {
	width: 108px;
	height: 93px;
}

.svg-icon--site_1 {
	@extend %svg-common;
	background-position: 29.40251166868666% 99.3897654955976%;
}

.svg-icon--site_1-dims {
	width: 65.21px;
	height: 64.87px;
}

.svg-icon--site_2 {
	@extend %svg-common;
	background-position: 0 80.64450867052022%;
}

.svg-icon--site_2-dims {
	width: 71px;
	height: 63px;
}

.svg-icon--site_3 {
	@extend %svg-common;
	background-position: 18.3533669380897% 80.64450867052022%;
}

.svg-icon--site_3-dims {
	width: 66.15px;
	height: 63px;
}

.svg-icon--site_4 {
	@extend %svg-common;
	background-position: 80.73947368421052% 32.02023121387283%;
}

.svg-icon--site_4-dims {
	width: 73px;
	height: 63px;
}

.svg-icon--smm {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon--smm-dims {
	width: 111px;
	height: 91.68px;
}

.svg-icon--smm_1 {
	@extend %svg-common;
	background-position: 77.51663291871564% 79.95128939828079%;
}

.svg-icon--smm_1-dims {
	width: 38.16px;
	height: 60px;
}

.svg-icon--smm_2 {
	@extend %svg-common;
	background-position: 45.60559796437659% 98.0028653295129%;
}

.svg-icon--smm_2-dims {
	width: 60px;
	height: 60px;
}

.svg-icon--smm_3 {
	@extend %svg-common;
	background-position: 81.38196286472149% 0;
}

.svg-icon--smm_3-dims {
	width: 76px;
	height: 52.87px;
}

