%svg-common {
	background: url("../img/sprite/view/svg/_sprite.svg") no-repeat;
}

.svg-icon--ad {
	@extend %svg-common;
	background-position: 32.26744186046512% 0;
}

.svg-icon--ad-dims {
	width: 101px;
	height: 93px;
}

.svg-icon--ad_1 {
	@extend %svg-common;
	background-position: 82.4758064516129% 16.407932011331443%;
}

.svg-icon--ad_1-dims {
	width: 73px;
	height: 63px;
}

.svg-icon--ad_2 {
	@extend %svg-common;
	background-position: 53.239443993612745% 78.9402212351826%;
}

.svg-icon--ad_2-dims {
	width: 62.99px;
	height: 62.53px;
}

.svg-icon--ad_3 {
	@extend %svg-common;
	background-position: 0 80.60257669420531%;
}

.svg-icon--ad_3-dims {
	width: 70.14px;
	height: 69.82px;
}

.svg-icon--ad_4 {
	@extend %svg-common;
	background-position: 59.73008762291156% 26.858356940509914%;
}

.svg-icon--ad_4-dims {
	width: 90.07px;
	height: 63px;
}

.svg-icon--ad_5 {
	@extend %svg-common;
	background-position: 69.26437319603713% 78.40123630233211%;
}

.svg-icon--ad_5-dims {
	width: 60.43px;
	height: 60.1px;
}

.svg-icon--ad_6 {
	@extend %svg-common;
	background-position: 99.92931937172774% 0;
}

.svg-icon--ad_6-dims {
	width: 63px;
	height: 70px;
}

.svg-icon--brand {
	@extend %svg-common;
	background-position: 60.53856477911991% 0;
}

.svg-icon--brand-dims {
	width: 94.81px;
	height: 94.81px;
}

.svg-icon--brand_1 {
	@extend %svg-common;
	background-position: 0 99.79688751573407%;
}

.svg-icon--brand_1-dims {
	width: 64.45px;
	height: 66.44px;
}

.svg-icon--brand_2 {
	@extend %svg-common;
	background-position: 98.25992947051404% 58.285714285714285%;
}

.svg-icon--brand_2-dims {
	width: 56.51px;
	height: 66px;
}

.svg-icon--brand_3 {
	@extend %svg-common;
	background-position: 82.90369649805447% 0;
}

.svg-icon--brand_3-dims {
	width: 74.92px;
	height: 57.92px;
}

.svg-icon--brand_4 {
	@extend %svg-common;
	background-position: 98.38655635454522% 39.42857142857143%;
}

.svg-icon--brand_4-dims {
	width: 57.01px;
	height: 66px;
}

.svg-icon--consult {
	@extend %svg-common;
	background-position: 24.602900093122255% 57.30420752140996%;
}

.svg-icon--consult-dims {
	width: 69.15px;
	height: 93.72px;
}

.svg-icon--consult_1 {
	@extend %svg-common;
	background-position: 31.053294167016368% 24.935649935649938%;
}

.svg-icon--consult_1-dims {
	width: 87.55px;
	height: 43.04px;
}

.svg-icon--consult_2 {
	@extend %svg-common;
	background-position: 18.559974597126303% 79.7023622497072%;
}

.svg-icon--consult_2-dims {
	width: 67.09px;
	height: 65.91px;
}

.svg-icon--consult_3 {
	@extend %svg-common;
	background-position: 98.63824289405684% 20.114942528735632%;
}

.svg-icon--consult_3-dims {
	width: 58px;
	height: 68px;
}

.svg-icon--consult_4 {
	@extend %svg-common;
	background-position: 98.38655635454522% 77.01962574167047%;
}

.svg-icon--consult_4-dims {
	width: 57.01px;
	height: 65.44px;
}

.svg-icon--linkedin {
	@extend %svg-common;
	background-position: 60.26375855947248% 50.459016393442624%;
}

.svg-icon--linkedin-dims {
	width: 50.7px;
	height: 50px;
}

.svg-icon--mobile {
	@extend %svg-common;
	background-position: 0 57.41644644800249%;
}

.svg-icon--mobile-dims {
	width: 92.47px;
	height: 94.35px;
}

.svg-icon--mobile_1 {
	@extend %svg-common;
	background-position: 61.64795918367347% 97.34896051346449%;
}

.svg-icon--mobile_1-dims {
	width: 53px;
	height: 57.65px;
}

.svg-icon--mobile_2 {
	@extend %svg-common;
	background-position: 48.25954198473283% 97.84041508904781%;
}

.svg-icon--mobile_2-dims {
	width: 52px;
	height: 59.45px;
}

.svg-icon--site {
	@extend %svg-common;
	background-position: 0 28.38390092879257%;
}

.svg-icon--site-dims {
	width: 108px;
	height: 93px;
}

.svg-icon--site_1 {
	@extend %svg-common;
	background-position: 16.96990442086416% 99.35066784381853%;
}

.svg-icon--site_1-dims {
	width: 65.21px;
	height: 64.87px;
}

.svg-icon--site_2 {
	@extend %svg-common;
	background-position: 82.03475935828877% 52.10198300283286%;
}

.svg-icon--site_2-dims {
	width: 71px;
	height: 63px;
}

.svg-icon--site_3 {
	@extend %svg-common;
	background-position: 36.22277946416788% 79.04532577903682%;
}

.svg-icon--site_3-dims {
	width: 66.15px;
	height: 63px;
}

.svg-icon--site_4 {
	@extend %svg-common;
	background-position: 82.4758064516129% 34.25495750708215%;
}

.svg-icon--site_4-dims {
	width: 73px;
	height: 63px;
}

.svg-icon--smm {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-icon--smm-dims {
	width: 111px;
	height: 91.68px;
}

.svg-icon--smm_1 {
	@extend %svg-common;
	background-position: 80.32641824795988% 78.37921348314606%;
}

.svg-icon--smm_1-dims {
	width: 38.16px;
	height: 60px;
}

.svg-icon--smm_2 {
	@extend %svg-common;
	background-position: 33.67792207792208% 97.99157303370787%;
}

.svg-icon--smm_2-dims {
	width: 60px;
	height: 60px;
}

.svg-icon--smm_3 {
	@extend %svg-common;
	background-position: 43.799457994579946% 50.85781951367279%;
}

.svg-icon--smm_3-dims {
	width: 76px;
	height: 52.87px;
}

