@import "bourbon"

$default-font: "Raleway", sans-serif
$accentGreen: #05d8a5
$accentBlue: #2962ff

@mixin btn-radius($radius)
	border-top-right-radius: $radius
	border-bottom-right-radius: $radius
	border-bottom-left-radius: $radius
	border-top-left-radius: $radius