#banner-learn
	background: url(../img/banner-bg.jpg) center no-repeat
	color: #fff
	padding: 90px 0
	.content
		display: flex
		justify-content: space-between
		align-items: center
	h3
		font-size: 36px
	.clarify
		opacity: .8
		font-size: 21px
		margin-top: 40px
	.btn
		padding: 0 90px
		line-height: 65px
		font-size: 18px