#prices
	padding: 100px 0 160px
	background-color: #eef0f7
	h2+.clarify
		max-width: 1050px
		font-size: 21px
		color: #333
		line-height: 1.4em
		margin-top: 40px
		p:not(:first-child)
			margin-top: 40px
	.prices-list
		margin-top: 60px
		>ul>li:not(:first-child)
			margin-top: 30px
	.tarif
		display: flex
		justify-content: flex-start
		background-color: #fff
		box-shadow: 0 6px 15px rgba(196, 196, 196, 0.35)
	.tarif-1
		.price-title
			background-color: #0440a0
	.tarif-2
		.price-title
			background-color: #0581d8
	.tarif-3
		.price-title
			background-color: #05d8a5
	.price-title
		text-align: center
		color: #fff
		padding: 70px  60px
		display: flex
		justify-content: center
		align-items: center
		flex-direction: column
		width: 420px
		min-width: 420px
		.btn-wrap
			margin-top: 50px
		.btn:before
			box-shadow: 0 0 1px 1px rgba(255,255,255, .7)
		.btn
			background-color: transparent
			box-shadow: 0 0 0 2px #fff
			font-size: 15px
			padding: 0 45px
		.caption
			font-size: 30px
			font-weight: 700
	.tarif-price
		font-size: 30px
		margin-top: 30px
		font-weight: 700
		line-height: 1em
		>p
			display: inline-block
			position: relative
			padding-left: 30px
			background: url(../img/green-coin.png) left center no-repeat
		.notion
			font-weight: 300
			font-size: 16px
			margin-top: 5px
	.tarif-price.white-coin
		>p
			background: url(../img/coin-white.png) 30px 5px no-repeat
.price-info
	padding: 50px 100px
	display: flex
	justify-content: center
	flex-direction: column
	font-size: 15px
	width: 100%
	color: #333
	li
		position: relative
	li:before
		font-weight: 300
		content: '—'
		height: 1px
		line-height: 0em
		top: 10px

		left: -20px
		position: absolute

	li:not(:first-child)
		margin-top: 10px
	.caption
		font-weight: 700
	