<!DOCTYPE html>
html
	head
		meta(charset="utf-8")

		title Title
		meta(name="description" content="")

		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		meta(property="og:image" content="path/to/image.jpg")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="css/owl.theme.default.min.css")
		link(rel="stylesheet", href="css/ion.rangeSlider.css")
		link(rel="stylesheet", href="css/ion.rangeSlider.skinHTML5.css")
		link(rel="stylesheet" href="css/jquery.formstyler.css")
		link(rel="stylesheet" href="css/main.css")

		<!-- Chrome, Firefox OS and Opera -->
		meta(name="theme-color" content="#000")
		<!-- Windows Phone -->
		meta(name="msapplication-navbutton-color" content="#000")
		<!-- iOS Safari -->
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
	body
		header
			.content
				.logo
					.logo-main
						img(src="img/logo-mi.png", alt="")
					.logo-notion
						p Официальный дистрибьютор фирмы «1С»
						p в Республике Беларусь
				nav
					.mobile-menu
						div
					ul
						li
							a(href="#") Возможности продукта
						li
							a(href="#") О компании
						li
							a(href="#") Кейсы
						li
							a(href="#") Стоимость
						li
							a(href="#") Контакты
						li.nav-phone
							a(href="tel:+375333829194") +375 33 3829194
						li.nav-order.to-order
							a.btn.link(href="#") Заказать внедрение
		section#top-sec
			.plus
			.plus
			.plus
			.circle_small
			.circle_small
			.circle_small
			.circle_big
			.circle_big
			.content
				h1
					p «1C:Управление торговлей»
					p внедрение под 
				.clarify
					p Организуйте эффективную работу склада, отделов закупок, продаж, маркетинга и сервисного обслуживания на всех этапах работы с клиентами.
				.btns
					a.btn.link.to-order(href="#") Заказать внедрение
					a.btn.link.to-try(href="#") Попробовать бесплатно
				.animation-top
					.center-circle
						img(src="img/1c-logo.png", alt="")
					.top-anim-1-icon.anim
						img(src="img/top-animation-1-icon.png", alt="")
					.top-anim-2-icon.anim
						img(src="img/top-animation-2-icon.png", alt="")
					.top-anim-3-icon.anim
						img(src="img/top-animation-3-icon.png", alt="")
					.top-anim-4-icon.anim
						img(src="img/top-animation-4-icon.png", alt="")
					.top-anim-5-icon.anim
						img(src="img/top-animation-5-icon.png", alt="")
					.perhot-2
						img(src="img/perhot-2.png", alt="")
					.perhot-4
						img(src="img/perhot-4.png", alt="")
					.perhot-6
						img(src="img/perhot-6.png", alt="")
					.perhot-8
						img(src="img/perhot-8.png", alt="")
					.perhot-10
						img(src="img/perhot-10.png", alt="")
					.inside-circle
						.perhot-1
							img(src="img/perhot-1.png", alt="")
						.perhot-3
							img(src="img/perhot-3.png", alt="")
						.perhot-5
							img(src="img/perhot-5.png", alt="")
						.perhot-7
							img(src="img/perhot-7.png", alt="")
						.perhot-9
							img(src="img/perhot-9.png", alt="")
		section#opportunities
			.content
				.cards
					ul
						li
							.card-icon
								img(src="img/svg/teaser-1.svg", alt="")
							.card-notion
								p Увеличивайте ваши продажи при помощи CRM.
						li
							.card-icon
								img(src="img/svg/teaser-2.svg", alt="")
							.card-notion
								p Минимизируйте дебиторскую задолженность.
						li
							.card-icon
								img(src="img/svg/teaser-3.svg", alt="")
							.card-notion
								p Контролируйте доходы/расходы и управленческий баланс
						li
							.card-icon
								img(src="img/svg/teaser-4.svg", alt="")
							.card-notion
								p Получайте подробную аналитику
				h2 Возможности продукта
				.clarify
					p «1С:Управление торговлей» позволяют автоматизировать и контролировать большинство задача компании, занимающейся продажей товаров или оказанием услуг
				.mobile-slider
					ul
						li
							.close
							.caption
								p CRM и маркетинг
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Продажи и доставка
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Закупки, импорт
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Складской учет
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Цены и скидки
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Финансы, банк, касса
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Розничные продажи
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Аналитические отчёты
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Дополнения от МиСофт
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
				.oppo-slider
					#oppo-links
						div.active
							p CRM и маркетинг
						div
							p Продажи и доставка
						div
							p Закупки, импорт
						div
							p Складской учет
						div
							p Цены и скидки
						div
							p Финансы, банк, касса
						div
							p Розничные продажи
						div
							p Аналитические отчёты
						div
							p Дополнения от МиСофт
					.carousel-wrap
						.owl-carousel
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/1-1.svg", alt="")
										.slide-ft-txt
											p База клиентов
									li
										.slide-img
											img(src="img/svg/about_product/1-2.svg", alt="")
										.slide-ft-txt
											p Воронка продаж
									li
										.slide-img
											img(src="img/svg/about_product/1-3.svg", alt="")
										.slide-ft-txt
											p ABC и XYZ анализ
									li
										.slide-img
											img(src="img/svg/about_product/1-4.svg", alt="")
										.slide-ft-txt
											p Коммерческие предложения
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/2-1.svg", alt="")
										.slide-ft-txt
											p Выставление счетов
									li
										.slide-img
											img(src="img/svg/about_product/2-2.svg", alt="")
										.slide-ft-txt
											p Резервирование товаров
									li
										.slide-img
											img(src="img/svg/about_product/2-3.svg", alt="")
										.slide-ft-txt
											p Доставка товаров
									li
										.slide-img
											img(src="img/svg/about_product/2-4.svg", alt="")
										.slide-ft-txt
											p Печать накладных
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/3-1.svg", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/svg/about_product/3-2.svg", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/svg/about_product/3-3.svg", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/svg/about_product/3-4.svg", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/4-1.svg", alt="")
										.slide-ft-txt
											p Остатки товаров и резервы
									li
										.slide-img
											img(src="img/svg/about_product/4-2.svg", alt="")
										.slide-ft-txt
											p Ячеистый склад WMS
									li
										.slide-img
											img(src="img/svg/about_product/4-3.svg", alt="")
										.slide-ft-txt
											p Ордерный склад
									li
										.slide-img
											img(src="img/svg/about_product/4-4.svg", alt="")
										.slide-ft-txt
											p Штрихкодирование
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/5-1.svg", alt="")
										.slide-ft-txt
											p Гибкие условия скидок
									li
										.slide-img
											img(src="img/svg/about_product/5-2.svg", alt="")
										.slide-ft-txt
											p Множество видов цен, акции
									li
										.slide-img
											img(src="img/svg/about_product/5-3.svg", alt="")
										.slide-ft-txt
											p Графики оплат
									li
										.slide-img
											img(src="img/svg/about_product/5-4.svg", alt="")
										.slide-ft-txt
											p Сегментирование клиентов
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/6-1.svg", alt="")
										.slide-ft-txt
											p Платежный календарь
									li
										.slide-img
											img(src="img/svg/about_product/6-2.svg", alt="")
										.slide-ft-txt
											p Анализ дебиторской задолженности
									li
										.slide-img
											img(src="img/svg/about_product/6-3.svg", alt="")
										.slide-ft-txt
											p Заявки на расходование денежных средств
									li
										.slide-img
											img(src="img/svg/about_product/6-4.svg", alt="")
										.slide-ft-txt
											p Наличные и безналичные платежи
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/7-1.svg", alt="")
										.slide-ft-txt
											p Карты лояльности
									li
										.slide-img
											img(src="img/svg/about_product/7-2.svg", alt="")
										.slide-ft-txt
											p Подарочные сертификаты
									li
										.slide-img
											img(src="img/svg/about_product/7-3.svg", alt="")
										.slide-ft-txt
											p Бонусные программы
									li
										.slide-img
											img(src="img/svg/about_product/7-4.svg", alt="")
										.slide-ft-txt
											p Интеграция с оборудованием
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/8-1.svg", alt="")
										.slide-ft-txt
											p Валовая прибыль
									li
										.slide-img
											img(src="img/svg/about_product/8-2.svg", alt="")
										.slide-ft-txt
											p Управленческий баланс
									li
										.slide-img
											img(src="img/svg/about_product/8-3.svg", alt="")
										.slide-ft-txt
											p Дебиторская задолженность
									li
										.slide-img
											img(src="img/svg/about_product/8-4.svg", alt="")
										.slide-ft-txt
											p Затраты и себестоимость
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/9-1.svg", alt="")
										.slide-ft-txt
											p Загрузчик остатков изExcel
									li
										.slide-img
											img(src="img/svg/about_product/9-2.svg", alt="")
										.slide-ft-txt
											p Печать договоров из MS Word
									li
										.slide-img
											img(src="img/svg/about_product/9-3.svg", alt="")
										.slide-ft-txt
											p Сбор дебиторской задолженности
									li
										.slide-img
											img(src="img/svg/about_product/9-4.svg", alt="")
										.slide-ft-txt
											p Расширенная отчетность
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
				h3 Интеграция и совместимость
				.clarify
					p Программа построена на современной платформе «1С:Предприятие 8». Она позволяет работать одновременно большому количеству пользователей и подключать различные системы и оборудование
				.integr-spis
					ul
						li
							.integr-icon
								img(src="img/svg/integration-1.svg", alt="")
							.integr-clarify
								.integr-caption
									p 1C бухгалтерия
								.integr-txt
									p полноценный обмен документами и справочниками с бухгалтерией
						li
							.integr-icon
								img(src="img/svg/integration-2.svg", alt="")
							.integr-clarify
								.integr-caption
									p Web и mobile
								.integr-txt
									p интеграция с мобильными приложениями,
									p web-клиент
						li
							.integr-icon
								img(src="img/svg/integration-3.svg", alt="")
							.integr-clarify
								.integr-caption
									p Интеграция с "1C-Битрикс"
								.integr-txt
									p обмен с интернет-магазином
						li
							.integr-icon
								img(src="img/svg/integration-4.svg", alt="")
							.integr-clarify
								.integr-caption
									p Оборудование
								.integr-txt
									p терминалы сбора данных, сканеры штрих-кодов и т.д.
		section#for-whom
			.content
				h2 Для кого подходит
				.mobile-links
					ul
						li
							.caption.btn
								.close
								p Запуск нового бизнеса
							.drop-content
								ul
									li
										.tab-img
											img(src="img/svg/users/user-1-1.svg", alt="")
										.tab-txt
											.tab-caption
												p Вы хотите быстро начать работать
											.tab-txt
												p Мы можем настроить и запустить систему в работу за несколько недель, в том числе и перенести данные.
									li
										.tab-img
											img(src="img/svg/users/user-1-2.svg", alt="")
										.tab-txt
											.tab-caption
												p Вы хотите быстро начать работать
											.tab-txt
												p Мы можем настроить и запустить систему в работу за несколько недель, в том числе и перенести данные.
									li
										.tab-img
											img(src="img/svg/users/user-1-3.svg", alt="")
										.tab-txt
											.tab-caption
												p Вы не готовы делать большие вложения
											.tab-txt
												p Стартуйте только с необходимыми функциями - остальное можно легко подключить позже.
						li
							.caption.btn
								.close
								p Развивающийся бизнес
							.drop-content
								ul
									li
										.tab-img
											img(src="img/svg/users/user-2-1.svg", alt="")
										.tab-txt
											.tab-caption
												p Информация теряется и забывается
											.tab-txt
												p Сведите работу сотрудников в единую систему со сквозной отчетностью, едиными справочниками и документами.
									li
										.tab-img
											img(src="img/svg/users/user-2-2.svg", alt="")
										.tab-txt
											.tab-caption
												p Тяжело контролировать работу сотрудников
											.tab-txt
												p Вы сможете оперативно увидеть состояние дел в вашей компании при помощи отчетов, проанализировать, что происходит с заказами, товаром и деньгами.
									li
										.tab-img
											img(src="img/svg/users/user-2-3.svg", alt="")
										.tab-txt
											.tab-caption
												p Тяжело контролировать работу сотрудников
											.tab-txt
												p Вы сможете оперативно увидеть состояние дел в вашей компании при помощи отчетов, проанализировать, что происходит с заказами, товаром и деньгами
						li
							.caption.btn
								.close
								p Опытные игроки рынка
							.drop-content
								ul
									li
										.tab-img
											img(src="img/svg/users/user-3-1.svg", alt="")
										.tab-txt
											.tab-caption
												p Ваша система работает медленно
											.tab-txt
												p Новая платформа 1С:8 работает быстро и устойчиво даже при десятках тысяч операций в день и сотнях одновременно работающих пользователей.
									li
										.tab-img
											img(src="img/svg/users/user-3-2.svg", alt="")
										.tab-txt
											.tab-caption
												p Вашу систему тяжело развивать
											.tab-txt
												p За годы развития 1С в её «коробочных» версиях появилось то, что раньше дорабатывалось программистами. Многие компании используют её в «коробочном» варианте без каких-либо доработок.
									li
										.tab-img
											img(src="img/svg/users/user-3-3.svg", alt="")
										.tab-txt
											.tab-caption
												p Вам нужны новые возможности
											.tab-txt
												p 1С:Управление торговлей - современная система, разработанная по передовым технологиям. Теперь работать в 1С стало намного проще и удобней
				ul.tab-links
					li.btn.active
						.caption.btn
							p Запуск нового бизнеса
					li.btn
						.caption.btn
							p Развивающийся бизнес
					li.btn
						.caption.btn
							p Опытные игроки рынка
				.tab-box
					.tab-content.active
						ul
							li
								.tab-img
									img(src="img/svg/users/user-1-1.svg", alt="")
								.tab-caption
									p Вы хотите быстро начать работать
								.tab-txt
									p Мы можем настроить и запустить систему в работу за несколько недель, в том числе и перенести данные.
							li
								.tab-img
									img(src="img/svg/users/user-1-2.svg", alt="")
								.tab-caption
									p Вы хотите быстро начать работать
								.tab-txt
									p Мы можем развернуть вашу систему в облаке. Вам не придется думать о покупке «железа» и его обслуживании.
							li
								.tab-img
									img(src="img/svg/users/user-1-3.svg", alt="")
								.tab-caption
									p Вы не готовы делать большие вложения
								.tab-txt
									p Стартуйте только с необходимыми функциями - остальное можно легко подключить позже.
					.tab-content
						ul
							li
								.tab-img
									img(src="img/svg/users/user-2-1.svg", alt="")
								.tab-caption
									p Информация теряется и забывается
								.tab-txt
									p Сведите работу сотрудников в единую систему со сквозной отчетностью, едиными справочниками и документами.
							li
								.tab-img
									img(src="img/svg/users/user-2-2.svg", alt="")
								.tab-caption
									p Тяжело контролировать работу сотрудников
								.tab-txt
									p Вы сможете оперативно увидеть состояние дел в вашей компании при помощи отчетов, проанализировать, что происходит с заказами, товаром и деньгами.
							li
								.tab-img
									img(src="img/svg/users/user-2-3.svg", alt="")
								.tab-caption
									p Тяжело контролировать работу сотрудников
								.tab-txt
									p Вы сможете оперативно увидеть состояние дел в вашей компании при помощи отчетов, проанализировать, что происходит с заказами, товаром и деньгами
					.tab-content
						ul
							li
								.tab-img
									img(src="img/svg/users/user-3-1.svg", alt="")
								.tab-caption
									p Ваша система работает медленно
								.tab-txt
									p Новая платформа 1С:8 работает быстро и устойчиво даже при десятках тысяч операций в день и сотнях одновременно работающих пользователей.
							li
								.tab-img
									img(src="img/svg/users/user-3-2.svg", alt="")
								.tab-caption
									p Вашу систему тяжело развивать
								.tab-txt
									p За годы развития 1С в её «коробочных» версиях появилось то, что раньше дорабатывалось программистами. Многие компании используют её в «коробочном» варианте без каких-либо доработок.
							li
								.tab-img
									img(src="img/svg/users/user-3-3.svg", alt="")
								.tab-caption
									p Вам нужны новые возможности
								.tab-txt
									p 1С:Управление торговлей - современная система, разработанная по передовым технологиям. Теперь работать в 1С стало намного проще и удобней.
				.btns
					a.btn.to-consult(href="#") Нужна консультация по внедрению?
						p.link Получить консультацию по внедрению
				.big-card-help
					h3 Система помогает вам контролировать и анализировать процессы в компании. 
					.features
						ul
							li
								.check-mark
									img(src="img/svg/checkmark_big.svg", alt="")
								.ft-descr
									.caption
										p Бизнес как на ладони
									.ft-txt
										p Все данные доступны вам в любое время из любой точки мира.
							li
								.check-mark
									img(src="img/svg/checkmark_big.svg", alt="")
								.ft-descr
									.caption
										p Опережение конкурентов
									.ft-txt
										p Вы принимаете взвешенные и обоснованные управленческие решения.
		section#about
			.content
				h2 О компании
				.about-wrap
					.about-box
						p
							span.bold ЗАО «МиСофт НВП»
							|  — официальный дистрибьютор фирмы «1С» в Республике Беларусь. Наша компания уже 
							span.bold 22 года
							|   специализируется на поставке, установке, внедрении и сопровождении автоматизированных систем на основе платформы «1С:Предприятие».
						p Разработки компании «МиСофт» признаны фирмой «1С» как продукты, совместимые с системой программ «1С:Предприятие».
						p Специалисты нашей компании обучены и сертифицированы по соответствующим направлениям и технологиям. Более 
							span.bold 150 сертификатов «1С»
							|  по различным областям деятельности. Уровень подготовки сотрудников позволяет решать даже самые сложные задачи автоматизации.
					.about-logo
						img(src="img/logo.png", alt="")
						.logo-clarify
							p Официальный дистрибьютор фирмы "1C"
							p в Республике Беларусь
							p ISO 9001:2008 
				.about-cards
					ul
						li
							.about-card-wrap
								.about-card-img
									img(src="img/about-card-1.png", alt="")
								.about-card-txt
									p «МиСофт» обладает соответствующим опытом и компетенциями для выпуска, развития и сопровождения тиражных решений на платформе «1С:Предприятие».
						li
							.about-card-wrap
								.about-card-img
									img(src="img/about-card-2.jpg", alt="")
								.about-card-txt
									p Наш учебный центр и преподаватели сертифицированы фирмой «1С», и имеют право обучения пользователей и программистов «1С».
						li
							.about-card-wrap
								.about-card-img
									img(src="img/about-card-3.jpg", alt="")
								.about-card-txt
									p Система менеджмента качества "МиСофт" соответствует требованиям международного стандарта ISO 9001:2008.
				.why-us
					h3 Почему выбирают нас
					ul
						li
							.why-us-img
								img(src="img/svg/about-1.svg", alt="")
							.why-us-txt
								.caption.bold
									p Опыт
								p У нас накоплен опыт внедрения в различных отраслях, мы знакомы с их спецификой
						li
							.why-us-img
								img(src="img/svg/about-3.svg", alt="")
							.why-us-txt
								.caption.bold
									p Квалификация
								p У нас накоплен опыт внедрения в различных отраслях, мы знакомы с их спецификой
						li
							.why-us-img
								img(src="img/svg/about-2.svg", alt="")
							.why-us-txt
								.caption.bold
									p Скорость
								p У нас накоплен опыт внедрения в различных отраслях, мы знакомы с их спецификой
						li
							.why-us-img
								img(src="img/svg/about-4.svg", alt="")
							.why-us-txt
								.caption.bold
									p Надёжность
								p У нас накоплен опыт внедрения в различных отраслях, мы знакомы с их спецификой
		section#cases
			.content
				h2 Кейсы
				.clarify
					p Наше решение используют 17 935 пользователей, в более чем 900 компаний
				.cases-cards
					ul#myList
						li
							.case-logo
								img(src="img/case-1-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Юнитаргет»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-2-logo.png", alt="")
							.case-txt
								.caption
									p Schneider Electric
								p Мировой эксперт в управлении энергией и автоматизации для энергетики, предприятий, центров обработки данных.
							.case-users
								p Решение для 
									span.bold 30 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-1-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Юнитаргет»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-2-logo.png", alt="")
							.case-txt
								.caption
									p Schneider Electric
								p Мировой эксперт в управлении энергией и автоматизации для энергетики, предприятий, центров обработки данных.
							.case-users
								p Решение для 
									span.bold 30 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
					.more-cases
						a.btn#loadMore(href="#loadMore") Показать ещё 
							span#quant-case
							| 
							span#case-word 
						a.btn#showLess(href="#showLess") Скрыть 6 кейсов
		section#our-clients
			.content
				h2 Наши клиенты — компании из самых разных отраслей
				.industries
					ul
						li
							.ind-icon
								img(src="img/svg/industry-1.svg", alt="")
							.ind-txt
								p Алкогольная продукция
						li
							.ind-icon
								img(src="img/svg/industry-2.svg", alt="")
							.ind-txt
								p Продукты питания
						li
							.ind-icon
								img(src="img/svg/industry-3.svg", alt="")
							.ind-txt
								p Электрооборудование
						li
							.ind-icon
								img(src="img/svg/industry-4.svg", alt="")
							.ind-txt
								p Обувь
						li
							.ind-icon
								img(src="img/svg/industry-5.svg", alt="")
							.ind-txt
								p Строительные материалы
						li
							.ind-icon
								img(src="img/svg/industry-6.svg", alt="")
							.ind-txt
								p Напольные покрытия
						li
							.ind-icon
								img(src="img/svg/industry-7.svg", alt="")
							.ind-txt
								p Межкомнатные двери
						li
							.ind-icon
								img(src="img/svg/industry-8.svg", alt="")
							.ind-txt
								p Запасные части
						li
							.ind-icon
								img(src="img/svg/industry-9.svg", alt="")
							.ind-txt
								p Товары легкой промышленности
		section#price
			.content
				h2 Стоимость лицензии
				.clarify
					p Стоимость складывается из базовой лицензии «1С:Управление торговлей» плюс количество пользователь, плюс вид сервера
				.form-price
					form(action="")
						ul.price-steps
							li
								.caption
									p Лицензия
								.step-notion
									p «1С:Управление торговлей» для 1 пользователя
									p.price(data-license-price="702") 702,00 руб

							li
								.top-line-server
									.caption
										p Дополнительные пользователи
									a(href="#").link.server-faq-link Для чего и какой нужен сервер?
								.range-slider
									input#range-slider(type='text' name='xtra-users' value='' data-count-users="0")
							li
								.caption
									p Сервер (опционально)
								ul.server-options
									li.active
										.checkbox
											input#server-1-prop(type="checkbox").active
											label(for="server-1-prop")
										.option-txt
											p.bold До 5 пользователей
											p.price(data-5users-price="580.8") 580,80 руб.
									li
										.checkbox
											input#server-2-prop(type="checkbox")
											label(for="server-2-prop")
										.option-txt
											p.bold Безлимит. 32 бита
											p.price(data-unlim32-price="2032.2") 2 032,20 руб.
									li
										.checkbox
											input#server-3-prop(type="checkbox")
											label(for="server-3-prop")
										.option-txt
											p.bold Безлимит. 64 бита
											p.price(data-unlim64-price="3483.6") 3 483,60 руб.
						.form-check
							.bottom-white
							ul
								li.product
									.caption
										p Продукт
									.product-box
										.product-notion
											p «1С:Управление торговлей»
										.product-price
											p 702,00
								li.xtra-users
									.caption
										p Дополнительные пользователи
									.product-box
										.product-notion(data-xtra-users-qnt="5")
											p 5 человек
										.product-price(data-xtra-users-price="870,90")
											p
								li.server
									.caption
										p Сервер
									.product-box
										.product-notion(data-server-kind="under5")
											p До 5 пользователей
										#server-price.product-price(data-server-price="580.8")
											p 580,80
							.total(data-total="")
								p
									span#total-price
									|  руб
							.order-btn
								a.link.btn(href="#") Заказать внедрение
				.faq
					.faq-txt
						.faq-ask-wrap.owl-carousel
							.faq-ask
								.caption
									p А если мне нужно 11 лицензий?
								p Для того что бы не переплачивать за лишних пользователей, вы можете заказать лицензию на 10 пользователей и докупить ещё одну лицензию отдельно.
							.faq-ask
								.caption
									p А если нужно 4 дополнительных пользователя?
								p В этом случае выгоднее купить сразу 5 лицензий (это стоит 870,90 рублей) чем 4 однопользовательские лицензии (4 х 254,10 = 1016,40 рублей). Ваша выгода составит не только 145,50 рублей, но и 1 дополнительный пользователь!
							.faq-ask
								.caption
									p Лицензии покупаются на каждого сотрудника?
								p Нет, лицензии не привязаны к конкретному сотруднику. Они ограничивают количество одновременно работающих пользователей в базе. Если у вас 50 пользователей, но обычно в базе работает 35-40, вы можете купить только 40 лицензий.
							.faq-ask
								.caption
									p У меня есть 1С:7.7, можно принять её в зачет стоимости?
								p Да, это называется «апгрейд». Мы поможем Вам уменьшить стоимость нового программного обеспечения. Вы можете получить скидку вплоть до 50% от стоимости новой программы!
							.faq-ask
								.caption
									p Как еще можно сэкономить?
								p Некоторые продукты продаются выгодными комплектами. Например, если купить «1С:Управление торговлей» и специальный комплект «1С:Бухгалтерия на 5 пользователей», то суммарно это будет дешевле чем приобретение продуктов и лицензий отдельно.
						.get-consult
							a.btn.link.to-consult(href="#") Получить консультацию
		section#technologies
			.content
				h2 Технология внедрения
				.clarify
					p Мы используем отлаженную методику внедрения — от предпроектного обследования до сопровождения
				ul
					li
						.tech-icon
							img(src="img/svg/step-1.svg", alt="")
						.caption
							p Подготовка
						.tech-txt
							p Изучаем особенности вашего бизнеса, принципы работы, требования к системе.
					li
						.tech-icon
							img(src="img/svg/step-3.svg", alt="")
						.caption
							p Програмирование
						.tech-txt
							p Если требуется - изменяем код под специфику вашей компании, добавляем печатные формы, отчеты, меняем интерфейм
					li
						.tech-icon
							img(src="img/svg/step-4.svg", alt="")
						.caption
							p Перенос данных
						.tech-txt
							p Переносим данные из других систем: товары, остатки, клиенты,
							p задолженность и т.д.
					li
						.tech-icon
							img(src="img/svg/step-5.svg", alt="")
						.caption
							p Обучение
						.tech-txt
							p Обучаем пользователей
							p в группах или индивидуально
					li
						.tech-icon
							img(src="img/svg/step-2.svg", alt="")
						.caption
							p Запуск
						.tech-txt
							p Помогаем пользователям
							p осваиваться в новой программе.
							p Оперативно отвечаем на их вопросы и находим решения
					li
						.tech-icon
							img(src="img/svg/step-6.svg", alt="")
						.caption
							p Техническая поддержка
						.tech-txt
							p Поддерживаем работоспособность
							p системы, консультируем пользователей, устанавливаем обновления
		section#try
			.content
				h2 Попробуйте прямо сейчас
				.clarify
					p Вы можете познакомиться с программой самостоятельно, используя нашу облачную версию 1С.
					p Для этого не потребуется что-либо скачивать или устанавливать у себя
					p на компьютере какие-либо программы.
				.btns
					a.try.btn(href="#") Попробовать бесплатно
					a.order.link.btn.to-order(href="#") Заказать внедрение
			.clouds
				.back-cloud
					img(src="img/back-cloud.png", alt="")
				.forward-cloud
					img(src="img/for-clound.png", alt="")
		section#need-help
			.content
				h2 Нужна помощь консультанта с опытом внедрений?
				ul
					li
						.help-icon
							img(src="img/need-help-1.png", alt="")
						.help-txt
							a(href="#") Задать вопрос
					li
						.help-icon
							img(src="img/need-help-2.png", alt="")
						.help-txt
							a(href="tel:+375333829194") +375 33 382-91-94
		section#contacts
			.content
				.contacts-box
					h2 Контакты
					.addr
						.caption
							p Фактический адрес:
						p г. Минск, пр-т Независимости 177, 2-ой подъезд, 6-ой этаж
					.post
						.caption
							p Почтовый адрес:
						p 220125, г. Минск, ул. Шафарнянская, 11, пом.31
					.phones
						.caption
							p Телефоны:
						p +375 (17) 286-35-76 — многоканальный
						p +375 (29) 696-00-29 — Velcom
						p +375 (33) 341-11-79 — МТС
					.email
						.caption
							p E-mail:
						p info@misoft.by
						p hotline@misoft.by — служба техподдержки
			.map
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.2071185383475!2d27.680772515591382!3d53.945828880108955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcecac2e9bfbf%3A0x4392476c7a6fe0f6!2z0L_RgNC-0YHQv9C10LrRgiDQndC10LfQsNCy0LjRgdC40LzQvtGB0YLQuCAxNzcsINCc0LjQvdGB0LosINCR0LXQu9Cw0YDRg9GB0Yw!5e0!3m2!1sru!2sru!4v1489723559723" frameborder="0" style="border:0" allowfullscreen)
		footer
			.content
				.footer-top
					.logo-footer
						img(src="img/logo.png", alt="")
						p Официальный дистрибьютор
						p фирмы “1С” в Республике Беларусь
					.footer-nav
						p Смотрите также:
						ul
							li
								a(href="#") МиСофт
							li
								a(href="") 1С-УСН
							li
								a(href="") 1С-ОБЩЕПИТ
							li
								a(href="") 1С-ТРАНСПОРТ
							li
								a(href="") 1С-СТРОИТЕЛЬСТВО
					.footer-social
						ul
							li.facebook
								a(href="#")
							li.vk
								a(href="#")
							li.twitter
								a(href="#")
									p t
				.footer-bottom
					.copyright
						p © 1995-2017
					.made-by
						a(href="#")
							p Дизайн и разработка:
							img(src="img/namba-logo.png", alt="")
							p Nambawan
		.pop-up-case-wrap.pop-up-wrap
			.pop-up-case.pop-up
				.close
					img(src="img/close.png", alt="")
				.pop-case-descr
					.case-descr-txt
						h3 Кейс: Schneider Electric
						p Была поставлена задача запуска новой системы для автоматизации операций закупки, растаможки, складского учета, продаж, ценообразования и скидок, а также для тесной интеграции с интернет-магазином.
						p После анализа бизнес-процессов предприятия было решено внедрять максимально «типовой» продукт с минимальными его доработками.Программа была полностью настроена под особенности бизнеса, проведено обучение, настроена отчетность для анализа данных и принятия управленческих решений.
						p Интересной особенностью проекта была задача загрузки большой базы товаров с разноплановыми характеристиками, изображений товаров, штрихкодов, а также последующая их актуализация. Наши специалисты разработали универсальный механизм, который позволил пользователям делать это с минимальными затратами времени и усилий и не зависеть от формата входящего файла с данными.
						p Сейчас программа помогает контролировать весь цикл продажи и взаиморасчетов с клиентами, движение товаров от закупки до отгрузки и доставки.
					.case-descr-label
						.case-logo
							img(src="img/case-1-logo.png", alt="")
						.case-label-notion
							p Мировой эксперт в управлении энергией и автоматизации для энергетики, предприятий, центров обработки данных.
						.for-users
							p Решение для 
								span.bold 30 пользователей
				.pop-case-form
					h3 У вас похожая задача?
					.clarify
						p Оставьте контакты и получите коммерческое предложение для вашей компании.
					form(action="")
						.name
							label(for="") Ваше имя
							input(type="text" placeholder="Иван Иванович")
						.phone
							label(for="") Телефон
							input(type="tel" placeholder="Для савязи с Вами")
						.email
							label(for="") Email
							input(type="email" placeholder="Вышлем необходимые материалы")
						.comment
							label(for="") Комментарий
							textarea(placeholder="Расскажите о вашей задаче")
						button.btn Отправить
		.pop-up-consult-wrap.pop-up-wrap
			#pop-up-consult.pop-up
				.close
					img(src="img/close.png", alt="")
				h3 Бесплатная консультация
				.clarify
					p Опишите вашу задачу и наши
					p специалисты подготовят решение
				form(action="")
					.name
						label(for="") Ваше имя
						input(type="text" placeholder="Иван Иванович")
					.phone
						label(for="") Телефон
						input(type="tel" placeholder="Для связи с вами")
					.email
						label(for="") Email
						input(type="email" placeholder="Вышлем необходимые материалы")
					.comment
						label(for="") Комментарий
						textarea(placeholder="Расскажите о вашей задаче")
					button.btn Отправить
		.pop-up-order-wrap.pop-up-wrap
			#pop-up-order.pop-up
				.close
					img(src="img/close.png", alt="")
				h3 Заказать внедрение
				.clarify
					p Опишите вашу задачу и наши
					p специалисты подготовят решение
				form(action="")
					.name
						label(for="") Ваше имя
						input(type="text" placeholder="Иван Иванович")
					.phone
						label(for="") Телефон
						input(type="tel" placeholder="Для связи с вами")
					.email
						label(for="") Email
						input(type="email" placeholder="Вышлем необходимые материалы")
					.comment
						label(for="") Комментарий
						textarea(placeholder="Расскажите о вашей задаче")
					button.btn Отправить
		.pop-up-server-wrap.pop-up-wrap
			#pop-up-server.pop-up
				.close
					img(src="img/close.png", alt="")
				h3 Сервер МИНИ на 5 подключений
				p Данный продукт представляет собой сервер, который обеспечивает запуск не более пяти сеансов пользователей в режиме "1С:Предприятие" и еще одного сеанса в режиме "Конфигуратор" (всего шесть подключений). Данный сервер предназначен для использования с платформой "1С:Предприятие" версии 8.3.4 и выше.
				p Его можно рекомендовать, например, для автоматизации кассового терминала, где необходимо обеспечить повышенный уровень отказоустойчивости, а также небольшого офиса или торговой точки с количеством рабочих мест не более пяти.
				h3 Отличия 1С:Сервера 32 бит и 64 бит
				p Основным преимуществом 64-разрядного сервера 1С:Предприятия 8 является возможность использования практически неограниченного адресного пространства, выделяемого рабочему процессу. Это позволяет полностью использовать возможности современных серверов.
				p Серверу х32 доступно до 2 Гб адресного пространства на один рабочий процесс. А это значит, что при исполнении тяжелых операций (например, обмен данными или формирование аналитического отчета) сервер просто может отказаться их исполнять, поскольку его ресурсы ограничены. У сервера х64 этого ограничения нет. За счет этого сервер х64 получает следующие преимущества:
				ul
					li
						p Существенно больший предел масштабируемости. Сервер х64 стабильно выдержит большее увеличение нагрузки на систему (увеличение количества одновременно работающих пользователей, повышение интенсивности работы и т.п.).
					li
						p Больший срок работы без перезагрузки. При определенной интенсивности работы сервер х32 может требовать периодической перезагрузки для исключения эффекта фрагментации памяти. Сервер х64 может работать без перезагрузки весьма длительное время.
					li
						p Лучшая утилизация оперативной памяти компьютера, на котором работает сервер 1С:Предприятия. Одному рабочему процессу сервера х32 доступно 2 Гб адресного пространства. Если на компьютере установлен больший объем оперативной памяти, то для ее использования необходимо будет создать соответствующее количество рабочих процессов. Сервер х64 может использовать практически неограниченный объем оперативной памяти единственным рабочим процессом.
				p Других заметных отличий (в том числе по производительности) между х32 и х64 нет. Однозначный выбор можно произвести в ходе практической работы. Например, начать работу с 32-разрядным сервером, а в случае возникновения проблем сделать апгрейд (замену) лицензии на 64-разрядный. Но, к сожалению, на замену лицензий 1С может быть потрачено несколько дней или даже недель.



		script(src="js/jquery.min.js")
		script(src="https://use.fontawesome.com/54268bcde8.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/ion.rangeSlider.min.js")
		script(src="js/jquery.malihu.PageScroll2id.min.js")
		script(src="js/jquery.formstyler.min.js")
		script(src="js/common.js")