<!DOCTYPE html>
html
	head
		meta(charset="utf-8")

		title Title
		meta(name="description" content="")

		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

		meta(property="og:image" content="path/to/image.jpg")
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")

		link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet")

		link(rel="stylesheet", href="css/owl.carousel.min.css")
		link(rel="stylesheet", href="css/owl.theme.default.min.css")
		link(rel="stylesheet", href="css/ion.rangeSlider.css")
		link(rel="stylesheet", href="css/ion.rangeSlider.skinHTML5.css")
		link(rel="stylesheet" href="css/jquery.formstyler.css")
		link(rel="stylesheet" href="css/main.css")

		<!-- Chrome, Firefox OS and Opera -->
		meta(name="theme-color" content="#000")
		<!-- Windows Phone -->
		meta(name="msapplication-navbutton-color" content="#000")
		<!-- iOS Safari -->
		meta(name="apple-mobile-web-app-status-bar-style" content="#000")
	body
		header
			.content
				.logo
					.logo-main
						img(src="img/logo_small.png", alt="")
					.logo-notion
						p Официальный дистрибьютор фирмы «1С»
						p в Республике Беларусь
				nav
					.mobile-menu
						div
					ul
						li
							a(href="#opportunities") Возможности продукта
						li
							a(href="#about") О компании
						li
							a(href="#cases") Кейсы
						li
							a(href="#price") Стоимость
						li
							a(href="#contacts") Контакты
						li.nav-phone
							a(href="tel:+375333829194") +375 33 3829194
						li.nav-order.to-call
							a.btn.link(href="#") Заказать звонок
		section#top-sec
			.plus
			.plus
			.plus
			.circle_small
			.circle_small
			.circle_small
			.circle_big
			.circle_big
			.content
				h1
					p «1C:Управление торговлей»
					p внедрение под 
				.clarify
					p Организуйте эффективную работу склада, отделов закупок, продаж, маркетинга и сервисного обслуживания на всех этапах работы с клиентами.
				.btns
					a.btn.link.to-order(href="#") Заказать внедрение
					a.btn.link.to-try(href="#") Попробовать бесплатно
				.animation-top
					.center-circle
						img(src="img/1c-logo.png", alt="")
					.top-anim-1-icon.anim
						img(src="img/top-animation-1-icon.png", alt="")
					.top-anim-2-icon.anim
						img(src="img/top-animation-2-icon.png", alt="")
					.top-anim-3-icon.anim
						img(src="img/top-animation-3-icon.png", alt="")
					.top-anim-4-icon.anim
						img(src="img/top-animation-4-icon.png", alt="")
					.top-anim-5-icon.anim
						img(src="img/top-animation-5-icon.png", alt="")
					.perhot-2
						img(src="img/perhot-2.png", alt="")
					.perhot-4
						img(src="img/perhot-4.png", alt="")
					.perhot-6
						img(src="img/perhot-6.png", alt="")
					.perhot-8
						img(src="img/perhot-8.png", alt="")
					.perhot-10
						img(src="img/perhot-10.png", alt="")
					.inside-circle
						.perhot-1
							img(src="img/perhot-1.png", alt="")
						.perhot-3
							img(src="img/perhot-3.png", alt="")
						.perhot-5
							img(src="img/perhot-5.png", alt="")
						.perhot-7
							img(src="img/perhot-7.png", alt="")
						.perhot-9
							img(src="img/perhot-9.png", alt="")
		section#opportunities
			.content
				.cards
					ul
						li
							.card-icon
								img(src="img/svg/teaser-1.svg", alt="")
							.card-notion
								p Увеличивайте ваши продажи при помощи CRM.
						li
							.card-icon
								img(src="img/svg/teaser-2.svg", alt="")
							.card-notion
								p Минимизируйте дебиторскую задолженность.
						li
							.card-icon
								img(src="img/svg/teaser-3.svg", alt="")
							.card-notion
								p Контролируйте доходы/расходы и управленческий баланс
						li
							.card-icon
								img(src="img/svg/teaser-4.svg", alt="")
							.card-notion
								p Получайте подробную аналитику
				h2 Возможности продукта
				.clarify
					p «1С:Управление торговлей» позволяют автоматизировать и контролировать большинство задача компании, занимающейся продажей товаров или оказанием услуг
				.mobile-slider
					ul
						li
							.close
							.caption
								p CRM и маркетинг
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Продажи и доставка
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Закупки, импорт
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Складской учет
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Цены и скидки
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Финансы, банк, касса
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Розничные продажи
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Аналитические отчёты
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
						li
							.close
							.caption
								p Дополнения от МиСофт
							.drop-content
								ul
									li
										.slide-img
											img(src="img/oppo-slider-icon-1.png", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/oppo-slider-icon-2.png", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/oppo-slider-icon-3.png", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/oppo-slider-icon-4.png", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
				.oppo-slider
					#oppo-links
						div.active
							p CRM и маркетинг
						div
							p Продажи и доставка
						div
							p Закупки, импорт
						div
							p Складской учет
						div
							p Цены и скидки
						div
							p Финансы, банк, касса
						div
							p Розничные продажи
						div
							p Аналитические отчёты
						div
							p Дополнения от МиСофт
					.carousel-wrap
						.owl-carousel
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/1-1.svg", alt="")
										.slide-ft-txt
											p База клиентов
									li
										.slide-img
											img(src="img/svg/about_product/1-2.svg", alt="")
										.slide-ft-txt
											p Воронка продаж
									li
										.slide-img
											img(src="img/svg/about_product/1-3.svg", alt="")
										.slide-ft-txt
											p ABC и XYZ анализ
									li
										.slide-img
											img(src="img/svg/about_product/1-4.svg", alt="")
										.slide-ft-txt
											p Коммерческие предложения
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/2-1.svg", alt="")
										.slide-ft-txt
											p Выставление счетов
									li
										.slide-img
											img(src="img/svg/about_product/2-2.svg", alt="")
										.slide-ft-txt
											p Резервирование товаров
									li
										.slide-img
											img(src="img/svg/about_product/2-3.svg", alt="")
										.slide-ft-txt
											p Доставка товаров
									li
										.slide-img
											img(src="img/svg/about_product/2-4.svg", alt="")
										.slide-ft-txt
											p Печать накладных
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/3-1.svg", alt="")
										.slide-ft-txt
											p Заказы поставщикам
									li
										.slide-img
											img(src="img/svg/about_product/3-2.svg", alt="")
										.slide-ft-txt
											p Планирование закупок
									li
										.slide-img
											img(src="img/svg/about_product/3-3.svg", alt="")
										.slide-ft-txt
											p Товарный календарь
									li
										.slide-img
											img(src="img/svg/about_product/3-4.svg", alt="")
										.slide-ft-txt
											p Сертификация и импорт
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/4-1.svg", alt="")
										.slide-ft-txt
											p Остатки товаров и резервы
									li
										.slide-img
											img(src="img/svg/about_product/4-2.svg", alt="")
										.slide-ft-txt
											p Ячеистый склад WMS
									li
										.slide-img
											img(src="img/svg/about_product/4-3.svg", alt="")
										.slide-ft-txt
											p Ордерный склад
									li
										.slide-img
											img(src="img/svg/about_product/4-4.svg", alt="")
										.slide-ft-txt
											p Штрихко-
											p дирование
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/5-1.svg", alt="")
										.slide-ft-txt
											p Гибкие условия скидок
									li
										.slide-img
											img(src="img/svg/about_product/5-2.svg", alt="")
										.slide-ft-txt
											p Множество видов цен, акции
									li
										.slide-img
											img(src="img/svg/about_product/5-3.svg", alt="")
										.slide-ft-txt
											p Графики оплат
									li
										.slide-img
											img(src="img/svg/about_product/5-4.svg", alt="")
										.slide-ft-txt
											p Сегментирование клиентов
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/6-1.svg", alt="")
										.slide-ft-txt
											p Платежный календарь
									li
										.slide-img
											img(src="img/svg/about_product/6-2.svg", alt="")
										.slide-ft-txt
											p Анализ дебиторской задолженности
									li
										.slide-img
											img(src="img/svg/about_product/6-3.svg", alt="")
										.slide-ft-txt
											p Заявки на расходование денежных средств
									li
										.slide-img
											img(src="img/svg/about_product/6-4.svg", alt="")
										.slide-ft-txt
											p Наличные и безналичные платежи
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/7-1.svg", alt="")
										.slide-ft-txt
											p Карты лояльности
									li
										.slide-img
											img(src="img/svg/about_product/7-2.svg", alt="")
										.slide-ft-txt
											p Подарочные сертификаты
									li
										.slide-img
											img(src="img/svg/about_product/7-3.svg", alt="")
										.slide-ft-txt
											p Бонусные программы
									li
										.slide-img
											img(src="img/svg/about_product/7-4.svg", alt="")
										.slide-ft-txt
											p Интеграция с оборудованием
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/8-1.svg", alt="")
										.slide-ft-txt
											p Валовая прибыль
									li
										.slide-img
											img(src="img/svg/about_product/8-2.svg", alt="")
										.slide-ft-txt
											p Управленческий баланс
									li
										.slide-img
											img(src="img/svg/about_product/8-3.svg", alt="")
										.slide-ft-txt
											p Дебиторская задолженность
									li
										.slide-img
											img(src="img/svg/about_product/8-4.svg", alt="")
										.slide-ft-txt
											p Затраты и себестоимость
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
							div.slide-item
								ul.slide-ft
									li
										.slide-img
											img(src="img/svg/about_product/9-1.svg", alt="")
										.slide-ft-txt
											p Загрузчик остатков изExcel
									li
										.slide-img
											img(src="img/svg/about_product/9-2.svg", alt="")
										.slide-ft-txt
											p Печать договоров из MS Word
									li
										.slide-img
											img(src="img/svg/about_product/9-3.svg", alt="")
										.slide-ft-txt
											p Сбор дебиторской задолженности
									li
										.slide-img
											img(src="img/svg/about_product/9-4.svg", alt="")
										.slide-ft-txt
											p Расширенная отчетность
								.slide-txt
									p Все складские операции: приемки, отгрузки, перемещения и др. Печать складских документов. Остатки и обороты.
				h3 Интеграция и совместимость
				.clarify
					p Программа построена на современной платформе «1С:Предприятие 8». Она позволяет работать одновременно большому количеству пользователей и подключать различные системы и оборудование
				.integr-spis
					ul
						li
							.integr-icon
								img(src="img/svg/integration-1.svg", alt="")
							.integr-clarify
								.integr-caption
									p 1C бухгалтерия
								.integr-txt
									p полноценный обмен документами и справочниками с бухгалтерией
						li
							.integr-icon
								img(src="img/svg/integration-2.svg", alt="")
							.integr-clarify
								.integr-caption
									p Web и mobile
								.integr-txt
									p интеграция с мобильными приложениями,
									p web-клиент
						li
							.integr-icon
								img(src="img/svg/integration-3.svg", alt="")
							.integr-clarify
								.integr-caption
									p Интеграция с "1C-Битрикс"
								.integr-txt
									p обмен с интернет-магазином
						li
							.integr-icon
								img(src="img/svg/integration-4.svg", alt="")
							.integr-clarify
								.integr-caption
									p Оборудование
								.integr-txt
									p терминалы сбора данных, сканеры штрих-кодов и т.д.
		section#for-whom
			.content
				h2 Для кого подходит
				.mobile-links
					ul
						li
							.caption.btn
								.close
								p Запуск нового бизнеса
							.drop-content
								ul
									li
										.tab-img
											img(src="img/svg/users/user-1-1.svg", alt="")
										.tab-txt
											.tab-caption
												p Вы хотите быстро начать работать
											.tab-txt
												p Мы можем настроить и запустить систему в работу за несколько недель, в том числе и перенести данные.
									li
										.tab-img
											img(src="img/svg/users/user-1-2.svg", alt="")
										.tab-txt
											.tab-caption
												p Вы хотите быстро начать работать
											.tab-txt
												p Мы можем настроить и запустить систему в работу за несколько недель, в том числе и перенести данные.
									li
										.tab-img
											img(src="img/svg/users/user-1-3.svg", alt="")
										.tab-txt
											.tab-caption
												p Вы не готовы делать большие вложения
											.tab-txt
												p Стартуйте только с необходимыми функциями - остальное можно легко подключить позже.
						li
							.caption.btn
								.close
								p Развивающийся бизнес
							.drop-content
								ul
									li
										.tab-img
											img(src="img/svg/users/user-2-1.svg", alt="")
										.tab-txt
											.tab-caption
												p Информация теряется и забывается
											.tab-txt
												p Сведите работу сотрудников в единую систему со сквозной отчетностью, едиными справочниками и документами.
									li
										.tab-img
											img(src="img/svg/users/user-2-2.svg", alt="")
										.tab-txt
											.tab-caption
												p Тяжело контролировать работу сотрудников
											.tab-txt
												p Вы сможете оперативно увидеть состояние дел в вашей компании при помощи отчетов, проанализировать, что происходит с заказами, товаром и деньгами.
									li
										.tab-img
											img(src="img/svg/users/user-2-3.svg", alt="")
										.tab-txt
											.tab-caption
												p Тяжело контролировать работу сотрудников
											.tab-txt
												p Вы сможете оперативно увидеть состояние дел в вашей компании при помощи отчетов, проанализировать, что происходит с заказами, товаром и деньгами
						li
							.caption.btn
								.close
								p Опытные игроки рынка
							.drop-content
								ul
									li
										.tab-img
											img(src="img/svg/users/user-3-1.svg", alt="")
										.tab-txt
											.tab-caption
												p Ваша система работает медленно
											.tab-txt
												p Новая платформа 1С:8 работает быстро и устойчиво даже при десятках тысяч операций в день и сотнях одновременно работающих пользователей.
									li
										.tab-img
											img(src="img/svg/users/user-3-2.svg", alt="")
										.tab-txt
											.tab-caption
												p Вашу систему тяжело развивать
											.tab-txt
												p За годы развития 1С в её «коробочных» версиях появилось то, что раньше дорабатывалось программистами. Многие компании используют её в «коробочном» варианте без каких-либо доработок.
									li
										.tab-img
											img(src="img/svg/users/user-3-3.svg", alt="")
										.tab-txt
											.tab-caption
												p Вам нужны новые возможности
											.tab-txt
												p 1С:Управление торговлей - современная система, разработанная по передовым технологиям. Теперь работать в 1С стало намного проще и удобней
				ul.tab-links
					li.btn.active
						.caption.btn
							p Запуск нового бизнеса
					li.btn
						.caption.btn
							p Развивающийся бизнес
					li.btn
						.caption.btn
							p Опытные игроки рынка
				.tab-box
					.tab-content.active
						ul
							li
								.tab-img
									img(src="img/svg/users/user-1-1.svg", alt="")
								.tab-caption
									p Вы хотите быстро начать работать
								.tab-txt
									p Мы можем настроить и запустить систему в работу за несколько недель, в том числе и перенести данные.
							li
								.tab-img
									img(src="img/svg/users/user-1-2.svg", alt="")
								.tab-caption
									p Вы хотите быстро начать работать
								.tab-txt
									p Мы можем развернуть вашу систему в облаке. Вам не придется думать о покупке «железа» и его обслуживании.
							li
								.tab-img
									img(src="img/svg/users/user-1-3.svg", alt="")
								.tab-caption
									p Вы не готовы делать большие вложения
								.tab-txt
									p Стартуйте только с необходимыми функциями - остальное можно легко подключить позже.
					.tab-content
						ul
							li
								.tab-img
									img(src="img/svg/users/user-2-1.svg", alt="")
								.tab-caption
									p Информация теряется и забывается
								.tab-txt
									p Сведите работу сотрудников в единую систему со сквозной отчетностью, едиными справочниками и документами.
							li
								.tab-img
									img(src="img/svg/users/user-2-2.svg", alt="")
								.tab-caption
									p Тяжело контролировать работу сотрудников
								.tab-txt
									p Вы сможете оперативно увидеть состояние дел в вашей компании при помощи отчетов, проанализировать, что происходит с заказами, товаром и деньгами.
							li
								.tab-img
									img(src="img/svg/users/user-2-3.svg", alt="")
								.tab-caption
									p Тяжело контролировать работу сотрудников
								.tab-txt
									p Вы сможете оперативно увидеть состояние дел в вашей компании при помощи отчетов, проанализировать, что происходит с заказами, товаром и деньгами
					.tab-content
						ul
							li
								.tab-img
									img(src="img/svg/users/user-3-1.svg", alt="")
								.tab-caption
									p Ваша система работает медленно
								.tab-txt
									p Новая платформа 1С:8 работает быстро и устойчиво даже при десятках тысяч операций в день и сотнях одновременно работающих пользователей.
							li
								.tab-img
									img(src="img/svg/users/user-3-2.svg", alt="")
								.tab-caption
									p Вашу систему тяжело развивать
								.tab-txt
									p За годы развития 1С в её «коробочных» версиях появилось то, что раньше дорабатывалось программистами. Многие компании используют её в «коробочном» варианте без каких-либо доработок.
							li
								.tab-img
									img(src="img/svg/users/user-3-3.svg", alt="")
								.tab-caption
									p Вам нужны новые возможности
								.tab-txt
									p 1С:Управление торговлей - современная система, разработанная по передовым технологиям. Теперь работать в 1С стало намного проще и удобней.
				.btns
					a.btn.to-consult(href="#") Нужна консультация по внедрению?
						p.link Получить консультацию по внедрению
				.big-card-help
					.plus
					.plus
					.plus
					.circle_small
					.circle_small
					.circle_small
					h3 Система помогает вам контролировать и анализировать процессы в компании. 
					.features
						ul
							li
								.check-mark
									img(src="img/svg/checkmark_big.svg", alt="")
								.ft-descr
									.caption
										p Бизнес как на ладони
									.ft-txt
										p Все данные доступны вам в любое время из любой точки мира.
							li
								.check-mark
									img(src="img/svg/checkmark_big.svg", alt="")
								.ft-descr
									.caption
										p Опережение конкурентов
									.ft-txt
										p Вы принимаете взвешенные и обоснованные управленческие решения.
		section#about
			.content
				h2 О компании
				.about-wrap
					.about-box
						p
							span.bold ЗАО «МиСофт НВП»
							|  — официальный дистрибьютор фирмы «1С» в Республике Беларусь. Наша компания уже 
							span.bold 22 года
							|   специализируется на поставке, установке, внедрении и сопровождении автоматизированных систем на основе платформы «1С:Предприятие».
						p Разработки компании «МиСофт» признаны фирмой «1С» как продукты, совместимые с системой программ «1С:Предприятие».
						p Специалисты нашей компании обучены и сертифицированы по соответствующим направлениям и технологиям. Более 
							span.bold 150 сертификатов «1С»
							|  по различным областям деятельности. Уровень подготовки сотрудников позволяет решать даже самые сложные задачи автоматизации.
					.about-logo
						img(src="img/logo.png", alt="")
						.logo-clarify
							p Официальный дистрибьютор фирмы "1C"
							p в Республике Беларусь
							p ISO 9001:2008 
				.about-cards
					ul
						li
							.about-card-wrap
								.about-card-img
									img(src="img/about-card-1.png", alt="")
								.about-card-txt
									p «МиСофт» обладает соответствующим опытом и компетенциями для выпуска, развития и сопровождения тиражных решений на платформе «1С:Предприятие».
						li
							.about-card-wrap
								.about-card-img
									img(src="img/about-card-2.jpg", alt="")
								.about-card-txt
									p Наш учебный центр и преподаватели сертифицированы фирмой «1С», и имеют право обучения пользователей и программистов «1С».
						li
							.about-card-wrap
								.about-card-img
									img(src="img/about-card-3.jpg", alt="")
								.about-card-txt
									p Система менеджмента качества "МиСофт" соответствует требованиям международного стандарта ISO 9001:2008.
				.why-us
					h3 Почему выбирают нас
					ul
						li
							.why-us-img
								img(src="img/svg/about-1.svg", alt="")
							.why-us-txt
								.caption.bold
									p Опыт
								p У нас накоплен опыт внедрения в различных отраслях, мы знакомы с их спецификой
						li
							.why-us-img
								img(src="img/svg/about-3.svg", alt="")
							.why-us-txt
								.caption.bold
									p Квалификация
								p У нас накоплен опыт внедрения в различных отраслях, мы знакомы с их спецификой
						li
							.why-us-img
								img(src="img/svg/about-2.svg", alt="")
							.why-us-txt
								.caption.bold
									p Скорость
								p У нас накоплен опыт внедрения в различных отраслях, мы знакомы с их спецификой
						li
							.why-us-img
								img(src="img/svg/about-4.svg", alt="")
							.why-us-txt
								.caption.bold
									p Надёжность
								p У нас накоплен опыт внедрения в различных отраслях, мы знакомы с их спецификой
		section#cases
			.content
				h2 Кейсы
				.clarify
					p Наше решение используют 17 935 пользователей, в более чем 900 компаний
				.cases-cards
					ul#myList
						li
							.case-logo
								img(src="img/case-1-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Юнитаргет»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
							.pop-up-case-wrap.pop-up-wrap
								.pop-up-case.pop-up
									.close
										img(src="img/close.png", alt="")
									.pop-case-descr
										.case-descr-txt
											h3 Кейс: Юнитаргет
											p Была поставлена задача запуска новой системы для автоматизации операций закупки, растаможки, складского учета, продаж, ценообразования и скидок, а также для тесной интеграции с интернет-магазином.
											p После анализа бизнес-процессов предприятия было решено внедрять максимально «типовой» продукт с минимальными его доработками.Программа была полностью настроена под особенности бизнеса, проведено обучение, настроена отчетность для анализа данных и принятия управленческих решений.
											p Интересной особенностью проекта была задача загрузки большой базы товаров с разноплановыми характеристиками, изображений товаров, штрихкодов, а также последующая их актуализация. Наши специалисты разработали универсальный механизм, который позволил пользователям делать это с минимальными затратами времени и усилий и не зависеть от формата входящего файла с данными.
											p Сейчас программа помогает контролировать весь цикл продажи и взаиморасчетов с клиентами, движение товаров от закупки до отгрузки и доставки.
										.case-descr-label
											.case-logo
												img(src="img/case-1-logo.png", alt="")
											.case-label-notion
												p Мировой эксперт в управлении энергией и автоматизации для энергетики, предприятий, центров обработки данных.
											.for-users
												p Решение для 
													span.bold 50 пользователей
									.pop-case-form
										h3 У вас похожая задача?
										.clarify
											p Оставьте контакты и получите коммерческое предложение для вашей компании.
										form(action="")
											.name
												label(for="") Ваше имя
												input(type="text" placeholder="Иван Иванович")
											.phone
												label(for="") Телефон
												input(type="tel" placeholder="Для савязи с Вами")
											.email
												label(for="") Email
												input(type="email" placeholder="Вышлем необходимые материалы")
											.comment
												label(for="") Комментарий
												textarea(placeholder="Расскажите о вашей задаче")
											button.btn Отправить
						li
							.case-logo
								img(src="img/case-2-logo.png", alt="")
							.case-txt
								.caption
									p Schneider Electric
								p Компания Schneider Electric является мировым экспертом в управлении энергией и автоматизации для энергетики и инфраструктуры, промышленных предприятий, центров обработки данных. Подразделения компании успешно работают более чем в 100 странах мира.
							.case-users
								p Решение для 
									span.bold 30 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
							.pop-up-case-wrap.pop-up-wrap
								.pop-up-case.pop-up
									.close
										img(src="img/close.png", alt="")
									.pop-case-descr
										.case-descr-txt
											h3 Кейс: Schneider Electric
											p Для организации работы минского офиса компании, его взаимодействия с белорусскими дилерами а также организации процесса заказа, закупки, отгрузки и доставки товара было принято решение использовать платформу 1С:Предприятие 8.
											p Ключевой задачей проекта была организация кабинета самообслуживания для дилеров, который был бы доступен через обычный web-браузер. Кабинет требовалось создать для того, чтобы сотрудники дилера могли самостоятельно оформить заказ, согласовать цены и условия поставки с минским офисом Schneider Electric. Также, требовалось дать дилеру возможность получать детальную и исчерпывающую информацию о своих заказах, отгрузках и оплатах.
											p В настоящее время, программа помогает значительно экономить время сотрудников Schneider Electric на обработку заказов и выяснение различного рода нюансов с клиентом. Поскольку все заказы оформляются клиентами самостоятельно и обрабатываются автоматически, вмешательство пользователя в процесс требуется минимальное. Достигнута высокая степень автоматизации всех процессов продаж.
										.case-descr-label
											.case-logo
												img(src="img/case-2-logo.png", alt="")
											.case-label-notion
												p Мировой эксперт в управлении энергией и автоматизации для энергетики, предприятий, центров обработки данных.
											.for-users
												p Решение для 
													span.bold 30 пользователей
									.pop-case-form
										h3 У вас похожая задача?
										.clarify
											p Оставьте контакты и получите коммерческое предложение для вашей компании.
										form(action="")
											.name
												label(for="") Ваше имя
												input(type="text" placeholder="Иван Иванович")
											.phone
												label(for="") Телефон
												input(type="tel" placeholder="Для савязи с Вами")
											.email
												label(for="") Email
												input(type="email" placeholder="Вышлем необходимые материалы")
											.comment
												label(for="") Комментарий
												textarea(placeholder="Расскажите о вашей задаче")
											button.btn Отправить
						li
							.case-logo
								img(src="img/cases/vitrum.png", alt="")
							.case-txt
								.caption
									p Витрум Сладавита
								p Уже 13 лет компания Витрум работает на продуктовом рынке Беларуси. Профиль компании - кондитерские изделия, а миссия - обеспечить каждому право на сладкое.
							.case-users
								p Решение для 
									span.bold 120 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
							.pop-up-case-wrap.pop-up-wrap
								.pop-up-case.pop-up
									.close
										img(src="img/close.png", alt="")
									.pop-case-descr
										.case-descr-txt
											h3 Кейс: Витрум Сладавита
											p Компания долгое время использовала систему на базе 1С 7.7. С годами, скорость её работы снижалась, время построения отчетов увеличивалось вплоть до получаса-часа. Добавлять в неё новые возможности было сложно из-за того, что её дорабатывало множество программистов без какого-либо документирования своих доработок. В итоге, сопровождение и развитие системы зашло в тупик.
											p Самым ответственным моментом был запуск системы в эксплуатацию. В виду огромного потока заявок, отгрузок, накладных, а также сложной системы скидок требовалась максимально плотная поддержка пользователей в первые несколько дней реальной работы. Для этого наши консультанты присутствовали в офисе и удалённых подразделениях заказчика, помогая сотрудникам работать с новой системой. Благодаря нашим специалистам все возникающие вопросы и шероховатости быстро устранялись, и предприятию не пришлось останавливать привычный ход приема заявок и отгрузок.
											p Система помогла ускорить процесс работы с заявками покупателей и распределения их по маршрутам доставки. Система позволила убрать из бизнес-процесса один из этапов. Это, в свою очередь, высвободило значительные трудовые ресурсы сотрудников.
										.case-descr-label
											.case-logo
												img(src="img/cases/vitrum.png", alt="")
											.case-label-notion
												p Мировой эксперт в управлении энергией и автоматизации для энергетики, предприятий, центров обработки данных.
											.for-users
												p Решение для 
													span.bold 120 пользователей
									.pop-case-form
										h3 У вас похожая задача?
										.clarify
											p Оставьте контакты и получите коммерческое предложение для вашей компании.
										form(action="")
											.name
												label(for="") Ваше имя
												input(type="text" placeholder="Иван Иванович")
											.phone
												label(for="") Телефон
												input(type="tel" placeholder="Для савязи с Вами")
											.email
												label(for="") Email
												input(type="email" placeholder="Вышлем необходимые материалы")
											.comment
												label(for="") Комментарий
												textarea(placeholder="Расскажите о вашей задаче")
											button.btn Отправить
						li
							.case-logo
								img(src="img/cases/kontractor.jpg", alt="")
							.case-txt
								.caption
									p Контрактор ГК «Премия»
								p Основным направлением компании является реализация широкого ассортимента радиаторов, аккумуляторов, автошин для легкового и грузового транспорта, сельхозтехники и погрузчиков.
							.case-users
								p Решение для 
									span.bold 150 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
							.pop-up-case-wrap.pop-up-wrap
								.pop-up-case.pop-up
									.close
										img(src="img/close.png", alt="")
									.pop-case-descr
										.case-descr-txt
											h3 Контрактор ГК «Премия»
											p Одним из важнейших приоритетов руководства компании является использование передовых инструментов управления и анализа данных. Для этого в старой системе было выполнено множество доработок. С годами оказалось, что развивать и сопровождать имеющуюся систему очень дорого, а «коробочный» продукт уже содержит все необходимые руководству функции и даже больше.
											p Была поставлена задача внедрить новый продукт в головном офисе, а также всех региональных подразделениях. Внедрение требовалось осуществить строго в «коробочном» функционале, т.е. без каких-либо доработок ядра системы. Допускалась только разработка внешних модулей - отчетов или печатных форм. Это было необходимо для того, чтобы в будущем легко устанавливать обновления для программы.
											p Задача была успешно решена нашими консультантами. Система была настроена и запущена в эксплуатацию. Также, для увеличения продаж, был внедрён дополнительный модуль CRM и продаж. В настоящее время компания использует все возможности продукта, оперативно реагирует на изменение условий рынка, руководство анализирует деятельность компании и принимает взвешенные решения.
										.case-descr-label
											.case-logo
												img(src="img/cases/kontractor.jpg", alt="")
											.case-label-notion
												p Мировой эксперт в управлении энергией и автоматизации для энергетики, предприятий, центров обработки данных.
											.for-users
												p Решение для 
													span.bold 150 пользователей
									.pop-case-form
										h3 У вас похожая задача?
										.clarify
											p Оставьте контакты и получите коммерческое предложение для вашей компании.
										form(action="")
											.name
												label(for="") Ваше имя
												input(type="text" placeholder="Иван Иванович")
											.phone
												label(for="") Телефон
												input(type="tel" placeholder="Для савязи с Вами")
											.email
												label(for="") Email
												input(type="email" placeholder="Вышлем необходимые материалы")
											.comment
												label(for="") Комментарий
												textarea(placeholder="Расскажите о вашей задаче")
											button.btn Отправить
						li
							.case-logo
								img(src="img/cases/newton.png", alt="")
							.case-txt
								.caption
									p Интернет-магазин newton.by
								p Интернет-магазин специализируется на продаже бытовой и компьютерной техники и аудио-видео аппаратуры.
							.case-users
								p Решение для 
									span.bold 25 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
							.pop-up-case-wrap.pop-up-wrap
								.pop-up-case.pop-up
									.close
										img(src="img/close.png", alt="")
									.pop-case-descr
										.case-descr-txt
											h3 Контрактор ГК «Премия»
											p Компания использовала в своей работе 1С 7.7, что серьёзно ограничивало возможности по внедрению новых технологий в работу. Интернет-торговля - динамично развивающийся сегмент рынка с сильной конкуренцией. Для удержания позиций требуется предоставление клиенту максимального сервиса и оптимизация внутренних процессов.
											p Была поставлена задача внедрения современной программы с модулем CRM и тесной интеграцией 1С с IP телефонией для оптимизации работы контакт-центра. В процессе предпроектного анализа выяснилось, что современная программа уже в «коробке» обладает всеми необходимыми для работы компании возможностями, которые раньше дорабатывались под заказ в 1С 7.7. В результате, внедрение было осуществлено без доработок, а система введена в эксплуатацию в кратчайшие сроки.
											p Сейчас система помогает ускорить прием заказа от клиента по телефону, быстро определить наличие товара на складе, а также узнать объем товаров, который едет от поставщика и зарезервировать его в будущей поставке. Настроена работа с модулем доставки товаров покупателям, анализа рентабельности продаж по товарам, по менеджерам и расчет необходимых управленческих показателей.
										.case-descr-label
											.case-logo
												img(src="img/cases/newton.png", alt="")
											.case-label-notion
												p Мировой эксперт в управлении энергией и автоматизации для энергетики, предприятий, центров обработки данных.
											.for-users
												p Решение для 
													span.bold 45 пользователей
									.pop-case-form
										h3 У вас похожая задача?
										.clarify
											p Оставьте контакты и получите коммерческое предложение для вашей компании.
										form(action="")
											.name
												label(for="") Ваше имя
												input(type="text" placeholder="Иван Иванович")
											.phone
												label(for="") Телефон
												input(type="tel" placeholder="Для савязи с Вами")
											.email
												label(for="") Email
												input(type="email" placeholder="Вышлем необходимые материалы")
											.comment
												label(for="") Комментарий
												textarea(placeholder="Расскажите о вашей задаче")
											button.btn Отправить
						li
							.case-logo
								img(src="img/cases/vlad.jpg", alt="")
							.case-txt
								.caption
									p ВладПродИмпорт
								p Крупнейший дистрибьютор продуктов бакалейной группы, соков и детского питания в Беларуси. Полный комплекс логистических услуг по складской и транспортной логистике, а также информационному и документальному сопровождению всех операций.
							.case-users
								p Решение для 
									span.bold 45 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
							.pop-up-case-wrap.pop-up-wrap
								.pop-up-case.pop-up
									.close
										img(src="img/close.png", alt="")
									.pop-case-descr
										.case-descr-txt
											h3 ВладПродИмпорт
											p Компания использовала в работе 1С 7.7 которая была очень глубоко доработана. В систему были добавлены многочисленные отчеты и печатные формы, выполнены доработки ядра.
											p В момент перехода на новый план счетов выяснилось, что для обновления программы потребуется затратить более 6 месяцев работы квалифицированного программиста. Руководством было принято решение переходить на новую систему и придерживаться принципа минимальных вмешательств в её архитектуру - использовать типовой функционал. Сейчас компания использует «Управление торговлей» без существенных доработок. Разработано только несколько внешних дополнительных модулей. Они используются для расширения управленческой отчетности, а также выгрузки данных в другие системы, например, внешнюю логистическую систему класса TMS и WMS.
											p Руководство отмечает, что основное преимущество 1С:8 заключается в значительном повышении быстродействия, а также предельно гибким отчетам, которые позволяют пользователям выбирать данные из системы в любых требуемых разрезах. Возможности отчетов сопоставимы с возможностями сторонних продуктов для бизнес-анализа, стоимость которых составляет десятки тысяч долларов.
										.case-descr-label
											.case-logo
												img(src="img/cases/vlad.jpg", alt="")
											.case-label-notion
												p Мировой эксперт в управлении энергией и автоматизации для энергетики, предприятий, центров обработки данных.
											.for-users
												p Решение для 
													span.bold 25 пользователей
									.pop-case-form
										h3 У вас похожая задача?
										.clarify
											p Оставьте контакты и получите коммерческое предложение для вашей компании.
										form(action="")
											.name
												label(for="") Ваше имя
												input(type="text" placeholder="Иван Иванович")
											.phone
												label(for="") Телефон
												input(type="tel" placeholder="Для савязи с Вами")
											.email
												label(for="") Email
												input(type="email" placeholder="Вышлем необходимые материалы")
											.comment
												label(for="") Комментарий
												textarea(placeholder="Расскажите о вашей задаче")
											button.btn Отправить
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
						li
							.case-logo
								img(src="img/case-3-logo.png", alt="")
							.case-txt
								.caption
									p ООО «Стима»
								p Крупная оптовая компания, импортер обуви от производителей Германии, России, Турции и Китая.
							.case-users
								p Решение для 
									span.bold 50 пользователей
							.case-btn
								a.link.btn(href="#") смотреть кейс
					.more-cases
						a.btn#loadMore(href="#loadMore") Показать ещё 
							span#quant-case
							| 
							span#case-word 
						a.btn#showLess(href="#showLess") Скрыть 6 кейсов
		section#our-clients
			.content
				h2 Наши клиенты — компании из самых разных отраслей
				.industries
					ul
						li
							.ind-icon
								img(src="img/svg/industry-1.svg", alt="")
							.ind-txt
								p Алкогольная продукция
						li
							.ind-icon
								img(src="img/svg/industry-2.svg", alt="")
							.ind-txt
								p Продукты питания
						li
							.ind-icon
								img(src="img/svg/industry-3.svg", alt="")
							.ind-txt
								p Электрооборудование
						li
							.ind-icon
								img(src="img/svg/industry-4.svg", alt="")
							.ind-txt
								p Обувь
						li
							.ind-icon
								img(src="img/svg/industry-5.svg", alt="")
							.ind-txt
								p Строительные материалы
						li
							.ind-icon
								img(src="img/svg/industry-6.svg", alt="")
							.ind-txt
								p Напольные покрытия
						li
							.ind-icon
								img(src="img/svg/industry-7.svg", alt="")
							.ind-txt
								p Межкомнатные двери
						li
							.ind-icon
								img(src="img/svg/industry-8.svg", alt="")
							.ind-txt
								p Запасные части
						li
							.ind-icon
								img(src="img/svg/industry-9.svg", alt="")
							.ind-txt
								p Товары легкой промышленности
		section#price
			.content
				h2 Стоимость лицензии
				.clarify
					p Стоимость складывается из базовой лицензии «1С:Управление торговлей» плюс количество пользователь, плюс вид сервера
				.form-price
					form(action="")
						ul.price-steps
							li
								.caption
									p Лицензия
								.step-notion
									p «1С:Управление торговлей» для 1 пользователя
									p.price(data-license-price="702") 702,00 руб

							li
								.top-line-server
									.caption
										p Дополнительные пользователи
									a(href="#").link.server-faq-link Для чего и какой нужен сервер?
								.range-slider
									input#range-slider(type='text' name='xtra-users' value='' data-count-users="0")
							li
								.caption
									p Сервер (опционально)
								ul.server-options
									li.active
										.checkbox
											input#server-1-prop(type="checkbox").active
											label(for="server-1-prop")
										.option-txt
											p.bold.server-name До 5 пользователей
											p.price(data-server-price="580.80") 580,80 руб.
									li
										.checkbox
											input#server-2-prop(type="checkbox")
											label(for="server-2-prop")
										.option-txt
											p.bold.server-name Безлимит. 32 бита
											p.price(data-server-price="2 032.20") 2 032,20 руб.
									li
										.checkbox
											input#server-3-prop(type="checkbox")
											label(for="server-3-prop")
										.option-txt
											p.bold.server-name Безлимит. 64 бита
											p.price(data-server-price="3 483.60") 3 483,60 руб.
						.form-check
							.bottom-white
							ul
								li.product
									.caption
										p Продукт
									.product-box
										.product-notion
											p «1С:Управление торговлей»
										.product-price
											p 702,00
								li.xtra-users
									.caption
										p Дополнительные пользователи
									.product-box
										.product-notion(data-xtra-users-qnt="5")
											p 5 человек
										.product-price(data-xtra-users-price="870,90")
											p
								li.server
									.caption
										p Сервер
									.product-box
										.product-notion(data-server-kind="under5")
											p До 5 пользователей
										#server-price.product-price(data-server-price="580.8")
											p 580,80
							.total(data-total="")
								p
									span#total-price
									|  руб
							.order-btn
								a.link.btn(href="#") Заказать внедрение
				.faq
					.faq-txt
						.faq-ask-wrap.owl-carousel
							.faq-ask
								.caption
									p А если мне нужно 11 лицензий?
								p Для того что бы не переплачивать за лишних пользователей, вы можете заказать лицензию на 10 пользователей и докупить ещё одну лицензию отдельно.
							.faq-ask
								.caption
									p А если нужно 4 дополнительных пользователя?
								p В этом случае выгоднее купить сразу 5 лицензий (это стоит 870,90 рублей) чем 4 однопользовательские лицензии (4 х 254,10 = 1016,40 рублей). Ваша выгода составит не только 145,50 рублей, но и 1 дополнительный пользователь!
							.faq-ask
								.caption
									p Лицензии покупаются на каждого сотрудника?
								p Нет, лицензии не привязаны к конкретному сотруднику. Они ограничивают количество одновременно работающих пользователей в базе. Если у вас 50 пользователей, но обычно в базе работает 35-40, вы можете купить только 40 лицензий.
							.faq-ask
								.caption
									p У меня есть 1С:7.7, можно принять её в зачет стоимости?
								p Да, это называется «апгрейд». Мы поможем Вам уменьшить стоимость нового программного обеспечения. Вы можете получить скидку вплоть до 50% от стоимости новой программы!
							.faq-ask
								.caption
									p Как еще можно сэкономить?
								p Некоторые продукты продаются выгодными комплектами. Например, если купить «1С:Управление торговлей» и специальный комплект «1С:Бухгалтерия на 5 пользователей», то суммарно это будет дешевле чем приобретение продуктов и лицензий отдельно.
						.get-consult
							a.btn.link.to-consult(href="#") Получить консультацию
		section#technologies
			.content
				h2 Технология внедрения
				.clarify
					p Мы используем отлаженную методику внедрения — от предпроектного обследования до сопровождения
				ul
					li
						.tech-icon
							img(src="img/svg/step-1.svg", alt="")
						.caption
							p Подготовка
						.tech-txt
							p Изучаем особенности вашего бизнеса, принципы работы, требования к системе.
					li
						.tech-icon
							img(src="img/svg/step-3.svg", alt="")
						.caption
							p Програмирование
						.tech-txt
							p Если требуется - изменяем код под специфику вашей компании, добавляем печатные формы, отчеты, меняем интерфейм
					li
						.tech-icon
							img(src="img/svg/step-4.svg", alt="")
						.caption
							p Перенос данных
						.tech-txt
							p Переносим данные из других систем: товары, остатки, клиенты,
							p задолженность и т.д.
					li
						.tech-icon
							img(src="img/svg/step-5.svg", alt="")
						.caption
							p Обучение
						.tech-txt
							p Обучаем пользователей
							p в группах или индивидуально
					li
						.tech-icon
							img(src="img/svg/step-2.svg", alt="")
						.caption
							p Запуск
						.tech-txt
							p Помогаем пользователям
							p осваиваться в новой программе.
							p Оперативно отвечаем на их вопросы и находим решения
					li
						.tech-icon
							img(src="img/svg/step-6.svg", alt="")
						.caption
							p Техническая поддержка
						.tech-txt
							p Поддерживаем работоспособность
							p системы, консультируем пользователей, устанавливаем обновления
		section#try
			.plus
			.plus
			.plus
			.plus
			.circle_small
			.circle_small
			.circle_small
			.circle_small
			.content
				h2 Попробуйте прямо сейчас
				.clarify
					p Вы можете познакомиться с программой самостоятельно, используя нашу облачную версию 1С.
					p Для этого не потребуется что-либо скачивать или устанавливать у себя
					p на компьютере какие-либо программы.
				.btns
					a.try.btn(href="#") Попробовать бесплатно
					a.order.link.btn.to-order(href="#") Заказать внедрение
			.clouds
				.back-cloud
					img(src="img/back-cloud.png", alt="")
				.forward-cloud
					img(src="img/for-clound.png", alt="")
		section#need-help
			.content
				h2 Нужна помощь консультанта с опытом внедрений?
				ul
					li
						.help-icon
							img(src="img/svg/need-help-1.svg", alt="")
						.help-txt
							a(href="#") Задать вопрос
					li
						.help-icon
							img(src="img/svg/need-help-2.svg", alt="")
						.help-txt
							a(href="tel:+375333829194") +375 33 382-91-94
		section#contacts
			.content
				.contacts-box
					h2 Контакты
					.addr
						.caption
							p Фактический адрес:
						p г. Минск, пр-т Независимости 177, 2-ой подъезд, 6-ой этаж
					.post
						.caption
							p Почтовый адрес:
						p 220125, г. Минск, ул. Шафарнянская, 11, пом.31
					.phones
						.caption
							p Телефоны:
						p +375 (17) 286-35-76 — многоканальный
						p +375 (29) 696-00-29 — Velcom
						p +375 (33) 341-11-79 — МТС
					.email
						.caption
							p E-mail:
						p info@misoft.by
						p hotline@misoft.by — служба техподдержки
			#map
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.2071185383475!2d27.680772515591382!3d53.945828880108955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcecac2e9bfbf%3A0x4392476c7a6fe0f6!2z0L_RgNC-0YHQv9C10LrRgiDQndC10LfQsNCy0LjRgdC40LzQvtGB0YLQuCAxNzcsINCc0LjQvdGB0LosINCR0LXQu9Cw0YDRg9GB0Yw!5e0!3m2!1sru!2sru!4v1490043600336" frameborder="0" style="border:0" allowfullscreen)
			//- script.
			//- 	var map;
			//- 	function initMap() {
			//- 	map = new google.maps.Map(document.getElementById('map'), {
			//- 		center: {lat: -34.397, lng: 150.644},
			//- 		zoom: 8
			//- 	});
			//- 	}
		footer
			.content
				.footer-top
					.logo-footer
						img(src="img/logo.png", alt="")
						p Официальный дистрибьютор
						p фирмы “1С” в Республике Беларусь
					.footer-nav
						p Смотрите также:
						ul
							li
								a(href="http://www.misoft.by/") МиСофт
							li
								a(href="http://www.1c-usn.by/") 1С-УСН
							li
								a(href="http://www.1c-obshepit.by/") 1С-ОБЩЕПИТ
							li
								a(href="http://www.1c-transport.by/") 1С-ТРАНСПОРТ
							li
								a(href="http://www.1c-stroitelstvo.by/") 1С-СТРОИТЕЛЬСТВО
					.footer-social
						ul
							li.facebook
								a(href="https://www.facebook.com/misoft.by")
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.81 20")
										title fb
										g#Layer_2(data-name="Layer 2")
											g#Layer_1-2(data-name="Layer 1")
												path.cls-1(d="M10.41,0H7.81A4.56,4.56,0,0,0,3,4.92V7.19H.41A.41.41,0,0,0,0,7.6v3.29a.41.41,0,0,0,.41.41H3v8.3a.41.41,0,0,0,.41.41h3.4a.41.41,0,0,0,.41-.41v-8.3h3a.41.41,0,0,0,.41-.41V7.6a.41.41,0,0,0-.12-.29.41.41,0,0,0-.29-.12h-3V5.27c0-.92.22-1.39,1.42-1.39H10.4a.41.41,0,0,0,.41-.41V.41A.41.41,0,0,0,10.41,0Zm0,0")
							li.vk
								a(href="https://vk.com/misoft_by")
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.81 20")
										title fb
										g#Layer_2(data-name="Layer 2")
											g#Layer_1-2(data-name="Layer 1")
												path.cls-1(d="M25.94,13.44l-.09-.17a13.53,13.53,0,0,0-2.59-3l0,0h0q-.87-.83-1.1-1.11A1,1,0,0,1,21.9,8a10.26,10.26,0,0,1,1.22-1.78L24,5.07q2.35-3.12,2-4L26,.94a.79.79,0,0,0-.42-.22,2.12,2.12,0,0,0-.87,0l-3.91,0a.51.51,0,0,0-.27,0l-.18,0-.07,0-.05,0A.59.59,0,0,0,20,1a.93.93,0,0,0-.13.24,22.2,22.2,0,0,1-1.45,3.05q-.5.84-.92,1.46a7.09,7.09,0,0,1-.71.91,4.88,4.88,0,0,1-.52.47c-.15.12-.27.17-.35.15l-.23-.05a.89.89,0,0,1-.31-.33,1.48,1.48,0,0,1-.16-.53q0-.32,0-.55c0-.15,0-.37,0-.65s0-.47,0-.57q0-.52,0-1.12t0-1q0-.35,0-.75a3.13,3.13,0,0,0,0-.62,2.09,2.09,0,0,0-.14-.43.73.73,0,0,0-.28-.33,1.56,1.56,0,0,0-.45-.18A9.1,9.1,0,0,0,12.55,0,8.92,8.92,0,0,0,9.3.33a1.82,1.82,0,0,0-.52.41q-.24.3-.07.33a1.67,1.67,0,0,1,1.15.58l.08.16a2.56,2.56,0,0,1,.19.62,6.27,6.27,0,0,1,.12,1,10.47,10.47,0,0,1,0,1.7q-.07.71-.13,1.1a2.2,2.2,0,0,1-.18.64,2.58,2.58,0,0,1-.16.3l-.07.07a1,1,0,0,1-.37.07.86.86,0,0,1-.46-.19,3.26,3.26,0,0,1-.56-.52,7,7,0,0,1-.66-.93q-.37-.6-.76-1.41l-.22-.39q-.2-.38-.56-1.11T5.51,1.33A.9.9,0,0,0,5.19.9l-.07,0A1,1,0,0,0,4.9.74,1.45,1.45,0,0,0,4.59.65L.87.68A1,1,0,0,0,.1.94L0,1a.44.44,0,0,0,0,.22,1.08,1.08,0,0,0,.08.37Q.9,3.52,1.85,5.3T3.52,8.16q.71,1.09,1.44,2t1,1.24l.37.41.34.33a8,8,0,0,0,1,.78,16.32,16.32,0,0,0,1.4.9,7.6,7.6,0,0,0,1.79.72,6.16,6.16,0,0,0,2,.22h1.56a1.08,1.08,0,0,0,.72-.3l.05-.07a.9.9,0,0,0,.1-.25,1.38,1.38,0,0,0,0-.37,4.51,4.51,0,0,1,.09-1.05,2.76,2.76,0,0,1,.23-.71,1.7,1.7,0,0,1,.29-.4,1.15,1.15,0,0,1,.23-.2l.11,0a.86.86,0,0,1,.77.21,4.55,4.55,0,0,1,.83.79q.39.47.93,1.05a6.48,6.48,0,0,0,1,.87l.27.16a3.28,3.28,0,0,0,.71.3,1.51,1.51,0,0,0,.76.07l3.48-.05a1.57,1.57,0,0,0,.8-.17.67.67,0,0,0,.34-.37,1.05,1.05,0,0,0,0-.46,1.76,1.76,0,0,0-.1-.36Zm0,0")
							li.twitter
								a(href="https://twitter.com/misoft_by")
									svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.16 18")
										title twitter
										g#Layer_2(data-name="Layer 2")
											g#Layer_1-2(data-name="Layer 1")
												path.cls-1(d="M22.16,2.13a9.08,9.08,0,0,1-2.61.72,4.58,4.58,0,0,0,2-2.52,9.06,9.06,0,0,1-2.89,1.1A4.54,4.54,0,0,0,10.8,4.54a4.72,4.72,0,0,0,.12,1A12.9,12.9,0,0,1,1.54.83,4.51,4.51,0,0,0,.93,3.12C.93,4.69,2.66,6.19,3.87,7a9.18,9.18,0,0,1-3-.67v.06a5,5,0,0,0,4,4.62,7.8,7.8,0,0,1-1.53,0,4.59,4.59,0,0,1-.86-.08A4.68,4.68,0,0,0,6.87,14a9.62,9.62,0,0,1-5.79,2A9.75,9.75,0,0,1,0,16a12.86,12.86,0,0,0,7,2A12.84,12.84,0,0,0,19.9,5.07V4.48a9.16,9.16,0,0,0,2.27-2.35Zm0,0")
				.footer-bottom
					.copyright
						p © 1995-2017
					.made-by
						a(href="#")
							p Дизайн и разработка:
							img(src="img/namba-logo.png", alt="")
							p Nambawan
		
		.pop-up-consult-wrap.pop-up-wrap
			#pop-up-consult.pop-up
				.close
					img(src="img/close.png", alt="")
				h3 Бесплатная консультация
				.clarify
					p Опишите вашу задачу и наши
					p специалисты подготовят решение
				form(action="")
					.name
						label(for="") Ваше имя
						input(type="text" placeholder="Иван Иванович")
					.phone
						label(for="") Телефон
						input(type="tel" placeholder="Для связи с вами")
					.email
						label(for="") Email
						input(type="email" placeholder="Вышлем необходимые материалы")
					.comment
						label(for="") Комментарий
						textarea(placeholder="Расскажите о вашей задаче")
					button.btn Отправить
		.pop-up-order-wrap.pop-up-wrap
			#pop-up-order.pop-up
				.close
					img(src="img/close.png", alt="")
				h3 Заказать внедрение
				.clarify
					p Опишите вашу задачу и наши
					p специалисты подготовят решение
				form(action="")
					.name
						label(for="") Ваше имя
						input(type="text" placeholder="Иван Иванович")
					.phone
						label(for="") Телефон
						input(type="tel" placeholder="Для связи с вами")
					.email
						label(for="") Email
						input(type="email" placeholder="Вышлем необходимые материалы")
					.comment
						label(for="") Комментарий
						textarea(placeholder="Расскажите о вашей задаче")
					button.btn Отправить
		.pop-up-call-wrap.pop-up-wrap
			#pop-up-call.pop-up
				.close
					img(src="img/close.png", alt="")
				h3 Заказать звонок
				.clarify
					p Опишите вашу задачу и наши
					p специалисты подготовят решение
				form(action="")
					.name
						label(for="") Ваше имя
						input(type="text" placeholder="Иван Иванович")
					.phone
						label(for="") Телефон
						input(type="tel" placeholder="Для связи с вами")
					.email
						label(for="") Email
						input(type="email" placeholder="Вышлем необходимые материалы")
					.comment
						label(for="") Комментарий
						textarea(placeholder="Расскажите о вашей задаче")
					button.btn Отправить
		.pop-up-server-wrap.pop-up-wrap
			#pop-up-server.pop-up
				.close
					img(src="img/close.png", alt="")
				h3 Сервер МИНИ на 5 подключений
				p Данный продукт представляет собой сервер, который обеспечивает запуск не более пяти сеансов пользователей в режиме "1С:Предприятие" и еще одного сеанса в режиме "Конфигуратор" (всего шесть подключений). Данный сервер предназначен для использования с платформой "1С:Предприятие" версии 8.3.4 и выше.
				p Его можно рекомендовать, например, для автоматизации кассового терминала, где необходимо обеспечить повышенный уровень отказоустойчивости, а также небольшого офиса или торговой точки с количеством рабочих мест не более пяти.
				h3 Отличия 1С:Сервера 32 бит и 64 бит
				p Основным преимуществом 64-разрядного сервера 1С:Предприятия 8 является возможность использования практически неограниченного адресного пространства, выделяемого рабочему процессу. Это позволяет полностью использовать возможности современных серверов.
				p Серверу х32 доступно до 2 Гб адресного пространства на один рабочий процесс. А это значит, что при исполнении тяжелых операций (например, обмен данными или формирование аналитического отчета) сервер просто может отказаться их исполнять, поскольку его ресурсы ограничены. У сервера х64 этого ограничения нет. За счет этого сервер х64 получает следующие преимущества:
				ul
					li
						p Существенно больший предел масштабируемости. Сервер х64 стабильно выдержит большее увеличение нагрузки на систему (увеличение количества одновременно работающих пользователей, повышение интенсивности работы и т.п.).
					li
						p Больший срок работы без перезагрузки. При определенной интенсивности работы сервер х32 может требовать периодической перезагрузки для исключения эффекта фрагментации памяти. Сервер х64 может работать без перезагрузки весьма длительное время.
					li
						p Лучшая утилизация оперативной памяти компьютера, на котором работает сервер 1С:Предприятия. Одному рабочему процессу сервера х32 доступно 2 Гб адресного пространства. Если на компьютере установлен больший объем оперативной памяти, то для ее использования необходимо будет создать соответствующее количество рабочих процессов. Сервер х64 может использовать практически неограниченный объем оперативной памяти единственным рабочим процессом.
				p Других заметных отличий (в том числе по производительности) между х32 и х64 нет. Однозначный выбор можно произвести в ходе практической работы. Например, начать работу с 32-разрядным сервером, а в случае возникновения проблем сделать апгрейд (замену) лицензии на 64-разрядный. Но, к сожалению, на замену лицензий 1С может быть потрачено несколько дней или даже недель.
		.check-form-popup-wrap.pop-up-wrap
			#check-form-popup.pop-up
				.close
				h3 Заказать внедрение
				.ordered
					ul#ordered
						li.ordered-license
							.ordered-item
								p «1С:Управление торговлей»
							.ordered-item-price
								p 702,00
								
						li.ordered-users
							.ordered-item
								p Доп. пользователи 
									span#users-count 10   
									|  человек
							.ordered-item-price
						li.ordered-server
							.ordered-item
								p Сервер: До 5 пользователей
							.ordered-item-price
					.total
						p#total
						span  руб
				form(action="")
					div.name
						label Ваше имя
						input(type="text" placeholder="Иван Иванович")
					div.phone
						label Телефон
						input(type="text" placeholder="Для связи с вами")
					div.email
						label Email
						input(type="text" placeholder="Вышлем необходимые материалы")
					div.comment
						label Комментарий 
							span  (Необязательно)
						textarea(placeholder="Расскажите о вашей задаче")
					button.btn Отправить




		script(src="js/jquery.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB75dEZBxIX5hrqF7H4KgCNh9EOpXK4w8I&callback=initMap" async defer)
		script(src="https://use.fontawesome.com/54268bcde8.js")
		script(src="js/owl.carousel.min.js")
		script(src="js/ion.rangeSlider.min.js")
		script(src="js/jquery.malihu.PageScroll2id.min.js")
		script(src="js/jquery.formstyler.min.js")
		script(src="js/jquery.waypoints.min.js")
		script(src="js/common.js")