#banner
	.content
		display: flex
		justify-content: space-between
		align-items: center
	.left-side
		background-color: #f0f5f9
		padding: 50px 30px 60px
		width: 570px
		position: relative
		.caption
			font-family: "Playfair Display"
			font-size: 60px
			font-style: italic
			color: #f47aac
			span
				color: #1c2335
		.clarify
			margin-top: 30px
		.text
			font-size: 15px
			max-width: 275px
		.image
			position: absolute
			top: -50px
			right: -90px