#descr-and-rev
	padding: 100px 0
	background-color: #fff
	position: relative
	.tabs
		position: relative
		font-size: 24px
		color: #1c2335
		border-bottom: 1px solid #dedfe2
		max-width: 570px
		margin: 0 auto 35px
		font-family: 'Times New Roman', Times, serif
		ul
			display: flex
			justify-content: center
			align-items: center
			li.active:first-child:after
				transform: translateX(0)
			li:first-child:after
				content: ''
				transform: translateX(175px)
				position: absolute
				width: 50px
				height: 2px
				transition: 1s
				left: 50%
				margin-left: -25px
				bottom: -1px
				background-color: #d47aac
			li.active:before
				height: 3px
				transition-delay: 1s
			li.active
				color: #f47aac
			li:before
				content: ''
				position: absolute
				height: 0
				width: 50px
				bottom: -1px
				left: 50%
				transition: .25s
				margin-left: -25px
				background-color: #f286b7
			li
				text-align: center
				width: 120px
				padding-bottom: 15px
				position: relative
				cursor: pointer
			li:not(:first-child)
				margin-left: 55px

	.item:focus
		outline: none
	.item
		display: flex
		justify-content: space-between
		align-items: flex-start
		.left-side
			max-width: 670px
			>.clarify
				font-size: 16px
				p:not(:first-child)
					margin-top: 20px
		.care
			text-align: center
			line-height: 1.3em
			font-size: 12px
			margin-top: 50px
			img
				display: inline-block
			.caption
				text-align: left
				font-weight: 600
				font-size: 14px
			ul
				margin-top: 10px
				display: flex
				justify-content: flex-start
				align-items: flex-start
			li:not(:first-child)
				margin-left: 20px
		.right-side
			max-width: 370px
			.clarify
				margin-top: 20px
				font-size: 14px
	.hidden-content
		margin-top: 50px
		text-align: left
		font-size: 14px
		color: $color
		font-family: "Open Sans"
		display: none
		.left-side>.clarify
			>p:not(:first-child)
				margin-top: 15px
		.right-side
			margin-top: 50px
	.item.reviews
		display: block
	.top-line
		padding-bottom: 35px
		border-bottom: 1px solid #ececee
		display: flex
		justify-content: space-between
		align-items: center
		.btn
			background-color: #1c2335
			color: #fff
			&:hover
				box-shadow: none
	.hidden-content .stars,
	.stars
		display: flex
		justify-content: flex-start
		align-items: center
		ul
			margin-right: 20px
			display: flex
			justify-content: flex-start
			align-items: center
			&+p
				font-size: 14px
		li
			background: url(../img/yellow-star.png) center no-repeat
			background-size: contain
			width: 27px
			height: 27px
			&:not(:first-child)
				margin-left: 5px
	.hidden-content .review-meta,
	.review-meta
		position: relative
		display: flex
		justify-content: flex-start
		align-items: center
		margin-bottom: 15px
		.date
			position: absolute
			font-size: 12px
			top: 0
			right: 0
		.name
			font-size: 16px
			font-weight: 600
	.hidden-content .review-list,
	.review-list
		display: flex
		justify-content: flex-start
		align-items: flex-start
		flex-direction: column
		>li
			width: 100%
			padding: 30px
			border-bottom: 1px solid #ececee
		.stars
			margin-left: 30px
			li
				cursor: pointer
				width: 17px
				height: 17px
		.txt
			max-width: 750px
			font-size: 14px
			text-align: left
	.hidden-content .devita-reply,
	.devita-reply
		display: flex
		justify-content: flex-start
		align-items: flex-start
		background-color: #f4f7fc
		padding: 25px 30px
		margin-top: 35px
		position: relative
		&:before
			content: ''
			height: 35px
			width: 35px
			position: absolute
			bottom: 100%
			margin-bottom: -18px
			transform: rotateZ(45deg)
			background-color: #f4f7fc
			left: 30px
		.icon
			margin-right: 20px
		.name
			text-align: left
			margin-bottom: 10px
			font-size: 16px
			font-weight: 600
		.date
			font-size: 12px
			position: absolute
			top: 25px
			right: 30px

@media only screen and (max-width : 1200px)
	#descr-and-rev .slick-next,
	#descr-and-rev .slick-prev
		display: none !important
	#descr-and-rev .item
		padding: 0 20px
	#descr-and-rev .item.description
		flex-direction: column
	#descr-and-rev .item.description .right-side
		margin-top: 50px
		max-width: 100%
		width: 100%
		img
			width: 100%

@media only screen and (max-width : 767px)
	#descr-and-rev .top-line
		flex-direction: column
		.stars
			margin-bottom: 25px
	#descr-and-rev .hidden-content .review-list > li, #descr-and-rev .review-list > li
		padding: 30px 15px
	#descr-and-rev
		padding: 60px 0
		.slider
			display: none
		.tabs
			border-bottom: none
			>ul
				flex-direction: column
				align-items: stretch
				>li.active:before
					display: none
				>li:not(:first-child)
					margin-top: 30px
				>li
					padding-bottom: 0
					width: initial
					text-align: left
					>p
		.to-open
			padding-right: 50px
			position: relative
			display: inline-block
			max-width: 300px
			width: 100%
		.to-open:before
			transform: rotateZ(180deg)
			content: url(../img/arrow-down.png) !important
			position: absolute
			top: 0
			margin-left: -20px
			left: 100%
			transition: .5s
		.care
			margin-top: 50px
			line-height: 1em
			.caption
				font-weight: 600
				margin-bottom: 10px
			>ul
				justify-content: flex-start
	#descr-and-rev .tabs ul li:not(:first-child)
				margin-left: 0
	#descr-and-rev .tabs ul li:first-child:after
		display: none
	#descr-and-rev .tabs ul li.active .to-open:before
		transform: rotateZ(0deg)
	#descr-and-rev .hidden-content .right-side
		img
			max-width: 100%

@media only screen and (max-width : 500px)
	#descr-and-rev .hidden-content .review-list > li, #descr-and-rev .review-list > li
		padding: 50px 15px 30px
		.date
			top: -30px
	#descr-and-rev .hidden-content .devita-reply, #descr-and-rev .devita-reply
		flex-direction: column
		padding: 25px 20px
		.date
			top: 30px !important