<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Booster
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
	link(href="css/main.css", rel="stylesheet")
	
body
	header
		.top-line
			.content
				.company-clarify
					p Промышленные парогенераторы и котельное оборудование
				.company-info
					ul
						li
							p Пн–Пт, 09:00–18:00
						li
							p info@booster.by
						li
							a(href="skype:booster_bel") booster_bel
		.header-menu
			.content
				.logo
					img( draggable="false" src="img/logo.png", alt="Бустер - Промышленные парогенераторы")
				nav
					ul
						li
							a(href="#") О компании
						li
							a(href="#") Каталог
						li
							a(href="#") Объекты
						li
							a(href="#") Контакты
				.phones
					ul
						li
							a(href="tel:+375173887505") +375 (17) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
					ul.hidden-phones
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
				.callback.btn.btn-white
					p Обратный звонок
	section.top-sec
		.content
			.breadcrumbs
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Каталог
					li
						a(href="#") Парогенераторы BOOSTER
			.flex-wrap
				.left-side
					h1 Запорно-регулирующая арматура
					.clarify
						p Компания Бустер Бел предлагает Вам качественную 
						p запорно-регулирующую арматуру для комплектации котельной, 
						p тепловых узлов и пунктов.
					.bullets
						ul
							li
								p Не подлежит регистрации
								p в органах Госпромнадзора.
							li
								p На все котлы получен сертификат
								p соответствия Таможенного союза
							li
								p Монтаж, наладка, обучение.
							li
								p Есть склад запчастей
				.right-side
					img( draggable="false" src="img/top-armatura.png", alt="")
	.main-wrap
		.content
			.aside-wrap
				aside
					nav
						ul
							li
								a(href="#siemens") Siemens
							li
								a(href="#soft-par") Теплопар
							li
								a(href="#documentation") Документация
							li
								a(href="#use-range") Сфера применения
							li
								a(href="#objects") Объекты
							li
								a(href="#recommended") Рекомендуем
					.btn-wrap
						a(href="#").btn.btn-white Опросный лист
			main
				section#siemens
					h2 Siemens
					.clarify
						p Запорно-регулирующая арматура Siemens с ручным или дистанционным управлением предназначена для регулирования или перекрытия потока теплоносителя.
					.list
						ul.animated-borders
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.img
										img(src="img/sim-1.png", alt="")
									.caption
										p Регуляторы перепада
										p давления
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.img
										img(src="img/sim-2.png", alt="")
									.caption
										p Регулирующие 
										p 3-ёх ходовые клапаны
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.img
										img(src="img/sim-3.jpg", alt="")
									.caption
										p Регулирующие 
										p 2-ух ходовые клапаны
				section#soft-par
					h2 Теплопар
					.clarify
						p Запорно-регулирующая арматура Siemens с ручным или дистанционным управлением предназначена для регулирования или перекрытия потока теплоносителя.
					.list
						ul.animated-borders
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.img
										img(src="img/sim-1.png", alt="")
									.caption
										p Регуляторы перепада
										p давления
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.img
										img(src="img/sim-2.png", alt="")
									.caption
										p Регулирующие 
										p 3-ёх ходовые клапаны
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.img
										img(src="img/sim-3.jpg", alt="")
									.caption
										p Регулирующие 
										p 2-ух ходовые клапаны
				section#documentation
					h2 Документация
					.clarify
						p Что-то о сертификатах и разрешениях
					.doc-list
						ul
							li
								a(href="img/doc.jpg" data-fancybox="images")
									img(src="img/doc.jpg", alt="")
									.doc-name
										p СЕРТИФИКАТ ТР ТС
							li
								a(href="img/doc.jpg" data-fancybox="images")
									img(src="img/doc.jpg", alt="")
									.doc-name
										p СЕРТИФИКАТ ДИЛЕРА
							li
								a(href="img/doc.jpg" data-fancybox="images")
									img(src="img/doc.jpg", alt="")
									.doc-name
										p СЕРТИФИКАТ ТР ТС
				section#use-range
					h2 Сфера применения
					.range-list
						ul
							li
								.range-icon
									img(draggable="false" src="img/icon-1.png", alt="")
								.range-info
									.caption
										p Строительная
									p деревообработка, производство железобетонных изделий, разогрев вязких сред и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-2.png", alt="")
								.range-info
									.caption
										p Коммунальная
									p бани, прачечные, отопление цеха химчистки, и др
							li
								.range-icon
									img(draggable="false" src="img/icon-3.png", alt="")
								.range-info
									.caption
										p Пищевая
									p производство пива, мясопереработка, кондитерское производство и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-4.png", alt="")
								.range-info
									.caption
										p Нефтехимическая
									p стерилизация и дезинфекция, пропарочные камеры и автоклавы произв-во лекарств и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-5.png", alt="")
								.range-info
									.caption
										p Лёгкая
									p обработки текстиля, производство бумаги и гофрокартона и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-6.png", alt="")
								.range-info
									.caption
										p Агропромышленная
									p производство комбикорма
									p и пищевых добавок, теплицы и др.
				section#objects
					h2 Объекты
					.clarify
						p Вам могут пригодится системы водоочистки и другое оборудование
					.objects-list
						ul
							li
								a(href="#")
									.object-img
										img(draggable="false" src="img/image-5.jpg", alt="")
									.object-info
										.object-name
											p Компания «Онега»
										.object-logo
											img(draggable="false" src="img/onega.png", alt="")
							li
								a(href="#")
									.object-img
										img(draggable="false" src="img/image-6.jpg", alt="")
									.object-info
										.object-name
											p Агрокомбинат
											p «Дзержинский»
										.object-logo
											img(draggable="false" src="img/agrocom.png", alt="")
							li
								a(href="#")
									.object-img
										img(draggable="false" src="img/image-7.jpg", alt="")
									.object-info
										.object-name
											p Компания «Белита»
										.object-logo
											img(draggable="false" src="img/bielita.png", alt="")
				section#recommended
					h2 Рекомендовано
					.clarify
						p Вам могут пригодится системы водоочистки и другое оборудование
					.rec-list
						ul.animated-borders
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.rec-img
										img(draggable="false" src="img/image-8.jpg", alt="")
									.rec-name
										p Электрический парогенератор
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.rec-img
										img(draggable="false" src="img/image-9.jpg", alt="")
									.rec-name
										p Химподготовка
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.rec-img
										img(draggable="false" src="img/image-10.jpg", alt="")
									.rec-name
										p Даэраторы
				section#contact-us
					.contact-us-box
						h2 Связаться с нами
						.clarify
							p Чтобы получить больше информации, узнать цену, выбрать и купить промышленный 
							p парогенератор Booster в Минске, позвоните по телефону или заполните форму
						ul
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Городской
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Мтс
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Мтс
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Мтс
						.email
							p info@booster.by
						.btn-wrap
							a.btn.btn-green(href="#") Узнать стоимость
	footer
		.content
			.footer-top
				.to-up
				ul
					li.footer-logo
						a(href="#")
							img(draggable="false" src="img/svg/logo_footer.svg", alt="")
						.about-company
							p Промышленные парогенераторы, теплообменное и котельное  оборудование
					li.footer-nav
						nav
							ul
								li
									a(href="#") О компании
								li
									a(href="#") Объекты
								li
									a(href="#") Каталог
								li
									a(href="#") Контакты
					li.footer-addr
						p Республика Беларусь, г. Минск
						p 1-й Твердый переулок, дом. 7, каб. 1
						ul
							li
								p info@booster.by
							li
								a(href="skype:booster_bel") booster_bel
					li.footer-phones
						a(href="tel:+375173887505") +375 (17) 388-75-05 тел/факс
						a(href="tel:+375293887505") +375 (29) 388-75-05 моб.
						a(href="tel:+375293659500") +375 (29) 365-95-00 моб.
						.btn-wrap
							a.btn.btn-green(href="#")
								p Обратный звонок
			.footer-bottom
				ul
					li.copyright
						p © 2017 Booster.by
					li.social
						ul
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/fb.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/vk.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/insta.svg", alt="")
					li.developed-by
						p Дизайн и разработка:
						a(href="https://nambawan.by" target="_blank")
							img(draggable="false" src="img/logo-namba.png", alt="")
							p Nambawan
		.hidden
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="js/sticky.js")
	script(src="js/slick.min.js")
	script(src="js/jquery.fancybox.min.js")
	script(src="js/common.js")