<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Booster
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
	link(href="css/main.css", rel="stylesheet")
	
body
	header
		.top-line
			.content
				.company-clarify
					p Промышленные парогенераторы и котельное оборудование
				.company-info
					ul
						li
							p Пн–Пт, 09:00–18:00
						li
							p info@booster.by
						li
							a(href="skype:booster_bel") booster_bel
		.header-menu
			.content
				.logo
					img( draggable="false" src="img/logo.png", alt="Бустер - Промышленные парогенераторы")
				nav
					ul
						li
							a(href="#") О компании
						li
							a(href="#") Каталог
						li
							a(href="#") Объекты
						li
							a(href="#") Контакты
				.phones
					ul
						li
							a(href="tel:+375173887505") +375 (17) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
					ul.hidden-phones
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
				.callback.btn.btn-white
					p Обратный звонок
	section#case
		.content
			.breadcrumbs
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Каталог
					li
						a(href="#") Парогенераторы BOOSTER
			h1 Парогенератор в производственном цеху для компании «Онега»
			.bullets
				ul
					li
						.caption
							p Заказчик:
						.clarify
							p ПОДО «Онега»
					li
						.caption
							p Оборудование
						.clarify
							p Прямоточный парогенератор BOOSTER BOP-600G и система химводоподготовки
					li
						.caption
							p Место установки
						.clarify
							p г.п.Колодищи, Минский р-н
					li
						.caption
							p Дата поставки
						.clarify
							p 10.01.2014 г.
	section#about-customer
		.content
			.flex-wrap
				.images
					.img-1
						img(src="img/about-customer-1.jpg", alt="")
					.img-2
						img(src="img/about-customer-2.jpg", alt="")
				.about
					.caption
						p О заказчике
					.about-img
						img(src="img/about-img.png", alt="")
					.clarify
						p ПОДО «Онега» — Крупнейший белорусский производитель продуктов питания и лидер на рынке снеков РБ.
					.features
						.ft
							p.mark 01
							p место в Беларуси по объемам производства  чипсов, семечек, арахиса.
						.ft
							p.mark 19
							p лет на белорусском рынке снеков и продуктов быстрого питания
						.ft
							p.mark 6+
							p республиканских премий. Неоднократный  победитель  в конкурсах: “Продукт Года”,  “Бренд года”, “Выбор года”;
			.goals
				.caption
					p Задачи
				ul
					li
						p Обеспечить технологическую линию по производству батончиков-мюсли подачей пара .
					li
						p Установить парогенератор без здания котельной в производственном цеху в непосредственной близости с линией, для быстрой подачи пара. 
					li
						p Не иметь ограничения по пуску/останову в  день.
					li
						p Установить парогенератор без здания котельной в производственном цеху в непосредственной близости с линией, для быстрой подачи пара. 
					li
						p Не иметь ограничения по пуску/останову в  день.
	section#solution
		.content
			h2 Решение
			.clarify
				p Установили прямоточный водотрубный парогенератор BOOSTER BOP-600G производительностью 600 кг пара в час с 2-ух ступенчатой газовой горелкой и экономайзером для увеличения КПД.
			.slider
				.item
					img(src="img/solution-slider.jpg", alt="")
				.item
					img(src="img/solution-slider.jpg", alt="")
				.item
					img(src="img/solution-slider.jpg", alt="")
			.flex-wrap
				.left-side
					.img
						img(src="img/solution-3.jpg", alt="")
				.right-side
					.txt
						p В виду своей конструкции, данный тип парогенератора можно устанавливать в производственном цеху возле потребителя пара.
						p Это позволяет существенно сэкономить средства на возведении здания котельной, а так же на транспортировке пара по магистралям.
			.flex-wrap
				.left-side
					.img
						img(src="img/solution-3.jpg", alt="")
				.right-side
					.txt
						p В виду своей конструкции, данный тип парогенератора можно устанавливать в производственном цеху возле потребителя пара.
						p Это позволяет существенно сэкономить средства на возведении здания котельной, а так же на транспортировке пара по магистралям.
	section#case-equipment
		.content
			h2 Используемое оборудование
			.slider
				.item
					.img
						img(src="img/case-equipment-1.jpg", alt="")
					.info
						.caption
							p Парогенератор BOOSTER BOP-600G
						.txt
							p Производительность — 600 кг/ч
							p Рабочее давление заводское — до 9 бар (настроено у Заказчика на 6 бар)
							p КПД — 92%
							p Объём котловой воды — 186 л
							p Размеры (ШхДхВ) — 1500х1960х2370 мм
							p Система регулирования горения — 2-ух ступенчатая
							p Давление газа — низкое
						.btn-wrap
							a.btn.btn-green(href="#") Смотреть далее
				.item
					.img
						img(src="img/case-equipment-1.jpg", alt="")
					.info
						.caption
							p Парогенератор BOOSTER BOP-600G
						.txt
							p Производительность — 600 кг/ч
							p Рабочее давление заводское — до 9 бар (настроено у Заказчика на 6 бар)
							p КПД — 92%
							p Объём котловой воды — 186 л
							p Размеры (ШхДхВ) — 1500х1960х2370 мм
							p Система регулирования горения — 2-ух ступенчатая
							p Давление газа — низкое
						.btn-wrap
							a.btn.btn-green(href="#") Смотреть далее
				.item
					.img
						img(src="img/case-equipment-1.jpg", alt="")
					.info
						.caption
							p Парогенератор BOOSTER BOP-600G
						.txt
							p Производительность — 600 кг/ч
							p Рабочее давление заводское — до 9 бар (настроено у Заказчика на 6 бар)
							p КПД — 92%
							p Объём котловой воды — 186 л
							p Размеры (ШхДхВ) — 1500х1960х2370 мм
							p Система регулирования горения — 2-ух ступенчатая
							p Давление газа — низкое
						.btn-wrap
							a.btn.btn-green(href="#") Смотреть далее
	section#case-review
		.content
			h2 Отзыв заказчика
			.review-box
				.img
					img(src="img/case-review.png", alt="")
				.review-txt
					p В виду своей коснтрукции, данный тип парогенератора можно устанавливать в произваодственном цеху возле потребителя пара.
					p Это позволяет существенно сэкономить средства на возведении здания котельной, а так же на транспортировке пара по магистралям.
					.review-person
						.wrap
							b Сергей Метто,
							p директор «Онега»
	section#contact-us.case
		.contact-us-box
			h2 Связаться с нами
			.clarify
				p Чтобы получить больше информации, узнать цену, выбрать и купить промышленный 
				p парогенератор Booster в Минске, позвоните по телефону или заполните форму
			ul
				li
					.phone-num
						p +375 (17) 388-75-05
					.phone-operator
						p Городской
				li
					.phone-num
						p +375 (17) 388-75-05
					.phone-operator
						p Мтс
				li
					.phone-num
						p +375 (17) 388-75-05
					.phone-operator
						p Мтс
				li
					.phone-num
						p +375 (17) 388-75-05
					.phone-operator
						p Мтс
			.email
				p info@booster.by
			.btn-wrap
				a.btn.btn-green(href="#") Узнать стоимость
	footer
		.content
			.footer-top
				.to-up
				ul
					li.footer-logo
						a(href="#")
							img(draggable="false" src="img/svg/logo_footer.svg", alt="")
						.about-company
							p Промышленные парогенераторы, теплообменное и котельное  оборудование
					li.footer-nav
						nav
							ul
								li
									a(href="#") О компании
								li
									a(href="#") Объекты
								li
									a(href="#") Каталог
								li
									a(href="#") Контакты
					li.footer-addr
						p Республика Беларусь, г. Минск
						p 1-й Твердый переулок, дом. 7, каб. 1
						ul
							li
								p info@booster.by
							li
								a(href="skype:booster_bel") booster_bel
					li.footer-phones
						a(href="tel:+375173887505") +375 (17) 388-75-05 тел/факс
						a(href="tel:+375293887505") +375 (29) 388-75-05 моб.
						a(href="tel:+375293659500") +375 (29) 365-95-00 моб.
						.btn-wrap
							a.btn.btn-green(href="#")
								p Обратный звонок
			.footer-bottom
				ul
					li.copyright
						p © 2017 Booster.by
					li.social
						ul
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/fb.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/vk.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/insta.svg", alt="")
					li.developed-by
						p Дизайн и разработка:
						a(href="https://nambawan.by" target="_blank")
							img(draggable="false" src="img/logo-namba.png", alt="")
							p Nambawan
		.hidden
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="js/sticky.js")
	script(src="js/slick.min.js")
	script(src="js/jquery.fancybox.min.js")
	script(src="js/common.js")