<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	script.
		var ww = window.innerWidth;
		if(ww <= 500){
			viewport = document.querySelector("meta[name=viewport]");
			viewport.setAttribute('content', 'width=500');
		}
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Booster
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
	link(href="css/main.css", rel="stylesheet")
	
body
	header
		.top-line
			.content
				.company-clarify
					p Промышленные парогенераторы и котельное оборудование
				.company-info
					ul
						li
							p Пн–Пт, 09:00–18:00
						li
							p info@booster.by
						li
							a(href="skype:booster_bel") booster_bel
		.header-menu
			.content
				.logo
					img( draggable="false" src="img/logo.png", alt="Бустер - Промышленные парогенераторы")
				nav
					ul
						li
							a(href="#") О компании
						li
							a(href="#") Каталог
						li
							a(href="#") Объекты
						li
							a(href="#") Контакты
				.phones
					ul
						li
							a(href="tel:+375173887505") +375 (17) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
					ul.hidden-phones
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
				.callback.btn.btn-white
					p Обратный звонок
	section#dealers
		.second-nav
			.content
				ul
					li
						a(href="#") О компании
					li
						a(href="#") Услуги
					li
						a(href="#") Отзывы
					li.active
						a(href="#") Дилерам
					li
						a(href="#") Новости
					li
						a(href="#") Вакансии
					li
						a(href="#") Вопрос-Ответ
		.content
			.breadcrumbs
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Каталог
					li
						a(href="#") Парогенераторы BOOSTER
			h1 Дилерам
			.flex-wrap
				.left-side
					.clarify
						p Компания «Бустер Бел» рада предложить специальные условия для монтажных и проектных организаций, а так же для торговых представителей и индивидуальных предпринимателей.
						p Нашим представителям мы оказываем всю необходимую помощь и поддержку:
					.list
						ul
							li
								.img
									img(src="img/dealers-1.png", alt="")
								.caption
									p Консультации
							li
								.img
									img(src="img/dealers-2.png", alt="")
								.caption
									p Защита проектов
							li
								.img
									img(src="img/dealers-3.png", alt="")
								.caption
									p Техническая документация
							li
								.img
									img(src="img/dealers-4.png", alt="")
								.caption
									p Специальные условия
				.right-side
					.form-box
						.caption
							p заявка на партнерство
						form(action="")
							.holder
								select(name="partner-type")
									option(value="Проектная организация") Проектная организация
							.holder
								label Название компании
								input(type="text" name="company-name" placeholder="000 «Roga and  |")
							.holder
								label ФИО
								input(type="text" name="name")
							.holder
								label Должность
								input(type="text" name="position")
							.holder
								label Телефон
								input(type="tel" name="phone")
							.holder
								label Почта
								input(type="email" name="email")
							.holder
								label Письмо в произвольной форме
								textarea(name="comment")
							.btn-wrap
								button.btn.btn-green Отправить
	footer
		.content
			.footer-top
				.to-up
				ul
					li.footer-logo
						a(href="#")
							img(draggable="false" src="img/svg/logo_footer.svg", alt="")
						.about-company
							p Промышленные парогенераторы, теплообменное и котельное  оборудование
					li.footer-nav
						nav
							ul
								li
									a(href="#") О компании
								li
									a(href="#") Объекты
								li
									a(href="#") Каталог
								li
									a(href="#") Контакты
					li.footer-addr
						p Республика Беларусь, г. Минск
						p 1-й Твердый переулок, дом. 7, каб. 1
						ul
							li
								p info@booster.by
							li
								a(href="skype:booster_bel") booster_bel
					li.footer-phones
						a(href="tel:+375173887505") +375 (17) 388-75-05 тел/факс
						a(href="tel:+375293887505") +375 (29) 388-75-05 моб.
						a(href="tel:+375293659500") +375 (29) 365-95-00 моб.
						.btn-wrap
							a.btn.btn-green(href="#")
								p Обратный звонок
			.footer-bottom
				ul
					li.copyright
						p © 2017 Booster.by
					li.social
						ul
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/fb.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/vk.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/insta.svg", alt="")
					li.developed-by
						p Дизайн и разработка:
						a(href="https://nambawan.by" target="_blank")
							img(draggable="false" src="img/logo-namba.png", alt="")
							p Nambawan
		.hidden
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="js/sticky.js")
	script(src="js/slick.min.js")
	script(src="js/jquery.fancybox.min.js")
	script(src="js/common.js")