<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Booster
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
	link(href="css/main.css", rel="stylesheet")
	
body
	header
		.top-line
			.content
				.company-clarify
					p Промышленные парогенераторы и котельное оборудование
				.company-info
					ul
						li
							p Пн–Пт, 09:00–18:00
						li
							p info@booster.by
						li
							p booster_bel
		.header-menu
			.content
				.logo
					img( draggable="false" src="img/logo.png", alt="Бустер - Промышленные парогенераторы")
				nav
					ul
						li
							a(href="#") О компании
						li
							a(href="#") Каталог
						li
							a(href="#") Объекты
						li
							a(href="#") Контакты
				.phones
					ul
						li
							a(href="tel:+375173887505") +375 (17) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
				.callback.btn
					p Обратный звонок
	section.top-sec
		.content
			.breadcrumbs
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Каталог
					li
						a(href="#") Парогенераторы BOOSTER
			.flex-wrap
				.left-side
					h1
						span Парогенератор
						span промышленный BOOSTER
					.clarify
						p Южно-корейский стальной, водотрубный, вертикального исполнения генератор пара с естественной циркуляцией, работающий на газе, дизтопливе и мазуте.
					.bullets
						ul
							li
								p Не требуется здание
								p котельной.
							li
								p Образование пара через
								p 4–5 минуты после запуска
							li
								p Устанавливается прямо
								p в производственном цеху
							li
								p Дешевле европейских
								p аналогов.
				.right-side
					img( draggable="false" src="img/image-1.png", alt="")
	.main-wrap
		.content
			.aside-wrap
				aside
					nav
						ul
							li
								a(href="#proizvoditel") Производительность
							li
								a(href="#features") Особенности
							li
								a(href="#model-range") Продукция
							li
								a(href="#documentation") Документация
							li
								a(href="#use-range") Сфера применения
							li
								a(href="#objects") Объекты
							li
								a(href="#recommended") Рекомендуем
					.btn-wrap
						a(href="#").btn Опросный лист
			main
				section#proizvoditel
					h2
						p Booster — ведущий южнокорейский 
						p производитель котельного оборудования
					.flex-wrap
						.left-side
							.clarify
								p Южно-корейский стальной, водотрубный, вертикального исполнения генератор пара с естественной циркуляцией, работающий на газе, дизтопливе и мазуте. Парогенераторы BOOSTER купили и по достоинству оценили такие мировые копании как 
									span.bold «LG Electronics»
									| , 
									span.bold «Samsung Electronics RUS»
									| , 
									span.bold «Lotte Group»
									| , 
									span.bold «Hyundai»
									| , 
									span.bold «Газпром»
									| , а так же ряд белорусских компаний.
								p При производстве парогенераторов компанией Booster Co., Ltd используются только самые современные технологии и разработки:
								.list
									ul
										li
											p 1. Паровая задвижка
										li
											p 2. Предохранительный клапан
										li
											p 3. Горелка
										li
											p 4. Дутьевой вентилятор
										li
											p 5. Паровой коллектор
										li
											p 6. Трубные экраны
									ul
										li
											p 7. Водяной коллектор
										li
											p 8. Водомерная колонка
										li
											p 9. Дренаж
										li
											p 10. Сепаратор
										li
											p 11. Экономайзер
						.right-side
							.illu
								img( draggable="false" src="img/image-2.png", alt="")
								.clarify-img
									p Схема парогенератора
					.flex-wrap.about-korea
						.left-side
							.country-label-wrapper
								.country-label
									.triangle
									.country-label-top
										.country-label-img
											img( draggable="false" src="img/korea.jpg", alt="")
										.country-label-name
											p Южная корея
											p в цифрах
									.country-label-content
										.next
										.items
											div
												.country-label-num
													p 11
												.country-label-txt
													p экономика
													p в мире
											div
												.country-label-num
													p 12
												.country-label-txt
													p экономика
													p в мире
											div
												.country-label-num
													p 13
												.country-label-txt
													p экономика
													p в мире
						.right-side
							h3
								span BOOSTER — ведущий производитель
								span парогенераторов в Южной Корее
							.clarify
								p С момента своего создания, компания «Бустер» проводит государственную программу «Энергетическая модернизация» Республики Корея, которая на 97% зависит от поставок зарубежных энергоносителей.
								p Посредством инновационного проектирования и высокочественного производства компания «Бустер» заняла ведущую роль в котельной промышленности страны, став одним из предприятий формировавших бурный экономичейский рост Южной Кореи.
					.history-line
						ul
							li
								.year
									p 1973
								.clarify
									p Основание компании
							li
								.year
									p 1995
								.clarify
									p Начало поставок продукции
									p BOOSTER в Россию.
							li.active
								.year
									p 2013
								.clarify
									p Мы первые начали поставлять
									p оборудование BOOSTER в Беларусь
							li
								a(href="#")
									.clarify
										p Вся история компании
										p BOOSTER CO., LTD
					.geografy
						h3 География поставок BOOSTER
						.clarify
							p Закрепив успех в Южной Корее, компания «Бустер» получила целый ряд сертификатов качества, в том числе в 
								span.bold России, Японии, Китае 
								| и странах 
								span.bold Европы.
							p Продукция завода проверена и одобрена как качественное, экологически чистое котельное оборудование.
				section#features
					h2 Особенности и преимущества промышленных парогенераторов BOOSTER
					.clarify
						p Парогенераторы BOOSTER — современное, надежное и эффективное оборудование, выполненное из высокопрочной холоднокатаной стали и оборудованное встроенной системой контроля и управления. Это продлевает срок службы котлов и позволяет легко регулировать их работу.	
					.bullets
						ul
							li
								.caption
									p КПД — 96%
								.clarify
									p Высокая эффективность и производительность
							li
								.caption
									p 800+ котлов в СНГ
								.clarify
									p Свыше 800 котлов уже поставлено в страны СНГ
							li
								.caption
									p Запуск — 5 минут
								.clarify
									p Выход на рабочий режим за 5 минут
							li
								.caption
									p Не нужна котельная
								.clarify
									p Парогенератор можно устанавливать в цеху
					.features-label
						.features-label-box
							.notion
								p Выдержка из правил Госпромнадзора
							h3
								span Почему этим котлам
								span не нужна котельная?
							.clarify
								.caption
									p РАЗДЕЛ VII. ПОМЕЩЕНИЕ ДЛЯ КОТЛОВ
								p ГЛАВА 57 ОБЩИЕ ПОЛОЖЕНИЯ
								p 435. Внутри производственных помещений допускается установка: прямоточных котлов паропроизводительностью не более 4 т/ч каждый; котлов, удовлетворяющих условию ( t – 100) х V ≤100 (для каждого котла), где t – температура насыщенного пара при рабочем давлении, °С;  V – водяной объем котла, м3
				section#model-range
					h2 Модельный ряд
					.clarify
						p Парогенераторы BOOSTER — современное, надежное и эффективное оборудование, выполненное из высокопрочной холоднокатаной стали и оборудованное встроенной системой контроля и управления. Это продлевает срок службы котлов и позволяет легко регулировать их работу.
					.model-range-list
						ul.animated-borders
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.model-img
										img(draggable="false" src="img/vo_(100-500kg-h).jpg", alt="")
									.model-name
										p BO (100-500 КГ/Ч)
									.model-clarify
										p Расчетное давление: до 10-16 бар;
										p Вид топлив: газ, дизельное топливо;
										p Степень сухости пара - 0,9
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.model-img
										img(draggable="false" src="img/vor_(500-1000kg-h).jpg", alt="")
									.model-name
										p BOP (500-1000 КГ/Ч)
									.model-clarify
										p Расчетное давление: до 10-16 бар;
										p Вид топлив: газ;
										p Степень сухости пара - 0,9
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.model-img
										img(draggable="false" src="img/NBO(500-1500kg-h).jpg", alt="")
									.model-name
										p NBO (500-1500 КГ/Ч)
									.model-clarify
										p Расчетное давление: до 10-16 бар;
										p Вид топлив: дизельное топливо, мазут;
										p Степень сухости пара - 0,9
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.model-img
										img(draggable="false" src="img/BCS-BHS(300-800kg-h).jpg", alt="")
									.model-name
										p BCS/BHS (300-800 КГ/Ч)
									.model-clarify
										p Расчетное давление: до 10-16 бар;
										p Вид топлив: газ;
										p Степень сухости пара - 0,9
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.model-img
										img(draggable="false" src="img/BSS(1000-4000kg-h).jpg", alt="")
									.model-name
										p BSS (1000-4000 КГ/Ч)
									.model-clarify
										p Расчетное давление: до 10-16 бар;
										p Вид топлив: газ, дизельное топливо;
										p Степень сухости пара - 0,9
							li
								a(href="#")
									.model-img
										img(draggable="false" src="img/image-4.png", alt="")
									.model-name
										p Скачать каталог продукции
									.model-clarify
										p PDF (1.3 мб)
					.tabs
						ul
							li
								.caption
									.open
									p Отличие парогенератора от парового котла
							li
								.caption
									.open
									p Скажите можно ли самостоятельно
									p изменить режим работы котла?
							li
								.caption
									.open
									p Стандартный комплект химводоподготовки
									p для паровых котлов подходит к любой воде?
							li
								.caption
									.open
									p В чем отличие южнокорейских котлов
									p от существующих аналогов?
				section#documentation
					h2 Документация
					.clarify
						p Что-то о сертификатах и разрешениях
					.doc-list
						ul
							li
								a(href="img/doc.jpg" data-fancybox="images")
									img(src="img/doc.jpg", alt="")
									.doc-name
										p СЕРТИФИКАТ ТР ТС
							li
								a(href="img/doc.jpg" data-fancybox="images")
									img(src="img/doc.jpg", alt="")
									.doc-name
										p СЕРТИФИКАТ ДИЛЕРА
							li
								a(href="img/doc.jpg" data-fancybox="images")
									img(src="img/doc.jpg", alt="")
									.doc-name
										p СЕРТИФИКАТ ТР ТС
				section#use-range
					h2 Сфера применения
					.range-list
						ul
							li
								.range-icon
									img(draggable="false" src="img/icon-1.png", alt="")
								.range-info
									.caption
										p Строительная
									p деревообработка, производство железобетонных изделий, разогрев вязких сред и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-2.png", alt="")
								.range-info
									.caption
										p Коммунальная
									p бани, прачечные, отопление цеха химчистки, и др
							li
								.range-icon
									img(draggable="false" src="img/icon-3.png", alt="")
								.range-info
									.caption
										p Пищевая
									p производство пива, мясопереработка, кондитерское производство и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-4.png", alt="")
								.range-info
									.caption
										p Нефтехимическая
									p стерилизация и дезинфекция, пропарочные камеры и автоклавы произв-во лекарств и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-5.png", alt="")
								.range-info
									.caption
										p Лёгкая
									p обработки текстиля, производство бумаги и гофрокартона и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-6.png", alt="")
								.range-info
									.caption
										p Агропромышленная
									p производство комбикорма
									p и пищевых добавок, теплицы и др.
				section#objects
					h2 Объекты
					.clarify
						p Некоторые объекты с парогенераторами BOOSTER.
					.objects-list
						ul
							li
								a(href="#")
									.object-img
										img(draggable="false" src="img/image-5.jpg", alt="")
									.object-info
										.object-name
											p Компания «Онега»
										.object-logo
											img(draggable="false" src="img/onega.png", alt="")
							li
								a(href="#")
									.object-img
										img(draggable="false" src="img/image-6.jpg", alt="")
									.object-info
										.object-name
											p Агрокомбинат
											p «Дзержинский»
										.object-logo
											img(draggable="false" src="img/agrocom.png", alt="")
							li
								a(href="#")
									.object-img
										img(draggable="false" src="img/image-7.jpg", alt="")
									.object-info
										.object-name
											p Компания «Белита»
										.object-logo
											img(draggable="false" src="img/bielita.png", alt="")
				section#recommended
					h2 Рекомендовано
					.clarify
						p Вам могут пригодится системы водоочистки и другое оборудование
					.rec-list
						ul.animated-borders
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.rec-img
										img(draggable="false" src="img/image-8.jpg", alt="")
									.rec-name
										p Электрический парогенератор
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.rec-img
										img(draggable="false" src="img/image-9.jpg", alt="")
									.rec-name
										p Химподготовка
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.rec-img
										img(draggable="false" src="img/image-10.jpg", alt="")
									.rec-name
										p Даэраторы
				section#contact-us
					.contact-us-box
						h2 Связаться с нами
						.clarify
							p Чтобы получить больше информации, узнать цену, выбрать и купить промышленный 
							p парогенератор Booster в Минске, позвоните по телефону или заполните форму
						.caption
							p по телефону:
						ul
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Городской
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Мтс
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Мтс
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Мтс
						.caption
							p Через форму:
						.btn-wrap
							a.btn(href="#") Узнать стоимость
	footer
		.content
			.footer-top
				ul
					li.footer-logo
						a(href="#")
							img(draggable="false" src="img/logo.png", alt="")
						.about-company
							p Промышленные парогенераторы, теплообменное и котельное  оборудование
					li.footer-nav
						nav
							ul
								li
									a(href="#") О компании
								li
									a(href="#") Объекты
								li
									a(href="#") Каталог
								li
									a(href="#") Контакты
					li.footer-addr
						p Республика Беларусь, г. Минск
						p 1-й Твердый переулок, дом. 7, каб. 1
						ul
							li
								p info@booster.by
							li
								a(href="skype:booster_bel") booster_bel
					li.footer-phones
						a(href="tel:+375173887505") +375 (17) 388-75-05 тел/факс
						a(href="tel:+375293887505") +375 (29) 388-75-05 моб.
						a(href="tel:+375293659500") +375 (29) 365-95-00 моб.
						.btn-wrap
							a.btn(href="#") Обратный звонок
			.footer-bottom
				ul
					li.copyright
						p © 2017 Booster.by
					li.social
						ul
							li
								a(href="#")
									img(draggable="false" src="img/vk.png", alt="")
							li
								a(href="#")
									img(draggable="false" src="img/vk.png", alt="")
							li
								a(href="#")
									img(draggable="false" src="img/vk.png", alt="")
					li.developed-by
						p Дизайн и разработка:
						a(href="#")
							img(draggable="false" src="img/logo-namba.png", alt="")
							p Nambawan
		.hidden
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="js/sticky.js")
	script(src="js/slick.min.js")
	script(src="js/jquery.fancybox.min.js")
	script(src="js/common.js")