<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Booster
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
	link(href="css/main.css", rel="stylesheet")
	
body
	header
		.top-line
			.content
				.company-clarify
					p Промышленные парогенераторы и котельное оборудование
				.company-info
					ul
						li
							p Пн–Пт, 09:00–18:00
						li
							p info@booster.by
						li
							a(href="skype:booster_bel") booster_bel
		.header-menu
			.content
				.logo
					img( draggable="false" src="img/logo.png", alt="Бустер - Промышленные парогенераторы")
				nav
					ul
						li
							a(href="#") О компании
						li
							a(href="#") Каталог
						li
							a(href="#") Объекты
						li
							a(href="#") Контакты
				.phones
					ul
						li
							a(href="tel:+375173887505") +375 (17) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
					ul.hidden-phones
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
				.callback.btn.btn-white
					p Обратный звонок
	section.top-sec
		.content
			.breadcrumbs
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Каталог
					li
						a(href="#") Парогенераторы BOOSTER
			.flex-wrap.small-top
				.left-side
					h1 Парогенератор электрический промышленный
					.bullets
						ul
							li
								p Не подлежит регистрации
								p в органах Госпромнадзора.
							li
								p На все котлы получен сертификат
								p соответствия Таможенного союза
							li
								p Монтаж, наладка, обучение.
							li
								p Есть склад запчастей
				.right-side
					img( draggable="false" src="img/par-top.png", alt="")
	.main-wrap
		.content
			.aside-wrap
				aside
					nav
						ul
							li
								a(href="#features") Особенности
							li
								a(href="#model-range_par") Продукция
							li
								a(href="#leasing") Аренда
							li
								a(href="#documentation") Документация
							li
								a(href="#use-range") Сфера применения
							li
								a(href="#objects") Объекты
							li
								a(href="#recommended") Рекомендуем
					.btn-wrap
						a(href="#").btn.btn-white Опросный лист
			main
				section#features
					h2
						span Электрический парогенератор — это самый
						span быстрый способ получения пара
					.flex-wrap
						.left-side
							.clarify
								p Электрический парогенератор марки ПГЭ служит для генерации насыщенного пара с рабочим давлением до 5,5 бар (опция до 8 бар) и производительностью от 5 до 1500 кг пара в час для самых разных задач от маленького до крупного производства.
								p Благодаря широкому модельному ряду и большому количеству опций Вы точно найдете оптимальный вариант. Использование данного оборудования - это самый быстрый способ получения пара на сегодняшний день.
						.right-side
							.illu
								img( draggable="false" src="img/03-min.png", alt="")
								//- .clarify-img
								//- 	p выход на рабочий режим
					.list
						.caption
							p Основные особенности
						.bullets
							ul
								li
									.caption
										p Не подлежат регистрации
									.clarify
										p Не подлежат регистрации в органах котлонадзора
								li
									.caption
										p Регулировка мощности
									.clarify
										p Плавная регулировка мощности от 25% до 100%
								li
									.caption
										p Давление до 8 бар
									.clarify
										p Максимальное давление до 8 бар
								li
									.caption
										p Автоматизация
									.clarify
										p Весь режим работы полностью автоматизирован
								li
									.caption
										p Надежность
									.clarify
										p Надежная группа безопасности
								li
									.caption
										p Простой монтаж
									.clarify
										p Монтаж и обслуживание максимально просты
					.features-label
						.features-label-box
							.notion
								p Выдержка из правил Госпромнадзора
							h3
								span Почему эти котлы
								span не нужно регистрировать
								span в котлонадзоре?
							.clarify
								.caption
									p РАЗДЕЛ X. РЕГИСТРАЦИЯ, ТЕХНИЧЕСКОЕ ОСВИДЕТЕЛЬСТВОВАНИЕ И РАЗРЕШЕНИЕ НА 
									p ЭКСПЛУАТАЦИЮ
								p ГЛАВА 71 РЕГИСТРАЦИЯ
								p 526. Регистрации в соответствии с законодательством не подлежат котлы, на которые распространяются действия настоящих правил и у которых (ts – 100) х V ≤5, где ts – температура насыщенного пара, воды при рабочем давлении, °С; V – водяной объем котла, м3.
					.geografy
						.label
							.caption
								p
									span >
									span.num 20
							.clarify
								p объектов в РБ
								p за 2016 год
						h3
							span Бустер Бел — лидер на рынке 
							span промышленных парогенераторов!
						.notion
							p Мы установили 
								span.mark.bold 18 объектов 
								| за 2016 год.
						.clarify
							ul
								li
									p самые 
										span.bold доступные цены;
								li
									p
										span.bold кратчайшие сроки 
										| поставки;
								li
									p склад запчастей;
								li
									p широкий выбор опций;
								li
									p сертификаты ТР ТС;
								li
									p монтаж, наладка, обучение.
				section#model-range_par
					h2 Модельный ряд
					.clarify
						p Электрические парогенераторы — современное, надежное и эффективное оборудование, выполненное                                 из высокопрочной холоднокатаной стали и оборудованное встроенной системой контроля и управления.                          Электропарогенераторы не подлежат регистрации в органах Госпромнадзора.
					.model-range-list
						ul.animated-borders
							li.hit
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.model-image
										img(src="img/model-image-1.jpg", alt="")
									.model-info
										.caption
											p Электродные
										.clarify
											p Стационарные парогенераторы принцип работы которых построен на электропроводимости воды.
										.features
											.ft1.ft
												p Производительность
												p от 10 до 1500 кг
											.ft2.ft
												p Давление до 5,5 бар
												p (опция до 8 бар)
										.btn-wrap
											p.btn.btn-white(href="#") Подробней
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.model-image
										img(src="img/model-image-1.jpg", alt="")
									.model-info
										.caption
											p Мобильные
										.clarify
											p Передвижные парогенераторы для работы как внутри помещений, так и на улице. Внутренний объем позволяет работать автономно от центрального источника водоснабжения,  что иногда крайне необходимо для сектора ЖКХ или строительных бригад.
										.features
											.ft1.ft
												p Производительность
												p от 10 до 1500 кг
											.ft2.ft
												p Давление до 5,5 бар
												p (опция до 8 бар)
										.btn-wrap
											p.btn.btn-white(href="#") Подробней
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.model-image
										img(src="img/model-image-1.jpg", alt="")
									.model-info
										.caption
											p Тэновые
										.clarify
											p Стационарные парогенераторы принцип работы которых построен на тепловом нагреве через тэны.
										.features
											.ft1.ft
												p Производительность
												p от 10 до 1500 кг
											.ft2.ft
												p Давление до 5,5 бар
												p (опция до 8 бар)
										.btn-wrap
											p.btn.btn-white(href="#") Подробней
					.faq
						.caption
							p Ответы на вопросы
						.tabs
							ul
								li
									.caption
										.open
										p Отличие парогенератора от парового котла
								li
									.caption
										.open
										p Скажите можно ли самостоятельно
										p изменить режим работы котла?
								li
									.caption
										.open
										p Стандартный комплект химводоподготовки
										p для паровых котлов подходит к любой воде?
								li
									.caption
										.open
										p В чем отличие южнокорейских котлов
										p от существующих аналогов?
				section#leasing
					.flex-wrap
						.leasing-img
							img(src="img/leasing.png", alt="")
							.label
								.caption
									p 25-100
								.clarify
									p кг пара в час
						.leasing-info
							.notion
								p Только у нас!
							h2
								span Аренда электрического 
								span парогенератора
							.clarify
								p Вы можете взять парогенератор в аренду с целью опробовать его. Выясните практическим путем оптимальную потребность в паре и только потом совершите покупку нужной модели.
							.bullets
								ul
									li
										p Не подлежат регистрации
										p в котлонадзоре
									li
										p Плавная регулировка 
										p мощности
									li
										p Максмальное 
										p давление до 8 бар
							.btn-wrap
								a.btn.btn-green(href="#") Подробней
				section#documentation
					h2 Документация
					.clarify
						p Что-то о сертификатах и разрешениях
					.doc-list
						ul
							li
								a(href="img/doc.jpg" data-fancybox="images")
									img(src="img/doc.jpg", alt="")
									.doc-name
										p СЕРТИФИКАТ ТР ТС
							li
								a(href="img/doc.jpg" data-fancybox="images")
									img(src="img/doc.jpg", alt="")
									.doc-name
										p СЕРТИФИКАТ ДИЛЕРА
							li
								a(href="img/doc.jpg" data-fancybox="images")
									img(src="img/doc.jpg", alt="")
									.doc-name
										p СЕРТИФИКАТ ТР ТС
				section#use-range
					h2 Сфера применения
					.range-list
						ul
							li
								.range-icon
									img(draggable="false" src="img/icon-1.png", alt="")
								.range-info
									.caption
										p Строительная
									p деревообработка, производство железобетонных изделий, разогрев вязких сред и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-2.png", alt="")
								.range-info
									.caption
										p Коммунальная
									p бани, прачечные, отопление цеха химчистки, и др
							li
								.range-icon
									img(draggable="false" src="img/icon-3.png", alt="")
								.range-info
									.caption
										p Пищевая
									p производство пива, мясопереработка, кондитерское производство и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-4.png", alt="")
								.range-info
									.caption
										p Нефтехимическая
									p стерилизация и дезинфекция, пропарочные камеры и автоклавы произв-во лекарств и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-5.png", alt="")
								.range-info
									.caption
										p Лёгкая
									p обработки текстиля, производство бумаги и гофрокартона и др.
							li
								.range-icon
									img(draggable="false" src="img/icon-6.png", alt="")
								.range-info
									.caption
										p Агропромышленная
									p производство комбикорма
									p и пищевых добавок, теплицы и др.
				section#objects
					h2 Объекты
					.clarify
						p Вам могут пригодится системы водоочистки и другое оборудование
					.objects-list
						ul
							li
								a(href="#")
									.object-img
										img(draggable="false" src="img/image-5.jpg", alt="")
									.object-info
										.object-name
											p Компания «Онега»
										.object-logo
											img(draggable="false" src="img/onega.png", alt="")
							li
								a(href="#")
									.object-img
										img(draggable="false" src="img/image-6.jpg", alt="")
									.object-info
										.object-name
											p Агрокомбинат
											p «Дзержинский»
										.object-logo
											img(draggable="false" src="img/agrocom.png", alt="")
							li
								a(href="#")
									.object-img
										img(draggable="false" src="img/image-7.jpg", alt="")
									.object-info
										.object-name
											p Компания «Белита»
										.object-logo
											img(draggable="false" src="img/bielita.png", alt="")
				section#recommended
					h2 Рекомендовано
					.clarify
						p Вам могут пригодится системы водоочистки и другое оборудование
					.rec-list
						ul.animated-borders
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.rec-img
										img(draggable="false" src="img/image-8.jpg", alt="")
									.rec-name
										p Электрический парогенератор
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.rec-img
										img(draggable="false" src="img/image-9.jpg", alt="")
									.rec-name
										p Химподготовка
							li
								a(href="#")
									.b-t.border
									.b-r.border
									.b-b.border
									.b-l.border
									.rec-img
										img(draggable="false" src="img/image-10.jpg", alt="")
									.rec-name
										p Даэраторы
				section#contact-us
					.contact-us-box
						h2 Связаться с нами
						.clarify
							p Чтобы получить больше информации, узнать цену, выбрать и купить промышленный 
							p парогенератор Booster в Минске, позвоните по телефону или заполните форму
						ul
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Городской
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Мтс
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Мтс
							li
								.phone-num
									p +375 (17) 388-75-05
								.phone-operator
									p Мтс
						.email
							p info@booster.by
						.btn-wrap
							a.btn.btn-green(href="#") Узнать стоимость
	footer
		.content
			.footer-top
				.to-up
				ul
					li.footer-logo
						a(href="#")
							img(draggable="false" src="img/svg/logo_footer.svg", alt="")
						.about-company
							p Промышленные парогенераторы, теплообменное и котельное  оборудование
					li.footer-nav
						nav
							ul
								li
									a(href="#") О компании
								li
									a(href="#") Объекты
								li
									a(href="#") Каталог
								li
									a(href="#") Контакты
					li.footer-addr
						p Республика Беларусь, г. Минск
						p 1-й Твердый переулок, дом. 7, каб. 1
						ul
							li
								p info@booster.by
							li
								a(href="skype:booster_bel") booster_bel
					li.footer-phones
						a(href="tel:+375173887505") +375 (17) 388-75-05 тел/факс
						a(href="tel:+375293887505") +375 (29) 388-75-05 моб.
						a(href="tel:+375293659500") +375 (29) 365-95-00 моб.
						.btn-wrap
							a.btn.btn-green(href="#")
								p Обратный звонок
			.footer-bottom
				ul
					li.copyright
						p © 2017 Booster.by
					li.social
						ul
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/fb.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/vk.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/insta.svg", alt="")
					li.developed-by
						p Дизайн и разработка:
						a(href="https://nambawan.by" target="_blank")
							img(draggable="false" src="img/logo-namba.png", alt="")
							p Nambawan
		.hidden
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="js/sticky.js")
	script(src="js/slick.min.js")
	script(src="js/jquery.fancybox.min.js")
	script(src="js/common.js")