<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	script.
		var ww = window.innerWidth;
		if(ww <= 500){
			viewport = document.querySelector("meta[name=viewport]");
			viewport.setAttribute('content', 'width=500');
		}
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Booster
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")
	link(href="css/main.css", rel="stylesheet")
	
body
	header
		.top-line
			.content
				.company-clarify
					p Промышленные парогенераторы и котельное оборудование
				.company-info
					ul
						li
							p Пн–Пт, 09:00–18:00
						li
							p info@booster.by
						li
							a(href="skype:booster_bel") booster_bel
		.header-menu
			.content
				.logo
					img( draggable="false" src="img/logo.png", alt="Бустер - Промышленные парогенераторы")
				nav
					ul
						li
							a(href="#") О компании
						li
							a(href="#") Каталог
						li
							a(href="#") Объекты
						li
							a(href="#") Контакты
				.phones
					ul
						li
							a(href="tel:+375173887505") +375 (17) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
					ul.hidden-phones
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
						li
							a(href="tel:+375293887505") +375 (29) 388-75-05
				.callback.btn.btn-white
					p Обратный звонок
	section#product
		.content
			.breadcrumbs
				ul
					li
						a(href="#") Главная
					li
						a(href="#") Каталог
					li
						a(href="#") Парогенераторы BOOSTER
			.flex-wrap.top
				.left-side
					.gallery
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
					.preview
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
						.item
							img(src="img/product-1.jpg", alt="")
				.right-side
					h1 Газовый парогенератор промышленный серии BSS
					.tabs
						ul
							li
								p Описание
							li
								p Характеристики
					ul
						li
							.icon
								img(src="img/product-icon-1.png", alt="")
							p Гарантия 
								b 12 месяцев
						li
							.icon
								img(src="img/product-icon-2.png", alt="")
							p Широкий выбор 
								b опций и запчастей
						li
							.icon
								img(src="img/product-icon-3.png", alt="")
							p У нас 
								b лучшая цена 
								| на данном рынке
						li
							.icon
								img(src="img/product-icon-4.png", alt="")
							p Продукт сертифицирован в системе 
								b ТР ТС
					.btn-wrap
						a.btn.btn-green(href="#") Запросить цену
			.bullets
				ul
					li
						.info
							.caption
								p КПД — 96%
							.clarify
								p Высокая эффективность
								p и производительность
					li
						.info
							.caption
								p Запуск — 5 минут
							.clarify
								p Выход на рабочий режим
								p за 5 минут
					li
						.info
							.caption
								p 800+ котлов в СНГ
							.clarify
								p Свыше 800 котлов 
								p уже поставлено в страны СНГ
					li
						.info
							.caption
								p Не нужна котельная
							.clarify
								p Парогенератор можно 
								p устанавливать в цеху
			.flex-wrap.tabs
				.left-side
					.tabs
						ul
							li.active
								p Описание
							li
								p Видео
					.tabs-content
						.descr
							p Самая современная и мощная серия газового промышленного парогенератора BOOSTER с автоматикой на 1000, 1500, 2000, 2500, 3000 и 4000 кг пара в час. Есть линейка на дизельном топливе.
							p Данные котлы отлично зарекомендуют себя в 
								b молочной, мясоперерабатывающей и целлюлозно-бумажной 
								| промышленности. 
								b При производстве ЖБИ, пенополистирола и гофрокартона.
							p Вы можете выбрать парогенератор как с экономайзером, что позволит достичь высокого КПД, так и без него. По умолчанию все паровые котлы этой серии комплектуются 2-ух и 3-ех ступенчатыми горелками, модулирующая горелка идет как опция.
				.right-side
					.caption
						p Файлы
					ul
						li
							a(href="#")
								.caption
									p КАТАЛОГ КОТЛОВ BOOSTER
								.file
									p (PDF, 2.1 мб)
						li
							a(href="#")
								.caption
									p КАТАЛОГ КОТЛОВ BOOSTER
								.file
									p (PDF, 2.1 мб)
						li
							a(href="#")
								.caption
									p КАТАЛОГ КОТЛОВ BOOSTER
								.file
									p (PDF, 2.1 мб)
			.tech-char
				.caption
					p Технические характеристики и параметры работы
				.table
					.caption
						p СЕРИЯ SG (ГАЗ) БЕЗ ЭКОНОМАЙЗЕРА
					table
						tr
							td
								p Наименование
							td
								p Ед. изм.
							td
								p BSS-1000 SG
							td
								p BSS-1500 SG
							td
								p BSS-N2000 SG
							td
								p BSS-N2500 SG
							td
								p BSS-N2300 SG
						tr
							td
								p Паропроизводительность
							td
								p кг/ч
							td
							td
							td
							td
							td
						tr
							td
								p Теплопроизводительность
							td
								p МВт
							td
							td
							td
							td
							td
						tr
							td
								p Максимальное расчетное давление
							td
								p ккал/ч
							td
							td
							td
							td
							td
						tr
							td(colspan="7")
								p КОТЕЛ
						tr
							td
								p Эффективность (КПД)
							td
								p %
							td
							td
							td
							td
							td
						tr
							td
								p Поверхность нагрева
							td
								p м2
							td
							td
							td
							td
							td
						tr
							td
								p Объем котловой воды
							td
								p м2
							td
							td
							td
							td
							td
						tr
							td
								p Напряжение
							td
							td
							td
							td
							td
							td
						tr
							td
								p Общая потребляемая мощность
							td
							td
							td
							td
							td
							td
						tr
							td
								p Мощность вентилятора
							td
							td
							td
							td
							td
							td
						tr
							td
								.separate
									.name
										p Насос водоснабжения
									.wrap
										.box
											p Тип
										.box
											p Мощность
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
						tr
							td
								p Вес
							td
							td
							td
							td
							td
							td
						tr
							td
								.separate
									.name
										p Габариты
									.wrap
										.box
											p Ширина (Ш)
										.box
											p Длина (Д)
										.box
											p Высота (В)
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
						tr
							td(colspan="7")
								p ГОРЕЛКА
						tr
							td
								.separate
									.name
										p Тип горелки
									.wrap
										.box
											p Газ
										.box
											p Low NOx
										.box
											p Модулируемая газ
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
						tr
							td
								p Система регулирования горелки
							td
							td
							td
							td
							td
							td
						tr
							td
								p Розжиг
							td
							td
							td
							td
							td
							td
						tr
							td
								.separate
									.name
										p Топливо
									.wrap
										.box
											p Природный газ
										.box
											p Сжиженый газ
										.box
											p Модулируемая газ
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
						tr
							td
								.separate
									.name
										p Топливо
									.wrap
										.box
											p Природный газ
										.box
											p Сжиженый газ
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
							td
								.wrap
									.box
									.box
						tr
							td
								.separate
									.name
										p Диаметр 
										p соединительных 
										p отверстий
									.wrap
										.box
											p Вход топлива
										.box
											p Выход пара
										.box
											p Вход питательной воды
										.box
											p Дренаж
										.box
											p Предохранит. клапан
										.box
											p Подсоединение дымохода
							td
								.wrap
									.box
									.box
									.box
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
									.box
									.box
									.box
							td
								.wrap
									.box
									.box
									.box
									.box
									.box
									.box
				.notion
					p Технические характеристики основаны на следующих условиях:
				.clarify
					p Теплопроизводительность топлива: природный газ —  8500 ккал/м3, сжиженный газ— 11000 ккал/м3;
					p Температура питательной воды 20 °С.
					p Давление газа 3500 + 1000  мм. вод. ст.
					p Технические характеристики и внешний вид могут быть изменены производителем без уведомления
			.xtra-tools
				.left-side
					.caption
						p Вспомогательное оборудование
					.clarify
						p Подберем и поставим для Вас все необходимое вспомогательное котельное оборудование и запорно-регулирующую арматуру. 
					.list
						ul
							li
								p бак питательной воды;
							li
								p теплообменное оборудование;
							li
								p деаэратор;
							li
								p дымовую трубу. 
							li
								p систему химводоподготовки;
				.right-side
					.btn-wrap
						a.btn.btn-white(href="#") Подобрать оборудование
	section#objects.common
		.content
			h2 Объекты с котлами BOOSTER
			.objects-list
				ul
					li
						a(href="#")
							.object-img
								img(draggable="false" src="img/image-5.jpg", alt="")
							.object-info
								.object-name
									p Компания «Онега»
								.object-logo
									img(draggable="false" src="img/onega.png", alt="")
					li
						a(href="#")
							.object-img
								img(draggable="false" src="img/image-6.jpg", alt="")
							.object-info
								.object-name
									p Агрокомбинат
									p «Дзержинский»
								.object-logo
									img(draggable="false" src="img/agrocom.png", alt="")
					li
						a(href="#")
							.object-img
								img(draggable="false" src="img/image-7.jpg", alt="")
							.object-info
								.object-name
									p Компания «Белита»
								.object-logo
									img(draggable="false" src="img/bielita.png", alt="")
	section#recommended.common
		.content
			h2 Рекомендовано
			.rec-list
				ul.animated-borders
					li
						a(href="#")
							.b-t.border
							.b-r.border
							.b-b.border
							.b-l.border
							.rec-img
								img(draggable="false" src="img/image-8.jpg", alt="")
							.rec-name
								p Электрический парогенератор
					li
						a(href="#")
							.b-t.border
							.b-r.border
							.b-b.border
							.b-l.border
							.rec-img
								img(draggable="false" src="img/image-8.jpg", alt="")
							.rec-name
								p Электрический парогенератор
					li
						a(href="#")
							.b-t.border
							.b-r.border
							.b-b.border
							.b-l.border
							.rec-img
								img(draggable="false" src="img/image-9.jpg", alt="")
							.rec-name
								p Химподготовка
					li
						a(href="#")
							.b-t.border
							.b-r.border
							.b-b.border
							.b-l.border
							.rec-img
								img(draggable="false" src="img/image-10.jpg", alt="")
							.rec-name
								p Даэраторы
	section#contact-us.common
		.content
			.contact-us-box
				h2 Связаться с нами
				.clarify
					p Чтобы получить больше информации, узнать цену, выбрать и купить промышленный 
					p парогенератор Booster в Минске, позвоните по телефону или заполните форму
				ul
					li
						.phone-num
							p +375 (17) 388-75-05
						.phone-operator
							p Городской
					li
						.phone-num
							p +375 (17) 388-75-05
						.phone-operator
							p Мтс
					li
						.phone-num
							p +375 (17) 388-75-05
						.phone-operator
							p Мтс
					li
						.phone-num
							p +375 (17) 388-75-05
						.phone-operator
							p Мтс
				.email
					p info@booster.by
				.btn-wrap
					a.btn.btn-green(href="#") Узнать стоимость
	footer
		.content
			.footer-top
				.to-up
				ul
					li.footer-logo
						a(href="#")
							img(draggable="false" src="img/svg/logo_footer.svg", alt="")
						.about-company
							p Промышленные парогенераторы, теплообменное и котельное  оборудование
					li.footer-nav
						nav
							ul
								li
									a(href="#") О компании
								li
									a(href="#") Объекты
								li
									a(href="#") Каталог
								li
									a(href="#") Контакты
					li.footer-addr
						p Республика Беларусь, г. Минск
						p 1-й Твердый переулок, дом. 7, каб. 1
						ul
							li
								p info@booster.by
							li
								a(href="skype:booster_bel") booster_bel
					li.footer-phones
						a(href="tel:+375173887505") +375 (17) 388-75-05 тел/факс
						a(href="tel:+375293887505") +375 (29) 388-75-05 моб.
						a(href="tel:+375293659500") +375 (29) 365-95-00 моб.
						.btn-wrap
							a.btn.btn-green(href="#")
								p Обратный звонок
			.footer-bottom
				ul
					li.copyright
						p © 2017 Booster.by
					li.social
						ul
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/fb.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/vk.svg", alt="")
							li
								a(href="#" target="_blank")
									img(draggable="false" src="img/svg/insta.svg", alt="")
					li.developed-by
						p Дизайн и разработка:
						a(href="https://nambawan.by" target="_blank")
							img(draggable="false" src="img/logo-namba.png", alt="")
							p Nambawan
		.hidden
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	script(src="js/sticky.js")
	script(src="js/slick.min.js")
	script(src="js/jquery.fancybox.min.js")
	script(src="js/common.js")