#services
	padding-bottom: 295px
	.caption
		font-weight: 700
		margin-top: 30px
	h1
		&+.clarify
			max-width: 900px
	.breadcrumbs
		margin-bottom: 70px
	.list
		margin-top: 55px
		ul
			display: flex
			justify-content: space-between
			align-items: flex-start