/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1024px) {
  .mobile-links {
    display: none; }
  .mobile-slider {
    display: none; }
  .mobile-menu {
    display: none; }
  .nav-phone,
  .nav-order {
    display: none; } }

@media only screen and (max-width: 1050px) {
  .faq .faq-txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .faq .get-consult a {
    margin-top: 30px; }
  .form-check:after {
    margin-top: -45px;
    width: 120%;
    left: -10%;
    height: 150px; }
  footer {
    text-align: center; }
    footer .footer-top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    footer .footer-nav {
      margin: 50px 0; } }

@media only screen and (max-width: 1024px) {
  #pop-up-server {
    padding: 40px 20px 90px; }
  .nav-phone,
  .nav-order {
    display: block; }
  .pop-up-case-wrap .pop-case-descr {
    padding: 80px 20px; }
  #pop-up-consult {
    padding: 60px 20px; }
  .oppo-slider {
    display: none; }
  .tab-box {
    display: none; }
  .tab-links {
    display: none; } }

@media only screen and (max-width: 1024px) {
  .tab-links {
    margin: 60px auto 0; }
    .tab-links .caption {
      text-align: left; }
    .tab-links li {
      margin-top: 30px; }
  #for-whom .tab-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .content,
  body {
    width: 100%;
    min-width: 100%; }
  .content {
    padding: 0 50px; }
  .animation-top {
    display: none; }
  .mobile-menu {
    z-index: 100;
    display: block; }
  header li:not(:last-child) {
    margin-right: 0; }
  nav {
    position: relative; }
    nav ul {
      font-size: 18px;
      padding-top: 40px;
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      top: 0;
      right: 0;
      display: none;
      z-index: 99;
      text-align: center; }
    nav li {
      margin-top: 30px;
      display: block; }
  #opportunities .cards {
    overflow: auto; }
    #opportunities .cards ul {
      width: 1200px;
      padding-bottom: 30px; }
  #opportunities .integr-spis ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  #opportunities .integr-spis li {
    text-align: left;
    display: block;
    max-width: 100%;
    width: 100%; }
  #opportunities .integr-spis .integr-icon,
  #opportunities .integr-spis .integr-clarify {
    display: inline-block; }
  #opportunities .integr-spis .integr-icon {
    text-align: center;
    margin-right: 30px; }
  #opportunities .integr-spis li:not(:last-child):before {
    top: 100%;
    margin-top: -40px;
    right: initial;
    left: 200px; }
  #for-whom .tab-links {
    display: none; }
  #for-whom .tab-links li:not(:last-child) {
    margin-right: 0; }
  #for-whom .tab-links li.btn {
    font-size: 14px;
    padding: 0 25px; }
  #for-whom .tab-box li {
    padding: 0 20px;
    width: auto; }
    #for-whom .tab-box li .tab-caption {
      font-size: 16px;
      margin: 20px 0; }
  .big-card-help {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .big-card-help h3 {
      font-size: 36px; }
    .big-card-help .features {
      margin-top: 50px;
      max-width: 550px; }
  .big-card-help .features .ft-descr {
    max-width: 390px; }
  #about .about-logo {
    display: none; }
  .about-cards .about-card-txt {
    font-size: 14px;
    padding: 20px 10px; }
  .why-us .why-us-txt {
    font-size: 18px; }
  .why-us li {
    margin-top: 50px; }
  #cases .case-txt {
    margin-top: 30px; }
  #cases .cases-cards ul {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #cases .cases-cards ul li {
      padding: 55px 30px;
      width: 300px; }
  #cases .case-btn a {
    width: 100%;
    padding: 0; }
  #cases .case-users {
    font-size: 14px; }
  #our-clients h2 {
    line-height: 1em; }
  #our-clients li {
    width: 300px; }
  #price .form-price form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  #price .price-steps {
    width: 100%; }
  .server-options li {
    padding: 20px 10px; }
  .form-check {
    width: 100%;
    margin-top: 50px; }
    .form-check .product-box {
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .form-check .product-notion,
    .form-check .product-price {
      width: 30%; }
    .form-check .product-price {
      text-align: right; }
  .faq .faq-ask {
    width: 60%; }
  .faq .get-consult {
    width: 30%; }
    .faq .get-consult a {
      padding: 0;
      width: 100%;
      font-size: 12px;
      text-align: center; }
  #technologies ul {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #technologies ul li {
      width: 40%; }
  #technologies li:nth-child(3n+3):after {
    content: '. . .'; }
  #technologies li:nth-child(6):after,
  #technologies li:nth-child(5):after {
    content: ''; }
  #technologies li:after {
    top: 100%;
    margin-top: 20px;
    right: 50%;
    margin-right: -40px; }
  #try {
    padding: 160px 0 230px; }
    #try h2 {
      font-size: 48px; }
    #try .clarify p {
      display: inline; }
    #try .try.btn:before {
      margin-right: -30px;
      margin-bottom: 20px; }
    #try .clouds .back-cloud {
      bottom: -60px; }
    #try .clouds .forward-cloud {
      bottom: -50px; }
  footer .footer-rights {
    max-width: 27%; }
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 968px) {
  .pop-up-case-wrap .close {
    position: fixed; } }

@media only screen and (max-width: 768px) {
  h2 {
    line-height: 1em;
    font-size: 40px; }
  h3 {
    line-height: 1em;
    font-size: 26px; }
  .content {
    padding: 0 20px; }
  header .content {
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #top-sec {
    height: auto;
    line-height: 1.2em;
    padding: 110px 0 130px; }
    #top-sec h1 {
      font-size: 33px; }
    #top-sec .to-try,
    #top-sec .to-order {
      width: 250px;
      padding: 0;
      text-align: center; }
    #top-sec .to-try {
      margin-top: 30px; }
  #opportunities {
    padding: 160px 0 100px; }
    #opportunities .cards {
      top: -235px; }
    #opportunities h2 {
      margin-bottom: 30px; }
  #opportunities .integr-spis {
    margin-top: 30px; }
    #opportunities .integr-spis li {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 50px; }
  #opportunities .integr-spis li:not(:last-child):before {
    margin-top: -15px; }
  #opportunities .integr-spis .integr-clarify {
    vertical-align: middle; }
  #opportunities .integr-spis .integr-icon {
    vertical-align: middle;
    margin: 0;
    margin-right: 30px;
    width: 115px;
    height: 115px;
    padding: 0 25px; }
  .integr-spis .integr-caption {
    margin: 0 0 10px; }
  .integr-spis .integr-txt {
    font-size: 15px; }
  #technologies ul li {
    width: 270px;
    padding: 0; }
  #technologies ul li:after {
    margin-right: -25px; }
  #technologies ul li:nth-child(5):after {
    content: '. . .'; }
  #for-whom {
    padding: 100px 0; }
    #for-whom h2 {
      font-size: 36px; }
  #for-whom .tab-links li.btn {
    margin-top: 20px; }
  #for-whom .tab-box li {
    margin-top: 30px; }
  .big-card-help {
    padding: 60px 20px; }
    .big-card-help h3 {
      font-size: 24px; }
  .big-card-help .features li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 30px 10px; }
  .big-card-help .features .check-mark {
    padding: 0 13px; }
  #about {
    padding: 330px 0 100px; }
  .about-cards ul li {
    width: 25%; }
  .about-cards ul li:not(:last-child) {
    margin-right: 20px; }
  .about-cards ul li:hover .about-card-wrap {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }
  .about-cards ul .about-card-img img {
    width: 100%; }
  .about-cards .about-card-wrap {
    height: 50px;
    line-height: 50px; }
    .about-cards .about-card-wrap .about-card-img {
      line-height: 50px; }
  .why-us {
    margin-top: 50px;
    padding: 50px 20px; }
    .why-us li {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .why-us .why-us-img {
      margin-right: 20px; }
  h1 + .clarify, h2 + .clarify, h3 + .clarify {
    font-size: 18px; }
  #cases {
    padding: 100px 0; }
  #cases .cases-cards {
    margin-top: 40px; }
  #cases .more-cases {
    margin-top: 80px; }
  #our-clients {
    padding: 100px 0; }
    #our-clients h2 {
      font-size: 31px; }
  #our-clients {
    font-size: 14px; }
    #our-clients li {
      margin-top: 40px; }
    #our-clients li:last-child .ind-icon {
      max-width: 80px;
      width: auto;
      margin-right: 3px; }
  #price {
    padding: 100px 0; }
    #price h2 {
      font-size: 36px; }
  #price .price-steps .step-notion {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    line-height: 1.4em;
    vertical-align: middle; }
    #price .price-steps .step-notion p:first-child {
      margin-right: 9px; }
  #price .price-steps > li:before {
    left: 0; }
  #price .price-steps .caption {
    padding-left: 20px; }
  .server-options li {
    width: 100%; }
  .server-options .option-txt {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding-left: 50px; }
  .server-options .checkbox {
    position: absolute; }
  .server-options li {
    margin-top: 20px; }
  .form-check .product-notion {
    width: 70%; }
  .faq .caption {
    margin-right: 0; }
  .faq .more-adv {
    margin-top: 20px;
    text-align: center;
    display: block; }
  .faq .faq-txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .faq .faq-ask,
  .faq .get-consult {
    width: 100%; }
  .faq .get-consult {
    margin-top: 30px; }
    .faq .get-consult a {
      font-size: 16px; }
  #technologies {
    padding: 100px 0; }
    #technologies h2 {
      font-size: 36px; }
  #technologies ul li:first-child {
    margin-top: 50px; }
  #try {
    padding: 100px 0 170px; }
    #try h2 {
      font-size: 40px; }
  #try .clouds .back-cloud {
    bottom: -65px;
    width: 150%; }
  #try .clouds .forward-cloud {
    bottom: -70px;
    width: 150%; }
  #try .btns {
    position: relative;
    z-index: 1; }
  #need-help h2 {
    font-size: 36px; }
  #need-help ul {
    font-size: 16px; }
  #need-help .help-icon {
    margin: 0 auto;
    text-align: center;
    max-width: 70px;
    height: 80px;
    line-height: 80px; }
    #need-help .help-icon img {
      vertical-align: middle;
      width: 100%; }
  #contacts .contacts-box {
    padding: 50px 20px; }
  footer {
    padding: 50px 0;
    text-align: center; }
    footer .footer-rights {
      max-width: 100%; }
    footer .social {
      margin-top: 30px; }
  .form-check .order-btn a {
    padding: 0 25px; }
  .faq {
    padding: 35px 20px; }
  #for-whom .tab-links,
  footer ul,
  #for-whom .tab-box > div > ul,
  .server-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 650px) {
  #try .clouds .forward-cloud {
    bottom: -50px;
    width: 150%; } }

@media only screen and (max-width: 610px) {
  .faq .faq-txt .owl-carousel .owl-next {
    position: initial;
    text-align: center;
    margin-top: 20px; }
  .top-line-server {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .top-line-server a {
      margin: 10px 0 0 25px; }
  #top-sec .to-try {
    display: block;
    margin-left: 0; }
  #try .try.btn {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto; }
  #try .btns a {
    width: 290px;
    padding: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block; }
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 520px) {
  .pop-case-descr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .pop-up-case-wrap .case-descr-txt {
    width: 100%;
    border-right: none;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-right: 0;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #eaebec; }
  .pop-up-case-wrap .case-descr-label {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 100%;
    margin-left: 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #for-whom .mobile-links .caption {
    width: 100%; }
  #opportunities .integr-spis li:not(:last-child):before {
    left: 165px; }
  #for-whom .to-consult {
    width: 100%;
    padding: 0 0 0 55px;
    font-size: 12px; }
  #try .clouds .forward-cloud {
    bottom: -40px;
    width: 150%; }
  .mobile-slider .drop-content li {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    width: 48%; }
  /**/ }

@media only screen and (max-width: 450px) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .made-by {
    margin-top: 20px; }
  header .logo .logo-notion {
    display: none; }
  /**/ }

@media only screen and (max-width: 425px) {
  .why-us li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    .why-us li .why-us-img {
      margin-right: 0; }
  #cases .more-cases a {
    width: 100%;
    padding: 0; }
  #try .try.btn:before {
    display: none; }
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 380px) {
  #for-whom .drop-content ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center !important; }
  #for-whom .mobile-links .tab-img {
    margin-right: 0; }
  #for-whom .mobile-links .btn {
    padding: 0 20px; }
  #for-whom .mobile-links .caption {
    font-size: 16px; } }

@media only screen and (max-width: 360px) {
  .mobile-slider > ul .caption {
    font-size: 14px;
    padding-left: 40px; }
  .mobile-slider > ul .slide-img {
    width: 70px; }
  #try .clouds .forward-cloud {
    bottom: -30px;
    width: 150%; }
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
