#features
	padding-bottom: 120px
	h2
		font-size: 44px
	.bullets
		margin-top: 20px
		ul
			display: flex
			justify-content: flex-start
			align-items: center
			flex-wrap: wrap
		li
			margin-top: 30px
			padding-left: 28px
			border-left: 3px solid #47dba4
			width: 50%
		.caption
			font-weight: 700
		.clarify
			font-size: 14px
			opacity: .9
			line-height: 1.5em
	.features-label
		margin-top: 90px
		height: 370px
		background: url(../img/image-3.png) center no-repeat
		background-size: cover
	.features-label-box
		padding: 40px
		line-height: 1.5em
		box-shadow: 0 10px 50px rgba(0, 0, 0, 0.20);
		background-color: #fff
		margin-left: auto
		margin-right: 40px
		max-width: 425px
		.notion
			color: #3dd89d
			font-size: 11px
			font-weight: 700
			font-family: 'PT Sans'
			text-transform: uppercase
		h3
			margin-top: 20px
			font-size: 28px
		.clarify
			line-height: 1.75em
			font-size: 11px
			border-top: 1px solid #e0e0e1
			margin-top: 35px
			padding-top: 35px
			p
				margin: 0
		.caption
			margin-bottom: 20px
			text-transform: uppercase
			font-size: 12px
			font-weight: 700