footer
	background-color: #29282b
	color: #fff
	a
		color: #fff
	.footer-top
		border-bottom: 1px solid #3f3f3f
		padding: 80px 0
		>ul
			display: flex
			justify-content: space-between
			align-items: flex-start
	.footer-logo
		max-width: 210px
		img
			max-width: 100%
	.about-company
		line-height: 1.5em
		font-size: 13px
		opacity: .5
	.footer-nav
		font-size: 16px
		font-weight: 700
		ul
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			max-width: 210px
		li
			width: 95px
	.footer-addr
		max-width: 225px
		font-size: 14px
		p, a
			opacity: .8
		ul
			margin-top: 10px
			li
				margin-top: 5px
			p, a
				padding-left: 30px
		li:first-child
			p
				background: url(../img/mail.png) left center no-repeat
		li:nth-child(2)
			a
				background: url(../img/skype.png) 2px center no-repeat
	.footer-phones
		font-size: 14px
		>a
			opacity: .8
			display: block
	.btn-wrap
		margin-top: 20px
	.btn
		font-size: 12px
		color: #fff
		background-color: #3bd99e
		padding: 0 20px
		line-height: 40px
		height: 40px
	.footer-bottom
		padding: 40px 0
		ul
			display: flex
			justify-content: flex-start
			align-items: center
		li
			width: 33.33%
		.copyright
			font-size: 15px
			opacity: .9
		.social
			ul
				display: flex
				justify-content: center
				align-items: center
			li
				overflow: hidden
				width: auto
			a
				overflow: hidden
				border-radius: 50%
				display: block
			li:not(:last-child)
				margin-right: 23px
		.developed-by
			display: flex
			justify-content: flex-end
			align-items: center
			text-align: right
			>p
				font-size: 13px
				opacity: .5
				margin-right: 15px
			a
				display: flex
				justify-content: flex-start
				align-items: center
			img
				margin-right: 5px