.inside-circle
	animation: backRotate 60s infinite linear
.animation-top
	animation: topRotate 30s infinite linear
	width: 360px
	height: 360px
	border-radius: 50%
	position: absolute
	top: 30px
	right: 50px
	border: 1px dashed #fff
	.center-circle
		z-index: 9
		box-shadow: 0 10px 10px rgba(0, 0, 0, .1)
		position: absolute
		height: 100px
		width: 100px
		top: 50%
		left: 50%
		margin-top: -50px
		margin-left: -50px
		text-align: center
		line-height: 100px
		background-color: #fff
		border-radius: 50%
		img
			display: inline-block
			vertical-align: middle
	.top-anim-1-icon,
	.top-anim-2-icon,
	.top-anim-3-icon,
	.top-anim-4-icon,
	.top-anim-5-icon,
	.center-circle,
	.perhot-2,
	.perhot-4,
	.perhot-6,
	.perhot-8,
	.perhot-10
		transition: .7s
		animation: backRotate 30s infinite linear
	.perhot-1,
	.perhot-3,
	.perhot-5,
	.perhot-7,
	.perhot-9
		animation: backRotate 60s infinite linear
	.top-anim-1-icon,
	.top-anim-2-icon,
	.top-anim-3-icon,
	.top-anim-4-icon,
	.top-anim-5-icon
		height: 85px
		width: 85px
		border-radius: 50%
		position: absolute
		background-color: #fff
		line-height: 85px
		text-align: center
		right: 0
		top: 0
		left: 0
		bottom: 0
		margin: auto
		transition: 1s ease .5s
		opacity: 0
		box-shadow: 0 10px 10px rgba(0, 0, 0, .1)
		img
			vertical-align: middle
	.anim.active
		opacity: 1
	.top-anim-1-icon.active
		left: -115px
		top: -315px
	.top-anim-2-icon.active
		top: -200px
		right: -300px
	.top-anim-3-icon.active
		top: 200px
		right: -300px
	.top-anim-4-icon.active
		left: -50px
		top: 355px
	.top-anim-5-icon.active
		left: -350px
		top: 50px
	.perhot-1,
	.perhot-2,
	.perhot-3,
	.perhot-4,
	.perhot-5,
	.perhot-6,
	.perhot-7,
	.perhot-8,
	.perhot-9,
	.perhot-10
		position: absolute
	.perhot-2
		left: 62%
		top: -10px
	.perhot-4
		right: -5%
		top: 43%
	.perhot-6
		top: 90%
		right: 26%
	.perhot-8
		top: 80%
		left: 10%
	.perhot-10
		left: 15px
		top: 20%
	.inside-circle
		position: absolute
		top: 50%
		margin-top: -100px
		left: 50%
		margin-left: -100px
		width: 200px
		height: 200px
		border-radius: 50%
		border: 1px dashed #fff
		.perhot-1
			top: -15px
			left: 35%
		.perhot-3
			top: 30%
			right: -10px
		.perhot-5
			top: 83%
			right: 10%
		.perhot-7
			top: 90%
			left: 25%
		.perhot-9
			top: 35%
			left: -13px
