@import "bourbon"

$default-font: "Lato", sans-serif
$first-color: #231f20
$second-color: #58595b
$third-color: #414042

@mixin btn-radius($radius)
	border-top-right-radius: $radius
	border-bottom-right-radius: $radius
	border-bottom-left-radius: $radius
	border-top-left-radius: $radius