@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "animation-top"
@import "animations"
@import "slider"
@import "pop-up-case"
@import "consult-pop-up"
@import "pop-up-server"


.circle_big
	position: absolute
	width: 1000px
	height: 1000px
	background: url(../img/svg/animation/circle_big.svg) center no-repeat
.circle_small
	position: absolute
	width: 20px
	height: 20px
	background: url(../img/svg/animation/circle_small.svg) center no-repeat
.plus
	position: absolute
	width: 20px
	height: 20px
	background: url(../img/svg/animation/plus_bg.svg) center no-repeat

*::-webkit-input-placeholder,
*::-webkit-textarea-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder,
*:-ms-textarea-placeholder
	color: #666
	opacity: 1

*
	list-style-type: none
	box-sizing: border-box
	margin: 0
	padding: 0

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body.disabled
	overflow: hidden
body
	cursor: default
	min-width: 1200px
	position: relative
	line-height: 1.55
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	font-smoothing: antialiased
	font-family: $default-font
	font-size: 16px
	font-weight: 300
	overflow-x: hidden
	color: $first-color
	position: relative
	z-index: 1


a
	text-decoration: none
	transition: .35s
	position: relative

h1,h2,h3
	text-align: center
	color: $first-color
	+ .clarify
		font-size: 20px
		color: $second-color
		text-align: center
		max-width: 715px
		margin: 20px auto 0
h1
	font-size: 56px
	font-family: 'RobotoSlab'
h2
	font-size: 44px
	font-family: 'RobotoSlab'
h3
	font-size: 32px
	+ .clarify
		font-size: 18px

.bold
	font-weight: 800
.dashed
	border-bottom: 1px dashed $third-color

.content
	width: 1170px
	margin: 0 auto
	position: relative

.btn
	@include btn-radius(25px)
	display: inline-block
	line-height: 50px
	padding: 0 35px
	font-weight: 700
	font-size: 17px
	position: relative
header .nav-order:hover:before
	display: none
header .nav-order
	transition: .5s
	display: inline-block
	opacity: 0
	position: absolute
	top: -15px
	right: -250px
	a
		box-shadow: none
		border: 2px solid #f23030
		color: #f23030
		line-height: 40px
		background-color: #fff
header.is-sticky:before
	height: 100%
	height: 65px
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)
header.is-sticky
	height: 65px
	line-height: 65px
header:before
	content: ''
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 0
	transition: .5s
	background-color: #fff
header
	transition: .25s
	line-height: 80px
	position: fixed
	z-index: 999
	top: 0
	left: 0
	height: 80px
	width: 100%
	text-align: center
	nav
		transition: .5s
	.content
		line-height: 1.5em
		display: inline-flex
		justify-content: space-between
		align-items: center
		text-align: left
		vertical-align: middle
	.logo
		line-height: 1.2em
		>div
			display: inline-block
			vertical-align: top
	.logo-notion
		transition: .5s
		color: #808285
		font-size: 13px
	a
		color: $first-color
		display: block
		transition: .15s
	li
		position: relative
		display: inline-block
	li:before
		content: ''
		position: absolute
		bottom: -28px
		left: 0
		width: 100%
		height: 5px
		background-color: red
		transition: .15s
		opacity: 0
	li:hover:before
		opacity: 1
	li:hover
		a
		 color: #f23030
	li:not(:last-child)
		margin-right: 35px
#top-sec
	overflow: hidden
	height: 100vh
	background-color: #ffd63b
	line-height: 100vh
	text-align: center
	position: relative
	.circle_small:nth-child(4)
		top: 45%
		left: 55%
	.circle_small:nth-child(5)
		top: 15%
		left: 25%
	.circle_small:nth-child(6)
		top: 65%
		left: 15%
	.circle_big:nth-child(7)
		top: -85%
		right: -50%
		animation: to-pulse-bg 10s infinite linear
	.circle_big:nth-child(8)
		animation: to-pulse-bg 10s infinite linear
		animation-delay: 2s
		bottom: -85%
		left: -50%
	.plus:first-child
		top: 35%
		left: 50%
	.plus:nth-child(2)
		top: 60%
		left: 30%
	.plus:nth-child(3)
		top: 45%
		left: 15%
	.content
		text-align: left
		display: inline-block
		line-height: 1.5em
		vertical-align: middle
	h1
		text-align: left
		line-height: 1.3em
		font-family: "RobotoSlab"
		color: $first-color
		font-size: 56px
	.clarify
		color: $first-color
		margin: 40px 0 0
		text-align: left
		margin-top: 40px
		max-width: 550px
		font-size: 20px
	.to-order:hover
		box-shadow: none
	.to-order
		background-color: #f23030
		box-shadow: 0 8px 15px rgba(249, 41, 0, 0.4)
		color: #fff
		display: inline-block
	.to-try:hover
		background-color: #fff
	.to-try
		margin-left: 35px
		background-color: transparent
		border: 2px solid #fff
		color: $first-color
	.btns
		margin-top: 70px

#opportunities
	background-color: #fff
	padding: 250px 0 120px
	.cards
		position: absolute
		width: 100%
		left: 0
		top: -325px
		.card-icon
			width: 70px
			height: 40px
			margin-right: 20px
			img
				height: 100%
		ul
			display: flex
			justify-content: space-between
		li
			display: flex
			justify-content: flex-start
			padding: 20px
			width: 280px
			height: 120px
			background-color: #fff
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)
	h2,	h3
		font-family: 'RobotoSlab'
#oppo-links
	font-size: 18px
	>div:hover
		font-weight: 700
		transition: .25s
	>div:last-child
		font-weight: 700
		color: red
.oppo-slider
	margin: 80px 0 160px
	display: flex
	justify-content: space-between
	position: relative
	.owl-nav
		position: absolute
		z-index: 999
		top: 45%
		left: 0
		width: 100%
		height: 70px
		font-size: 76px
		line-height: .7
		color: #d5d7d8
		text-align: center
		>div
			position: absolute
			transition: .35s
			display: inline-block
		>div:hover
			opacity: .7
		>div.disabled
			opacity: .4
			cursor: default
		img
			width: 30px
	.owl-prev
		width: 50px
		height: 100px
		left: -150px
	.owl-next
		width: 50px
		height: 100px
		right: -143px
	.carousel-wrap
		width: 610px
		margin-right: 50px
		padding: 20px 80px 60px
		box-shadow: 0 15px 50px rgba(0, 0, 0, 0.11)
	.slide-img
		display: inline-block
		max-width: 70px
		margin-right: 20px
		vertical-align: middle
	.slide-ft-txt
		vertical-align: middle
		display: inline-block
		line-height: 1.3em
		max-width: 100px
	.slide-ft
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		li
			margin-top: 40px
			display: inline-block
			width: 50%
	.slide-txt
		margin-top: 30px
		text-align: center
		color: $second-color
		font-size: 15px
.mobile-slider
	font-size: 18px
	margin: 60px 0 100px
	>ul
		max-width: 650px
		margin: 0 auto
		>li
			background-color: #fff
			padding: 0 20px
			position: relative
			margin-top: 10px
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)
		>li:last-child
			background-color: #fff
			z-index: 10
		>li.active
			.close
				transform: rotateZ(45deg)
			.caption
				font-weight: 800
		>li.active:before
			background-color: #ffd63b
		>li:before
			content: ""
			position: absolute
			width: 25px
			height: 25px
			border: 2px solid #ffd64b
			border-radius: 50%
			top: 20px
			left: 20px
			transition: .25s
			text-align: center
			line-height: 27px
			font-weight: 800
			font-size: 14px
		>li:last-child:before
			background: url(../img/svg/star.svg) center no-repeat
			background-size: cover
			height: 30px
			width: 30px
			top: 20px
			left: 20px
			border: none
		>li:first-child
			z-index: 1
		>li:nth-child(2)
			z-index: 2
		>li:nth-child(3)
			z-index: 3
		>li:nth-child(4)
			z-index: 4
		>li:nth-child(5)
			z-index: 5
		>li:nth-child(6)
			z-index: 6
		>li:nth-child(7)
			z-index: 7
		>li:nth-child(8)
			z-index: 8
		>li:first-child:before
			content: '1'
		>li:nth-child(2):before
			content: '2'
		>li:nth-child(3):before
			content: '3'
		>li:nth-child(4):before
			content: '4'
		>li:nth-child(5):before
			content: '5'
		>li:nth-child(6):before
			content: '6'
		>li:nth-child(7):before
			content: '7'
		>li:nth-child(8):before
			content: '8'
		.caption
			padding-left: 50px
			line-height: 70px
			position: relative
		.close
			position: absolute
			width: 30px
			height: 30px
			right: 20px
			top: 20px
			transform: rotateZ(0deg)
			transition: .25s
		.close:before
			position: absolute
			content: ''
			top: 50%
			margin-top: -1px
			left: 0
			height: 2px
			width: 100%
			background: #ccc
		.close:after
			position: absolute
			content: ''
			top: 0
			left: 50%
			margin-left: -1px
			background: #ccc
			width: 2px
			height: 100%
	.drop-content
		display: none
		padding: 30px 0
		border-top: 2px solid #f1f2f2
		li
			width: 49%
			display: inline-flex
			justify-content: flex-start
		.slide-img
			width: 85px
		.slide-ft-txt
			font-size: 16px
		.slide-txt
			margin-top: 30px
			text-align: center
#oppo-links
	div:not(:first-child)
		margin-top: 10px
	div
		position: relative
		padding-left: 25px
		cursor: pointer
	div:before
		content: ""
		position: absolute
		width: 0
		height: 0
		border: 3px solid #ffd64b
		border-radius: 50%
		top: 50%
		left: 0
		margin-top: -4px
		transition: .25s
	div:last-child:before
		background: url(../img/red-star.png) center no-repeat
		height: 25px
		width: 25px
		top: 0
		left: -10px
		border: none
	div.active
		font-weight: 800
	div:last-child.active:before
		animation: pulse .5s forwards
	div.active:not(:last-child):before
		margin-top: -10px
		left: -8px
		width: 15px
		height: 15px
		background-color: #fff
		border: 3px solid #ffd64b
.integr-spis
	margin-top: 60px
	text-align: center
	ul
		display: flex
		justify-content: space-between
	li
		display: inline-block
		max-width: 250px
		position: relative
	li:not(:last-child):before
		content: "+"
		font-weight: 300
		font-size: 76px
		color: #ccc
		line-height: 1
		top: 25px
		right: -50px
		position: absolute
	.integr-icon
		line-height: 115px
		height: 115px
		width: 115px
		margin: 0 auto
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)
		border-radius: 50%
		img
			max-width: 70px
			vertical-align: middle
	.integr-caption
		font-size: 18px
		font-weight: 800
		margin: 30px 0 20px
	.integr-txt
		font-size: 15px
#for-whom
	background-color: #f7f6f3
	padding: 120px 0
	.tab-img
		max-width: 120px
		margin: 0 auto
	.drop-content
		display: none
		font-size: 16px
		padding-top: 70px
		ul
			li
				display: flex
				justify-content: flex-start
				text-align: left !important
				margin-top: 30px
		.tab-caption
			font-size: 18px
			font-weight: 800
	.mobile-links
		text-align: center
		max-width: 500px
		margin: 65px auto 0
		>ul
			>li
				margin-top: 30px
				text-align: center
		.caption
			border: 2px solid #ffd63b
			display: inline-block
			text-align: left
			font-weight: 800
			font-size: 18px
			max-width: 450px
			width: 450px
		.close
			transition: .25s
			position: absolute
			top: 50%
			margin-top: -15px
			height: 30px
			width: 30px
			right: 20px
		.close:before,
		.close:after
			content: ''
			position: absolute
			background-color: #635f5e
		.close:before
			height: 2px
			width: 100%
			left: 0
			top: 50%
			margin-top: -1px
		.close:after
			height: 100%
			width: 2px
			top: 0
			left: 50%
			margin-left: -1px

		li
			position: relative
			text-align: left
		li.active
			.close:before,
			.close:after
				background-color: #fff3c5
			.close
				transform: rotateZ(45deg)
			.caption
				background-color: #ffd63b
		.tab-img
			margin-right: 30px
	.tab-links
		margin-top: 60px
		text-align: center
		.caption
			transition: .25s
			cursor: pointer
			max-width: 300px
			width: 100%
			border: 1px solid #ffd63b
		li.active
			.close:before,
			.close:after
				background-color: #fff3c5
			.close
				transform: rotateZ(45deg)
			.caption
				box-shadow: 0 8px 15px rgba(255, 157, 0, 0.35)
				background: #ffd63b
		li:not(:last-child)
			margin-right: 30px
		li:hover
			.caption
				background: #ffd63b
	.tab-box
		margin-top: 80px
		>div
			display: none
			>ul
				text-align: center
				display: flex
				justify-content: space-between
		div.active
			display: block
		li
			width: 370px
		.tab-caption
			font-size: 18px
			color: #000
			font-weight: 800
			margin: 40px 0
		.tab-txt
			color: $second-color
		.tab-content
			li
				opacity: 0
				transform: translateY(50px)
		.tab-content.active
			li
				animation: slideIn 1s both
			li:nth-child(2)
				animation-delay: .2s 
			li:nth-child(3)
				animation-delay: .4s
	.btns
		margin-top: 120px
		text-align: center
	.to-consult
		box-shadow: inset 0 0 0 1px #ffd63b
		font-size: 16px
		font-weight: 800
		color: #000
		padding-left: 80px
		z-index: 2
		transition: .15s
		overflow: hidden
		position: relative
		p
			transition: .15s
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			text-align: center
			opacity: 0
	.to-consult:before
		content: ''
		@include btn-radius(25px)
		position: absolute
		width: 50px
		height: 100%
		top: 0
		left: 0px
		background-color: #ffd63b
		transition: .35s
		z-index: -1
	.to-consult:after
		content: '?'
		position: absolute
		top: 0
		left: 0
		width: 50px
		height: 100%
		font-size: 28px
		font-weight: 800
		color: #fff
		z-index: 2
		transition: .35s
		animation: rotateAsk 5s infinite
	.to-consult:hover:before
		width: 100%
	.to-consult:hover:after
		left: -60px
		animation: none
	.to-consult:hover
		color: transparent
		p
			color: $first-color
			opacity: 1
.big-card-help
	background-color: #ffd63b
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.11)
	padding: 45px 70px
	display: flex
	justify-content: space-between
	align-items: center
	margin-top: 120px
	margin-bottom: -300px
	h3
		max-width: 460px
		text-align: left
		line-height: 1.2em
		font-size: 40px
		display: inline-block
	.features
		li
			background-color: #fff
			border-radius: 10px
			padding: 30px
		li:first-child
			margin-bottom: 20px
		.check-mark
			display: inline-block
			background-color: #ddf6e0
			border-radius: 50%
			text-align: center
			width: 50px
			height: 50px
			line-height: 50px
			vertical-align: middle
			margin-right: 20px
			img
				vertical-align: middle
		.ft-descr
			display: inline-block
			max-width: 270px
			line-height: 1.4em
			vertical-align: middle
		.caption
			font-weight: 800

#about
	background-color: #fff
	padding: 330px 0 150px
	.about-wrap
		margin-top: 80px
		color: $third-color
		font-size: 18px
		display: flex
		justify-content: space-between
	.about-box
		max-width: 770px
		p:not(:first-child)
			margin-top: 30px
	.about-logo
		text-align: center
		line-height: 1.2em
		font-size: 15px
		color: $second-color
		>p
			margin-bottom: 30px
		p:last-child
			margin-top: 30px
.about-cards
	margin-top: 80px
	ul
		display: flex
		justify-content: space-around
		li
			position: relative
			width: 27%
			transition: 1s
			text-align: center
			perspective: 700px
	.about-card-wrap
		transition: .5s
		width: 100%
		height: 160px
		line-height: 160px
		position: relative
		transform-style: preserve-3d
	.about-card-img,
	.about-card-txt
		backface-visibility: hidden
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: auto
		transition: 1s
	.about-card-img
		background: #fff
		z-index: 1
		line-height: 160px
		height: 100%
		img
			line-height: 1.2em
			vertical-align: middle
	.about-card-txt
		font-size: 15px
		padding: 40px
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)
		z-index: 5
		line-height: 1.3em
		display: inline-block
		vertical-align: middle
		transform: rotateY(180deg)
		background: #fff
	li:hover
		.about-card-wrap
			transform: rotateY(180deg)
.why-us
	margin-top: 100px
	border: 10px solid #f7f6f3
	padding: 70px
	h3
		font-family: "RobotoSlab"
	ul
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	li
		margin-top: 100px
		max-width: 470px
	.why-us-img,
	.why-us-txt
		vertical-align: middle
		display: inline-block
	.why-us-img
		width: 130px
		img
			max-width: 100px
	.why-us-txt
		max-width: 300px
	.caption
		margin-bottom: 10px
		color: #000
		font-size: 21px

#cases
	padding: 140px 0
	background-color: #f7f6f3
	.cases-cards
		margin-top: 50px
		text-align: center
		color: $second-color
		ul
			display: flex
			justify-content: space-between
			flex-wrap: wrap
		li
			background-color: #fff
			width: 370px
			margin-top: 40px
			display: none
			padding: 55px 40px
			transition: .25s
		li:hover
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1)
	.case-logo
		min-height: 100px
		line-height: 100px
		img
			max-height: 100px
			vertical-align: middle
	.case-txt
		font-size: 15px
		text-align: left
		margin-top: 50px
		.caption
			text-align: center
			font-size: 18px
			font-weight: 800
			margin-bottom: 20px
			color: $first-color
	.case-users
		font-size: 14px
		margin-top: 20px
		p
			position: relative
			padding-left: 15px
		p:before
			position: absolute
			content: ''
			width: 15px
			height: 15px
			top: 50%
			margin-top: -8px
			left: 0
			background: url(../img/check.png) center no-repeat
	.case-btn
		margin-top: 30px
		a
			text-transform: uppercase
			padding: 0 60px
			line-height: 45px
			border: 1px solid #ffd63b
			font-size: 12px
			color: $first-color
			font-family: Lato
			font-weight: 700
		a:hover
			box-shadow: 0 8px 15px rgba(255, 157, 0, 0.35)
			background-color: #ffd63b
	.more-cases
		margin-top: 120px
		a
			color: $first-color
			font-size: 14px
			padding: 0 60px
			text-transform: uppercase
			font-weight: 700
			border: 1px solid #ffd63b
		a:hover
			background: #ffd63b
			box-shadow: 0 8px 15px rgba(255, 157, 0, 0.35)
#showLess
	display: none

#our-clients
	padding: 120px 0
	h2
		margin: 0 auto
		max-width: 730px
	li
		width: 370px
		margin-top: 70px
	ul
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	.ind-icon,
	.ind-txt
		vertical-align: middle
		display: inline-block
	.ind-icon
		width: 80px
		img
			max-height: 60px
			max-width: 100%

#price
	overflow: hidden
	background-color: #f7f6f3
	padding: 130px 0
	.form-price
		margin-top: 80px
		form
			display: flex
			justify-content: space-between
	.price-steps
		width: 740px
		>li
			position: relative
		>li:before
			position: absolute
			content: ""
			font-weight: 800
			font-size: 18px
			color: $first-color
			top: 0
			left: -20px
		>li:not(:first-child)
			margin-top: 70px
		>li:first-child:before
			content: '1.'
		>li:nth-child(2):before
			content: '2.'
		>li:nth-child(3):before
			content: '3.'
		.caption
			font-weight: 800
			font-size: 18px
		.step-notion
			margin-top: 20px
			display: flex
			justify-content: space-between
			line-height: 55px
			padding: 0 25px
			background-color: #eeefed
			color: $third-color
.server-options
	margin-top: 25px
	display: flex
	justify-content: space-between
	input
		visibility: hidden
		position: absolute
	input:checked + label
		background: #ffd63b url(../img/svg/calc_checkmark.svg) center no-repeat
		background-size: 15px
		border: none
	label
		vertical-align: top
		border: 1px solid #bcbec0
		width: 20px
		height: 20px
		cursor: pointer
		position: relative
		display: inline-block
	label:before
		content: ''
		position: absolute
		width: 100%
		height: 100%

	li
		padding: 20px
		width: 230px
		border: 1px solid #e6e7e8
	li:hover
		border: 1px solid #ffd63b
	li.active
		border: 1px solid #ffd63b
	.option-txt
		color: $third-color
		display: inline-block
		width: 155px
		vertical-align: top
		font-size: 16px
		.bold
			font-size: 14px
	.checkbox
		display: inline-block
		width: 25px
		vertical-align: top
	.caption
		font-size: 14px
		color: $third-color
.form-check:after
	content: ''
	position: absolute
	top: 100%
	margin-top: -25px
	left: -35px
	width: 420px
	height: 85px
	background: url(../img/svg/zubki-05.svg) center no-repeat
	background-size: cover
.form-check:before
	content: ''
	position: absolute
	top: -30px
	left: -5%
	width: 110%
	height: 65px
	background: url(../img/svg/check-1.svg) center no-repeat
	background-size: contain
	z-index: -1
.form-check
	padding-bottom: 40px
	z-index: 99
	width: 350px
	background-color: #fff
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1)
	position: relative
	.bottom-white
		position: absolute
		width: 100%
		height: 60px
		background-color: #fff
		bottom: 0
		left: 0
		z-index: 9
	ul
		background-color: #fff
		padding: 50px 30px 0
	form
		padding: 0 30px 50px
	.server
		transition: .5s
	.server.disabled
		transform: translateX(30%)
		opacity: 0
	.caption
		font-size: 12px
		font-weight: 700
		margin-bottom: 10px
		color: #a7a9ac
		text-transform: uppercase
	.product-notion
		p
			position: relative
			padding-left: 25px
		p:before
			content: ''
			position: absolute
			top: 50%
			margin-top: -8px
			left: 0
			width: 20px
			height: 15px
			background: url(../img/svg/checkmark_small.svg) center no-repeat
			background-size: 15px
	li
		border-bottom: 1px solid #e6e7e8
		padding-bottom: 20px
	li:not(:first-child)
		margin-top: 20px
	.product-box
		display: flex
		justify-content: space-between
		font-size: 15px
	.product-notion
	.product-price
		font-weight: 700
	.total
		margin-top: 30px
		font-weight: 700
		font-size: 38px
		font-family: 'RobotoSlab'
		text-align: center
	.order-btn
		text-align: center
		a:hover
			background-color: #f23030
			color: #fff
			box-shadow: none
		a
			color: #fff
			background-color: #f23030
			position: relative
			z-index: 10
			line-height: 45px
			margin-top: 30px
			box-shadow: 0 8px 15px rgba(#f23030, .35)
.faq
	margin-top: 120px
	border: 2px dashed #d9dadb
	padding: 35px 40px
	.caption,
	.more-adv,
	.faq-ask,
	.get-consult
		vertical-align: top
		display: inline-block
	.caption
		font-weight: 800
		font-size: 21px
		margin-right: 50px
		margin-bottom: 20px
	.faq-txt
		display: flex
		justify-content: space-between
	.faq-txt .owl-carousel
		max-width: 750px
		.owl-next
			position: absolute
			top: 5px
			left: 84%
			img
				width: 25px
				margin-right: 15px
			p,img
				transition: .7s
				vertical-align: middle
				display: inline-block
		.owl-next:hover
			p
				color: rgba($first-color, .7)
			img
				animation: spin .7s forwards
	.faq-ask
		max-width: 700px
	.get-consult
		a
			padding: 0 45px
			color: $first-color
			border: 1px solid #ffd63b
			font-weight: 800
		a:hover
			background-color: #ffd63b
			box-shadow: 0 8px 15px rgba(255, 157, 0, 0.35)

#technologies
	padding: 130px 0
	text-align: center
	ul
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	li
		margin-top: 130px
		width: 370px
		position: relative
		padding: 0 20px
	li:after
		content: '. . .'
		position: absolute
		top: 30%
		right: -10%
		color: #dfe0e1
		font-size: 43px
		font-weight: 800
	li:nth-child(3n+3):after
		content: ''
	li:before
		content: ''
		position: absolute
		top: -20px
		left: 0
		color: #f5f5f5
		font-size: 270px
		line-height: 1em
		font-weight: 800
		z-index: -1
	li:first-child:before
		content: '1'
	li:nth-child(2):before
		content: '2'
	li:nth-child(3):before
		content: '3'
	li:nth-child(4):before
		content: '4'
	li:nth-child(5):before
		content: '5'
	li:nth-child(6):before
		content: '6'
	li:first-child .caption:before
		content: '1'
	li:nth-child(2) .caption:before
		content: '2'
	li:nth-child(3) .caption:before
		content: '3'
	li:nth-child(4) .caption:before
		content: '4'
	li:nth-child(5) .caption:before
		content: '5'
	li:nth-child(6) .caption:before
		content: '6'
	.caption
		margin: 15px 0
		font-size: 18px
		font-weight: 800
		color: #000
		position: relative
		display: inline-block
		padding-left: 30px
	.caption:before
		content: ''
		position: absolute
		top: 50%
		margin-top: -12px
		left: 0
		width: 20px
		height: 20px
		line-height: 20px
		font-size: 14px
		background-color: #ffd63b
		border-radius: 50%
	.tech-icon
		height: 70px
		line-height: 70px
		img
			height: 100%
			vertical-align: middle

#try
	overflow: hidden
	padding: 160px 0 300px
	background: #ffd63b
	position: relative
	h2
		font-size: 52px
	.clarify
		max-width: 900px
		line-height: 1.2em
		color: $first-color
	.btns
		margin-top: 100px
		text-align: center
		font-size: 18px
		
	.try.btn:hover
		box-shadow: none
	.try.btn
		@include btn-radius(30px)
		background-color: #f23030
		color: #fff
		line-height: 60px
		padding: 0 40px
		margin-right: 50px
		box-shadow: 0 8px 15px rgba(249, 41, 0, 0.4)
		position: relative
	.try.btn:before
		content: ''
		position: absolute
		bottom: 100%
		right: 100%
		width: 100px
		height: 100px
		background: url(../img/try-arr.png) center no-repeat

	.order.btn:hover
		background-color: #fff
	.order.btn
		@include btn-radius(30px)
		line-height: 60px
		border: 2px solid #fff
		color: $first-color
		padding: 0 40px
	.clouds
		.back-cloud,
		.forward-cloud
			position: absolute
			bottom: 0
			img
				width: 150%
				position: relative
		.back-cloud
			bottom: -170px
			img
				left: -10%
		.forward-cloud
			bottom: -85px
			img

#need-help
	padding: 150px 0
	h2
		line-height: 1.3em
		max-width: 700px
		margin: 0 auto
	ul
		margin-top: 100px
		text-align: center
		display: flex
		justify-content: space-around
		font-size: 36px
		a
			color: #000
		li:first-child
			a
				border-bottom: 1px solid #ffd63b
				padding-bottom: 5px
			a:hover
				border-bottom: 1px solid transparent

#contacts
	padding: 120px 0 70px
	background: #ccc
	position: relative
	.contacts-box
		position: relative
		z-index: 9
		color: $second-color
		font-size: 18px
		max-width: 570px
		background-color: #fff
		padding: 70px
		>div
			margin-top: 40px
	.caption
		margin-bottom: 10px
		color: $first-color
		font-size: 16px
		font-weight: 800

footer
	background-color: #f4f5f2
	padding: 50px 0
	.footer-top
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 50px
		border-bottom: 1px solid #e6e7e6
	.footer-nav
		>p
			opacity: .5
			text-transform: uppercase
			margin-bottom: 5px
		a
			color: $first-color
		li
			display: inline-block
		li:not(:last-child)
			margin-right: 20px
	.footer-social
		.facebook
			svg
				vertical-align: middle
				height: 60%
			.cls-1
				transition: .15s
				fill: #a09f9e
		.facebook:hover
			background: #1359bf
			.cls-1
				fill: #ffffff
		.vk
			svg
				vertical-align: middle
				height: 50%
				width: 100%
				position: relative
				right: 8px
			.cls-1
				transition: .15s
				fill: #a09f9e
		.vk:hover
			background: #0061d6
			.cls-1
				fill: #ffffff
		.twitter
			svg
				display: inline-block
				vertical-align: middle
				height: 50%
			.cls-1
				fill: #a09f9e
		.twitter:hover
			background-color: #3ea9f9
			.cls-1
				fill: #ffffff
		a
			line-height: 42px
			display: block
			width: 100%
			height: 100%
			border-radius: 50%
		li:hover
			box-shadow: none
		li
			vertical-align: top
			border-radius: 50%
			box-shadow: 0 0 1px 1px #8c8a89
			width: 42px
			height: 42px
			line-height: 39px
			text-align: center
			display: inline-block
			img
				vertical-align: middle
		li:last-child a
			color: #8c8a89
			font-size: 26px
			font-weight: 800
		li:not(:last-child)
			margin-right: 10px
	.footer-bottom
		margin-top: 20px
		display: flex
		justify-content: space-between
	.made-by
		a:hover
			color: #2962ff
		a
			color: $first-color
			>*
				display: inline-block
				vertical-align: middle
		img
			vertical-align: middle
		p:first-child
			margin-right: 20px
		p:last-child
			font-weight: 700
.mobile-menu:before,
.mobile-menu:after
	content: ''
	transition: .3s
	position: absolute
	height: 3px
	width: 100%
	background: #f23030
	left: 0
.mobile-menu:before
	top: 0
.mobile-menu:after
	bottom: 0
.mobile-menu
	position: relative
	display: block
	height: 21px
	width: 35px
	div
		transition: .1s
		position: absolute
		width: 100%
		height: 3px
		background: #f23030
		top: 50%
		margin-top: -2px
#map
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	iframe
		height: 100%
		width: 100%
.mobile-menu.active
.mobile-menu.active:before
	transform: rotate(-45deg) translate(-5px, 10px)
.mobile-menu.active:after
	transform: rotate(45deg) translate(-3px, -6px)
.mobile-menu.active div
	opacity: 0
.nav-phone
	margin-top: 60px
	font-size: 24px
	display: none
.nav-order
	display: none
	a
		box-shadow: 0 8px 15px rgba(249, 41, 0, 0.4)
		color: #fff
		font-weight: 700
		background-color: #f23030
.top-line-server
	display: flex
	justify-content: space-between
	.server-faq-link
		color: $first-color
		position: relative
	.server-faq-link:before
		content: '?'
		color: #fff	
		position: absolute
		top: 50%
		margin-top: -12px
		left: -30px
		height: 20px
		line-height: 20px
		width: 20px
		text-align: center
		font-size: 14px
		font-weight: 700
		border-radius: 50%
		background-color: #ffd63b
.map
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	iframe
		width: 100%
		height: 100%


@import "media" // Всегда в конце
