#results
	padding: 120px 0
	background-color: #fff
	.btn-wrap
		margin-top: 100px
		text-align: center
.result-cards>ul
	display: flex
	justify-content: space-between
	align-items: flex-end
.result-cards
	margin-top: 100px
	text-align: center
	.caption
		font-weight: 700
		font-size: 22px
		margin: 20px 0 10px
		.mark
			color: #0440a0
			font-family: "Open Sans"
	.card-img
		position: relative
		width: 200px
		margin: 0 auto
		border-bottom: 1px solid #d1d1d1
		ul
			display: inline-block
			vertical-align: bottom
		.before
			margin-right: 5px
		.adv
			position: relative
			background-color: #05d8a5
		li
			background-color: #0440a0
			width: 28px
			height: 16px
			margin-top: 1px
	li:nth-child(2),
	li:nth-child(4)
		.line-arr-1.line-up
			left: 30px
		.line-arr-2.line-up
			left: 57px
		.line-arr-3.line-up
			bottom: 22px
			width: 65px
			left: 86px
			transform: rotateZ(-60deg)
		.line-arr-4.line-up
			bottom: 78px
			transform: rotateZ(20deg)
		.line-arr-5.line-up
			bottom: 69px
			left: 140px
			transform: rotateZ(-45deg)
	li:nth-child(3)
		.line-arr-1.line-down
			top: -20px
			left: 20px
			width: 40px
			transform: rotateZ(10deg)
		.line-arr-2.line-down
			top: -13px
			left: 59px
			width: 62px
			transform: rotateZ(60deg)
		.line-arr-3.line-down
			top: 40px
			left: 90px
			width: 17px
			transform: rotateZ(-20deg)
		.line-arr-4.line-down
			top: 34px
			left: 105px
			width: 37px
			transform: rotateZ(20deg)
.card-arr
	.line-up.pick:before,
	.line-down.pick:before
		content: ''
		top: -4px
		left: 100%
		margin-left: -5px
		position: absolute
		border-left: 5px solid transparent
		border-right: 5px solid transparent
		border-bottom: 10px solid #ffcb15
		transform: rotateZ(90deg)
	.line-arr
		position: absolute
		height: 2px
		background-color: #ffcb15
		transform-origin: left
	.line-arr-1.line-up
		bottom: -1px
		left: 20px
		transform: rotateZ(-45deg)
		width: 40px
	.line-arr-2.line-up
		bottom: 27px
		width: 30px
		left: 47px
		transform: rotateZ(10deg)
	.line-arr-3.line-up
		bottom: 22px
		width: 85px
		left: 76px
		transform: rotateZ(-60deg)
	.line-arr-4.line-up
		bottom: 95px
		width: 25px
		left: 118px
		transform: rotateZ(30deg)
	.line-arr-5.line-up
		bottom: 83px
		width: 35px
		left: 139px
		transform: rotateZ(-50deg)
		