#steps
	padding: 100px 0
	background-color: #eef0f7
	h2
		text-align: center
	.btn-wrap
		margin-top: 100px
		text-align: center
	.btn:before
		box-shadow: 0 0 5px rgba(41, 98, 255, .45)
	.btn:hover
		box-shadow: none
	.btn
		background-color: #2962ff
		box-shadow: 0 6px 15px rgba(41, 98, 255, .45)
		font-size: 15px
		padding: 0 65px
.center-line:before,
.center-line:after,
	content: ''
	background-color: #caccd4
	position: absolute
	border-radius: 50%
	width: 13px
	height: 13px
	left: 50%
	margin-left: -6px
.center-line:before
	top: 0
.center-line:after
	bottom: 0
.center-line
	position: absolute
	width: 1px
	height: 95%
	top: 15%
	left: 50%
	background-color: #ccc
.steps-list
	max-width: 800px
	margin: 80px auto 0
	position: relative
	text-align: center
	.step.active
		transform: translateY(0)
		opacity: 1
		.step-number:before
			width: 100%
		.step-number:after
			animation: to-pulse .5s forwards .75s
		.st-num
			animation: to-pulse-num .5s forwards 1.5s
		
	.step
		transition: .75s
		opacity: 0
		transform: translateY(50px)
	.first-column
		margin-right: 55px
		padding-top: 70px
		text-align: right
		.step-number
			right: -50px
		.step-number:before
			left: 0
		.step-number:after
			left: 0
		.st-num
			right: -25px
	.second-column
		text-align: left
		.step-number
			left: -50px
		.step-number:before
			right: 0
		.step-number:after
			right: 0
		.st-num
			left: -23px
	.first-column,
	.second-column
		vertical-align: top
		display: inline-block
		width: 370px
	.first-column>div,
	.second-column>div
		padding: 0 30px
		margin-top: 70px
	.step-number
		position: absolute
		width: 40px
		height: 15px
		top: 50%
		margin-top: -8px
	.step-number:after
		content: ''
		position: absolute
		width: 13px
		height: 13px
		border-radius: 50%
		background-color: #ccc
		top: 50%
		margin-top: -6px
		opacity: 0
		transition: .25s ease .75s
	.step-number:before
		content: ''
		position: absolute
		width: 0
		height: 1px
		transition: .75s ease 1s
		top: 50%
		background-color: #ccc
	.st-num
		opacity: 0
		transition: .35s ease 2s
		border: 1px solid #ccc
		color: #8d8d8d
		font-weight: 400
		font-size: 18px
		line-height: 24px
		position: absolute
		top: -5px
		text-align: center
		width: 28px
		height: 28px
		background-color: #fff
		border-radius: 50%
	.caption
		margin: 10px 0
		font-weight: 700
		font-size: 21px
		color: #333
		position: relative
	.clarify
		font-size: 15px