.aside-wrap
	min-width: 210px
	width: 210px
aside
	padding-bottom: 50px
	transition: .25s
	padding-top: 150px
	font-size: 13px
	a:hover
		color: $green
	a
		transition: .05s
		color: #1d252b
	li.active
		a
			color: #3dd89d
	li:not(:first-child)
		margin-top: 25px
	.btn-wrap
		margin-top: 35px
	.btn
		text-transform: none
		border: 1px solid #3bd99e
		padding: 0 20px
		transition: .1s

@media only screen and (max-width: 1200px)
	aside
		padding: 25px 0
		min-width: 850px
		display: flex
		justify-content: flex-start
		align-items: center
		ul
			display: flex
			justify-content: flex-start
			align-items: center
			li:not(:first-child)
				margin-top: 0
				margin-left: 20px
	aside .btn-wrap
		margin-top: 0
		margin-left: 25px
	.aside-wrap
		overflow: auto
		min-width: 100%