#model-range
	.model-range-list
		text-align: center
		margin-top: 55px
		ul
			display: flex
			justify-content: flex-start
			align-items: stretch
			flex-wrap: wrap
		li
			margin-top: -1px
			margin-left: -1px
			width: 33.33%
			a
				position: relative
				height: 100%
				transition: .25s
				box-shadow: inset 0 0 0 1px #e3e4e5
				display: block
				padding: 35px
				width: 100%
		li:last-child
			background-color: #f7f7f7
			a:hover
				.model-img
					transform: translateY(-10px)
				.model-name
					color: $green
			.model-img
				transition: .25s
			.model-name
				transition: .05s
				margin-top: 0
				padding-left: 20px
				background: url(../img/svg/download_small.svg) left center no-repeat
				font-size: 16px
		.model-name
			margin-top: 20px
			font-weight: 700
		.model-clarify
			margin-top: 10px
			opacity: .6
			font-size: 14px
			line-height: 1.5em
	.faq
		margin-top: 90px
		> .caption:before
			content: '?'
			position: absolute
			opacity: .1
			font-size: 80px
			font-weight: 700
			width: 100%
			height: 100%
			top: 0
			left: 0
			text-align: center
		> .caption
			position: relative
			text-align: center
			font-weight: 700
			text-transform: uppercase
			font-size: 17px
	.tabs
		margin-top: 20px
		ul
			display: flex
			justify-content: space-between
			align-items: stretch
			flex-wrap: wrap
		li
			margin-top: 50px
			width: 100%
			max-width: 47%
			padding-bottom: 15px
			transition: .25s
			position: relative
			border-bottom: 1px solid #e3e4e5
		li:before
			content: ''
			position: absolute
			bottom: -1px
			left: 0
			width: 0
			height: 2px
			transition: .20s
		li:hover:before
			width: 100%
			background-color: #3bd99e
		.caption
			font-size: 17px
			font-weight: 700
			position: relative
			cursor: pointer
			.open
				position: absolute
				top: 5px
				right: 0
				height: 30px
				width: 30px
			.open:before,
			.open:after
				transition: .20s
				content: ''
				position: absolute
				top: 12px
				right: 0
				transform-origin: right center
				width: 25px
				height: 2px
				background-color: #3bd99e
			.open:before
				transform: rotateZ(45deg)
			.open:after
				transform: rotateZ(-45deg)
	.list
		margin-top: 70px
		text-align: center
		.caption
			margin-top: 20px
			font-weight: 700
		ul
			display: flex
			justify-content: flex-start
		li:not(:last-child)
			border-right: none
		li
			border: 1px solid #e3e4e5
			margin-left: -4px
			width: 33.33%
			a:hover
				.img
					img
						transform: translateY(0)
			a
				padding-top: 30px
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: center
		.icon
			height: 70px
			width: 70px
			line-height: 70px
			border-radius: 50%
			display: inline-block
			img
				vertical-align: middle
		li:first-child
			.icon
				background-color: #ff5e37
				box-shadow: 0 5px 30px rgba(#ff5e37, .7)
		li:nth-child(2)
			.icon
				background-color: #36c0f4
				box-shadow: 0 5px 30px rgba(#36c0f4, .7)
		li:nth-child(3)
			.icon
				background-color: #222225
				box-shadow: 0 5px 30px rgba(#222225, .7)
		.img
			margin-top: 45px
			img
				transition: .25s
				transform: translateY(15px)
				display: block

@media only screen and (max-width: 1199px)
	#model-range .model-range-list li a
		padding: 35px 20px

@media only screen and (max-width: 991px)
	#model-range .model-range-list li
		width: 50%
	#model-range .tabs .caption
		font-size: 15px
		padding-right: 30px