.top-sec
	padding-top: 30px
	padding-bottom: 100px
	background-color: #fff
	.flex-wrap
		align-items: center
		margin-top: 75px
		.right-side
			min-width: 480px
			text-align: center
	.flex-wrap.small-top
		margin-top: 0
	.btn-wrap
		margin-top: 50px
		.btn
			padding: 0 30px
			font-size: 14px

@media only screen and (max-width: 991px)
	.top-sec .flex-wrap .right-side
		padding-top: 55px
		min-width: 270px
		margin-left: 20px
		img
			max-width: 100%

@media only screen and (max-width: 767px)
	.top-sec .flex-wrap
		flex-direction: column-reverse
		.left-side
			margin-top: 50px