.top-sec
	padding-top: 30px
	padding-bottom: 100px
	background-color: #fff
	.breadcrumbs
		font-size: 12px
		opacity: .6
		a:hover
			color: $green
		a
			transition: .05s
			color: $color
		ul
			display: flex
			justify-content: flex-start
			align-items: center
		li
			position: relative
		li:not(:last-child)
			margin-right: 20px
		li:not(:last-child):before
			content: '»'
			right: -13px
			top: 50%
			margin-top: -14px
			position: absolute
	.flex-wrap
		align-items: center
		margin-top: 75px
		.right-side
			min-width: 480px
			text-align: center
	.flex-wrap.small-top
		margin-top: 0
	.btn-wrap
		margin-top: 50px
		.btn
			padding: 0 30px
			font-size: 14px