#use-range
	.range-list
		margin-top: 50px
		ul
			display: flex
			justify-content: space-between
			align-items: stretch
			flex-wrap: wrap
		li:nth-child(even)
			margin-right: 65px
		li
			margin-top: 40px
			display: flex
			justify-content: flex-start
			align-items: flex-start
			max-width: 370px
			width: 100%
		.range-icon
			min-width: 70px
			width: 70px
		.range-info
			line-height: 1.3em
			padding-left: 20px
			font-size: 15px
			>p
				opacity: .9
				line-height: 1.5em
			.caption
				text-transform: uppercase
				font-size: 16px
				font-weight: 700
				margin-bottom: 5px

@media only screen and (max-width: 1199px)
	#use-range .range-list li
		max-width: 47%
		&:nth-child(even)
			margin-right: 0

@media only screen and (max-width: 767px)
	#use-range .range-list li
		max-width: 100%