#sertificates
	padding: 80px 0 130px
	h1
		font-size: 60px
	h1,
	h1+.clarify
		text-align: center
	h1+.clarify
		max-width: 950px
		margin: 35px auto 0
		font-size: 16px
		&:before
			left: 50%
			margin-left: -30px
	.list
		margin-top: 10px
		a>img
			box-shadow: 0 0 0 1px #e6e6e8
		ul
			display: flex
			justify-content: space-between
			align-items: stretch
			flex-wrap: wrap
		li
			margin-top: 50px
			max-width: 270px
			width: 100%
		a:focus
			outline: none
		.notion
			padding: 0 10px
			text-align: center
			margin-top: 10px
			line-height: 1.4em
			font-size: 14px