#payment
    padding: 80px 0 130px
    .content
        display: flex
        justify-content: space-between
        align-items: flex-start
    h1
        font-size: 28px
    .left-side
        max-width: 570px
        .btn-wrap
            margin-top: 35px
            .btn:hover
                box-shadow: inset 0 -1px 0 1px #fff
            .btn
                border: 1px solid #000
                background-color: #000
                color: #fff
                box-shadow: inset 0 0 0 1px #fff
        .notion
            margin-top: 50px
    .right-side
        .img
            width: 440px
            height: 440px
            border-radius: 50%
            background-color: #e7f0f7
            position: relative
        img
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            margin: auto
            margin-left: 25px