#payment._2
    h1+.clarify
        margin-bottom: 50px
        font-size: 16px
    .list
        font-size: 16px
        .caption
            font-weight: 600
            margin-bottom: 15px
        ul+.caption
            margin-top: 35px
        ul
            li:not(:first-child)
                margin-top: 10px
        .dashed
            li:before
                content: ''
                position: absolute
                height: 1px
                width: 20px
                top: 50%
                left: 0
                background-color: #f683b2
            li
                padding-left: 30px
                position: relative
    .tabs+.warning
        margin-top: 30px
        .caption
            font-weight: 600
            font-size: 18px
        .clarify
            font-size: 16px
            margin-top: 10px
            p:not(:first-child)
                margin-top: 20px
    .tabs
        width: 100%
        margin-top: 50px
        li:not(:first-child)
            margin-top: 20px
        li
            position: relative
            padding: 30px
            border: 1px solid #dfe0e3
        li.active:before
            transform: rotateZ(180deg)
        li:before
            transition: .5s
            content: url(../img/arrow-down.png)
            position: absolute
            right: 30px
            top: 30px
        .hidden-content
            padding-top: 35px
            max-width: 460px
            font-size: 14px
            display: none
        .header
            cursor: pointer
            max-width: 460px
            font-size: 14px
            font-weight: 700
        .caption
            font-size: 14px
            font-weight: 600
        .download
            margin-top: 30px
            a
                color: #f47aac
#payment
    padding: 80px 0 130px
    .content
        display: flex
        justify-content: space-between
        align-items: flex-start
    h1
        font-size: 28px
        &+.clarify
            font-size: 16px
    .left-side
        max-width: 670px
        .btn-wrap
            margin-top: 35px
            .btn:hover
                box-shadow: inset 0 -1px 0 1px #fff
            .btn
                border: 1px solid #000
                background-color: #000
                color: #fff
                box-shadow: inset 0 0 0 1px #fff
        .notion
            font-size: 14px
            margin-top: 50px
    .right-side
        .img
            width: 440px
            height: 440px
            border-radius: 50%
            background-color: #e7f0f7
            position: relative
        img
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            margin: auto
            margin-left: 25px
    .mobile-caption
        display: none

@media only screen and (max-width : 1200px)
    #payment
        font-size: 14px
        padding: 50px 0
        .content
            flex-direction: column
            align-items: stretch
        .mobile-caption:before
            content: ''
            position: absolute
            height: 1px
            width: 60px
            left: 50%
            margin-left: -30px
            bottom: 0
            background-color: #f683b2
        .mobile-caption
            padding-bottom: 40px
            margin-bottom: 50px
            font-size: 40px
            text-align: center
            position: relative
            font-family: "Playfair Display"
            color: #1c2335
            display: block
    #payment .right-side
        display: none

@media only screen and (max-width : 767px)
    #payment._2
        .list
            font-size: 14px
    #payment .mobile-caption
        line-height: 1.1em
        font-size: 28px
    #payment h1
        max-width: 220px
        font-size: 21px
    #payment._2 .tabs li
        padding: 20px
    #payment._2 .tabs .header
        line-height: 1.3em
        padding-right: 35px
    #payment._2 .tabs + .warning .caption
        font-size: 16px
    #payment._2 .tabs + .warning .clarify
        font-size: 14px