#register
    padding: 80px 0 130px
    .content
        display: flex
        justify-content: space-between
        align-items: flex-start
    .left-side
        width: 100%
        max-width: 570px
    h1
        font-size: 32px
    form
        margin-top: 45px
        >div:not(:first-child)
            margin-top: 20px
        >div
            display: flex
            justify-content: flex-start
            align-items: center
        label
            font-size: 14px
            color: #494f5d
            min-width: 140px
            display: inline-block
        input
            line-height: 45px
            height: 45px
            width: 425px
            padding: 0 20px
        .btn-wrap
            display: flex
            justify-content: flex-end
            align-items: center
            .btn:hover
                box-shadow: inset 0 -1px 0 1px #fff
            .btn
                box-shadow: inset 0 0 0 1px #fff
                border-color: #000
                cursor: pointer
                background-color: #000
                color: #fff
                border-width: 1px
    .right-side
        max-width: 470px
        width: 100%
        .caption
            font-size: 24px
            font-family: "Playfair Display"
            color: #1c2335
        .clarify
            font-size: 16px
            margin-top: 50px
        .btn-wrap
            margin-top: 35px
    *::-webkit-input-placeholder
        color: transparent
        opacity: .5

    *:-moz-placeholder
        color: transparent
        opacity: .5

    *::-moz-placeholder
        color: transparent
        opacity: .5

    *:-ms-input-placeholder
        color: transparent
        opacity: .5

@media only screen and (max-width : 1200px)
    #register
        text-align: center
        h1
            font-size: 40px
        .content
            flex-direction: column
            align-items: center
        form
            >div:last-child
                margin-top: 35px
            >div
                justify-content: center
            input
                max-width: 420px
            label
                display: none
            .btn-wrap
                margin-bottom: 60px
                justify-content: center
        *::-webkit-input-placeholder
            color: $color
            opacity: .5

        *:-moz-placeholder
            color: $color
            opacity: .5

        *::-moz-placeholder
            color: $color
            opacity: .5

        *:-ms-input-placeholder
            color: $color
            opacity: .5
    #register .right-side .clarify
        margin-top: 25px
        font-size: 16px

@media only screen and (max-width : 767px)
    #register .right-side .btn-wrap
        .btn
            justify-content: center
            max-width: 300px
            width: 100%