#testimonials
	padding-bottom: 295px
	.caption
		font-weight: 700
		font-size: 16px
		margin-top: 15px
	h1
		&+.clarify
			max-width: 900px
	.breadcrumbs
		margin-bottom: 70px
	.list
		text-align: center
		margin-top: 55px
		ul
			display: flex
			justify-content: space-around
			align-items: flex-start
			flex-wrap: wrap
		li
			margin-top: 50px
			width: 270px
		.icon
			max-width: 210px
			margin: 0 auto
			border: 1px solid #ccc
		a
			color: $green
			font-size: 14px
			font-weight: 700

@media only screen and (max-width: 500px)
	#testimonials .caption
		font-size: 21px
	#testimonials .list a
		margin-top: 15px
		font-size: 17px
		text-transform: uppercase
	#testimonials .list li
		width: 100%