@keyframes drop_shield
	68%
		opacity: 1
		transform: translateY(500px)
	80%
		opacity: 1
		transform: translateY(455px)
	100%
		opacity: 1
		transform: translateY(500px) scale(1)

@keyframes bounce_shadow
	68%
		transform: scale(1)
	80%
		transform: scale(.8)
	100%
		transform: scale(1)

@keyframes liquid
	10%
		transform: rotateZ(15deg) scale(1.2)
	20%
		transform: rotateZ(-15deg) scale(1.2)
	30%
		transform: rotateZ(10deg) scale(1.2)
	40%
		transform: rotateZ(-10deg) scale(1.2)
	50%
		transform: rotateZ(7deg) scale(1.2)
	60%
		transform: rotateZ(-7deg) scale(1.2)
	70%
		transform: rotateZ(5deg) scale(1.2)
	80%
		transform: rotateZ(-5deg) scale(1.2)
	90%
		transform: rotateZ(2deg) scale(1.1)
	100%
		transform: rotateZ(0deg) scale(1)
		height: 70px

@keyframes footer_logo
	25%
		transform: rotateZ(5deg)
	50%
		transform: rotateZ(0deg)
	75%
		transform: rotateZ(5deg)
	100%
		transform: rotateZ(0deg)