@keyframes wave-country-label
	0%
		transform: rotateZ(5deg)
	50%
		transform: rotateZ(-5deg)
	100%
		transform: rotateZ(5deg)

@keyframes wave-shadow
	0%
		box-shadow: 10px 10px 30px rgba(0, 0, 0, .25)
	50%
		box-shadow: -10px 10px 30px rgba(0, 0, 0, .25)
	100%
		box-shadow: 10px 10px 30px rgba(0, 0, 0, .25)