@import '_vars.sass'

a
	text-decoration: none
	color: $color
	display: inline-block

a:focus,
a:active
	outline: none

h1 span,
h2 span,
h3 span
	display: block

h1,
h2,
h3
	font-weight: 700
	line-height: 1.1em
h1
	font-size: 60px
h1+.clarify
	font-size: 19px
	margin-top: 28px
h2
	font-size: 48px
h2+.clarify
	margin-top: 25px
	opacity: .9
	line-height: 1.5em
h2+.flex-wrap
	margin-top: 38px
	.clarify
		margin-right: 50px
		opacity: .9
		line-height: 1.5em
		p:not(:first-child)
			margin-top: 20px
		.list
			font-size: 14px
			margin-top: 30px
			display: flex
			justify-content: flex-start
			ul:first-child
				margin-right: 55px
			li:not(:first-child)
				margin-top: 5px

h3
	font-size: 28px
	+ .clarify
		margin-top: 20px
		opacity: .9
		line-height: 1.5em
		p:not(:first-child)
			margin-top: 20px

.bold
	font-weight: 700

.mark
	color: $green

.main-wrap
	background-color: #f0f0f0
	.content
		max-width: 1500px
		display: flex
		justify-content: flex-start
		align-items: flex-start
	section
		position: relative
	section:before
		content: ''
		position: absolute
		width: 100%
		height: 100%
		left: 100%
		top: 0
		background-color: #fff

.flex-wrap
	display: flex
	justify-content: space-between
	align-items: stretch
.flex-wrap+.flex-wrap
	margin-top: 70px

body
	line-height: 1.4em
	font-family: 'PT Sans', Arial, Helvetica, sans-serif
	font-size: 18px
	color: #233143
	cursor: default
	background-color: #fff
	overflow-x: hidden

.content
	max-width: 1500px
	margin: 0 auto
	padding: 0 60px
	position: relative

body aside .btn-green:hover,
body section .btn-green:hover,
body header .btn-green:hover,
body footer .btn-green:hover,
	background-color: rgba($green, .8) !important
	
body aside .btn-white:hover,
body section .btn-white:hover,
body header .btn-white:hover,
	background-color: $green
	color: #fff

.btn-white:hover
	background-color: $green
	color: #fff
.btn-green
	color: #fff
	background-color: $green
.btn-white
	border: 1px solid $green
.btn
	cursor: pointer
	display: inline-block
	transition: .1s
	text-transform: uppercase
	line-height: 45px
	height: 45px
	font-weight: 700

.clarify-img
	font-size: 14px
	opacity: .5
	text-align: center

.main-wrap main
	background-color: #f0f0f0
	padding: 50px 0 100px
	section
		background-color: #fff
		padding: 70px 0 70px 75px
	section:not(:first-child)
		margin-top: 50px

.animated-borders
	li
		overflow: hidden
		position: relative
		a
			height: 100%
			display: block
	.border
		position: absolute
		background-color: #3bd99e
		transition: .25s
		z-index: 9
	.b-t
		top: 0
		left: 0
		width: 0
		height: 3px
	.b-r
		top: 0
		right: 0
		width: 3px
		height: 0
	.b-b
		bottom: 0
		right: 0
		height: 3px
		width: 0
	.b-l
		bottom: 0
		left: 0
		width: 3px
		height: 0
	a
		display: block
		height: 100%
		width: 100%
	li:hover
		.b-t
			width: 101%
		.b-r
			height: 101%
		.b-b
			width: 101%
		.b-l
			height: 101%

.is_stuck + div
	min-width: 210px

.bullets
	font-size: 15px
	line-height: 1.2em
	margin-top: 22px
	ul
		display: flex
		justify-content: flex-start
		flex-wrap: wrap
		align-items: flex-start
		max-width: 600px
	li
		margin-top: 28px
		padding: 5px 0 5px 20px
		border-left: 3px solid #3dd89d
		width: 50%
	.caption
		font-weight: 700
		font-size: 18px
	.clarify
		margin-top: 5px
		font-size: 14px
		opacity: .7

.slick-slide
	outline: none