#catalog
	padding: 100px 0
	.list
		margin-top: 50px
		text-align: center
		ul
			display: flex
			justify-content: flex-start
			flex-wrap: wrap
		li:last-child
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			border: none
		li:not(:nth-child(3n+1))
			border-left: none
		li:nth-child(4),
		li:nth-child(5),
		li:nth-child(6)
			border-top: none
		li
			margin-top: -4px
			margin-left: -4px
			border: 1px solid #e3e4e5
			width: 33.33%
			>a
				padding-bottom: 90px
				padding-top: 20px
		.cat-img
			height: 250px
			line-height: 250px
			padding: 2px
			img
				vertical-align: bottom
				max-width: 98%
		.caption
			margin-top: 30px
			font-weight: 700
		.btn-wrap
			.btn:hover
				color: #fff
			.btn
				font-size: 14px
				color: $green
				display: inline-block
				padding: 0 30px

@media only screen and (max-width: 991px)
	#catalog .list li > a
		padding-bottom: 50px

@media only screen and (max-width: 767px)
	#catalog .list
		ul
			justify-content: center
		li
			width: 49%
			margin: 0
			margin-left: -1px
			margin-top: -1px
	#catalog .list li:not(:nth-child(3n+1))
		border-left: 1px solid #e3e4e5