#trust
    padding: 100px 0
    .left-side
        max-width: 670px
        min-width: 670px
    .right-side
        .btn:hover
            color: #fff
        .btn
            padding: 0 30px
            color: $green
            line-height: 50px
            height: 50px
    .list
        margin-top: 35px
        ul
            display: flex
            justify-content: flex-start
            align-items: stretch
            flex-wrap: wrap
        li
            width: 25%
            border: 1px solid #ccc
            text-align: center
            margin-top: -1px
            margin-left: -1px
            transition: .1s
            a
                display: block
                padding: 20px 0
        li:hover
            background-color: #f7f7f8

@media only screen and (max-width: 991px)
    #trust
        .flex-wrap
            flex-direction: column
    #trust .right-side .btn
        margin-top: 25px

@media only screen and (max-width: 767px)
    #trust .left-side
        min-width: 100%
    #trust .list li
        width: 50%