<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Devita
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		
	body
		header
			.top-line
				.content
					.left-side
						ul
							li
								a(href="#") Доставка  и оплата
							li
								a(href="#") Обмен и возврат
					.right-side
						ul
							li.drop
								a(href="#") Rus
							li.drop
								a(href="#") Валюта: BYN
							li
								a(href="#")  Войти / Регистрация
			.major-menu
				.content
					.logo
						img(draggable="false" src="img/logo.png", alt="")
						.clarify
							p Официальный интернет-магазин
					nav
						.mobile-nav
							div
						ul
							li
								a(href="#") Каталог
							li
								a(href="#") Скидки
							li
								a(href="#") Блог
							li.drop
								a(href="#") О бренде
					.states
						ul
							li.search
								a(href="#")
									img(draggable="false" src="img/icon-search.png", alt="")
							li.like
								a(href="#")
									.total 6
									img(draggable="false" src="img/icon-like.png", alt="")
							li.cart
								a(href="#")
									.total 2
									img(draggable="false" src="img/icon-cart.png", alt="")
		section#about
			.content
				h1 О бренде
				.clarify
					p Компания DeVita была создана в 2012 году, когда небольшая на то время команда 
					p молодых энтузиастов собралась выпускать модную и красивую одежду.
			.template-1
				.content
					.left-side
						.collage
							.main-img
								img(src="img/about-1.jpg", alt="")
							.img-left
								img(src="img/lookbook-1.jpg", alt="")
							.img-bottom
								img(src="img/about-2.jpg", alt="")
					.right-side
						.wrap
							h2
								span DeVita - стиль 
								span и изящество
							.clarify
								p Сейчас фирма представляет собой стабильное            и развивающееся предприятие, фирменный стиль которого стал узнаваемым в Республике Беларусь и за ее пределами.
			.template-1
				.content
					.left-side
						h3 6 коллекций в год
						.clarify
							p Модели DeVita сочетают в себе простоту и изящество, лаконичность форм и эстетику покроя. Дизайнеры одежды учитывают новейшие тенденции мировой быстроменяющейся моды. Поэтому мы выпускаем ежегодно  6 коллекций и готовы предложить покупателям самые модные решения.
					.right-side
						img(src="img/about-3.jpg", alt="")
		section#best-of
			.content
				.left-side
					h2
						span Лучшие ткани
						span и фурнитура
					.clarify
						p Мы используем только лучшие ткани                              и эксклюзивную фурнитуру — только так                  мы можем гарантировать высокое качество, практичность и долговечность изделий.
					.btn-wrap
						a.btn.white(href="#")
							span О бренде
							img(draggable="false" src="img/arrow-white.png", alt="")
				.nav
			.right-side
				.slider
					.item
						img(src="img/best-of-1.jpg", alt="")
					.item
						img(src="img/best-of-2.jpg", alt="")
					.item
						img(src="img/best-of-1.jpg", alt="")
					.item
						img(src="img/best-of-2.jpg", alt="")
		section#about-slider
			.content
				.slider
					.item
						img(src="img/about-slider.jpg", alt="")
						.notion
							p Наши пошивочные мастерские оснащены современным оборудованием, на котором при использовании передовых технологий мы создаем настоящие шедевры европейской моды.
					.item
						img(src="img/about-slider.jpg", alt="")
						.notion
							p Наши пошивочные мастерские оснащены современным оборудованием, на котором при использовании передовых технологий мы создаем настоящие шедевры европейской моды.
					.item
						img(src="img/about-slider.jpg", alt="")
						.notion
							p Наши пошивочные мастерские оснащены современным оборудованием, на котором при использовании передовых технологий мы создаем настоящие шедевры европейской моды.
		section.template-1.about
			.content
				.left-side
					h2 Онлайн магазин
					.clarify
						p На протяжении 4-х лет наша фирма сотрудничает с более 300 магазинами, где продукция DeVita пользуется спросом у покупателей. Поэтому открытие фирменного интернет-магазина, где мы постараемся найти индивидуальный подход к каждому клиенту, стало для нас важным событием. 
						p При выборе одежды в нашем магазине каждая девушка сможет получить профессиональную помощь имидж-консультанта по любым интересующим вопроса
				.right-side
					img(src="img/about-4.jpg", alt="")
		section#famous-devita
			.slider-wrap
				.nav
					.pages
						span.current 1
						span.slash  / 
						span.total
				.slider
					.item
						img(src="img/famous-devita.jpg", alt="")
					.item
						img(src="img/famous-devita.jpg", alt="")
					.item
						img(src="img/famous-devita.jpg", alt="")
					.item
						img(src="img/famous-devita.jpg", alt="")
			.content
				.right-side
					.notion
						p Знаменитости в одежде
					h3 Полина Гагарина
					.clarify
						p Белоснежное платье из коллекции «Лето 2017»
					.btn-wrap
						a.btn(href="#")
							span В каталоге
							img(draggable="false" src="img/arrow.png", alt="")
		section#dont-stop
			.content
				.left-side
					.wrap-left
						img(src="img/dont-stop-1.jpg", alt="")
						.wrap-bottom
							img(src="img/lookbook-1.jpg", alt="")
					.wrap-right
						img(src="img/dont-stop-2.jpg", alt="")
				.right-side
					h3 Не останавливаемся на достигнутом
					.clarify
						p Команда DeVita не останавливается на достигнутом, ибо мы знаем: завоевать высокую репутацию у клиентов и уважение среди коллег нелегко, но еще сложнее удержать позиции. Поэтому мы всегда прислушиваемся  к пожеланиям заказчиков, благодаря чему делаем все возможное для того, чтобы наши клиенты не только получали удовольствие от работы с нами, но и возвращались к нам.
					
		footer
			.content
				.social
					ul
						li.vk
							a(href="#")
								img(draggable="false" src="img/vk.png", alt="")
						li.fb
							a(href="#")
								img(draggable="false" src="img/fb.png", alt="")
						li.insta
							a(href="#")
								img(draggable="false" src="img/insta.png", alt="")
						li.ok
							a(href="#")
								img(draggable="false" src="img/ok.png", alt="")
						li.youtube
							a(href="#")
								img(draggable="false" src="img/youtube.png", alt="")
				.footer-top
					.contacts
						ul
							li.viber
								a(href="tel:+375293757770") +375 29 375 77 70
							li.whatsapp
								a(href="tel:+375292272633") +375 29 227 26 33
							li.skype
								a(href="skype:devitabel") devitabel
							li.email
								a(href="e-mail:devitabel@mail.ru") devitabel@mail.ru
						.shedule
							.caption
								p Обработка заказов:
							p ПН-ПТ с 09:00 до 19:00
					nav
						.shop
							.caption
								p Магазин
							ul
								li
									a(href="#") Клоллекции
								li
									a(href="#") Распродажа
								li
									a(href="#") О бренде
								li
									a(href="#") Новости
								li
									a(href="#") Блог
								li
									a(href="#") Контакты
						.buyers
							.caption
								p Покупателям
							ul
								li
									a(href="#") Оплата и доставка
								li
									a(href="#") Обмен и возврат
								li
									a(href="#") Вопросы и ответы
						.account
							.caption
								p Личный кабинет
							ul
								li
									a(href="#") Личные данные
								li
									a(href="#") Адреса доставки
								li
									a(href="#") Заказы
								li
									a(href="#") Хочу купить
					.subscription
						.notion
							p Подпишитесь на новости и получите скидку 1000 руб. на первую покупку
						form(action="")
							.email
								input(type="email" name="email" placeholder="Ваш Email")
				.footer-bottom
					.copyright
						.caption
							p © 2017. Devita Shop
						.clarify
							p Магазин зарегистрирован
							p в Торговом реестре РБ 15 апреля 2014.
					.pay-with
						img(draggable="false" src="img/payment-logo.png", alt="")
					.made-by
						p Дизайн и разработка
							a(href="#")
								.namba
									.logo
										img(draggable="false" src="img/nambawan-logo.png", alt="")
										p Nambawan
					
		.hidden
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/sticky.js")
		script(src="js/common.js")