<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Devita
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		
	body
		.mobile-menu
			.overlay
			ul
				li.settings
					ul
						li.login
							a(href="#") Войти
							|  / 
							a(href="#") Регистрация
						li.dropdown
							a(href="#") Валюта: BYN
							ul
								li
									p BYN
								li
									p RUR
								li
									p EUR
						li
							a(href="#") Rus / Eng
				li
					a(href="#") Каталог
				li
					a(href="#") Скидки
				li
					a(href="#") Блог
				li.dropdown
					a(href="#") О бренде
					ul
						li
							p О бренде
						li
							p Lookbook
						li
							p Новости
						li
							p Сертификаты
						li
							p Блог
						li
							p Контакты
		.header-wrap
			header
				.search-bar
					.content
						.close
						input(type="search" placeholder="Найти на сайте")
				.top-line
					.content
						.left-side
							ul
								li
									a(href="#") Доставка  и оплата
								li
									a(href="#") Обмен и возврат
						.right-side
							ul
								li.drop
									a(href="#") Rus
									ul
										li
											p Blr
										li
											p Ukr
										li
											p Kaz
								li.drop
									a(href="#") Валюта: BYN
									ul
										li
											p RUR
										li
											p KAZ
										li
											p EURO
								li.login
									a(href="#") Войти
									|  / 
									a(href="#") Регистрация
				.major-menu
					.content
						.logo
							img(draggable="false" src="img/logo.png", alt="")
							.clarify
								p Официальный интернет-магазин
						nav
							.mobile-nav
								div
							ul.main-nav
								li.drop
									a(href="#" target="_blank") Каталог
									ul.sub-menu
										li
											a(href="#") Summer 2017
										li
											a(href="#") Devita Sport
								li
									a(href="#" target="_blank") Распродажа
								li
									a(href="#" target="_blank") Блог
								li.drop
									a(href="#" target="_blank") О бренде
									ul.sub-menu
										li
											a(href="#") Summer 2017
										li
											a(href="#") Devita Sport
						.states
							ul
								li.search
									img(draggable="false" src="img/icon-search.png", alt="")
								li.like
									a(href="#" target="_blank")
										.total
										img(draggable="false" src="img/icon-like.png", alt="")
								li.cart
									a(href="#" target="_blank")
										.total
										img(draggable="false" src="img/icon-cart.png", alt="")
									.cart-preview
										.b-t
										.btn-wrap
											a.btn(href="#") Оформить заказ
		section#catalog
			.content
				h1 Каталог
				.filter
					p Фильтры
					.wrap
						.left-side
							ul
								li.dropdown-price
									.caption
										p цена
									.hidden
										.wrap
											input#slider-price(type="text")
											.from-to
												.holder
													label от
													input#price-from(type="number" value="100")
												.holder
													label до
													input#price-to(type="number" value="1000")
								li.dropdown-size
									.caption
										p размер
									.hidden
										ul
											li
												input#size-1(type="checkbox" name="size")
												label(for="size-1")
												p 42
											li
												input#size-2(type="checkbox" name="size")
												label(for="size-2")
												p 44
											li
												input#size-3(type="checkbox" name="size")
												label(for="size-3")
												p 46
											li
												input#size-4(type="checkbox" name="size")
												label(for="size-4")
												p 48
											li
												input#size-5(type="checkbox" name="size")
												label(for="size-5")
												p 50
											li
												input#size-6(type="checkbox" name="size")
												label(for="size-6")
												p 52
								li.dropdown-height
									.caption
										p рост
									.hidden
										ul
											li
												input#height-1(type="checkbox" name="size")
												label(for="height-1")
												p 160
											li
												input#height-2(type="checkbox" name="size")
												label(for="height-2")
												p 163
											li
												input#height-3(type="checkbox" name="size")
												label(for="height-3")
												p 166
											li
												input#height-4(type="checkbox" name="size")
												label(for="height-4")
												p 169
											li
												input#height-5(type="checkbox" name="size")
												label(for="height-5")
												p 172
											li
												input#height-6(type="checkbox" name="size")
												label(for="height-6")
												p 175
								li.skidka
									input#skidka(type="checkbox")
									label(for="skidka")
									span Со скидкой
						.right-side
							p сортировать по: 
							.dropdown-sort
								p возрастанию цены
								.hidden
									.wrap
										ul
											li
												p убыванию цены
											li
												p возрастанию цены
				.list
					ul
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish" data-notion="popup-notion")
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish" data-notion="popup-notion")
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish" data-notion="popup-notion")
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish" data-notion="popup-notion")
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish" data-notion="popup-notion")
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish" data-notion="popup-notion")
				.pagination
					.prev
					ul
						li.active
							p 1
						li
							p 2
						li
							p 3
						li
							p 4
					.next
		footer
			.content
				.social
					ul
						li.vk
							a(href="#" target="_blank")
								img(draggable="false" src="img/vk.png", alt="")
						li.fb
							a(href="#" target="_blank")
								img(draggable="false" src="img/fb.png", alt="")
						li.insta
							a(href="#" target="_blank")
								img(draggable="false" src="img/insta.png", alt="")
						li.ok
							a(href="#" target="_blank")
								img(draggable="false" src="img/ok.png", alt="")
						li.youtube
							a(href="#" target="_blank")
								img(draggable="false" src="img/youtube.png", alt="")
				.footer-top
					.contacts
						ul
							li.viber
								a(href="tel:+375293757770") +375 29 375 77 70
							li.whatsapp
								a(href="tel:+375292272633") +375 29 227 26 33
							li.skype
								a(href="skype:devitabel") devitabel
							li.email
								a(href="e-mail:devitabel@mail.ru") devitabel@mail.ru
						.shedule
							.caption
								p Обработка заказов:
							p ПН-ПТ с 09:00 до 19:00
					nav
						.shop
							.caption
								p Магазин
							ul
								li
									a(href="#" target="_blank") Клоллекции
								li
									a(href="#" target="_blank") Распродажа
								li
									a(href="#" target="_blank") О бренде
								li
									a(href="#" target="_blank") Новости
								li
									a(href="#" target="_blank") Блог
								li
									a(href="#" target="_blank") Контакты
						.buyers
							.caption
								p Покупателям
							ul
								li
									a(href="#" target="_blank") Оплата и доставка
								li
									a(href="#" target="_blank") Обмен и возврат
								li
									a(href="#" target="_blank") Вопросы и ответы
						.account
							.caption
								p Личный кабинет
							ul
								li
									a(href="#" target="_blank") Личные данные
								li
									a(href="#" target="_blank") Адреса доставки
								li
									a(href="#" target="_blank") Заказы
								li
									a(href="#" target="_blank") Хочу купить
					.subscription
						.notion
							p Подпишитесь на новости и получите скидку 1000 руб. на первую покупку
						form(action="")
							.email
								input(type="email" name="email" placeholder="Ваш Email")
				.footer-bottom
					.copyright
						.caption
							p © 2017. Devita Shop
						.clarify
							p Магазин зарегистрирован
							p в Торговом реестре РБ 15 апреля 2014.
					.pay-with
						img(draggable="false" src="img/payment-logo.png", alt="")
					.made-by
						p Дизайн и разработка
							a(href="#" target="_blank")
								.namba
									.logo
										img(draggable="false" src="img/nambawan-logo.png", alt="")
										p Nambawan
					
		.hidden
		.popup-wrap.item-card#popup-wrap-card
			#popup-card.popup
				.close
				.flex-wrap
					.left-side
						.gallery
							.slider
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
						.preview
							.nav
								p.pages
									span.current 1
									span.slash  / 
									span.total 3
							.slider
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
					.right-side
						.caption.product-title
							p Комбинезон М-566
						.clarify
							p Стильный комбинезон с оригинальным принтом из текстильного полотна. Лиф с рельефами из пройм и центральной застёжкой на 7 пуговиц.  Вырез горловины круглый на обтачке.
						.prices
							.old-price
								p 
									span.num 75
									span.cur  BYN
							.price
								p 
									span.num 159
									span.cur  BYN
						.item-info
							p.height
								p
									b Рост: 
									| 164
							.size
								b Размер:
								.flex-wrap
									ul
										li
											p 42
										li
											p 43
										li.active
											p 44
										li
											p 46
									a(href="#").table-sizes(data-popup="popup-wrap-sizes") Таблица размеров
							.compound
								p
									b Состав: 
									| 88% шерсть, 12% полиэстер
							.flex-wrap.counter-btn
								.count
									.minus
										p –
									.current
										p 1
									.plus
										p +
								.btn-wrap
									a.btn.add-to-cart.popup-btn(href="#") Добавить в корзину
						.to-like
							img(src="img/like-icon.png", alt="")
							p Мне нравится
						.more
							a(href="#") Подробнее о товаре 
		.popup-wrap#popup-wrap-sizes
			.popup#popup-sizes
				.close
				.caption
					p Таблица размеров
				.table
					table.head
						tr
							td
								p Российский размер
							td
								p 42
							td
								p 44
							td
								p 46
							td
								p 48
							td
								p 50
							td
								p 52
							td
								p 54
							td
								p 56
							td
								p 58
						tr
							td
								p Международный размер
							td
								p S
							td
								p M
							td
								p L
							td
								p XL
							td
								p XXL
							td
								p XXXL
							td
								p XXXL
							td
								p XXXL
							td
								p XXXL
						tr
							td
								p Европейский размер
							td
								p 36
							td
								p 38
							td
								p 40
							td
								p 42
							td
								p 44
							td
								p 46
							td
								p 48
							td
								p 50
							td
								p 52
						tr
							td
								p Обхват груди, см
							td
								p 84
							td
								p 88
							td
								p 92
							td
								p 96
							td
								p 100
							td
								p 104
							td
								p 108
							td
								p 112
							td
								p 114
						tr
							td
								p Обхват талии, см
							td
								p 66
							td
								p 70
							td
								p 74
							td
								p 78
							td
								p 82
							td
								p 86
							td
								p 90
							td
								p 94
							td
								p 98
						tr
							td
								p Обхват бедер, см
							td
								p 92
							td
								p 96
							td
								p 100
							td
								p 104
							td
								p 108
							td
								p 112
							td
								p 116
							td
								p 120
							td
								p 124
				.flex-wrap
					.left-side
						.caption
							p Как определить свой размер?
						.clarify
							p Для того чтобы выбрать правильный размер, необходимо снять следующие мерки:
							div
								b Обхват груди
								p Измеряется по выступающим точкам груди вокруг тела.
							div
								b Обхват талии
								p Измеряется строго горизонтально по самой узкой части тела
							div
								b Обхват бедер
								p Измеряется го наиболее выступающим точкам бедер и ягодиц.
					.right-side
						img(src="img/table-img.png", alt="")
		.popup-wrap#popup-wrap-add
			.popup#popup-add
				.close
				.caption
					p Товар добавлен в корзину!
				ul.list
					li.item
						.item-info
							.img
								img(src="img/catalog-1.jpg", alt="")
							.info
								.item-name
									p Платье из лёгкого шифона М-539
								.item-size
									p Размер: 44
						.price
							p 2 x 228 BYN
					li.item
						.item-info
							.img
								img(src="img/catalog-1.jpg", alt="")
							.info
								.item-name
									p Платье из лёгкого шифона М-539
								.item-size
									p Размер: 44
						.price
							p 2 x 228 BYN
					li.item
						.item-info
							.img
								img(src="img/catalog-1.jpg", alt="")
							.info
								.item-name
									p Платье из лёгкого шифона М-539
								.item-size
									p Размер: 44
						.price
							p 2 x 228 BYN
				.btns
					.btn-wrap
						a.btn(href="#") Продолжить покупки
					.btn-wrap
						a.btn.order(href="#") Оформить заказ
		.popup-wrap#popup-wrap-wish
			.popup#popup-wish
				.close
				.caption
					p Добавить в список желаний
				.clarify
					p Чтобы добавить товар в список желаний, войдите с свой аккаунт
				.flex-wrap
					.left-side
						form(action="")
							.holder
								input(type="email" placeholder="Введите email" required)
							.holder
								input(type="password" placeholder="Введите пароль" required)
							.btns
								.btn-wrap.forgot
									a.btn(href="#") Забыли пароль?
								.btn-wrap.login
									button.btn(href="#") ВОЙТИ
					.right-side
						.caption
							p Еще нет аккаунта?
						.clarify
							p Регистрация позволит вам сохранять в избранное, быстро совершать покупки, просматривать историю заказов, получать свежую информацию о новинках.
						.btn-wrap
							a.btn(href="#") Регистрация
		.popup-wrap#popup-wrap-success
			.popup#popup-success
				.close
				.caption
					p Ваше сообщение отправлено
				.clarify
					p Мы свяжимся с вами в ближайшее время
		.popup-notion
			.popup
				.caption
					p Товар успешно добавлен
					p в список желаний!
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/ion.rangeSlider.min.js")
		script(src="js/jquery.tubular.1.0.js")
		script(src="js/jquery.fancybox.min.js")
		script(src="js/sticky.js")
		script(src="js/common.js")