<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Devita
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		
	body
		header
			.top-line
				.content
					.left-side
						ul
							li
								a(href="#" target="_blank") Доставка  и оплата
							li
								a(href="#" target="_blank") Обмен и возврат
					.right-side
						ul
							li.drop
								a(href="#" target="_blank") Rus
							li.drop
								a(href="#" target="_blank") Валюта: BYN
							li
								a(href="#" target="_blank")  Войти / Регистрация
			.major-menu
				.content
					.logo
						img(draggable="false" src="img/logo.png", alt="")
						.clarify
							p Официальный интернет-магазин
					nav
						ul
							li
								a(href="#" target="_blank") Каталог
							li
								a(href="#" target="_blank") Скидки
							li
								a(href="#" target="_blank") Блог
							li.drop
								a(href="#" target="_blank") О бренде
					.states
						ul
							li.search
								a(href="#" target="_blank")
									img(draggable="false" src="img/icon-search.png", alt="")
							li.like
								a(href="#" target="_blank")
									.total 6
									img(draggable="false" src="img/icon-like.png", alt="")
							li.cart
								a(href="#" target="_blank")
									.total 2
									img(draggable="false" src="img/icon-cart.png", alt="")
		section#profile.history
			.content
				h1 Личный кабинет
				.main-wrap
					aside.profile
						nav
							ul
								li
									a(href="#") Профиль
								li
									a(href="#") Безопасность
								li.active
									a(href="#") История заказов
								li
									a(href="#") Список желаний
					main
						.caption
							p История заказов
						.history-box
							.top-line
								.number
									p Номер заказа
								.date
									p Дата заказа
								.price
									p Сумма заказа
							.item-list
								.item
									.item-prev
										.item-number
											p 343455
										.item-date
											p 09.06.2017 11:30
										.item-price
											p 360 BYN
										.item-show
											p.active Показать заказ
											p.hide Скрыть заказ
									.item-hidden
										ul.list
											li
												.item-info
													.item-img
														img(src="img/item-img-1.jpg", alt="")
													.item-descr
														.name
															p Принтованное платье М-546
														.item-char
															.heigh
																p Рост: 
																	span.heigh-num 164
															.size
																p Размер: 
																	span.size-num 44
												.item-count
													p 1
												.item-price
													p 114 BYN
											li
												.item-info
													.item-img
														img(src="img/item-img-1.jpg", alt="")
													.item-descr
														.name
															p Принтованное платье М-546
														.item-char
															.heigh
																p Рост: 
																	span.heigh-num 164
															.size
																p Размер: 
																	span.size-num 44
												.item-count
													p 2
												.item-price
													p 228 BYN
								.item
									.item-prev
										.item-number
											p 343455
										.item-date
											p 09.06.2017 11:30
										.item-price
											p 360 BYN
										.item-show
											p.active Показать заказ
											p.hide Скрыть заказ
									.item-hidden
										ul.list
											li
												.item-info
													.item-img
														img(src="img/item-img-1.jpg", alt="")
													.item-descr
														.name
															p Принтованное платье М-546
														.item-char
															.heigh
																p Рост: 
																	span.heigh-num 164
															.size
																p Размер: 
																	span.size-num 44
												.item-count
													p 1
												.item-price
													p 114 BYN
											li
												.item-info
													.item-img
														img(src="img/item-img-1.jpg", alt="")
													.item-descr
														.name
															p Принтованное платье М-546
														.item-char
															.heigh
																p Рост: 
																	span.heigh-num 164
															.size
																p Размер: 
																	span.size-num 44
												.item-count
													p 2
												.item-price
													p 228 BYN
								.item
									.item-prev
										.item-number
											p 343455
										.item-date
											p 09.06.2017 11:30
										.item-price
											p 360 BYN
										.item-show
											p.active Показать заказ
											p.hide Скрыть заказ
									.item-hidden
										ul.list
											li
												.item-info
													.item-img
														img(src="img/item-img-1.jpg", alt="")
													.item-descr
														.name
															p Принтованное платье М-546
														.item-char
															.heigh
																p Рост: 
																	span.heigh-num 164
															.size
																p Размер: 
																	span.size-num 44
												.item-count
													p 1
												.item-price
													p 114 BYN
											li
												.item-info
													.item-img
														img(src="img/item-img-1.jpg", alt="")
													.item-descr
														.name
															p Принтованное платье М-546
														.item-char
															.heigh
																p Рост: 
																	span.heigh-num 164
															.size
																p Размер: 
																	span.size-num 44
												.item-count
													p 2
												.item-price
													p 228 BYN
						.mobile-history-box
							ul.orders
								li.order
									.order-prev
										table
											tr.order-id
												td
													p Номер заказа
												td
													p 34567
											tr.order-date
												td
													p Дата заказа
												td
													p 09.07.2017 01:40
											tr.order-total
												td
													p Сумма заказа
												td
													p 350  BYN
										.hidden-content
											.item
												.item-img
													img(src="img/cart-prev-1.jpg", alt="")
												.item-info
													.wrap
														.item-name
															p Принтованное платье M-546
														.item-height
															p Рост: 
																span.num 164
														.item-size
															p Размер: 
																span.num 
													.count
														p
															span.counter 1 
															|  X 
															span.price-num 114 BYN
											.item
												.item-img
													img(src="img/cart-prev-1.jpg", alt="")
												.item-info
													.wrap
														.item-name
															p Принтованное платье M-546
														.item-height
															p Рост: 
																span.num 164
														.item-size
															p Размер: 
																span.num 
													.count
														p
															span.counter 2 
															|  X 
															span.price-num 228 BYN
								li.order
									.order-prev
										table
											tr.order-id
												td
													p Номер заказа
												td
													p 34567
											tr.order-date
												td
													p Дата заказа
												td
													p 09.07.2017 01:40
											tr.order-total
												td
													p Сумма заказа
												td
													p 350  BYN
										.hidden-content
											.item
												.item-img
													img(src="img/cart-prev-1.jpg", alt="")
												.item-info
													.wrap
														.item-name
															p Принтованное платье M-546
														.item-height
															p Рост: 
																span.num 164
														.item-size
															p Размер: 
																span.num 
													.count
														p
															span.counter 1 
															|  X 
															span.price-num 114 BYN
											.item
												.item-img
													img(src="img/cart-prev-1.jpg", alt="")
												.item-info
													.wrap
														.item-name
															p Принтованное платье M-546
														.item-height
															p Рост: 
																span.num 164
														.item-size
															p Размер: 
																span.num 
													.count
														p
															span.counter 2 
															|  X 
															span.price-num 228 BYN
		footer
			.content
				.social
					ul
						li.vk
							a(href="#" target="_blank")
								img(draggable="false" src="img/vk.png", alt="")
						li.fb
							a(href="#" target="_blank")
								img(draggable="false" src="img/fb.png", alt="")
						li.insta
							a(href="#" target="_blank")
								img(draggable="false" src="img/insta.png", alt="")
						li.ok
							a(href="#" target="_blank")
								img(draggable="false" src="img/ok.png", alt="")
						li.youtube
							a(href="#" target="_blank")
								img(draggable="false" src="img/youtube.png", alt="")
				.footer-top
					.contacts
						ul
							li.viber
								a(href="tel:+375293757770") +375 29 375 77 70
							li.whatsapp
								a(href="tel:+375292272633") +375 29 227 26 33
							li.skype
								a(href="skype:devitabel") devitabel
							li.email
								a(href="e-mail:devitabel@mail.ru") devitabel@mail.ru
						.shedule
							.caption
								p Обработка заказов:
							p ПН-ПТ с 09:00 до 19:00
					nav
						.shop
							.caption
								p Магазин
							ul
								li
									a(href="#" target="_blank") Клоллекции
								li
									a(href="#" target="_blank") Распродажа
								li
									a(href="#" target="_blank") О бренде
								li
									a(href="#" target="_blank") Новости
								li
									a(href="#" target="_blank") Блог
								li
									a(href="#" target="_blank") Контакты
						.buyers
							.caption
								p Покупателям
							ul
								li
									a(href="#" target="_blank") Оплата и доставка
								li
									a(href="#" target="_blank") Обмен и возврат
								li
									a(href="#" target="_blank") Вопросы и ответы
						.account
							.caption
								p Личный кабинет
							ul
								li
									a(href="#" target="_blank") Личные данные
								li
									a(href="#" target="_blank") Адреса доставки
								li
									a(href="#" target="_blank") Заказы
								li
									a(href="#" target="_blank") Хочу купить
					.subscription
						.notion
							p Подпишитесь на новости и получите скидку 1000 руб. на первую покупку
						form(action="")
							.email
								input(type="email" name="email" placeholder="Ваш Email")
				.footer-bottom
					.copyright
						.caption
							p © 2017. Devita Shop
						.clarify
							p Магазин зарегистрирован
							p в Торговом реестре РБ 15 апреля 2014.
					.pay-with
						img(draggable="false" src="img/payment-logo.png", alt="")
					.made-by
						p Дизайн и разработка
							a(href="#" target="_blank")
								.namba
									.logo
										img(draggable="false" src="img/nambawan-logo.png", alt="")
										p Nambawan
					
		.hidden
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/sticky.js")
		script(src="js/common.js")