<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet", href="css/main.css")
  body
    .mobile-menu
      .overlay
      ul
        li.settings
          ul
            li.login
              a(href="#") Войти / Регистрация
            li.dropdown
              a(href="#") Валюта: BYN
              ul
                li
                  p BYN
                li
                  p RUR
                li
                  p EUR
            li
              a(href="#") Rus / Eng
        li
          a(href="#") Каталог
        li
          a(href="#") Скидки
        li
          a(href="#") Блог
        li.dropdown
          a(href="#") О бренде
          ul
            li
              a(href="#") О бренде
            li
              a(href="#") Lookbook
            li
              a(href="#") Новости
            li
              a(href="#") Сертификаты
            li
              a(href="#") Блог
            li
              a(href="#") Контакты
    .header-wrap
      header
        .search-bar
          .content
            .close
            input(type="search" placeholder="Найти на сайте")
        .top-line
          .content
            .left-side
              ul
                li
                  a(href="#") Доставка  и оплата
                li
                  a(href="#") Обмен и возврат
            .right-side
              ul
                li.drop
                  a(href="#") Rus
                  ul
                    li
                      p Blr
                    li
                      p Ukr
                    li
                      p Kaz
                li.drop
                  a(href="#") Валюта: BYN
                  ul
                    li
                      p RUR
                    li
                      p KAZ
                    li
                      p EURO
                li.login
                  a(href="#")  Войти / Регистрация
        .major-menu
          .content
            .logo
              img(draggable="false" src="img/logo.png", alt="")
              .clarify
                p Официальный интернет-магазин
            nav
              .mobile-nav
                div
              ul.main-nav
                li.drop
                  a(href="#" target="_blank") Каталог
                  ul.sub-menu
                    li
                      a(href="#") Summer 2017
                    li
                      a(href="#") Devita Sport
                li
                  a(href="#" target="_blank") Распродажа
                li
                  a(href="#" target="_blank") Блог
                li.drop
                  a(href="#" target="_blank") О бренде
                  ul.sub-menu
                    li
                      a(href="#") О бренде
                    li
                      a(href="#") Lookbook
                    li
                      a(href="#") Новости
                    li
                      a(href="#") Сертификаты
                    li
                      a(href="#") Контакты
            .states
              ul
                li.search
                  img(draggable="false" src="img/icon-search.png", alt="")
                li.like
                  a(href="#" target="_blank")
                    .total 6
                    img(draggable="false" src="img/icon-like.png", alt="")
                li.cart
                  a(href="#" target="_blank")
                    .total
                    img(draggable="false" src="img/icon-cart.png", alt="")
                  .cart-preview
                    .b-t
                    .btn-wrap
                      a.btn(href="#") Оформить заказ
    section#how-promo: .content
      h1 Как использовать промокод
      p
      em Промокоды &nbsp;
      | &mdash; это волшебные слова, которые открывают доступ к уникальным скидкам на товары из нашего каталога. Мы их сообщаем не каждому встречному, а только нашим верным подписчикам через рассылки и соцсети.
      .text-box
        span.caption Как пользоваться промокодом:
        ul.list-num
          li Войти в личный кабинет.
          li Положить в корзину понравившиеся товары.
          li На странице корзины ввести промокод в соответствующее поле и нажать кнопку «Применить».
        p Вжух — стоимость вашего заказа пересчитана с учетом скидки по промокоду!
        p Обратите внимание:
          ul.list-dash
            li: p скидки по промокоду не суммируются с другими скидками и акциями на сайте;
            li: p бонусные баллы в рамках нашей программы лояльности за покупки по промокоду не начисляются
        p Как узнавать об актуальных промокодах?
        p Промокоды можно найти на наших страницах в социальных сетях — Facebook, Instagram, ВКонтакте, Одноклассники и в наших e-mail-рассылках. Хотите всегда быть в курсе выгодных предложений — подписывайтесь, вступайте, покупайте!


