<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Devita
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		
	body
		header
			.top-line
				.content
					.left-side
						ul
							li
								a(href="#") Доставка  и оплата
							li
								a(href="#") Обмен и возврат
					.right-side
						ul
							li.drop
								a(href="#") Rus
							li.drop
								a(href="#") Валюта: BYN
							li
								a(href="#")  Войти / Регистрация
			.major-menu
				.content
					.logo
						img(draggable="false" src="img/logo.png", alt="")
						.clarify
							p Официальный интернет-магазин
					nav
						ul
							li
								a(href="#") Каталог
							li
								a(href="#") Скидки
							li
								a(href="#") Блог
							li.drop
								a(href="#") О бренде
					.states
						ul
							li.search
								a(href="#")
									img(draggable="false" src="img/icon-search.png", alt="")
							li.like
								a(href="#")
									.total 6
									img(draggable="false" src="img/icon-like.png", alt="")
							li.cart
								a(href="#")
									.total 2
									img(draggable="false" src="img/icon-cart.png", alt="")
		section#top-sec
			.content
				h1
					span Летняя
					span коллекция
				.btn-wrap
					a(href="#").btn
						span В каталог
						img(draggable="false" src="img/arrow.png", alt="")
		section.template-1
			.content
				.left-side
					img(draggable="false" src="img/index-summer-2017.jpg", alt="")
				.right-side
					h2 Summer 2017
					.clarify
						p Коллекция 2017 года стильной и практичной спортивной одежды, для современных женщин, ценящих удобство и красоту
					.btn-wrap
						a(href="#").btn
							span Смотреть
							img(draggable="false" src="img/arrow.png", alt="")
		section.template-1
			.content
				.left-side
					h2 DeVita Sport
					.clarify
						p Коллекция 2017 года стильной и практичной спортивной одежды, для современных женщин, ценящих удобство и красоту
					.btn-wrap
						a(href="#").btn
							span Смотреть
							img(draggable="false" src="img/arrow.png", alt="")
				.right-side
					img(draggable="false" src="img/index-sport.jpg", alt="")
		section#popular
			.content
				h3 Популярные модели
				.list
					ul
						li
							a(href="#")
								
								.popular-img
									img(draggable="false" src="img/popular-1.jpg", alt="")
								.clarify
									p Желтое платье М-537
								.price
									p 114 BYN
						li
							a(href="#")
								
								.popular-img
									img(draggable="false" src="img/popular-2.jpg", alt="")
								.clarify
									p Желтое платье М-537
								.price
									p 114 BYN
						li
							a(href="#")
								
								.popular-img
									img(draggable="false" src="img/popular-3.jpg", alt="")
								.clarify
									p Желтое платье М-537
								.price
									p 114 BYN
						li
							a(href="#")
								
								.popular-img
									img(draggable="false" src="img/popular-4.jpg", alt="")
								.clarify
									p Желтое платье М-537
								.price
									p 114 BYN
		section#lookbook
			.content
				.lookbox
					h2 Lookbook
					.clarify
						p Cтильные образы из летней коллекции
						p на различные случаи жизни.
					.btn-wrap
						a.btn(href="#")
							span Смотреть
							img(draggable="false" src="img/arrow-white.png", alt="")
					.lookbook-photo-1
						img(draggable="false" src="img/lookbook-1.jpg", alt="")
					.lookbook-photo-2
						img(draggable="false" src="img/lookbook-2.jpg", alt="")
		section#devitable
				h3 @devitabel
				.notion
					p Подписывайтесь на наш Instagram
				.gallery
					img(draggable="false" src="img/devitable.png", alt="")


		footer
			.content
				.social
					ul
						li.vk
							a(href="#")
								img(draggable="false" src="img/vk.png", alt="")
						li.fb
							a(href="#")
								img(draggable="false" src="img/fb.png", alt="")
						li.insta
							a(href="#")
								img(draggable="false" src="img/insta.png", alt="")
						li.ok
							a(href="#")
								img(draggable="false" src="img/ok.png", alt="")
						li.youtube
							a(href="#")
								img(draggable="false" src="img/youtube.png", alt="")
				.footer-top
					.contacts
						ul
							li.viber
								a(href="tel:+375293757770") +375 29 375 77 70
							li.whatsapp
								a(href="tel:+375292272633") +375 29 227 26 33
							li.skype
								a(href="skype:devitabel") devitabel
							li.email
								a(href="e-mail:devitabel@mail.ru") devitabel@mail.ru
						.shedule
							.caption
								p Обработка заказов:
							p ПН-ПТ с 09:00 до 19:00
					nav
						.shop
							.caption
								p Магазин
							ul
								li
									a(href="#") Клоллекции
								li
									a(href="#") Распродажа
								li
									a(href="#") О бренде
								li
									a(href="#") Новости
								li
									a(href="#") Блог
								li
									a(href="#") Контакты
						.buyers
							.caption
								p Покупателям
							ul
								li
									a(href="#") Оплата и доставка
								li
									a(href="#") Обмен и возврат
								li
									a(href="#") Вопросы и ответы
						.account
							.caption
								p Личный кабинет
							ul
								li
									a(href="#") Личные данные
								li
									a(href="#") Адреса доставки
								li
									a(href="#") Заказы
								li
									a(href="#") Хочу купить
					.subscription
						.notion
							p Подпишитесь на новости и получите скидку 1000 руб. на первую покупку
						form(action="")
							.email
								input(type="email" name="email" placeholder="Ваш Email")
				.footer-bottom
					.copyright
						.caption
							p © 2017. Devita Shop
						.clarify
							p Магазин зарегистрирован
							p в Торговом реестре РБ 15 апреля 2014.
					.pay-with
						img(draggable="false" src="img/payment-logo.png", alt="")
					.made-by
						p Дизайн и разработка
							a(href="#")
								.namba
									.logo
										img(draggable="false" src="img/nambawan-logo.png", alt="")
										p Nambawan
					
		.hidden
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/sticky.js")
		script(src="js/common.js")