<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet")
    link(rel="stylesheet", href="css/main.css")
  body
    .mobile-menu
      .overlay
      ul
        li.settings
          ul
            li.login
              a(href="#") Войти / Регистрация
            li.dropdown
              a(href="#") Валюта: BYN
              ul
                li
                  p BYN
                li
                  p RUR
                li
                  p EUR
            li
              a(href="#") Rus / Eng
        li
          a(href="#") Каталог
        li
          a(href="#") Скидки
        li
          a(href="#") Блог
        li.dropdown
          a(href="#") О бренде
          ul
            li
              a(href="#") О бренде
            li
              a(href="#") Lookbook
            li
              a(href="#") Новости
            li
              a(href="#") Сертификаты
            li
              a(href="#") Блог
            li
              a(href="#") Контакты
    .header-wrap
      header
        .search-bar
          .content
            .close
            input(type="search" placeholder="Найти на сайте")
        .top-line
          .content
            .left-side
              ul
                li
                  a(href="#") Доставка  и оплата
                li
                  a(href="#") Обмен и возврат
            .right-side
              ul
                li.drop
                  a(href="#") Rus
                  ul
                    li
                      p Blr
                    li
                      p Ukr
                    li
                      p Kaz
                li.drop
                  a(href="#") Валюта: BYN
                  ul
                    li
                      p RUR
                    li
                      p KAZ
                    li
                      p EURO
                li.login
                  a(href="#")  Войти / Регистрация
        .major-menu
          .content
            .logo
              img(draggable="false" src="img/logo.png", alt="")
              .clarify
                p Официальный интернет-магазин
            nav
              .mobile-nav
                div
              ul.main-nav
                li.drop
                  a(href="#" target="_blank") Каталог
                  ul.sub-menu
                    li
                      a(href="#") Summer 2017
                    li
                      a(href="#") Devita Sport
                li
                  a(href="#" target="_blank") Распродажа
                li
                  a(href="#" target="_blank") Блог
                li.drop
                  a(href="#" target="_blank") О бренде
                  ul.sub-menu
                    li
                      a(href="#") О бренде
                    li
                      a(href="#") Lookbook
                    li
                      a(href="#") Новости
                    li
                      a(href="#") Сертификаты
                    li
                      a(href="#") Контакты
            .states
              ul
                li.search
                  img(draggable="false" src="img/icon-search.png", alt="")
                li.like
                  a(href="#" target="_blank")
                    .total 6
                    img(draggable="false" src="img/icon-like.png", alt="")
                li.cart
                  a(href="#" target="_blank")
                    .total
                    img(draggable="false" src="img/icon-cart.png", alt="")
                  .cart-preview
                    .b-t
                    .btn-wrap
                      a.btn(href="#") Оформить заказ
      section#oferta
        .content
          h1 ДОГОВОР ПУБЛИЧНОЙ ОФЕРТЫ №1 от 09.11.2017
          p на приобретение товаров через Интернет-магазин &nbsp;
            a(href="https://devita-shop.by/") https://devita-shop.by/
          ul.list-num
            li
              span.caption Термины и их определения.
              p
                em Адрес &nbsp;
                | &mdash; идентификационные сведения места доставки Товара, четко и однозначно определяющие наименование улицы, номер здания (дома, строения) и (при наличии) номера квартиры (комнаты, офиса).
              p
                em Заказ &nbsp;
                | &mdash; запрос, отправленный посредством сети Интернет и/или сообщенный Покупателем Продавцу по телефону, на покупку Товара, выбранного в Интернет-магазине, и его доставку, по указанному в запросе Адресу.
              p
                em Интернет-магазин &nbsp;
                | &mdash; Сайт, на котором Покупатель может ознакомиться с представленным Товаром, его описанием и ценой, позволяющими осуществить выбор определенного Товара, способ его оплаты, условий доставки Товара Покупателю или Получателю, сформировать и отправить Заказ Продавцу по электронной почте или заказать по телефону.
              p
                em Покупатель &nbsp;
                | &mdash; физическое лицо, имеющее намерение заказать или приобрести либо заказывающее, приобретающее или использующее Товар исключительно для личных, бытовых, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности, разместившее Заказ на сайте либо указанное (упомянутое) при формировании Заказа в качестве Получателя.
              p
                em Получатель &nbsp;
                | &mdash; физическое лицо, указанное (упомянутое) Покупателем при формировании Заказа либо физическое лицо, в Адрес которого Продавцом доставляется Товар.
              p
                em Продавец &nbsp;
                | &mdash; Индивидуальный предприниматель Климчук Александр Валентинович, осуществляющее реализацию товаров Покупателям вне торгового объекта, то есть дистанционным способом посредством глобальной компьютерной сети (Интернет) через Интернет-магазин.
              p
                em Сайт &nbsp;
                | &mdash; совокупность информационных ресурсов, размещенных в Интернете по адресу https://devita-shop.by/ Сайт принадлежит Продавцу и администрируется последним.
              p
                em Товар &nbsp;
                | &mdash; объект (вещь как предмет личного, семейного, бытового, домашнего потребления и иное имущество) купли-продажи, не изъятый и не ограниченный в гражданском обороте, представленный к продаже в Интернет-магазине посредством размещения в соответствующем разделе Интернет-магазина и возможный к формированию Заказа.
            li
              span.caption Общие положения.
              ul
                li: p Настоящий договор определяет порядок ведения Продавцом розничной купли-продажи Товара через Интернет-магазин в соответствии со ст. 405 Гражданского кодекса Республики Беларусь (далее – ГК РБ) и является официальной публичной офертой Продавца, адресуемой неопределенному кругу физических лиц.
                li: p При совместном упоминании Покупателя и Продавца по тексту настоящего договора последние именуются Стороны, а каждый по отдельности Сторона.
                li: p Каждая Сторона гарантирует другой Стороне, что обладает соответствующим правом и достаточным объемом дееспособности, а равно всеми иными правами и полномочиями, необходимыми для заключения и исполнения настоящего договора.
                li: p Осуществляя Заказ Товара через Интернет-магазин, Покупатель принимает и соглашается со всеми условиями, изложенными в настоящем договоре, и с информацией, размещенной на Сайте в момент принятия Продавцом Заказа.
                li: p К отношениям между Сторонами по настоящему договору применяются положения параграфа 2 главы 30 ГК РБ (§ 2. Розничная купля-продажа), а также требования Законов Республики Беларусь «О торговле», «О защите прав потребителей» (далее – Закон) и иные нормативные и правовые акты Республики Беларусь, регулирующие вопросы розничной купли-продажи.
                li: p Продавец оставляет за собой право вносить изменения в настоящий договор и в информацию на Сайте, в связи с чем Покупатель обязуется на момент обращения к Продавцу с Заказом на Товар учитывать возможные изменения.
            li
              span.caption Оформление и сроки выполнения заказа.
              ul
                li: p При оформлении Заказа через Сайт Покупатель заполняет электронную форму Заказа на Товар и отправляет сформированный Заказ Продавцу посредством сети Интернет.
                li: p Информация в Заказе, полученном Продавцом, согласовывается с Покупателем либо Получателем по контактному телефону или электронной почте с целью уточнения, в том числе, конкретной даты и времени доставки Товара. Конкретная дата и время доставки зависят от места доставки и времени, необходимого Продавцу на обработку Заказа.
                li: p Если после получения Заказа обнаруживается, что на складе Продавца отсутствует необходимый Товар или его количество, Продавец информирует об этом Покупателя по контактному телефону, отраженному в Заказе. Покупатель вправе согласиться принять Товар в количестве, имеющемся в наличии у Продавца, либо отказаться (аннулировать) от Заказа.
                li: p В случае возникновения у Покупателя вопросов, касающихся описания, свойств и характеристик Товара, перед оформлением Заказа Покупатель должен обратиться к Продавцу по телефону, указанному в разделе «Контакты» на сайте Интернет-магазина.
            li
              span.caption Доставка товара.
              ul
                li: p При Заказе Товара Покупателем на условиях доставки Продавец приложит все усилия, чтобы соблюсти сроки доставки Товара, указанные на Сайте, при этом не исключая причин, которые могут возникнуть и повлиять на сроки доставки в виде непредвиденных событий и обстоятельств, произошедших не по вине Продавца.
                li: p Риск случайной гибели или случайного повреждения Товара переходит к Покупателю или Получателю в момент передачи Товара или проставления Покупателем или Получателем Товара личной подписи в документах, подтверждающих доставку Товара.
                li: p В момент доставки Товара лицо, осуществляющее доставку, демонстрирует Покупателю и/или Получателю внешний вид и комплектность Товара.
                li
                  p Покупатель или Получатель в момент получения Товара получает пакет документов на Товар:
                  p - кассовый чек либо заменяющий его документ установленной формы;
                  p - гарантийный талон, при условии, что это предусмотрено изготовителем.
                li: p После получения Товара Покупателем или Получателем Продавец не принимает претензии по качеству и комплектности Товара.
            li
              span.caption Оплата товара.
              ul
                li: p Цена Товара указывается рядом с определённым наименованием товара на Сайте Интернет-магазина.
                li: p Цена Товара на Сайте Интернет-магазина может быть изменена Продавцом в одностороннем порядке. При этом цена на Товар, на который оформлен Заказ, изменению не подлежит.
                li: p Оплата Товара Покупателем или Получателем производится в белорусских рублях, долларах США, ЕВРО и российских рублях   в форме и способами, указанными Продавцом в разделе «Оплата и доставка» на Сайте Интернет-магазина.
                li: p Продавец вправе предоставлять Покупателю или Получателю скидки на Товары. Виды скидок указываются на Сайте Интернет-магазина в публичном доступе и могут быть изменены Продавцом в одностороннем порядке.
            li
              span.caption Возврат товара.
              ul
                li: p Покупатель или Получатель вправе отказаться от получения Товара в любое время до его оплаты, а после получения Товара в течение 14 (четырнадцать) дней. Возврат Товара надлежащего качества возможен в случае, если сохранен товарный вид и потребительские свойства Товара, а также Продавцу представлен документ, подтверждающий факт и условия покупки данного Товара. Согласно Закону, возврат Товара бывшего в употреблении невозможен.
                li: p Покупатель или Получатель не имеет права возвратить Товар надлежащего качества, согласно Перечню непродовольственных товаров надлежащего качества, не подлежащих обмену и возврату, утвержденному Постановлением Совета Министров Республики Беларусь № 778 от 14.06.2002 года.
                li: p Обмен и возврат Товара производится по месту нахождения Продавца.
                li
                  p Покупатель или Получатель, которому продан Товар ненадлежащего качества, если это не было оговорено Продавцом, вправе по своему выбору потребовать:
                  p - замены недоброкачественного Товара Товаром надлежащего качества;
                  p - соразмерного уменьшения покупной цены Товара;
                  p - незамедлительного безвозмездного устранения недостатков Товара;
                  p - возмещения расходов по устранению недостатков Товара;
                  p - расторгнуть договор розничной купли-продажи и потребовать возврата уплаченной за Товар денежной суммы.
                li: p В случае отказа Покупателя или Получателя от договора, согласно условиям пункта 6.1 настоящего договора, и одновременного предъявления требования о возврате уплаченной за Товар денежной суммы, стоимость Товара подлежит возврату Покупателю или Получателю в течение 5 (пять) рабочих дней, исключая субботу и воскресенье, с момента получения Продавцом письменного заявления Покупателя или Получателя в месте нахождения Продавца.
                li: p Возврат Товара на условиях пункта 6.1 настоящего договора, а также предоставление на замену Товара на условиях пункта 6.4 настоящего договора осуществляется силами и за счет Покупателя.
                li: p В случае возврата все расходы по первичной и последующей доставке осуществляются за счет покупателя.
            li
              span.caption Гарантии и ответственность..
              ul
                li: p Продавец не несет ответственности за ущерб, причиненный Покупателю или Получателю вследствие ненадлежащего использования последними Товара, приобретенного в Интернет-магазине Продавца.
                li: p Продавец не несет ответственности за содержание и функционирование других сайтов Интернета.
                li: p Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем или Покупателем, третьим лицам.
                li: p Продавец не несет ответственности за последствия, связанные с действиями Покупателя или Получателя в случае использования Товара, приобретенного у Продавца, в предпринимательских целях.
                li: p Продавец не отвечает за убытки Покупателя или Получателя, возникшие в результате:
                li
                  p - предоставления недостоверной информации при согласовании Заказа, в т.ч. неправильного указания идентификационных сведений;
                  p - неправомерных действий третьих лиц.
                li: p Покупатель или Получатель несет полную ответственность за достоверность идентификационных сведений, указанных им при Заказе Товара в Интернет-магазине.
                li: p Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств, если такое неисполнение явилось следствием действия обстоятельств непреодолимой силы, возникших после вступления в силу настоящего договора и/или в результате событий чрезвычайного характера, которые Стороны не могли предвидеть и предотвратить разумными мерами.
                li: p В иных случаях, не предусмотренных пунктом 8.7 настоящего договора, за неисполнение или ненадлежащее исполнение своих обязательств, Стороны несут ответственность в соответствии с действующим законодательством Республики Беларусь.
            li
              span.caption Конфиденциальность и защита персональной информации.
              ul
                li
                  span.caption Предоставление информации Покупателем.
                  ul
                    li: p При формировании Заказа на Товар через Сайт Интернет-магазина, Покупатель предоставляет Продавцу информацию, позволяющая Продавцу идентифицировать Покупателя и добросовестно и в срок исполнить условия настоящего договора.
                    li: p Предоставляя свои персональные данные при заказе Товара, Покупатель соглашается на их обработку Продавцом, в том числе и в целях продвижения Продавцом товаров и услуг.
                    li: p Если Покупатель не желает, чтобы его персональные данные обрабатывались, то он должен обратиться к Продавцу через форму «Обратной связи» на Сайте. В таком случае вся полученная от Покупателя персональная информация удаляется из клиентской базы Продавца.
                li
                  span.caption Использование информации, предоставленной Покупателем и полученной Продавцом.
                  ul
                    li
                      p Продавец использует информацию:
                      p - для выполнения своих обязательств перед Покупателем;
                      p - для оценки и анализа работы Сайта;
                      p - для проведения акций;
                      p - для определения победителя в акциях, проводимых Продавцом.
                    li: p Продавец вправе направлять Покупателю сообщения рекламно-информационного характера. В случае если Покупатель не желает получать рассылки от Продавца, он должен известить об этом Продавца через форму обратной связи на Сайте Интернет-магазина.
                li
                  span.caption Разглашение информации, полученной Продавцом:
                  ul
                    li: p Продавец обязуется не разглашать полученную от Покупателя информацию. Не считается нарушением предоставление Продавцом информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Покупателем или Получателем.
                    li: p Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями законодательства.
                    li: p Продавец не несет ответственности за сведения, предоставленные Покупателем на Сайте Интернет-магазина в общедоступной форме.
            li
              span.caption Прочие условия.
              ul
                li: p К отношениям между Покупателем и Продавцом применяется право Республики Беларусь.
                li: p В случае возникновения вопросов и претензий со стороны Покупателя или Получателя, он должен обратиться к Продавцу по телефону или через форму «Обратной связи» на Сайте Интернет-магазина.
                li: p Все возникающее споры Стороны будут стараться решить путем переговоров. При не достижении обоюдовыгодного соглашения, спор между Сторонами будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Республики Беларусь.
                li: p Признание судом недействительности какого-либо положения настоящего договора не влечет за собой недействительность его остальных положений.
            li
              span.caption Реквизиты Продавца.
              .req
                span Реквизиты продавца:
                span Получатель платежа:
                span Индивидуальный предприниматель  Климчук Александр Валентинович
                span УНП 291268438
                span Свидетельство о гос. регистрации №0496206 от 26.03.2014г. выдано администрацией Ленинского района г. Бреста
                span Юридический адрес: 224028, г. Брест, ул. Шоссейная 1-1
                span Адрес для корреспонденции: 224024, Брест, ул. Осипенко 31-94
              .req
                span Банковские реквизиты для перечисления денежных средств в  БЕЛОРУССКИХ РУБЛЯХ:
                span Р/с BY24AKBB30135290330321000000
                span Ф-л № 100 БОУ ОАО «АСБ Беларусбанк»
                span код AKBBBY21100
              .req
                span Банковские реквизиты для перечисления денежных средств в  РОССИЙСКИХ РУБЛЯХ:
                span Банк-получатель:
                span ОАО «АСБ Беларусбанк»
                span 220089, Республика Беларусь, г. Минск, проспект Дзержинскрго,18
                span №100 – БОУ, г.Брест, код AKBBBY21100
                span S.W.I.F.T.-code: AKBBBY2X
                span Банк - корреспондент:
                span ОАО «Cбербанк России», г. Москва
                span к/с 30101810400000000225 в ОПЕРУ
                span Москва, Банка России
                span БИК 044525225
                span ИНН 7707083893
                span S.W.I.F.T.-code:   SABRRUMM
                span №  счета ОАО «АСБ Беларусбанк»	30111810700000000063
                span Бенефициар:
                span Индивидуальный предприниматель Климчук Александр Валентинович
                span р/с BY74AKBB30135290330611000000
              .req
                span Банковские реквизиты для перечисления денежных средств в  ДОЛЛАРАХ США:
                span Beneficiary Bank:
                span Joint-Stock Savings Bank Belarusbank:
                span OAO «АСБ Беларусбанк»
                span S.W.I.F.T.-code: AKBBBY2X
                span 220089, Republic of Belarus, Minsk, Dzerzhinskogo prospect, 18
                span branch 100-Brest regional office code AKBBBY21100
                span Correspondent Bank:
                span Citibank N.A., NEW YORK
                span S.W.I.F.T.-code: CITIUS33
                span a/c 36316365
                span Beneficiary:
                span Individualny predprinimatel Klimchuk Aliaksandr Valentinovich, r/s BY74AKBB30135290330611000000
              .req
                span Банковские реквизиты для перечисления денежных средств в  ЕВРО:
                span Beneficiary Bank:
                span Joint-Stock Savings Bank Belarusbank:
                span OAO «АСБ Беларусбанк»
                span S.W.I.F.T.-code: AKBBBY2X
                span 220089, Republic of Belarus, Minsk, Dzerzhinskogo prospect, 18
                span branch 100-Brest regional office code AKBBBY21100
                span Correspondent Bank:
                span COMMERZBANK AG, FRANKFURT AM MAIN
                span S.W.I.F.T.-code: COBADEFF
                span a/c 400886596600EUR
                span Beneficiary:
                span Individualny predprinimatel Klimchuk Aliaksandr Valentinovich, r/s BY74AKBB30135290330611000000
              p Наш магазин принимает заказы 365 дней и 24 часа в сутки. Обработка заказов производится нами с  9.00-19.00 по Минскому времени
              p Выходной: суббота, воскресенье.
              p Магазин зарегистрирован в Торговом реестре под № 397365 13 ноября 2017.