<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Devita
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		
	body
		header
			.top-line
				.content
					.left-side
						ul
							li
								a(href="#") Доставка  и оплата
							li
								a(href="#") Обмен и возврат
					.right-side
						ul
							li.drop
								a(href="#") Rus
							li.drop
								a(href="#") Валюта: BYN
							li
								a(href="#")  Войти / Регистрация
			.major-menu
				.content
					.logo
						img(draggable="false" src="img/logo.png", alt="")
						.clarify
							p Официальный интернет-магазин
					nav
						ul
							li
								a(href="#") Каталог
							li
								a(href="#") Скидки
							li
								a(href="#") Блог
							li.drop
								a(href="#") О бренде
					.states
						ul
							li.search
								a(href="#")
									img(draggable="false" src="img/icon-search.png", alt="")
							li.like
								a(href="#")
									.total 6
									img(draggable="false" src="img/icon-like.png", alt="")
							li.cart
								a(href="#")
									.total 2
									img(draggable="false" src="img/icon-cart.png", alt="")
		section#product-card
			.content
				.left-side
					.gallery
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
					.preview
						.nav
							p.pages
								span.current 1
								span.slash  / 
								span.total 3
							
						.slider
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
				.right-side
					.breadcrumbs
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Каталог
							li
								a(href="#") Лето 2017
							li
								a(href="#") М-566
					.stars
						ul
							li.full
							li.full
							li.full
							li.full
							li
					h1 Комбинезон М-566
					.clarify
						p Стильный комбинезон с оригинальным принтом из текстильного полотна. Лиф с рельефами из пройм и центральной застёжкой на 7 пуговиц. Вырез горловины круглый на обтачке.
					.price
						p
							span.num 114
							span.cur  BYN
					.parameters
						.par-height
							p Рост: 
								span.height 164
						.size
							p Размер:
							.flex-wrap
								ul
									li
										p 42
									li
										p 43
									li.active
										p 44
									li
										p 46
								p Таблица размеров
						.compound
							p Состав: 
								span 88% шерсть, 12% полиэстер
						.flex-wrap
							.count
								.minus
									p –
								.current
									p 1
								.plus
									p +
							.btn-wrap
								a.btn(href="#") Добавить в корзину
						.to-like
							img(src="img/like-icon.png", alt="")
							p Мне нравится
						.to-share
							p Поделиться с друзьями:
							ul
								li
									a(href="#" target="_blank")
										img(src="img/share-vk.png", alt="vkontakte")
								li
									a(href="#" target="_blank")
										img(src="img/share-fb.png", alt="facebook")
								li
									a(href="#" target="_blank")
										img(src="img/share-ok.png", alt="ok")
								li
									a(href="#" target="_blank")
										img(src="img/share-pinterest.png", alt="pinterest")
								li
									a(href="#" target="_blank")
										img(src="img/share-tvitter.png", alt="twitter")
		section#descr-and-rev
			.content
				.tabs
					ul
						li.active
							p Описание
						li
							p Отзывы (
								span 5
								| )
				.slider
					.item
						.left-side
							.clarify
								p Стильный комбинезон с оригинальным принтом из текстильного полотна. Лиф с рельефами из пройм и центральной застёжкой на 7 аккуратных пуговиц. Вырез горловины круглый на обтачке. По линии талии расположена планка со сборкой на резинку и шлёвки для удобного пояса. На передних частях брюк находятся боковые карманы.
								p Длина изделия до талии — 45,5 см, брюки с резинкой — 05 см.
							.care
								.caption
									p Уход
								ul
									li
										.care-icon
											img(src="img/care-1.png", alt="")
										.clarify
											p щадяшая
											p химчистка
									li
										.care-icon
											img(src="img/care-2.png", alt="")
										.clarify
											p глажка
											p с отпариванием
						.right-side
							.video
								img(src="img/video.jpg", alt="")
							.clarify
								p Видеообзор платья от DeVita. Модель 566.
					.item
						.left-side
							.clarify
								p Стильный комбинезон с оригинальным принтом из текстильного полотна. Лиф с рельефами из пройм и центральной застёжкой на 7 аккуратных пуговиц. Вырез горловины круглый на обтачке. По линии талии расположена планка со сборкой на резинку и шлёвки для удобного пояса. На передних частях брюк находятся боковые карманы.
								p Длина изделия до талии — 45,5 см, брюки с резинкой — 05 см.
							.care
								.caption
									p Уход
								ul
									li
										.care-icon
											img(src="img/care-1.png", alt="")
										.clarify
											p щадяшая
											p химчистка
									li
										.care-icon
											img(src="img/care-2.png", alt="")
										.clarify
											p глажка
											p с отпариванием
						.right-side
							.video
								img(src="img/video.jpg", alt="")
							.clarify
								p Видеообзор платья от DeVita. Модель 566.
		section#banner
			.content
				.left-side
					.text
						.caption
							p #
								span devita
						.clarify
							p Выкладывайте свои фото в инстаграм с хэштегом 
								span.bold #devita
								| ! Ежемесячно мы проводим розыгрыши среди наших подписчиков.
					.image
						img(src="img/banner-img.png", alt="")
				.right-side
					img(src="img/order-card.jpg", alt="")
		section#best-of
			.content
				.left-side
					h2
						span Лучшие ткани
						span и фурнитура
					.clarify
						p Мы используем только лучшие ткани                              и эксклюзивную фурнитуру — только так                  мы можем гарантировать высокое качество, практичность и долговечность изделий.
					.btn-wrap
						a.btn.white(href="#")
							span О бренде
							img(draggable="false" src="img/arrow-white.png", alt="")
				.nav
			.right-side
				.slider
					.item
						img(src="img/best-of-1.jpg", alt="")
					.item
						img(src="img/best-of-2.jpg", alt="")
					.item
						img(src="img/best-of-1.jpg", alt="")
					.item
						img(src="img/best-of-2.jpg", alt="")
		section#popular.could-like
			.content
				h3 Вам может понравиться
				.list
					ul
						li
							a(href="#")
								
								.popular-img
									img(draggable="false" src="img/popular-1.jpg", alt="")
								.clarify
									p Желтое платье М-537
								.price
									p 114 BYN
						li
							a(href="#")
								
								.popular-img
									img(draggable="false" src="img/popular-2.jpg", alt="")
								.clarify
									p Желтое платье М-537
								.price
									p 114 BYN
						li
							a(href="#")
								
								.popular-img
									img(draggable="false" src="img/popular-3.jpg", alt="")
								.clarify
									p Желтое платье М-537
								.price
									p 114 BYN
						li
							a(href="#")
								
								.popular-img
									img(draggable="false" src="img/popular-4.jpg", alt="")
								.clarify
									p Желтое платье М-537
								.price
									p 114 BYN
		footer
			.content
				.social
					ul
						li.vk
							a(href="#")
								img(draggable="false" src="img/vk.png", alt="")
						li.fb
							a(href="#")
								img(draggable="false" src="img/fb.png", alt="")
						li.insta
							a(href="#")
								img(draggable="false" src="img/insta.png", alt="")
						li.ok
							a(href="#")
								img(draggable="false" src="img/ok.png", alt="")
						li.youtube
							a(href="#")
								img(draggable="false" src="img/youtube.png", alt="")
				.footer-top
					.contacts
						ul
							li.viber
								a(href="tel:+375293757770") +375 29 375 77 70
							li.whatsapp
								a(href="tel:+375292272633") +375 29 227 26 33
							li.skype
								a(href="skype:devitabel") devitabel
							li.email
								a(href="e-mail:devitabel@mail.ru") devitabel@mail.ru
						.shedule
							.caption
								p Обработка заказов:
							p ПН-ПТ с 09:00 до 19:00
					nav
						.shop
							.caption
								p Магазин
							ul
								li
									a(href="#") Клоллекции
								li
									a(href="#") Распродажа
								li
									a(href="#") О бренде
								li
									a(href="#") Новости
								li
									a(href="#") Блог
								li
									a(href="#") Контакты
						.buyers
							.caption
								p Покупателям
							ul
								li
									a(href="#") Оплата и доставка
								li
									a(href="#") Обмен и возврат
								li
									a(href="#") Вопросы и ответы
						.account
							.caption
								p Личный кабинет
							ul
								li
									a(href="#") Личные данные
								li
									a(href="#") Адреса доставки
								li
									a(href="#") Заказы
								li
									a(href="#") Хочу купить
					.subscription
						.notion
							p Подпишитесь на новости и получите скидку 1000 руб. на первую покупку
						form(action="")
							.email
								input(type="email" name="email" placeholder="Ваш Email")
				.footer-bottom
					.copyright
						.caption
							p © 2017. Devita Shop
						.clarify
							p Магазин зарегистрирован
							p в Торговом реестре РБ 15 апреля 2014.
					.pay-with
						img(draggable="false" src="img/payment-logo.png", alt="")
					.made-by
						p Дизайн и разработка
							a(href="#")
								.namba
									.logo
										img(draggable="false" src="img/nambawan-logo.png", alt="")
										p Nambawan
					
		.hidden
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/common.js")