<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Devita
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")

	body
		.mobile-menu
			.overlay
			ul
				li.settings
					ul
						li.login
							a(href="#") Войти / Регистрация
						li.dropdown
							a(href="#") Валюта: BYN
							ul
								li
									p BYN
								li
									p RUR
								li
									p EUR
						li
							a(href="#") Rus / Eng
				li
					a(href="#") Каталог
				li
					a(href="#") Скидки
				li
					a(href="#") Блог
				li.dropdown
					a(href="#") О бренде
					ul
						li
							a(href="#") О бренде
						li
							a(href="#") Lookbook
						li
							a(href="#") Новости
						li
							a(href="#") Сертификаты
						li
							a(href="#") Блог
						li
							a(href="#") Контакты
		.header-wrap
			header
				.search-bar
					.content
						.close
						input(type="search" placeholder="Найти на сайте")
				.top-line
					.content
						.left-side
							ul
								li
									a(href="#") Доставка  и оплата
								li
									a(href="#") Обмен и возврат
						.right-side
							ul
								li.drop
									a(href="#") Rus
									ul
										li
											p Blr
										li
											p Ukr
										li
											p Kaz
								li.drop
									a(href="#") Валюта: BYN
									ul
										li
											p RUR
										li
											p KAZ
										li
											p EURO
								li.login
									a(href="#")  Войти / Регистрация
				.major-menu
					.content
						.logo
							img(draggable="false" src="img/logo.png", alt="")
							.clarify
								p Официальный интернет-магазин
						nav
							.mobile-nav
								div
							ul.main-nav
								li.drop
									a(href="#" target="_blank") Каталог
									ul.sub-menu
										li
											a(href="#") Summer 2017
										li
											a(href="#") Devita Sport
								li
									a(href="#" target="_blank") Распродажа
								li
									a(href="#" target="_blank") Блог
								li.drop
									a(href="#" target="_blank") О бренде
									ul.sub-menu
										li
											a(href="#") Summer 2017
										li
											a(href="#") Devita Sport
						.states
							ul
								li.search
									img(draggable="false" src="img/icon-search.png", alt="")
								li.like
									a(href="#")
										.total 6
										img(draggable="false" src="img/icon-like.png", alt="")
								li.cart
									a(href="#")
										.total 
										img(draggable="false" src="img/icon-cart.png", alt="")
									.cart-preview
										.b-t
										.btn-wrap
											a.btn(href="#") Оформить заказ
		section#product-card.item-card
			.content
				.left-side
					.gallery
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
						.item
							img(src="img/preview-1.png", alt="")
					.preview
						.nav
							p.pages
								span.current 1
								span.slash  / 
								span.total 3
							
						.slider
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
							.item
								img(src="img/preview-1.png", alt="")
				.right-side
					.breadcrumbs
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Каталог
							li
								a(href="#") Лето 2017
							li
								a(href="#") М-566
					.stars
						ul
							li.full
							li.full
							li.full
							li.full
							li
					h1.product-title Комбинезон М-566
					.clarify
						p Стильный комбинезон с оригинальным принтом из текстильного полотна. Лиф с рельефами из пройм и центральной застёжкой на 7 пуговиц. Вырез горловины круглый на обтачке.
					.price-old
						p
							span.num 227
							span.cur  BYN
					.price
						p
							span.num 114
							span.cur  BYN
					.parameters
						.par-height
							p Рост: 
								span.height 164
						.size
							p Размер:
							.flex-wrap
								ul
									li
										p 42
									li
										p 43
									li.active
										p 44
									li
										p 46
								a(href="#" data-popup="popup-wrap-sizes") Таблица размеров
						.compound
							p Состав: 
								span 88% шерсть, 12% полиэстер
						.flex-wrap
							.count
								.minus
									p –
								.current
									p 1
								.plus
									p +
							.btn-wrap.add-to-cart
								a.btn(href="#") Добавить в корзину
						.to-like
							img(src="img/like-icon.png", alt="")
							p Добавить в список желаний
						.to-share
							p Поделиться с друзьями:
							ul
								li
									a(href="#" target="_blank")
										img(src="img/share-vk.png", alt="vkontakte")
								li
									a(href="#" target="_blank")
										img(src="img/share-fb.png", alt="facebook")
								li
									a(href="#" target="_blank")
										img(src="img/share-ok.png", alt="ok")
								li
									a(href="#" target="_blank")
										img(src="img/share-pinterest.png", alt="pinterest")
								li
									a(href="#" target="_blank")
										img(src="img/share-tvitter.png", alt="twitter")
		section#descr-and-rev
			.content
				.tabs
					ul
						li
							.to-open
								p Описание
							.hidden-content
								.left-side
									.clarify
										p Стильный комбинезон с оригинальным принтом из текстильного полотна. Лиф с рельефами из пройм и центральной застёжкой на 7 аккуратных пуговиц. Вырез горловины круглый на обтачке. По линии талии расположена планка со сборкой на резинку и шлёвки для удобного пояса. На передних частях брюк находятся боковые карманы.
										p Длина изделия до талии — 45,5 см, брюки с резинкой — 05 см.
									.care
										.caption
											p Уход
										ul
											li
												.care-icon
													img(src="img/care-1.png", alt="")
												.clarify
													p щадяшая
													p химчистка
											li
												.care-icon
													img(src="img/care-2.png", alt="")
												.clarify
													p глажка
													p с отпариванием
								.right-side
									.video
										a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
											img(src="img/video.jpg", alt="")
									.clarify
										p Видеообзор платья от DeVita. Модель 566.
						li
							.to-open
								p Отзывы (
									span 5
									| )
							.hidden-content
								.top-line
									.stars
										ul
											li
												a(href="#" data-popup="popup-wrap-testimonials")
											li
												a(href="#" data-popup="popup-wrap-testimonials")
											li
												a(href="#" data-popup="popup-wrap-testimonials")
											li
												a(href="#" data-popup="popup-wrap-testimonials")
											li
												a(href="#" data-popup="popup-wrap-testimonials")
										p на основе 5 оценок
									.btn-wrap
										a.btn(href="#" data-popup="popup-wrap-testimonials") Оставить Отзыв
								ul.review-list
									li
										.review-meta
											.name
												p Александра
											.stars
												ul
													li
													li
													li
													li
													li
											.date
												p 27.06.2017
										.txt
											p На 42 размер при росте 168 платье сильно ниже колена (см. на 15) и великовато (в плечах, груди, по длине). Меньше размера нет, а то бы взяла попробовать. Качество ткани и пошива отменное.
										.devita-reply
											.icon
												img(src="img/devita-icon.png", alt="")
											.info
												.name
													p Devita
												.txt
													p Да, Александра - это немножко не ваш размер. 40-й на вас просто идеально бы сел.
													p Благодарим за отзыв!
												.date
													p 27.06.2017
									li
										.review-meta
											.name
												p Александра
											.stars
												ul
													li
													li
													li
													li
													li
											.date
												p 27.06.2017
										.txt
											p На 42 размер при росте 168 платье сильно ниже колена (см. на 15) и великовато (в плечах, груди, по длине). Меньше размера нет, а то бы взяла попробовать. Качество ткани и пошива отменное.
										.devita-reply
											.icon
												img(src="img/devita-icon.png", alt="")
											.info
												.name
													p Devita
												.txt
													p Да, Александра - это немножко не ваш размер. 40-й на вас просто идеально бы сел.
													p Благодарим за отзыв!
												.date
													p 27.06.2017
									li
										.review-meta
											.name
												p Александра
											.stars
												ul
													li
													li
													li
													li
													li
											.date
												p 27.06.2017
										.txt
											p На 42 размер при росте 168 платье сильно ниже колена (см. на 15) и великовато (в плечах, груди, по длине). Меньше размера нет, а то бы взяла попробовать. Качество ткани и пошива отменное.
				.slider
					.item.description
						.left-side
							.clarify
								p Стильный комбинезон с оригинальным принтом из текстильного полотна. Лиф с рельефами из пройм и центральной застёжкой на 7 аккуратных пуговиц. Вырез горловины круглый на обтачке. По линии талии расположена планка со сборкой на резинку и шлёвки для удобного пояса. На передних частях брюк находятся боковые карманы.
								p Длина изделия до талии — 45,5 см, брюки с резинкой — 05 см.
							.care
								.caption
									p Уход
								ul
									li
										.care-icon
											img(src="img/care-1.png", alt="")
										.clarify
											p щадяшая
											p химчистка
									li
										.care-icon
											img(src="img/care-2.png", alt="")
										.clarify
											p глажка
											p с отпариванием
						.right-side
							.video
								a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
									img(src="img/video.jpg", alt="")
							.clarify
								p Видеообзор платья от DeVita. Модель 566.
					.item.reviews
						.top-line
							.stars
								ul
									li
										a(href="#" data-popup="popup-wrap-testimonials")
									li
										a(href="#" data-popup="popup-wrap-testimonials")
									li
										a(href="#" data-popup="popup-wrap-testimonials")
									li
										a(href="#" data-popup="popup-wrap-testimonials")
									li
										a(href="#" data-popup="popup-wrap-testimonials")
								p на основе 5 оценок
							.btn-wrap
								a.btn(href="#" data-popup="popup-wrap-testimonials") Оставить Отзыв
						ul.review-list
							li
								.review-meta
									.name
										p Александра
									.stars
										ul
											li
											li
											li
											li
											li
									.date
										p 27.06.2017
								.txt
									p На 42 размер при росте 168 платье сильно ниже колена (см. на 15) и великовато (в плечах, груди, по длине). Меньше размера нет, а то бы взяла попробовать. Качество ткани и пошива отменное.
								.devita-reply
									.icon
										img(src="img/devita-icon.png", alt="")
									.info
										.name
											p Devita
										.txt
											p Да, Александра - это немножко не ваш размер. 40-й на вас просто идеально бы сел.
											p Благодарим за отзыв!
										.date
											p 27.06.2017
							li
								.review-meta
									.name
										p Александра
									.stars
										ul
											li
											li
											li
											li
											li
									.date
										p 27.06.2017
								.txt
									p На 42 размер при росте 168 платье сильно ниже колена (см. на 15) и великовато (в плечах, груди, по длине). Меньше размера нет, а то бы взяла попробовать. Качество ткани и пошива отменное.
								.devita-reply
									.icon
										img(src="img/devita-icon.png", alt="")
									.info
										.name
											p Devita
										.txt
											p Да, Александра - это немножко не ваш размер. 40-й на вас просто идеально бы сел.
											p Благодарим за отзыв!
										.date
											p 27.06.2017
							li
								.review-meta
									.name
										p Александра
									.stars
										ul
											li
											li
											li
											li
											li
									.date
										p 27.06.2017
								.txt
									p На 42 размер при росте 168 платье сильно ниже колена (см. на 15) и великовато (в плечах, груди, по длине). Меньше размера нет, а то бы взяла попробовать. Качество ткани и пошива отменное.
		section#banner
			.content
				.left-side
					.text
						.caption
							p #
								span devita
						.clarify
							p Выкладывайте свои фото в инстаграм с хэштегом 
								span.bold #devita
								| ! Ежемесячно мы проводим розыгрыши среди наших подписчиков.
					.image
						img(src="img/banner-img.png", alt="")
				.right-side
					img(src="img/order-card.jpg", alt="")
		section#best-of
			.content
				.left-side
					h2
						span Лучшие ткани
						span и фурнитура
					.clarify
						p Мы используем только лучшие ткани                              и эксклюзивную фурнитуру — только так                  мы можем гарантировать высокое качество, практичность и долговечность изделий.
					.btn-wrap
						a.btn.white(href="#")
							span О бренде
							img(draggable="false" src="img/arrow-white.png", alt="")
				.right-side
					.nav
					.slider
						.item
							img(src="img/best-of-1.jpg", alt="")
						.item
							img(src="img/best-of-2.jpg", alt="")
						.item
							img(src="img/best-of-1.jpg", alt="")
						.item
							img(src="img/best-of-2.jpg", alt="")
		section#popular.could-like
			.content
				h3 Вам может понравиться
				.list
					ul
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish")
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish")
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish")
						li
							.prev-img
								a(href="#" target="_blank")
									img(src="img/catalog-3.jpg", alt="")
								a(href="#" data-popup="popup-wrap-card")
									.show-prev
							.meta
								.info
									.clarify
										p Желтое платье М-537
									.price
										p
											span.num 114 
											span.cur BYN
								a.like(data-popup="popup-wrap-wish")
		footer
			.content
				.social
					ul
						li.vk
							a(href="#")
								img.desktop(draggable="false" src="img/vk.png", alt="")
								img.mobile(src="img/vk_logo.svg", alt="")
						li.fb
							a(href="#")
								img.desktop(draggable="false" src="img/fb.png", alt="")
								img.mobile(src="img/fb_logo-small.svg", alt="")
						li.insta
							a(href="#")
								img.desktop(draggable="false" src="img/insta.png", alt="")
								img.mobile(src="img/insta_logo-small.svg", alt="")
						li.ok
							a(href="#")
								img.desktop(draggable="false" src="img/ok.png", alt="")
								img.mobile(src="img/ok_logo-small.svg", alt="")
						li.youtube
							a(href="#")
								img.desktop(draggable="false" src="img/youtube.png", alt="")
								img.mobile(src="img/yt_logo-small.svg", alt="")
				.footer-top
					.contacts
						ul
							li.viber
								a(href="tel:+375293757770") +375 29 375 77 70
							li.whatsapp
								a(href="tel:+375292272633") +375 29 227 26 33
							li.skype
								a(href="skype:devitabel") devitabel
							li.email
								a(href="e-mail:devitabel@mail.ru") devitabel@mail.ru
						.shedule
							.caption
								p Обработка заказов:
							p ПН-ПТ с 09:00 до 19:00
					nav
						.shop
							.caption
								p Магазин
							ul
								li
									a(href="#") Клоллекции
								li
									a(href="#") Распродажа
								li
									a(href="#") О бренде
								li
									a(href="#") Новости
								li
									a(href="#") Блог
								li
									a(href="#") Контакты
						.buyers
							.caption
								p Покупателям
							ul
								li
									a(href="#") Оплата и доставка
								li
									a(href="#") Обмен и возврат
								li
									a(href="#") Вопросы и ответы
						.account
							.caption
								p Личный кабинет
							ul
								li
									a(href="#") Личные данные
								li
									a(href="#") Адреса доставки
								li
									a(href="#") Заказы
								li
									a(href="#") Хочу купить
					.subscription
						.notion
							p Подпишитесь на новости и получите скидку 1000 руб. на первую покупку
						form(action="")
							.email
								input(type="email" name="email" placeholder="Ваш Email")
				.footer-bottom
					.copyright
						.caption
							p © 2017. Devita Shop
						.clarify
							p Магазин зарегистрирован
							p в Торговом реестре РБ 15 апреля 2014.
					.pay-with
						img(draggable="false" src="img/payment-logo.png", alt="")
					.made-by
						p Дизайн и разработка
							a(href="#")
								.namba
									.logo
										img(draggable="false" src="img/nambawan-logo.png", alt="")
										p Nambawan
					
		.hidden
		.popup-wrap#popup-wrap-card
			#popup-card.popup
				.close
				.flex-wrap
					.left-side
						.gallery
							.slider
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
						.preview
							.nav
								p.pages
									span.current 1
									span.slash  / 
									span.total 3
							.slider
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
								.item
									img(src="img/preview-1.png", alt="")
					.right-side
						.caption
							p Комбинезон М-566
						.clarify
							p Стильный комбинезон с оригинальным принтом из текстильного полотна. Лиф с рельефами из пройм и центральной застёжкой на 7 пуговиц.  Вырез горловины круглый на обтачке.
						.prices
							.old-price
								p 
									span.num 75
									span.cur  BYN
							.price
								p 
									span.num 159
									span.cur  BYN
						.item-info
							p.height
								p
									b Рост: 
									| 164
							.size
								b Размер:
								.flex-wrap
									ul
										li
											p 42
										li
											p 43
										li.active
											p 44
										li
											p 46
									a(href="#").table-sizes(data-popup="popup-wrap-sizes") Таблица размеров
							.compound
								p
									b Состав: 
									| 88% шерсть, 12% полиэстер
							.flex-wrap.counter-btn
								.count
									.minus
										p –
									.current
										p 1
									.plus
										p +
								.btn-wrap
									a.btn.add-to-cart(href="#") Добавить в корзину
						.to-like
							img(src="img/like-icon.png", alt="")
							p Мне нравится
						.more
							a(href="#") Подробнее о товаре 
		.popup-wrap#popup-wrap-sizes
			.popup#popup-sizes
				.close
				.caption
					p Таблица размеров
				.table
					table.head
						tr
							td
								p Российский размер
							td
								p 42
							td
								p 44
							td
								p 46
							td
								p 48
							td
								p 50
							td
								p 52
							td
								p 54
							td
								p 56
							td
								p 58
						tr
							td
								p Международный размер
							td
								p S
							td
								p M
							td
								p L
							td
								p XL
							td
								p XXL
							td
								p XXXL
							td
								p XXXL
							td
								p XXXL
							td
								p XXXL
						tr
							td
								p Европейский размер
							td
								p 36
							td
								p 38
							td
								p 40
							td
								p 42
							td
								p 44
							td
								p 46
							td
								p 48
							td
								p 50
							td
								p 52
						tr
							td
								p Обхват груди, см
							td
								p 84
							td
								p 88
							td
								p 92
							td
								p 96
							td
								p 100
							td
								p 104
							td
								p 108
							td
								p 112
							td
								p 114
						tr
							td
								p Обхват талии, см
							td
								p 66
							td
								p 70
							td
								p 74
							td
								p 78
							td
								p 82
							td
								p 86
							td
								p 90
							td
								p 94
							td
								p 98
						tr
							td
								p Обхват бедер, см
							td
								p 92
							td
								p 96
							td
								p 100
							td
								p 104
							td
								p 108
							td
								p 112
							td
								p 116
							td
								p 120
							td
								p 124
				.flex-wrap
					.left-side
						.caption
							p Как определить свой размер?
						.clarify
							p Для того чтобы выбрать правильный размер, необходимо снять следующие мерки:
							div
								b Обхват груди
								p Измеряется по выступающим точкам груди вокруг тела.
							div
								b Обхват талии
								p Измеряется строго горизонтально по самой узкой части тела
							div
								b Обхват бедер
								p Измеряется го наиболее выступающим точкам бедер и ягодиц.
					.right-side
						img(src="img/table-img.png", alt="")
		.popup-wrap#popup-wrap-testimonials
			.popup#popup-testimonials
				.close
				.caption
					p Отправить отзыв
				form(action="")
					.holder
						label Ваше имя
						input(type="text" name="name" required)
					.holder
						label Текст отзыва
						textarea(tabe="testimonial" required)
					.holder.stars
						label Оценка
						ul
							li.active
								input#star-1(type="radio" name="stars")
								label(for="star-1")
							li.active
								input#star-2(type="radio" name="stars")
								label(for="star-2")
							li.active
								input#star-3(type="radio" name="stars")
								label(for="star-3")
							li.active
								input#star-4(type="radio" name="stars" checked)
								label(for="star-4")
							li
								input#star-5(type="radio" name="stars")
								label(for="star-5")
					.captcha
						img(src="img/recaptcha.png", alt="")
					.btn-wrap
						button.btn Отправить отзыв
					.notion
						p Внимание! Публикация производится только после 
						p предварительной модерации
		.popup-wrap#popup-wrap-add
			.popup#popup-add
				.close
				.caption
					p Товар добавлен в корзину!
				ul.list
					li.item
						.item-info
							.img
								img(src="img/catalog-1.jpg", alt="")
							.info
								.item-name
									p Платье из лёгкого шифона М-539
								.item-size
									p Размер: 44
						.price
							p 2 x 228 BYN
					li.item
						.item-info
							.img
								img(src="img/catalog-1.jpg", alt="")
							.info
								.item-name
									p Платье из лёгкого шифона М-539
								.item-size
									p Размер: 44
						.price
							p 2 x 228 BYN
					li.item
						.item-info
							.img
								img(src="img/catalog-1.jpg", alt="")
							.info
								.item-name
									p Платье из лёгкого шифона М-539
								.item-size
									p Размер: 44
						.price
							p 2 x 228 BYN
				.btns
					.btn-wrap
						a.btn(href="#") Продолжить покупки
					.btn-wrap
						a.btn.order(href="#") Оформить заказ
		.popup-wrap#popup-wrap-wish
			.popup#popup-wish
				.close
				.caption
					p Добавить в список желаний
				.clarify
					p Чтобы добавить товар в список желаний, войдите с свой аккаунт
				.flex-wrap
					.left-side
						form(action="")
							.holder
								input(type="email" placeholder="Введите email" required)
							.holder
								input(type="password" placeholder="Введите пароль" required)
							.btns
								.btn-wrap.forgot
									a.btn(href="#") Забыли пароль?
								.btn-wrap.login
									button.btn(href="#") ВОЙТИ
					.right-side
						.caption
							p Еще нет аккаунта?
						.clarify
							p Регистрация позволит вам сохранять в избранное, быстро совершать покупки, просматривать историю заказов, получать свежую информацию о новинках.
						.btn-wrap
							a.btn(href="#") Регистрация
		.popup-wrap#popup-wrap-success
			.popup#popup-success
				.close
				.caption
					p Ваше сообщение отправлено
				.clarify
					p Мы свяжимся с вами в ближайшее время
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/jquery.tubular.1.0.js")
		script(src="js/ion.rangeSlider.min.js")
		script(src="js/jquery.fancybox.min.js")
		script(src="js/sticky.js")
		script(src="js/common.js")