<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Devita
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Playfair+Display:400,400i&amp;subset=cyrillic" rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		
	body
		.mobile-menu
			.overlay
			ul
				li.settings
					ul
						li.login
							a(href="#") Войти / Регистрация
						li.dropdown
							a(href="#") Валюта: BYN
							ul
								li
									p BYN
								li
									p RUR
								li
									p EUR
						li
							a(href="#") Rus / Eng
				li
					a(href="#") Каталог
				li
					a(href="#") Скидки
				li
					a(href="#") Блог
				li.dropdown
					a(href="#") О бренде
					ul
						li
							p О бренде
						li
							p Lookbook
						li
							p Новости
						li
							p Сертификаты
						li
							p Блог
						li
							p Контакты
		.header-wrap
			header
				.top-line
					.content
						.left-side
							ul
								li
									a(href="#") Доставка  и оплата
								li
									a(href="#") Обмен и возврат
						.right-side
							ul
								li.drop
									a(href="#") Rus
								li.drop
									a(href="#") Валюта: BYN
								li
									a(href="#")  Войти / Регистрация
				.major-menu
					.content
						.logo
							img(draggable="false" src="img/logo.png", alt="")
							.clarify
								p Официальный интернет-магазин
						nav
							.mobile-nav
								div
							ul.main-nav
								li.drop
									a(href="#" target="_blank") Каталог
									ul.sub-menu
										li
											a(href="#") Summer 2017
										li
											a(href="#") Devita Sport
								li
									a(href="#" target="_blank") Распродажа
								li
									a(href="#" target="_blank") Блог
								li.drop
									a(href="#" target="_blank") О бренде
									ul.sub-menu
										li
											a(href="#") Summer 2017
										li
											a(href="#") Devita Sport
						.states
							ul
								li.search
									a(href="#" target="_blank")
										img(draggable="false" src="img/icon-search.png", alt="")
								li.like
									a(href="#" target="_blank")
										.total 6
										img(draggable="false" src="img/icon-like.png", alt="")
								li.cart.full
									a(href="#" target="_blank")
										.total 2
										img(draggable="false" src="img/icon-cart.png", alt="")
									.cart-preview
										.b-t
										.flex-wrap
											.img
												img(src="img/cart-prev-1.jpg", alt="")
											.info
												.caption
													p Платье из лёгкого шифона М-539
												.size
													p
														span Размер: 
														| 44
												.conter
													p
														span 2 x 
														| 228 BYN
										.btn-wrap
											a.btn(href="#") Оформить заказ
		section#profile
			.content
				h1 Личный кабинет
				.main-wrap
					aside.profile
						nav
							ul
								li.active
									a(href="#") Профиль
								li
									a(href="#") Безопасность
								li
									a(href="#") История заказов
								li
									a(href="#") Список желаний
					main
						form(action="")
							.profile-box
								.caption
									p Контактная информация
								.name
									label ФИО
									input(type="text" name="name" placeholder="Иванова Виктория Александровна" required)
								.phone
									label Телефон
									input(type="tel" name="phone" placeholder="+375 29 236 65 89" required)
								.email
									label E-mail
									input(type="email" name="email" placeholder="costumer@mail.ru" required)
								.birthday
									label Дата рождения
									input(type="date" name="birthday")
									.notion
										p Чтобы получать подарки 
										p и сюрпризы, пожалуйста, 
										p укажите свои данные.
							.profile-box
								.caption
									p Доставка и оплата
								.name
									label Страна
									select(name="country" required)
										option(value="Казахстан") Казахстан
										option(value="Беларусь") Беларусь
										option(value="Россия") Россия
										option(value="Украина") Украина
								.index
									label Индекс
									input(type="text" name="index" placeholder="123456789" required)
								.region
									label Область
									input(type="text" name="region" placeholder="Актюбинская")
								.addr
									label Адрес
									input(type="text" name="street" placeholder="ул. Пушкина" required)
									input(type="text" name="house" placeholder="22/1" required)
									input(type="text" name="apart" placeholder="132" required)
								.newsletter
									label Рассылка
									input#newsletter-check(type="checkbox" required)
									label(for="newsletter-check")
									.notion
										p Вы будете первыми узнавать об обновлении коллекций, 
										p новых акциях и специальных предложениях
							.btn-wrap
								button.btn Сохранить


		footer
			.content
				.social
					ul
						li.vk
							a(href="#" target="_blank")
								img(draggable="false" src="img/vk.png", alt="")
						li.fb
							a(href="#" target="_blank")
								img(draggable="false" src="img/fb.png", alt="")
						li.insta
							a(href="#" target="_blank")
								img(draggable="false" src="img/insta.png", alt="")
						li.ok
							a(href="#" target="_blank")
								img(draggable="false" src="img/ok.png", alt="")
						li.youtube
							a(href="#" target="_blank")
								img(draggable="false" src="img/youtube.png", alt="")
				.footer-top
					.contacts
						ul
							li.viber
								a(href="tel:+375293757770") +375 29 375 77 70
							li.whatsapp
								a(href="tel:+375292272633") +375 29 227 26 33
							li.skype
								a(href="skype:devitabel") devitabel
							li.email
								a(href="e-mail:devitabel@mail.ru") devitabel@mail.ru
						.shedule
							.caption
								p Обработка заказов:
							p ПН-ПТ с 09:00 до 19:00
					nav
						.shop
							.caption
								p Магазин
							ul
								li
									a(href="#" target="_blank") Клоллекции
								li
									a(href="#" target="_blank") Распродажа
								li
									a(href="#" target="_blank") О бренде
								li
									a(href="#" target="_blank") Новости
								li
									a(href="#" target="_blank") Блог
								li
									a(href="#" target="_blank") Контакты
						.buyers
							.caption
								p Покупателям
							ul
								li
									a(href="#" target="_blank") Оплата и доставка
								li
									a(href="#" target="_blank") Обмен и возврат
								li
									a(href="#" target="_blank") Вопросы и ответы
						.account
							.caption
								p Личный кабинет
							ul
								li
									a(href="#" target="_blank") Личные данные
								li
									a(href="#" target="_blank") Адреса доставки
								li
									a(href="#" target="_blank") Заказы
								li
									a(href="#" target="_blank") Хочу купить
					.subscription
						.notion
							p Подпишитесь на новости и получите скидку 1000 руб. на первую покупку
						form(action="")
							.email
								input(type="email" name="email" placeholder="Ваш Email")
				.footer-bottom
					.copyright
						.caption
							p © 2017. Devita Shop
						.clarify
							p Магазин зарегистрирован
							p в Торговом реестре РБ 15 апреля 2014.
					.pay-with
						img(draggable="false" src="img/payment-logo.png", alt="")
					.made-by
						p Дизайн и разработка
							a(href="#" target="_blank")
								.namba
									.logo
										img(draggable="false" src="img/nambawan-logo.png", alt="")
										p Nambawan
					
		.hidden
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="js/slick.min.js")
		script(src="js/sticky.js")
		script(src="js/common.js")