#popular.could-like
	margin-top: 0
	padding-top: 130px
	background-color: #fff
#popular
	padding: 80px 0
	padding-top: 130px
	background-color: #f3f7fb
	text-align: center
	.list
		li:hover
            .show-prev
                transform: scale(1)
            a:hover
                .show-prev
                    transform: scale(1.1)
		.prev-img
            position: relative
            overflow: hidden
		img
			max-width: 100%
			display: block
		.show-prev
            position: absolute
            height: 100%
            width: 100%
            top: 100%
            margin-top: -110px
            left: 100%
            margin-left: -110px
            width: 220px
            height: 200px
            background-color: #addaf4
            border-radius: 50%
            transition: .35s
            z-index: 1
            opacity: .8
            transform: scale(0)
            &:after
                content: ''
                position: absolute
                top: 45px
                left: 35px
                width: 60px
                height: 40px
                background: url(../img/eye.png) center no-repeat
                background-size: contain
                transition: .35s
                z-index: 2
		ul
			display: flex
			justify-content: space-between
			align-items: center
			flex-wrap: wrap
			min-width: 1170px
		li
			text-align: left
			width: 100%
			max-width: 270px
			margin-top: 50px
		.meta
			display: flex
			justify-content: space-between
			align-items: flex-end
		.clarify
			margin-top: 10px
			font-size: 14px
		.price
			font-size: 16px
			text-transform: uppercase
			font-weight: 700
	.like.active
		background: url(../img/like-full.png) center no-repeat
		background-size: contain
	.like
		cursor: pointer
		transition: .2s
		width: 26px
		height: 24px
		display: inline-block
		background: url(../img/like.png) center no-repeat
		background-size: contain

@media only screen and (max-width : 1200px)
	#popular
		.list
			padding-bottom: 50px
			overflow: auto
		li:not(:first-child)
			margin-left: 30px

@media only screen and (max-width : 767px)
	#popular .list ul
		min-width: 930px
	#popular .list li
		max-width: 210px
	#popular.could-like
		padding: 50px 0 20px
		h3
			font-size: 24px