#top-sec
	background: url(../img/index-top.jpg) center no-repeat
	background-size: cover
	height: 700px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: flex-start
	.btn-wrap
		margin-top: 75px

@media only screen and (max-width : 1200px)
	#top-sec
		h1
			font-size: 64px