#return
	font-size: 16px
	padding: 80px 0 130px
	.content
		max-width: 770px
	.items
		.item:not(:first-child)
			margin-top: 55px
		.item
			>ul
				margin-bottom: 50px
			>p:not(:first-child)
				margin-top: 30px
	h1
		text-align: center
		position: relative
		padding-bottom: 30px
		margin-bottom: 50px
		font-size: 60px
	h1:before
		content: ''
		position: absolute
		height: 1px
		width: 60px
		bottom: 0
		left: 50%
		margin-left: -30px
		background-color: #f48fbc
	.header
		font-family: "Playfair Display"
		font-size: 28px
		color: #1c2335
		margin-bottom: 40px
	.caption
		font-weight: 600
		p:nth-child(2)
			font-weight: 300
			margin-bottom: 20px
	.num
		>li:not(:first-child)
			margin-top: 40px
	.dash
		>li:not(:first-child)
			margin-top: 15px
		>li
			padding-left: 30px
			position: relative
		>li:before
			content: ''
			position: absolute
			font-size: 16px
			font-weight: 600
			top: 13px
			left: 0
			width: 17px
			height: 1px
			background-color: #494f5d

@media only screen and (max-width : 1200px)
	#return
		font-size: 14px
		h1
			font-size: 40px

@media only screen and (max-width : 767px)
	#return
		h1
			font-size: 28px
		.header
			font-size: 24px
		.caption
			font-size: 14px
			margin-bottom: 20px