#cards
    padding: 90px 0
    background-color: #343437
    color: #fff
    h2
        font-size: 44px
    .list
        margin-top: 50px
        font-size: 14px
        .caption
            font-size: 18px
            font-weight: 700
        ul
            display: flex
            justify-content: space-between
            align-items: flex-start
            flex-wrap: wrap
        li
            padding: 5px 0 5px 15px
            border-left: 5px solid $green
            margin-top: 35px
            width: 30%

@media only screen and (max-width: 767px)
    #cards h2,
    #cards h1
        font-size: 36px
    #cards .list li
        width: 50%