.second-nav
	line-height: 50px
	height: 50px
	background-color: #262c34
	font-size: 13px
	font-weight: 700
	text-transform: uppercase
	margin-bottom: 40px
	li:not(:first-child)
		margin-left: 50px
	.active
		a
			color: $green
	a
		color: #fff
	ul
		display: flex
		justify-content: flex-start
		align-items: center