#any-question
    padding: 100px 0 150px
    h2, .clarify
        text-align: center
    .flex-wrap
        margin-top: 50px
    .left-side
        max-width: 700px
        width: 100%
        li
            display: flex
            justify-content: flex-start
            align-items: flex-start
            &:not(:last-child)
                padding-bottom: 20px
                margin-bottom: 20px
                border-bottom: 1px solid #e8e8e8
        .img
            margin-right: 30px
        .name
            font-size: 21px
        .position
            font-size: 14px
        .phone
            padding: 18px 0 7px
            font-size: 19px
        .email
            font-weight: 700
            color: $green
    .right-side
        max-width: 370px
        width: 100%
        .form-box
            padding: 40px 30px 60px
            background-color: #f3f3f3
        .caption
            text-align: center
            font-size: 21px
            font-weight: 700
            text-transform: uppercase
        form
            margin-top: 40px
        label
            display: block
        input, textarea
            padding-left: 20px
            border: 1px solid #e6e6e6
            width: 100%
            &:focus
                outline: none
        textarea
            padding-top: 10px
            height: 100px
            resize: vertical
        input
            line-height: 45px
            height: 45px
        .holder:not(:first-child)
            margin-top: 15px
        button
            margin-top: 25px
            border: none
            width: 100%
            text-transform: uppercase
            line-height: 48px
            height: 48px