#map
    overflow: hidden
    height: 70vh
    iframe
        margin-top: -112px
        height: 70vh
        width: 100%
        display: block
    .place-card.place-card-large
        display: none !important
        opacity: 0